[2015-11-06 17:53] hitam4450 commented on #460
Hi,
I prefer: Color Wheel 12 Segments + Gray, tinted and shaded in steps of 10%:

regards, hitam4450

[2015-11-06 18:10] shaneonabike commented on #460
I agree the first one looks better although you might want to verify that the first row isn't all black cause it almost looks that way which makes it fairly not useful :/ and you could probably just chop it

[2015-11-07 08:22] kosfam opened #980 "Clean Setup OC 8.2.0 and Calendar 0.8.0, but i can't sync event to my IOS(Ipad) and Android(Samsung Not3)"
I try clean setup a lot time (OC 8.2.0 and Calendar 0.8.0). But i had a problem to sync event to my IOS(Ipad) and Android(Samsung Not3).
When i create a new Calendar, i can see it in Calendar of Ipad / Note3. But i create a event in calendar, it can't sync both way (Ipad to Web and Web to Ipad).

If anyone know it, please help me.
Thank so much!!!
Kosfam

[2015-11-07 08:43] gvde commented on #980
please use the [issue template](https://raw.githubusercontent.com/owncloud/core/master/issue_template.md) as described in [contributing guidelines](https://github.com/owncloud/core/blob/master/CONTRIBUTING.md)...

[2015-11-07 08:54] kosfam commented on #980
<?php
$CONFIG = array (
  'instanceid' => 'ocvpcywyzosf',
  'passwordsalt' => 'IEuS+rIhjp2p0i2H975utre2nDIYSG',
  'secret' => 'G6nDfHUwJSGNkH5yfKiDcWVwEZFf/2SIcb9J3pGMGowgMLiC',
  'trusted_domains' =>
  array (
    0 => 'cloud.anphucson.com',
  ),
  'datadirectory' => '/home/itaps/domains/anphucson.com/private_html/cloud/data',
  'overwrite.cli.url' => 'https://cloud.anphucson.com',
  'dbtype' =>

[2015-11-07 12:52] gvde commented on #980
Again: use template. And READ it. Among other things it says: "Insert your config.php content here
(Without the database password, passwordsalt and secret)"

There is a reason why it says so...

[2015-11-09 08:08] hylkepylke commented on #977
I can confirm this issue, running OC 8.2.0 with calendar plugin 0.8.0, syncing on Mac OS X 10.10.1.

[2015-11-09 14:31] jens-maus commented on #962
I also had problems with OC 8.2 and Apple iCal and applied the mentioned revert pull request and now iCal doesn't complain about any 404 error anymore. Thus, would be nice to see these pull requests being applied so that one of the next updates fixes this problem.

[2015-11-10 11:30] alex42ka commented on #21
Opened a bounty for it. From my point of view an really important feature!

https://www.bountysource.com/issues/1692176-toggle-display-of-shared-imported-automatic-calendars

[2015-11-10 23:07] dokterbob commented on #962
It is kind of weird that a serious issue like this - affecting a significant number of users - can make it through to the 'stable' release of a package. It makes me a bit worried about running ownCloud in production if significant numbers of users are supposed to manually patch the source to get it to work on one of the major platforms (OS X).

If there is a simple workaround, would it not make se

[2015-11-10 23:25] DeepDiver1975 commented on #962
9.0 will come with caldav and carddav as part of core.
Please expert this to work then.
In addition I welcome every mac user to test the master branch in core these days - a pull request is ready to test soon-ish.

[2015-11-11 08:10] jancborchardt commented on #962
@dokterbob there apparently are not a lot of OS X users testing this in the beta phase, so you would be a big help there.

[2015-11-11 09:16] dokterbob commented on #962
I haven't seen a notification that the calendar is in beta anywhere. I was under the impression it was stable.

As I use OC in production and am less than willing to touch PHP code to test for and fix bugs myself I think I'm unlikely to help with testing of the new release, perhaps until a release candidate.

However, perhaps it might be possible to perform these type of tests automatically. In ma

[2015-11-11 09:45] dokterbob commented on #962
Whoops, sorry, I misread your post. I will see if I can manage to run 9.0 in beta to provide feedback, though there is a Curl issue with the FreeBSD package disabling me to automatically fetch updates (i.e. the beta channel).

[2015-11-11 11:44] simsasaile commented on #962
Thanks for the workaround! Reverting to 053e9cf worked for me as well.

[2015-11-11 14:54] jancborchardt commented on #962
@dokterbob yep – prior to every ownCloud release there’s a beta phase. And even just testing master every now and then is easily possible. No need to touch PHP code for that at all. Just test and report issues. Thanks! :)

[2015-11-11 16:16] georgehrke commented on #962
just released v0.8.1

[2015-11-11 16:16] #962 closed

[2015-11-11 17:32] dokterbob commented on #962
\o/

[2015-11-11 18:07] dryo commented on #807
Same for me with ownCloud 8.1.3 on  AMD Sempron(tm) Processor 3200+, 1GB RAM, SATA HDD.

[2015-11-11 18:14] dokterbob commented on #962
Installed, synced and smiled. :)

Thanks!

[2015-11-11 18:15] stuart12 commented on #807
@dryo what version of DAVdroid are you using?

[2015-11-12 04:02] samwilson commented on #949
+1

[2015-11-12 08:25] tomanluke opened #982 "Help with app calendar"
Hello.

I need to edit apk Calendar.
1. I want the time displayed the 8 to 20 or the calendar was only 8 to 20.
2. Block the ability to edit the color of the calendar or the names of other users. They can only add something to or delete, etc. but can not change the colors and names of calendars. Ideally, you could only do admin, if not so just as it removed.
3. The ability to quickly export to pdf

[2015-11-12 10:22] icewind1991 commented on #72
If this issue is still valid please reopen in the calendar repo

[2015-11-12 10:22] #72 closed

[2015-11-12 14:37] georgehrke commented on #982
please checkout the full calendar doc, http://fullcalendar.io/docs1/agenda/firstHour/ might be useful

you would have to modify https://github.com/owncloud/calendar/blob/master/ajax/calendar/update.php

Well, you can export each calendar as ical. I don't know, what exactly you want the pdf to look like. Maybe there is some linux command line tool to automate it.

[2015-11-12 14:38] #982 closed

[2015-11-12 20:15] skuegler opened #983 "Missing calendar events on iOS devices"
There is a problem to display all my calendars on iOS devices (tested with iOS 9.1).
The calendar is available in the calender overview - but looks that the calendar is empty and has no events.

I dont't have problems to see the events in the web-gui and on my android phone (using caldav sync).

Environment:
OS: Debian/Wheezy
apache2     2.2.22-13+deb7u6
mysql-server-5.5    5.5.46-0+deb7u1
php5

[2015-11-12 20:29] georgehrke commented on #983
please use the [issue template](https://raw.githubusercontent.com/owncloud/core/master/issue_template.md) as described in our [contributing guidelines](https://github.com/owncloud/core/blob/master/CONTRIBUTING.md)

please describe everything __step by step__.

[2015-11-12 21:26] lebherz commented on #72
Sorry... this plugin is too buggy.
Now I try the pluscalendar and all stuff worked here.
try this: https://apps.owncloud.com/content/show.php/Calendar+Plus?content=170560

[2015-11-12 21:29] bierschneider commented on #983
### Steps to reproduce
1.Create different entrys in a calendar with different devices and different users ( ios, android, web interface)
2. Disable the caldav calendar on ios and reactivate again.

### Expected behaviour
The events should be visible on all devices.

### Actual behaviour
Events created with ios calendar are visible on the other devices.
Events created with the android app are visib

[2015-11-12 21:49] smaug95 commented on #932
Hi, I am getting this issue too, but exclusively on the Mac (tested under 10.11.1 and 10.10.x), iOS 9.1 is totally ok. My setup is a fresh installed Owncloud 8.2.0 on Raspbian Jessie using nginx installed in the web root on a custom port. The initial sync worked and sometimes later events got synced too but most of the time I get the following error in the Calendar App:
[code]
In the meantime the

[2015-11-13 01:38] tomanluke opened #984 "Hide not your calendar"
Hello.
Normally the person who creates the calendar, and then make it available to a group can only hide it. How to do that every user can hide it?
I want to create a calendar task for some people and I would like that everyone could see only the tasks for yourself, or for a person.
The following screenshots. Such a thing can do only person who created the calendar. I would like to be able to do e

[2015-11-13 07:06] Nemofly opened #985 "recurring appointment is not switching to once OC 8.2 Calendar 0.8.1"
Hello,

I always make an appointment , which appears every week . If I would like to have but this event only once , I can not change this . But I can switch from weekly to monthly or annually , which works without problems .

[2015-11-13 07:15] georgehrke commented on #985
please use the [issue template](https://raw.githubusercontent.com/owncloud/core/master/issue_template.md) as described in our [contributing guidelines](https://github.com/owncloud/core/blob/master/CONTRIBUTING.md)

[2015-11-13 07:17] georgehrke commented on #984
dup of https://github.com/owncloud/calendar/issues/21

[2015-11-13 07:17] #984 closed

[2015-11-13 08:15] nicokaiser opened #986 "Disable “Contact birthdays” calender in CardDAV"
### Steps to reproduce
1. Add some contacts with birthdays
2. Add CardDAV URL to OS X Calendar.app
3. Move or change one of the automatic birthday entries in the calendar

### Expected behaviour
First, there should be a configuration option to disable the "Contact birthdays" calendar in CardDAV. And, when an entry in this – read only – calendar is changed, ownCloud should accept this change and si

[2015-11-13 08:25] Nemofly commented on #985
### Steps to reproduce
1. create appointment which appears every week
2. try to change the appointment which apperas every week so that it is only one appointment
3. It is not working. The appointment is shown every week.

### Expected behaviour
The appointment should only shown once

### Actual behaviour
The Appointment is still there for every week.

### Server configuration
Ubuntu 15.04

**Web

[2015-11-13 08:30] phil-davis commented on #985
Same for me on ownCloud 8.1.1.
Make an event with any of the repeat frequencies (Daily, Weekly, Every Weekday, Bi-weekly, Monthly, Yearly) and save.
Edit the event again and change "Repeat" to "Does not repeat" and save.
The change is not effective - the entry stays stuck on whichever repeat frequency was previously selected.

[2015-11-13 19:34] RealRancor commented on #986
@nicokaiser Please see https://github.com/owncloud/calendar/blob/master/CONTRIBUTING.md#faq

There you can see an existing issue to disable the birthday calendar: https://github.com/owncloud/calendar/issues/21

[2015-11-14 14:42] slevit commented on #966
Same behavior occurred after Windows 10 *DESKTOP* fall update to build 10586. Solved with elvenbone's solution substituting MSFT-WIN-4/ with MSFT-WIN-3/.

[2015-11-14 17:07] RealRancor commented on #966
@slevit As you can see in the posted links above this is already fixed upstream. I think this should be closed and a new issue in core should be created to request an update to the SabreDAV version shipping this fix.

[2015-11-14 18:18] slevit commented on #966
@RealRancor I'm not very well versed in the protocol here, so please bear with me. I just reviewed the upstream fix and I see what you're saying. However, it looks to me like it covers all flavors of Win10 and a new issue created in core shouldn't be necessary. It's just a question of whether or not it's going to show up in the next interim release of ownCloud. Until that happens, the patch I made

[2015-11-14 18:51] RealRancor commented on #966
@slevit This fix won't be shipped that fast in oC. Upgrades of SabreDAV doesn't happen that often so you probably need to patch that after every oC update until SabreDAV 3.1 (which includes this fix according to the changelog) will be included sometime.

[2015-11-16 04:21] peternowee commented on #929
Ok, I opened an issue upstream: fullcalendar/fullcalendar#2941.

@georgehrke: Perhaps this issue (owncloud/calendar#929) can be re-opened?

[2015-11-16 08:26] gerardbos commented on #857
I had the same problem on OwnCloud 8.2 with calendar 0.8.1. Applied [migrax' patch](https://github.com/fruux/sabre-vobject/pull/249) patch. Seems to be fixed.

[2015-11-16 09:30] mr-gosh commented on #807
@stuart12 should we test the latest davdroid version - or do you still consider this an owncloud bug?

[2015-11-16 14:05] #972 closed

[2015-11-16 15:45] smaug95 commented on #909
is there some kind of workaraoud for this problem? I just imported my existing calendars into owncloud and experienced this bug (took me hours to track it down though). Interestingly not all Emojis produce the bug:

this calendar event (from the source ics file)
[code]
gets cropped like this in the databse leading to the "premature ..." error
[code]
whereas this event
[code]
makes no problems at a

[2015-11-16 18:33] Micha-Btz commented on #844
i upraged today from 8.1.3 to 8.1.4 with the owncloud updater  in admin section.
all went well, but sync with cal/card dav doenst work anymore.

{"reqId":"be06cc11d372329c68915060ce76aa65","remoteAddr":"188.106.253.56","app":"carddav","message":"Exception: {\"Message\":\"No basic authentication headers were found\",\"Code\":0,\"Trace\":\"#0 \\\/var\\\/customers\\\/webs\\\/michabtz\\\/owncloud\\\/l

[2015-11-16 21:47] smaug95 commented on #909
Thanks, I've already created a test instance on postgres, works as expected. It's a pity though that it is not working with MySQL

[2015-11-16 21:49] smaug95 commented on #983
check this issue out: https://github.com/owncloud/calendar/issues/909
For me some Emojis in calendar titles caused the exact same problem. I "fixed" it today by migrating to postgres.

[2015-11-16 21:51] georgehrke commented on #909
We are moving to a unified dav endpoint in version 9 (the next one) and are aware of this issue.
https://github.com/owncloud/core/issues/20047

I don't think we will address this issue for 8.2 and lower.

[2015-11-17 11:30] #21 closed, assigned to nobody

[2015-11-17 18:31] dryo commented on #807
I have to look up what version I use, I guess it's not the latest. But should a REPORT request really occupy a server for 2 minutes? I guess it's at 100% CPU then...

[2015-11-18 16:53] #41 closed, assigned to nobody

[2015-11-19 08:00] MetallianFR68 commented on #21
Big +1 for this !
Not beeing able to hide a shared calendar makes it unusable for us (too much data on screen)

[2015-11-19 08:04] abranson commented on #750
Yes, it was the adblock, thanks. It works fine now. I would strongly encourage official support for Pale Moon - it's a fork of Firefox from before it tried to become Chrome, and as such it still supports the old mozilla weave sync protocol, which means you can synchronize it with the ownCloud mozilla sync plugin. It may be a minor browser, but it has a definite kinship with ownCloud.

[2015-11-19 23:35] #15 closed, assigned to nobody

[2015-11-19 23:36] #17 closed, assigned to nobody

[2015-11-19 23:36] #18 closed, assigned to nobody

[2015-11-19 23:36] #19 closed, assigned to nobody

[2015-11-19 23:37] #20 closed, assigned to nobody

[2015-11-19 23:48] georgehrke opened #45 "META-TICKET: Cleanup Milestones"
we will heavily depend on the dav app and therefore need to alter course.

[2015-11-19 23:52] #14 closed, assigned to nobody

[2015-11-19 23:56] georgehrke opened #46 "Access dav app via caldav in js"
We will get rid of our REST API and talk to the DAV app via CalDAV

[2015-11-20 00:35] #45 closed, assigned to georgehrke

[2015-11-20 00:56] georgehrke opened #48 "move js deps to js/vendor/"

[2015-11-21 02:08] txt-file opened #988 "broken on OwnCloud"

[2015-11-21 12:47] georgehrke commented on #988
I can't reproduce this issue.
Just tested it and it works fine.

Can you install other apps from the app store?

[2015-11-21 12:49] georgehrke commented on #988
Whatever you installed, it ain't look complete. Please try deleting the apps folder from owncloud/apps and try to install it again.

[2015-11-22 04:28] txt-file commented on #988
I removed the folder and disabled it in …/settings/apps. After enabling
it again owncloud told me that I should run the "php5 -f occ upgrade"
this returned:
[code]
The log file contains:
[code]

I am thinking if it may be a problem of some timeout. Cause I am trying
this on a raspberry Pi (ARMv6 with 229 MB ram). PHP is not the fastest
language and ARMv6 at 900 MHz is also not the fastest cpu. And

[2015-11-22 09:30] stephane84 opened #989 "Owncloud app upgrade to 0.8.1 broken (Owncloud 8.2.1)"
### Steps to reproduce
1. Upgrade owcloud core to 8.2.1 successfully
2. Got to the deactivated apps page
3. You got the message : "This application caonnot be installed because of non satisfied dependencies : Owncloud 8.1 or lower is required."
3. Click on the "upgrade calendar app to 0.8.1" button

### Expected behaviour
TThe calendar app is upgraded to a compatible version with oc core 8.2.1

##

[2015-11-22 09:35] gvde commented on #989
Duplicate of owncloud/core #19145 and others?

[2015-11-22 10:57] RealRancor commented on #989
Yes, definitely a dup of https://github.com/owncloud/core/issues/19145

Thats a bug of core as this also happens for other apps. The reason why is described in that bug

[2015-11-22 18:54] georgehrke opened #49 "continuous scrolling"

[2015-11-22 18:59] georgehrke opened #50 "special dialog when editing repeating events"
When editing a repeating event the calendar needs a special dialog:

`Do you want to change only this or this and all upcoming occurrences?`

[2015-11-22 19:06] georgehrke opened #51 "timezone input missing in events editor"
next to the time input should be a globe icon triggering a timezone input.
this input should be a list of predefined timezones.

[2015-11-22 19:39] #989 closed

[2015-11-22 19:40] georgehrke commented on #988
Is there more in the ownCloud log or the apache error log? Maybe something timeout related?

[2015-11-22 20:41] twistedR commented on #943
This is an issue for me as well.
Snippet of log attached. The only thing I did was
Click event > Go to share tab > Add a gmail address > Click share and click send email.
[code]

[2015-11-23 18:48] georgehrke opened #56 "Add button to README telling us about outdated deps"

[2015-11-24 11:33] #48 closed, assigned to nobody

[2015-11-24 19:45] michaelray opened #990 "Repeating events not displayed on first day of monthly calendar"
### Steps to reproduce
1. Load OC calendar.
2. Set "Start week on" setting to "Sunday".
3. Click "Calendar" in the app menu at the top to make the calendar reload.
4. While viewing the month of November 2016, create an all-day, repeating event on November 1 (I used repeat monthly by monthday, interval 1).

NOTE: The repeating event doesn't necessarily have to be on November 1st - this seems to hap

[2015-11-24 19:46] michaelray commented on #990
I'm surprised this hasn't been noticed/reported so far, but I wasn't able to find any previous open issues on this.

[2015-11-24 20:19] michaelray commented on #990
Also, this is specific to the OC calendar app web view.  The calendar event syncs to & appears just fine on my Android calendar app, so I don't think this is an issue with the event/caldav (sabredav) as much as it's just an issue with displaying the event in the web view.

[2015-11-25 10:58] gvde commented on #991
Duplicate of #876

[2015-11-25 12:03] txt-file commented on #988
Apache log contains only GET requests and the owncloud log contains nothing regarding the installation of the calendar app.

[2015-11-25 12:05] georgehrke commented on #988
that sounds like the access log, what's with the error log?

[2015-11-25 12:46] txt-file commented on #988
The apache2 error log is empty.

[2015-11-25 20:36] michaelray commented on #990
In further testing this, I've found that no matter what timezone I set in the left panel, the "start" and "end" epoch values that get sent from FullCalendar (via the 'events.php' URL set in the eventSources var) are always for midnight in my local timezone (ex., start=1446354000, which is 11/1/2015, 12:00:00 AM GMT-5:00 DST) instead of midnight UTC (ex., start=1446336000, which is 11/1/2015, 12:00

[2015-11-25 21:10] michaelray commented on #990
Oh, I see... FullCalendar v1 is being used, which uses UNIX timestamps for "start" and "end" dates in the event request ( http://fullcalendar.io/docs1/event_data/events_json_feed/ ) instead of the ISO8601 date strings that FullCalendar v2 uses ( http://fullcalendar.io/docs/event_data/events_json_feed/ ).  THAT explains why I see the epoch in the requests instead of the date strings mentioned in th

[2015-11-26 03:16] pjrobertson opened #992 "Add Beijing option to 'Timezone' option"
In the 'settings' popup in the calendar app there's no option to select 'Beijing' as the timezone place.
There's Shanghai, but it's worth adding Beijing since that's the 'official' timezone location of China

[2015-11-26 03:20] pjrobertson commented on #992
Edit: I've just noticed that the IANA timezone database [does not include Beijing](https://en.wikipedia.org/wiki/Time_in_China#IANA_time_zone_database), so perhaps that's why it's not included?

I'd still argue that for usability it should be added

[2015-11-26 06:57] phil-davis commented on #992
Asia/Shanghai is the world-standard time-zone database entry for that time-zone, which includes Beijing. e.g. on https://en.wikipedia.org/wiki/List_of_tz_database_time_zones it has "Beijing Time" in the comments. I guess someone could have called it Beijing but they did not.
Pretty much all software uses that standard list and it would be an odd special case for ownCloud to start adding extra "ali

[2015-11-26 07:58] pjrobertson commented on #992
Makes sense, and it's what I expected after reading the link I found.
From what you said I doubted very much that this hasn't been raised before, and of course [it has](http://tz.iana.narkive.com/wC4GGSQ2/tz-adding-asia-beijing-timezone-into-the-database). I guess that can be the official line on the matter, so this can be closed.

Thanks :-)

[2015-11-26 08:20] pjrobertson commented on #992
OK reading that list thread has made me reopen this. There's one [important comment](http://tz.iana.narkive.com/wC4GGSQ2/tz-adding-asia-beijing-timezone-into-the-database#post8) in the thread, that states:

I'd still accept your answer of "well we don't want to maintain a list", but I thought I'd still put it out there. I can't find a suitable list of 'corrected' timezones anywhere for PHP...

[2015-11-26 08:29] georgehrke commented on #992
well we don't want to maintain a list, because the way this list is generated will change with ownCloud 9 anyway.

[2015-11-26 13:19] georgehrke commented on #993
please use the [issue template](https://raw.githubusercontent.com/owncloud/core/master/issue_template.md) as described in our [contributing guidelines](https://github.com/owncloud/core/blob/master/CONTRIBUTING.md) ...

[2015-11-27 15:28] georgehrke commented on #849
please help testing https://github.com/owncloud/calendar/pull/994

[2015-11-27 15:29] georgehrke commented on #868
please help testing https://github.com/owncloud/calendar/pull/994

[2015-11-27 16:19] georgehrke opened #65 "Add typeahead for location"
contactsController provides api:
https://github.com/owncloud/calendar-rework/blob/master/appinfo/routes.php#L53

[2015-11-27 16:20] georgehrke opened #66 "Add typeahead for attendee"
contactsController provides api: https://github.com/owncloud/calendar-rework/blob/master/appinfo/routes.php#L52

[2015-11-27 19:20] #33 closed, assigned to raghunayyar

[2015-11-27 21:44] bierschneider commented on #983
So after two weeks of trouble I fixed my problem by deleting the corrupted entry from the mysql database.
In detail: I dumped the database and searched it for corrupted entrys. The corrupted entry ended prematurely after "summary:xxxxxxx...", where the emojis were included. After restoring the modified backup to mysql everything is fine again. The removed entry is, of course, missing.
I think just

[2015-11-28 11:59] raghunayyar opened #67 "General import improvements"
I shouldn't be manually closing the DialogModel when the last issue is closed.

[2015-11-28 12:00] raghunayyar opened #68 "Import Dialog should have ability to import to a new calendar"

[2015-11-28 12:02] raghunayyar opened #69 "Defected Imported Calendar goes into infinite loop."
It should label the calendar as faulty and disable the import for that calendar.

[2015-11-28 12:46] topse opened #995 "Problem when synchronizing with DavDroid"
Hi,
I have a problem with using DavDroid. DavDroid uses the following request to get a report (whatever that means):
[code]
curl -vX REPORT -H 'Depth: 1' -H 'Content-Type: application/xml; charset=utf-8' --data @cq.xml -u username:password https://calendar-url/

# cq.xml:
<CAL:calendar-query xmlns="DAV:" xmlns:CAL="urn:ietf:params:xml:ns:caldav">
<prop>
  <getetag/>
</prop>
<CAL:filter>
  <CAL:com

[2015-11-28 22:29] Garfonso commented on #853
This issue re-surfaced for me on Windows Phone 10, today.
The reason is a different User Agent: "REPORT /owncloud/remote.php/caldav/calendars/Achim/defaultcalendar/ HTTP/1.1" 400 1135 "-" "MSFT-WIN-4/10.0.10586 (gzip)"

So the patch needs to be adjusted. Should I open a new issue for that?

[2015-11-29 11:31] hitam4450 opened #70 "Show optional upcoming Birthdays"
Hi, what about a special view for upcoming birthdays  per week, per month??

regards, hitam4450

[2015-11-29 11:32] #70 closed, assigned to nobody

[2015-12-01 20:30] skuegler commented on #983
OK. Sorry for the delay. Here are the informations you asked for.

### Steps to reproduce
1. Starting calendar sync on Apple iOS devices (tested on iPad)
2. Opening the built-in calendar app

### Expected behaviour
That every synced calendar is displayed in the calender view.

### Actual behaviour
Not every calendar is displayed in the calendar app.
All calendars are shown in the calendar overview

[2015-12-02 14:02] eltrai opened #996 "No release with max_version >= 8.2.1 ; app is unavailable"
At the moment, it seems to me that there is no release of this app that support owncloud 8.2.1 (which is officially out as of 15 days ago).

Therefore, the app is currently broken for all users that have an up-to-date owncloud and update this app through releases.

I did notice that the max_version was increased in 37fa440869e8ff8157f71929882abba67644f66c, but that commit is not included in any re

[2015-12-02 14:04] georgehrke commented on #996
max version 8.2 should also include support for 8.2.1.

but first of all: please use the [issue template](https://raw.githubusercontent.com/owncloud/core/master/issue_template.md) as described in our [contributing guidelines](https://github.com/owncloud/core/blob/master/CONTRIBUTING.md) ...

[2015-12-02 14:11] eltrai commented on #996
Hum, somehow it was just a problem on my local copy. Sorry for disturbing. :flushed:

PS : I'll use the template next time, thanks.

[2015-12-02 14:11] #996 closed

[2015-12-02 22:30] lessi2306 commented on #993
### Steps to reproduce
1. Export Calendar in Google-Calendar
2. Import Calendar in OwnCloud-Calendar
3. Open Lightning

### Expected behaviour
All entrys should be shown in Lightning.

### Actual behaviour
All entrys are shown in the OwnCloud Web interface, but in Lightning, only the "whole day"-entrys are shown, no other entrys. Only after I edited one of this entrys (for example adding a place)

[2015-12-03 12:27] floecksche opened #997 ""End of document reached prematurely" accessing new and empty calendar"
### Steps to reproduce
1. Create a new calendar, which will be empty by default
2. Using the Python caldav module, execute a script like this to query the calendar app (note that 0 is the id of newly created calendar):

import caldav
import datetime

calDAVurl = "https://user:password@tld/owncloud/remote.php/caldav/"
client = caldav.DAVClient(calDAVurl)
calendar = client.principal().calendars()[0]

[2015-12-03 12:33] floecksche commented on #997
Already tried to execute SELECT * FROM oc_clndr_objects WHERE calendardata NOT LIKE '%END:VCALENDAR%'; to find out if there's any broke event, which is not the case. I then even tried it with an empty calendar, same result.

[2015-12-03 19:30] raghunayyar opened #74 "Moving Forward: Events Editor"
Since, we are deciding to get rid of jQuery UI in core, its time to drop it in the events editor in calendar too. We will be using angular popover for the same, which calls for a relatively big change in UI for the editor. I spent the last couple of days trying different calendar apps, which primarily follow two approaches.
1. They put everything within the editor  though segregate between the dif

[2015-12-04 11:20] root555 opened #998 "Calendar navigation questions"
This is the calendar navigation area in my owncloud calendar:
![2015 12 04_12h05m06s_021](https://cloud.githubusercontent.com/assets/16131684/11588379/47390cb2-9a80-11e5-9424-1fd1edd990aa.png)
The questions are:
- Why is tomorrow highlighted?! Today is the 4th Dec. 2015. Is it eventually a bug?
- Why it's not possible to change to any day in the past by clicking on it?
- I have very often to check

[2015-12-04 11:41] zutewas commented on #995
Same issue here. I get a timeout from DAVdroid.

References:
https://forums.bitfire.at/topic/890/no-calendar-sync-after-upgrade-davdroid-0-6-1-0-9-1-2/2
https://forums.bitfire.at/topic/874/owncloud-timeout/2

[2015-12-04 11:47] zutewas commented on #807
Same issue here. I use the Synology Disk Station DS215j and the android phone HTC One M7 (Android 5.0.2) with DAVdroid 0.9.1.2.

[2015-12-04 13:26] zutewas commented on #807
I tested it with version 8.2.1.4 of owncloud with same issue.

[2015-12-04 20:35] danjde opened #999 "Server Error syncing from DavDroid"
Hi friends,
randomly DAVdroid show me the server error connection after a new inserted (from android) calendar appointment, but if I go to Owncloud, the appointment is there.

Here the log:
[code]

I've open the same post on DAVdroid forum, and for them seem the XML sent by OwnCloud could be invalid.

[2015-12-06 13:22] dklinger commented on #853
Yeah, have the problem, too. Syncing does not show anything on Windows 10 and Windows 10 Mobile.

[2015-12-06 21:23] skuegler commented on #983
Am 12.11.2015 um 21:29 schrieb Georg Ehrke:

Hmm. I put all the informations into the template and uploaded it into
the bug on github - but it seems that nobody interests for it.

I think that there is a bug in ownCloud - or in the calendar app -
because the issue occurs only on my iPad and after the update to version
8.1.4.

Do you need more informations from me?

Regards,
Stefan

[2015-12-06 21:28] georgehrke commented on #983
@skuegler You filled out the template just five days ago. The entire calendar is community driven and we are heavily under-staffed, that's why things tend to take some time.

[2015-12-07 14:46] laryllian opened #1000 "Calendar sharing links not https when behind ssl proxy"
Heyho folks,
we run owncloud behind a SSL-Proxy, so that user access from the internets happens securely via https, but the requests to OC itself are http, since they come from the proxy. All other apps (files, address, gallery) create sharing links with https-prefix, but calendar does not. It only creates http-links. Pls help me finding out why is that and how to change that.

Info: Ubuntu 14.04.

[2015-12-08 11:24] Nemofly opened #1001 "shared calendar can not be hidden"
### Steps to reproduce
1. Share Calendar to test account
2. login in test account
3. try to hide the shared calendar

### Expected behaviour
if you have a lot of calendars, you want to hide some of them. My own calendar i can hide but all other which are shared with me i can not hide.

### Actual behaviour
hide a shared calendar did not work

### Server configuration
**Operating system**:
Ubuntu 1

[2015-12-08 11:24] georgehrke commented on #1001
#21

[2015-12-08 11:24] #1001 closed

[2015-12-08 11:25] georgehrke commented on #1000
There is no public sharing?! I don't know, what you are referring to

[2015-12-08 17:35] laryllian commented on #1000
Thx for the hint. You are right, I am indeed talking about the CalDAV-links. ;)

[2015-12-10 13:12] redhell opened #1002 "Can't syncronize Cal-/Carddav on iOS9.x"
Hello,

i recently switched to php 7 as it is stable now. I noticed that i can't sync with iOS 9.x

In the log file i find:
Array to string conversion at /path/3rdparty/sabre/dav/lib/CalDAV/CalendarQueryValidator.php#62

My server logs doesn't show any error to those timestamps.

After switching back to PHP 5.6 it starts to synchronize again.

    oC 8.2.1
    Ubuntu 14.04.
    MariaDB 10
    PHP

[2015-12-10 15:10] jancborchardt opened #76 "Left navigation doesn’t collapse on mobile"
For some reason the normal app navigation doesn’t collapse on mobile. The toggle shows but the navigation also still stays.

Anything you do differently from the default app HTML?

[2015-12-10 18:17] hostingnuggets opened #1003 "calendar of a deleted user still visible"
I am using ownCloud 8.2.0 and have my users stored in OpenLDAP. Now I deleted an LDAP user a few days ago and it is gone from the Users section in the admin web interface but I can still see the calendar of this user.

How do I get rid of the calendar of that already deleted user?

[2015-12-10 18:18] georgehrke commented on #1003
you have to delete it from the database.

@blizzz This means there is no delete hook triggered, right?

[2015-12-10 18:24] hostingnuggets commented on #1003
yikes, that's ugly... can you at least give me the correct SQL DELETE command that you think would be appropriate so that I do not mess up anything by directly touching the OC database?

[2015-12-10 22:22] blizzz commented on #1003
See manual for LDAP User Cleanup.

[2015-12-11 15:14] #1003 closed

[2015-12-11 17:09] lorddoumer commented on #868
thanx anjog, your query solves the problem!

[2015-12-11 19:48] #12 closed, assigned to raghunayyar

[2015-12-14 10:34] geez0x1 commented on #807
I'm seeing the same with server 8.2.1 on an otherwise pretty idle Athlon X2 240 server running Debian 7. DavDroid's log reports:
[code]
ownCloud log doesn't report anything. DavDroid 0.9.1.2, installed from F-Droid.

[2015-12-14 15:41] d--j commented on #1002
Hi,

the used version of sabre is not PHP7 compatible.

As a hotfix replace `3rdparty/sabre/dav/lib/CalDAV/CalendarQueryValidator.php` with this version:
[code]

[2015-12-15 13:46] riku2015 commented on #1002
Thanks, this fixed issue for me! :)

[2015-12-15 18:16] ulfstabe commented on #857
Hello all,

I am still having the same problem on OC 8.2.1 with Calendar 0.8.1.
I have the latest stable install and checked that the fix mentioned above (Event.php) is included.
Same picture.
- Events added in OwnCloud or eg MacOSX Calendar sync back and forth
- no events are synced down to any iOS (iPad 8.4.1, iPhone 7.1)
- events created on iOS are synced up

Anyone else with this problem?

Onl

[2015-12-15 18:29] gvde commented on #857
Did you check the owncloud documentation? Chapter on "Issues and Troubleshooting"?

[2015-12-15 19:09] ulfstabe commented on #857
@gvde yes, already on level ALL. Only the occasional "401 No basic authentication headers were found" which I think is normal for initial part of every new request. The following requests all get their 200 or 207 HTTP response code. what I was looking for is a way to log the XML request/response part.

[2015-12-16 17:32] ulfstabe commented on #857
I found the root cause of my problems and it is not related to a problem in OC.
The events I tried to sync were created by our application and the summary of the events, by mistake, contained an invisible character (HEX 1C, field separator). This causes the sync process on iOS to crash, not only omitting the corrupt event iCalendar but also everything coming after it.

For me sync is now working o

[2015-12-17 14:57] vismagine opened #85 "List view"
I am not able to find a simple list view for the calendar in ownCloud - is there any?

A simple list view of all events would be a great enhancement for many people using the calendar app as a time planer tool. Paired with an optional simple Export of the times + appointment names (no must have!) to a text based file format like CSV would make a time management tool out of the ownCloud calendar.

[2015-12-17 15:03] georgehrke opened #86 "table hover effect is messing with fullcalendar"
@raghunayyar please get rid of it

[2015-12-17 15:51] AnderRasoVazquez opened #1005 "Support changing only one event of the series"
### Steps to reproduce
1. Make a serie of events from i.e. Monday to Friday,
2. Try to change only a event of that serie.

### Expected behaviour
Show an option to only change that event of the serie and keep the others the same way they were. The same way Google Calendar does.

### Actual behaviour
It changes all the events, can't change only one. I tried using Google Calendar app on Android (bec

[2015-12-17 22:52] RealRancor commented on #1005
Duplicate of https://github.com/owncloud/calendar/issues/33 according to https://github.com/owncloud/apps/issues/23#issuecomment-59096972

[2015-12-19 22:03] georgehrke opened #87 "view button logic if f***ed up"
The highlighting of the buttons for selecting the new view is broken.
There is no button preselected, although one view is obviously preselected.

Additionally if you click Today the Today button is highlighted, which doesn't make any sense.

maybe @raghunayyar ?

[2015-12-20 12:51] georgehrke opened #88 "remove all the obsolete php code"
Once the dav branch is in and a js only timezone service was implemented it's time to get rid of all the obsolete php code.

[2015-12-20 18:21] #13 closed, assigned to raghunayyar

[2015-12-20 18:36] esoleyman commented on #995
You may want to take a look at https://github.com/owncloud/calendar/issues/1002. It fixes the above issue for me as I'm running php7, owncloud 8.2, and DavDroid 9.1.2.

[2015-12-20 19:36] #46 closed, assigned to georgehrke

[2015-12-20 19:44] #76 closed, assigned to raghunayyar

[2015-12-20 20:24] #86 closed, assigned to raghunayyar

[2015-12-21 09:33] #10 closed, assigned to nobody

[2015-12-22 07:24] #87 closed, assigned to nobody

[2015-12-22 22:09] georgehrke opened #93 "Set up transifex"

[2015-12-23 14:28] raghunayyar opened #94 "Interaction to toggle open or close state of datepicker"
After the recent merge, clicking on the date-picker changes its view from weekly to monthly/yearly. [1]
Because of this we currently don't have a way to close the datepicker. Do we need these views? Or we can use the monthly view and use the header to toggle the monthly content. What do you think? @georgehrke @jancborchardt

[1] : http://angular-ui.github.io/bootstrap/#/datepicker

[2015-12-23 15:54] georgehrke opened #95 "get data about js test coverage"

[2015-12-23 19:31] georgehrke opened #96 "add Makefile to build app store package"

[2015-12-23 19:45] #88 closed, assigned to georgehrke

[2015-12-24 13:22] #94 closed, assigned to nobody

[2015-12-24 16:39] georgehrke opened #101 "implement a search function"

[2015-12-25 15:06] Gomez opened #1006 "Synced event with DAVDroid cant be moved in the web ui"
A event created on my Android phone cant be moved in the ownCloud web ui, this error appears:
[code]
DavDroid 0.9.1.2

[2015-12-25 19:48] RealRancor commented on #1006
Are you sure 0.8.90 is compatible with oC 8.2? The released / stable version for 8.2 is 0.8.1. I think you shouldn't run master (which is 0.8.90) if you don't know exactly what you're doing.

[2015-12-27 08:42] Gomez commented on #1006
Ok, i checkt with the version from the app store, but does not work.

The git tags and the versions are not in sync, right?

[2015-12-27 20:37] marvin21 commented on #868
thanks to @anjog! Solves my problem too...

[2015-12-27 21:29] peternowee commented on #929
@georgehrke @jancborchardt I think I'm finished with the necessary FullCalendar changes. Perhaps you can have a look at it at:

https://github.com/peternowee/fullcalendar/commits/weeknr-in-daycell

It's a few commits, so you will probably want to checkout the entire branch. Then use the options `weekNumbers: true` and `basicViewWeekNrPosition: weekNrDayCell` to see it work.

I will await your resp

[2015-12-29 16:36] anjog commented on #993
@lessi2306: This issue was already reported [here] (https://github.com/owncloud/calendar/issues/868)

[2015-12-30 13:10] caco3 commented on #21
Haha, I seem not to be the first one frustrated about this missing feature (one could also call it a bug).
It would be great to get some status update if work is in progress/when the rework gets started.

[2015-12-30 19:49] aspdye opened #104 "Use Calendar App as CalDAV-Client for non-ownCloud CalDAV Servers"

[2015-12-30 21:33] #104 closed, assigned to nobody

[2015-12-30 21:45] georgehrke commented on #21
ETA for rework is ownCloud 9.

[2015-12-30 23:18] bchaintreuil opened #105 "Implement a notifications/reminders function"
Hi,

In each calendars apps that I've tested, there had a reminders function who permit us to be notified just before an event happen (A period of time defined by the user generally)

Would it be possible to implement a such feature, with notification by mail or through the Notification system integrated in Owncloud  ?

[2015-12-31 08:34] arno01 opened #1009 "ownCloud 8.2.2.2 and calendar 0.8.1: Call to a member function setDateTime() on null in /var/www/owncloud/apps/calendar/ajax/event/move.php on line 38"
Dear devs,

I am getting the following error each time I am trying to move some event from one day to another in the Calendar:

[code]

[code]

Please advise what could this be? Any workaround to this?

[2015-12-31 09:32] arno01 commented on #1009
I've just pushed a PR https://github.com/owncloud/calendar/pull/1010 to close this issue.

[2015-12-31 10:22] JanMalte commented on #1008
Seems like all events has been deleted, so this isn't a bug in not showning them.

[2015-12-31 12:43] #105 closed, assigned to nobody

[2016-01-02 12:32] #16 closed, assigned to nobody

[2016-01-03 23:43] sarcastix commented on #807
Same behaviour here with owncloud 7.0 / postgresql 9.4.5 on a system with Atom D2500 CPU / 4GB RAM.

As workaround I could reduce response times to less than 45 sec by removing old calendar entries ( 800 from 1270).
Is there a way to exclude old entries from the synchronization?

[2016-01-04 10:23] #96 closed, assigned to georgehrke

[2016-01-04 13:50] yowell commented on #696
I have the same problem. Editing or deleting a single event of a recurring event needs 1 to 5 minutes to save on the server. Meanwhile I can't do something else or it will end with an error. This is really annoying... Would be great, if someone can help here!
I use Thunderbird/Lightning and OwnCloud 8.2.1 on a Linux machine (with SQlite) and all other operations work fine!

[2016-01-04 15:37] bcutter commented on #585
I detected the row "calendarorder" in table "oc_clndr_calendars". Any documentation on this?

See also https://github.com/owncloud/calendar/issues/742

[2016-01-05 02:41] lingfish commented on #680
I'm confused. The workaround supplied here works, but this isn't a fix; it's a workaround.  I have to do this, on average, two times a week.  Do we not have an actual fix forthcoming?

Or is this down to @disy-mk comment about UTF-8 and MySQL?

[2016-01-05 20:28] merwan commented on #868
After I [backed up my database](https://doc.owncloud.org/server/8.2/admin_manual/maintenance/backup.html#backup-database), I used the update query from @anjog and it solved the problem for me too. Thanks a lot!

[2016-01-06 07:18] MorrisJobke commented on #1002
cc @evert for the sabre dav fix for PHP 7 ;)

[2016-01-06 12:20] forteller commented on #344
So, is it still not possible to use a webcal with ownCloud calendar?

I would really love to get all the events I'm invited to in Facebook automatically imported into oC, so I wouldn't have to log in to Facebook all the time to check.

[2016-01-06 16:44] evert commented on #1002
It's not the only PHP7 problem. All of these are fixed in master and will be released this week. Bit more info here: https://groups.google.com/forum/#!topic/sabredav-discuss/kHWTl4dT9jo

[2016-01-07 12:41] derkostka commented on #1002
Thank you, this also fixed it for me. So will we see this fixed sabredav in the next OC8.2 cycle ? Thanks !

[2016-01-07 13:45] DeepDiver1975 commented on #1002
We are aiming for 9.0 with respect to this issue - 9.0 will move caldav and carddav into core with an updated sabre dav code base - which we are currently working on with respect to php7 compat.

https://github.com/fruux/sabre-dav/pull/752
https://github.com/fruux/sabre-vobject/pull/287

[2016-01-07 15:28] LukasMa commented on #1002
Sounds great :) :+1:

[2016-01-08 06:52] josh4trunks opened #1011 "[8.2.2] Calendar App Icon Not Loading when hosting ownCloud with a webroot"
My ownCloud site is hosted under a webroot (https://EXAMPLE.com/owncloud) and as you can see in the screenshot, the icons for the Calendar and Contacts app do not load. The calendar app is presenting it's icon at ``/apps/calendar/img/calendar.svg`` when it should be at ``/owncloud/apps/calendar/img/calendar.svg``

![screenshot from 2016-01-07 22-47-49](https://cloud.githubusercontent.com/assets/10

[2016-01-08 06:59] josh4trunks commented on #1011
Same issue here https://github.com/owncloud/contacts/issues/1122

[2016-01-08 07:17] josh4trunks commented on #1011
Closing per https://github.com/owncloud/contacts/issues/1122#issuecomment-169913823

[2016-01-08 07:17] #1011 closed

[2016-01-08 12:14] hitam4450 commented on #963
I use DEBIAN 8.2, OC 8.2 and php 5.6.14

[2016-01-08 14:07] zilon84 commented on #475
Hey guys,

I would suggest to add a "user can not delete calendar" switch. A comparable switch to avoid sharing is already there. Why not just add another to protect from deletion?

Thanks
Zilon

[2016-01-08 16:42] yannormanns opened #1012 "One single calendar: exporting / syncing with Thunderbird fails"
Good evening everyone.

Since a few days, one of my calendars can neither be exported nor synchronized with Thunderbird (I use Lightning 4.0.5). Paradoxically, syncing it by using the Android app "CalDAV-Sync" works flawlessly. First I thought of a client related problem, but it is also not possible to export the calendar directly from the ownCloud web interface.
Every other (also new created) cal

[2016-01-08 21:31] crbble commented on #1002
Could you please clarify when this problem will be fixed? OC9 is scheduled for march, right? Is it also possible that WebDAV is broken due to the sabre problems?

[2016-01-08 22:55] c-o-m-m-a-n-d-e-r-d-a-t-a commented on #1002
Perfect thanks, this fixed it for me too.

[2016-01-09 10:13] georgehrke opened #112 "versioning scheme and maintenance periods"
I would like to get a few opinions on the following topics:
- Which version scheme should we use?
  - `major.maintenance` or `major.minor.maintenance`
- Keep our major release schedule in sync with ownCloud or do something completely independent?
  - By relying on the standardized CalDAV interface and mostly javascript I don't expect too many breaking changes with major ownCloud updates. Though ma

[2016-01-09 14:47] MStrecke opened #1013 "OC Calendar not supporting expanded retrieval of recurring events (i.e. date ranges)"
Setup: OC 8.2.2, Ubuntu 14.04 + python webdav

When quering the OC calendar using a start **and** an end date a Sabre "End of document reached prematurely" exception is thrown (see below). If the end date is omitted, i.e. if only a start date is given, the query succeeds.

According to various posts the End of document exception is usually thrown due to malformed calendar data in the database (mis

[2016-01-09 23:30] adonix31 commented on #1002
This fix worked for me on oc 0.8.2.1.4. However, it no longer works after upgrading to oc 0.8.2.2.
Caldav clients on android, such as DAVDroid and Caldav sync, sync nothing and server gives error Array to string conversion at /3rdparty/sabre/dav/lib/CalDAV/CalendarQueryValidator.php#62

Of course, I patched the php file again after oc upgrade since it stopped working.
How to fix this?

[2016-01-11 00:15] MStrecke commented on #1013
After some testing, the issue seems to be connected with the `<C:expand start="20160102T000000Z" end="20160202T000000Z"/>` element of the XML file. This element is only present when the database is checked against a time range with start and end date. When removed, the call succeeds, presumably without the extra functionality the `expand` element is requesting..

This query as constructed by the P

[2016-01-11 19:36] myxor commented on #1002
After implementing the hotfix from above i am getting the following every time caldav syncs:

`{"reqId":"xxx","remoteAddr":"xxx","app":"PHP","message":"Array to string conversion at \/usr\/share\/webapps\/owncloud\/3rdparty\/sabre\/dav\/lib\/CalDAV\/CalendarQueryValidator.php#62","level":3,"time":"2016-01-11T19:22:59+00:00"}`

[2016-01-12 19:24] derkostka commented on #1002
Hi, getting the same Error like you @myxor . I guess you have some special character in your username ? Mine is an E-Mail adress which results in the error you mentioned. This seems to be one more Bug.

[2016-01-13 13:01] #9 closed, assigned to nobody

[2016-01-13 13:01] #8 closed, assigned to raghunayyar

[2016-01-14 12:47] wweich commented on #813
I have the same problem with ical files exported from Notes.
It exports recurrence as
[code]

According to https://www.ietf.org/rfc/rfc2445.txt (search for `[Page 116]`) both your syntax and mine is correct and should be imported correctly.

What's even more troubling, when editing the imported event in ownCloud, it vanishes.

This was tested with ownCloud 8.1.5 (the newest version from openSUSE b

[2016-01-14 15:15] xChr1s commented on #966
Interestingly, with the patch everything works fine except one thing which doesn't produce any error:
If I add events which are 'far' in the future, in my example august, the events appear shortly and then disappear in the calendar app on mobile and win 10. However, events are listed in the owncloud calendar but do not show up in the apps. There is also nothing in the error logs. Can anyone reprod

[2016-01-15 15:07] may-bee commented on #966
@xChr1s: I have several users reporting the same issue with their win8 phones. I had thought about any reason for it, but could not come to a sufficient conclusion.
I will try the provided patch and give it a try soon.
Further investigation needed here.

[2016-01-15 18:03] cwmke commented on #1002
I just thought I would add what worked for me today.  I went to owncloud core's updated [CalendarQueryValidator.php](https://github.com/owncloud/3rdparty/blob/master/sabre/dav/lib/CalDAV/CalendarQueryValidator.php) and replaced my server's version which got everything running again for me on Android and ios.  It appears it was updated 2 days ago which is why I'm guessing pasting the above snippit

[2016-01-15 18:07] RealRancor commented on #1002
@cwmke I think you really shouldn't mix versions of files/libs.

[2016-01-15 18:10] cwmke commented on #1002
Normally I would agree with you but it's the only way I have been able to get everything with the calendar to function properly after much effort.

[2016-01-15 18:52] RealRancor commented on #1002
Hopefully you haven't broke anything else. The linked file is from SabreDAV 3.0.7 where oC is using 2.1.something

[2016-01-15 19:29] cwmke commented on #1002
So far so good.  :+1:  I was aware it was from 3.07 but needed the calendar to function since that along with news is my primary use case for owncloud.  I've added a warning to my original comment.  After updating the file, all of the problems I was having with the calendar are resolved and since it seems like the official update won't be available for awhile, I took a shot.  Thanks for your comme

[2016-01-15 23:48] georgehrke commented on #1015
No, why would one want this?

Please excuse my brevity and typos.
Sent from my mobile

Please excuse my brevity and typos.
Sent from my mobile

[2016-01-16 06:37] intrixius commented on #1015
We are using the calendar module to track special events in a clinical
trial, so we don't want to lose trace of events that are deleted (on
purpose or by accident) by end users
Op 16-jan.-2016 00:48 schreef "Georg Ehrke" <notifications@github.com>:

[2016-01-16 11:34] intrixius commented on #1015
I am thinking of putting a view in front of the database table, add a
"deleted_at" column in the base table and create a trigger that will just
update the "deleted_at" field in the base table...
Would that break anything in the module?
Op 16-jan.-2016 07:37 schreef "Koen Janssens" <janssens.k@gmail.com>:

[2016-01-16 11:37] georgehrke commented on #1015
This is a very very rare use case. Can't you just extract the information from database backups?

[2016-01-16 11:59] intrixius commented on #1015
Using DB backups would be very cumbersome to combine all the backups, not?
What do you think about my solution that would only involve database
changes?
Op 16-jan.-2016 12:37 schreef "Georg Ehrke" <notifications@github.com>:

[2016-01-17 09:49] #69 closed, assigned to nobody

[2016-01-17 09:49] #68 closed, assigned to nobody

[2016-01-18 10:28] peossource opened #116 "Shared Calendar: include "Private" appointments"
Hi,

I'm not sure if it's allowed to post feature requests?
Now I'm on ownCloud 8.2 and just recognized that you'll bring this rework with OC 9.

How about an additional calendar internal sharing option like "Including Private"?
When checked the other user (B) can see all the filtered private stuff of user A too.
This option must respect the settings of the other sharing options. So if none of the

[2016-01-18 17:44] georgehrke commented on #1016
THIS IS PUBLIC! DON'T POST SOMETHING LIKE THIS HERE!
https://owncloud.org/security/

[2016-01-18 19:45] despens commented on #1002
Thanks for the quick SabreDAV fix! My BlackBerry is connected again :)

[2016-01-18 22:43] elvenbone commented on #966
@xChr1s, @may-bee: I am convinced this is an issue that neither owncloud nor sabredav are able to handle. I remember reading it affects all calendars on WP8/8.1 and W10M, i.e. Google, Apple, Outlook, etc. as calendar servers as well.
The default calendar app just does not sync more than a few months to keep syncing timespans low (as the dumbest imaginable user won't understand why he should have t

[2016-01-20 22:40] benerudolph commented on #983
@georgehrke @bierschneider @skuegler
I experience the same behaviour after upgrading from a version lower than 8.2.2 to 8.2.2 recently. Don't know the exact version I upgraded from but probably the one released through the Debian package right before 8.2.2. No issues with the old version.
Only iOS (iPad) is affected.

I noticed because events in the past where missing from my Calendar. After turni

[2016-01-21 11:52] kmelchinger opened #1017 "deselect shared calender not only own calender"
Congratulation:  calendar is an awesome tool for colaboration!
There is only one issue causing problems: there is no chance to deselect shared calendars, You HAVE to see them all in the owncloud-web, no chance to deselect. You are able to deselect your OWN calendars, Is there any chance to get this feature quite soon ?

[2016-01-21 13:19] mmattel opened #1018 "Error: Call to undefined method OC_Helper::linkTo()"
oC cloned from master via ocdev base (which includes cloning some apps)

You can enable the shipped calendar app
![image](https://cloud.githubusercontent.com/assets/3321281/12480298/9d65286e-c041-11e5-839b-957c1aca307c.png)
but you get an error because of https://github.com/owncloud/core/pull/21253 (Remove deprecated OC_Helper::linkTo).
The calendar app can not be opened (white screen).

oC error

[2016-01-21 13:20] mmattel commented on #1018
Originally opened in: https://github.com/owncloud/core/issues/21827

[2016-01-21 23:41] RealRancor commented on #1017
@kmelchinger Please search existing issues first before opening a new issue. You can also find a FAQ here: https://github.com/owncloud/calendar/blob/master/CONTRIBUTING.md#faq where you can find a link to an existing feature request for this.

The contributing file is also linked in the yellow box shown when creating a new issue. That link should be followed and read before creating a new issue.

[2016-01-23 13:06] bstegmaier75 opened #1020 "SQL errors with postgresql"
The postgresql log contains many entries like this one

I did not notice any obvious malfunction due to this error (I see birthdays in both contacts and calendar).
It is also unclear for me if this is a calendar or contacts issue.

Environment:
* Debian testing (current)
* postgresql 9.5
* Owncloud 8.2.2
* Calendar 0.8.1
* Contacts 0.5.0.0

The error was also present in previous Owncloud versions

[2016-01-23 14:00] meduz commented on #811
deleting the entry returned by the above SQL query solved my problem (oc 8.2.2).

[2016-01-24 13:33] radoeka opened #1021 "Birthday at 31-12-YYYY listed as birthday in YYYY+1"
In the web calendar birthdays are listed.
For a person that has a birthday at 31-12-YYYY, the year is shown is YYYY+1

### Steps to reproduce
1. Add contact person with a birthday at 31-12-2000
   Year can be any year
2. Go to the calendar https://<server>/owncloud/index.php/apps/calendar/
3. Select January
4. Look at 31-12

### Expected behaviour
The year should show 2000

### Actual behaviour
Th

[2016-01-24 13:37] gvde commented on #1021
Duplicate of owncloud/contacts#1110
Pull request available at owncloud/contacts#1111

[2016-01-24 14:12] radoeka commented on #1021
Problem solved with change reference by @gvde

[2016-01-24 14:12] #1021 closed

[2016-01-24 14:54] MStrecke commented on #1013
In order to narrow down the bug, I've setup a fresh install of owncloud and used the web interface to insert one event. The problem still persists.

I've written a small utility for a raw communication with the server: https://gist.github.com/MStrecke/64bccbf447967da7337b

It sends a simple query (only start date) and an extended query (start + end date) to the server. For the extended query the X

[2016-01-24 18:10] marcofaber commented on #1012
I had the exact same problem with one of the my calenders (except the browser error message during the export of the calender was a different one). The sync in Lightning worked only for new entries in the direction Thunderbird -> Owncloud. The reason for this behavior was a damaged entry in the calender. It was stored only with half of the data:
[code]
In particular, `END:VEVENT` and `END:VCALENDA

[2016-01-25 20:48] DocLambda commented on #1002
Updating
- **sabre-dav** to **latest 2.1 branch** (commit [c6a264c46b5002319be323d7ce55f52e95d8931c] (https://github.com/fruux/sabre-dav/commits/2.1))

and
- **sabre-vobject** to **version 3.5.0**,

both containing a bunch of php7 fixes, solved the problem for me.
Would it be possible to release an owncloud 8.2.x with sabre-dav 2.1.9 (once it is out) and sabre-vobject 3.5.0? The APIs did not chang

[2016-01-25 20:54] RealRancor commented on #1002
@DocLambda oC9 will bring SabreDAV 3.0 which should be compatible with PHP7 according to https://github.com/owncloud/core/issues/21476

[2016-01-25 21:38] DocLambda commented on #1002
@RealRancor I understood. However, CalDAV is broken for users NOW and oc9 is coming in March if I read the above statements correctly. Please read my comment again, I'm not voting for bumping oc8 to SabreDAV3 but instead using the upstream bugfix-branch SabreDAV **2.1.9** (as soon as it is out)!

So releasing a bugfix soon would be a nice from a user's point-of-view to bridge the time to the oc9 r

[2016-01-26 04:20] RealRancor commented on #1002
@DocLambda This is the current state. As SabreDAV is shipped in Core asking to Bump SabreDAV in here is the wrong place anyway.

[2016-01-26 08:02] pulcov opened #119 "Possibility to set default alarm on new events"
Hi,

When create a new event in calendar, there are no reminders define by default.

Would it be possible to implement a such feature, with possibility to set default reminders parameters for each calendar.

Thank you.

[2016-01-26 08:14] pulcov opened #120 "Possibility to change event color"
Hi,

I think that would be a nice improvement to integrate the possibility to change the color of the single event without change calendar color.

Thanks.

[2016-01-26 10:41] benedikt-d commented on #888
Any news on this issue?

[2016-01-26 11:46] MStrecke commented on #1013
I've setup and tried several versions of OC

last version without the issue: owncloud 8.0.10  (last one int the 8.0 series that I could find)
first version with the issue: owncloud 8.1.0

[2016-01-26 12:22] DocLambda commented on #1002
@RealRancor Ok. Where is the right place to ask this for? As I said the changes are straightforward and btw sabre-dav 2.1.9 is out now...

[2016-01-26 12:26] RealRancor commented on #1002
@DocLambda https://github.com/owncloud/core/issues would be the right place.

[2016-01-26 13:10] RealRancor commented on #1002
@DocLambda Created https://github.com/owncloud/core/issues/21914

[2016-01-26 15:11] #93 closed, assigned to DeepDiver1975

[2016-01-26 16:36] derkostka commented on #1002
Any Idea if the following is related to PHP7 issues ?

--> After applying those patches, i run into this:
{"reqId":"ewiFyIAXQDbkyMTfzKZd","remoteAddr":"192.168.6.1","app":"caldav","message":"Exception: {\"Message\":\"HTTP\\\/1.1 401 No basic authentication headers were found\",\"Exception\":\"Sabre\\\\DAV\\\\Exception\\\\NotAuthenticated\",\"Code\":0,\"Trace\":\"#0 \\\/var\\\/www\\\/owncloud\\\/ap

[2016-01-26 16:42] gvde commented on #1002
That is normal and there is nothing to do about it. The client first tries without basic authentication, which fails with "401 No basic authentication headers were found" and then tries with basic authentication... Unless you have a way to tell your client to always use basic authentication this error is just normal...

[2016-01-26 16:49] RealRancor commented on #1002
Exactly. @derkostka thats also the reason why you shouldn't run productive instance in Debug mode (loglevel 0).

[2016-01-26 18:53] DocLambda commented on #1002
@RealRancor Thanks!

[2016-01-27 07:29] RealRancor commented on #1002
New SabreDAV release for testing in https://github.com/owncloud/3rdparty/pull/246

[2016-01-28 12:05] peternowee commented on #929
@georgehrke @jancborchardt

For your convenience, I made a fork of calendar-rework to show the changes I propose for FullCalendar: https://github.com/peternowee/calendar-rework/tree/test-fc-weeknr

Screenshot (German):
![oc fc weeknr-in-daycell deutsch german](https://cloud.githubusercontent.com/assets/10220583/12643765/68beae78-c5be-11e5-9ed5-443e98ebc256.png)

Screenshot (US English):
![oc fc we

[2016-01-28 12:57] jancborchardt commented on #929
@peternowee nice! It should always be lighter than the day number though because otherwise that’s confusing. Like 25 % opacity for the active month, and even less for when inactive (like the day number is lighter too).

[2016-01-28 15:00] kiv57 commented on #860
+1 : I manually fixed this bug by editing the translations files in `apps/calendar/l10n/fr.*` and replacing `Aujourd'hui` by `Ce jour` which is short enough to get the button in the same line as Day, Week, Month.

[2016-01-29 12:26] peternowee commented on #929
@jancborchardt Ok, here is a screenshot with 25% opacity:

![20160129 oc 2a88528 fc 9b364fe css opacity 0 25 weeknr-in-daycell deutsch german](https://cloud.githubusercontent.com/assets/10220583/12675301/870578b4-c689-11e5-85a7-16d2c1875fb2.png)

As an alternative, here is a screenshot similar to OS X's calendar app screenshot from https://github.com/owncloud/calendar/issues/157#issuecomment-25627

[2016-01-29 12:26] tlhackque opened #1023 "Failure to synchronize with Thunderbird - corrupt entries exported during sync"
New install of `ownCloud 8.1.1.7` on a Synology NAS.  `Thunderbird 39.5.1 / Lightening 4.0.5.2` with `SOGo Connector 31.0.2`. (Package source: synocommunity.com)

I exported a large calendar to an `.ics` file from Thunderbird (a local calendar), which I want to make accessible from multiple PCs.  FWIW, the `.ics` file is 8871 lines long.

I imported it successfully to `ownCloud` by uploading in th

[2016-01-29 12:53] gvde commented on #1023
This is a duplicate. Pull request is available.

[2016-01-29 13:33] tlhackque commented on #1023
Thanks for the quick reply.  I assume you mean your pull request 1004, which makes
` $object->DTEND['VALUE'] = $object->DTSTART['VALUE'];` conditional on `if ( !empty($object->DTSTART['VALUE']) ) `

I applied this patch to `apps/calendar/lib/import.php`, and restarted the webserver.

The symptom didn't go away until I re-imported the ICS file. Apparently although the web view of the calendar had a

[2016-01-29 14:15] gvde commented on #1023
I meant #994, #1004, #1022 depending on the version you have. They are all the same anyway.

The patch fixes the import, thus, you have to remove the broken contacts from owncloud and re-import to get it fixed. Otherwise you could also remove the broken VALUE= from the database directly.

You can close this issue and comment on the pull requests that it solves your problem. That may help to expedi

[2016-01-29 14:25] jancborchardt commented on #929
@peternowee can you do another version of the second one with the background, but using a much lighter background? Also, the border-radius should be 3px, as elsewhere in ownCloud. :) Then I think it would be cool.

Also, we do have a setting for »Show week number«, off by default, right? @georgehrke @raghunayyar?

[2016-01-29 14:28] georgehrke commented on #929
in calendar-rework please. ;)

There is no setting at the moment. Do we need one?

[2016-01-29 14:28] peternowee commented on #929
I didn't see such a setting yet in ownCloud. I thought about starting on that after sending the PR to FullCalendar.

[2016-01-29 14:30] peternowee commented on #929
My branch https://github.com/peternowee/calendar-rework/tree/test-fc-weeknr is based on calendar-rework.

I will make the CSS changes to the background and radius and then push the commit for that to that branch as well.

[2016-01-29 14:37] #112 closed, assigned to nobody

[2016-01-29 14:39] tlhackque opened #1024 "Date Picker needs ability to go to a distant date"
The web interface of the Calendar APP includes a date picker that allows direct access to 'today' and advance/backup one month.

I recently had to look at an event in 1999 - which meant clicking 'backup' in the upper left corner about 200 times. (17 years * 12 months).  There was no other way to get there.

This is a jQueryUI date-picker (`datecontrol_date`), which tries to enable `changeYear` (an

[2016-01-29 14:44] jancborchardt commented on #929
@georgehrke yes, I would do a setting for that, off by default. Because I’d say most people actually do not need week numbers.

[2016-01-29 14:47] tlhackque opened #1025 "Contact dates are second class"
With the Contacts app also installed, birthdays in the contact record show up in the calendar app.

This is nice.  However, these calendar entries don't seem to be first-class items:
 - clicking on the calendar item does nothing - it should open the contact.  Or at least, not have an active hyperlink.
 - synchronizing the calendar doesn't send the event to the client device (in my case, Thunderbir

[2016-01-29 14:51] tlhackque commented on #1023
Right, I figured that out (initially thought it was the export via sync), but thought I should document for the next person.

I'll close and comment on #1004 as you suggest.

Thanks again.

[2016-01-29 14:51] #1023 closed

[2016-01-29 15:12] peternowee commented on #929
Like this?

![2016-01-29-160525_1366x768_scrot](https://cloud.githubusercontent.com/assets/10220583/12679171/fb7ae3be-c6a2-11e5-9f51-b7a5a8ae45d5.png)

[2016-01-29 15:13] georgehrke commented on #929
I like it :)

[2016-01-29 15:19] jancborchardt commented on #929
Yeah, looks good! :)

[2016-01-29 16:22] peternowee commented on #929
Ok, I updated https://github.com/peternowee/calendar-rework/tree/test-fc-weeknr accordingly. Do you still want to have a look at the technical side of the implementation?

Then one more thing I almost forgot: Day and Week views. The default formatting is like this:

![2016-01-29-164051_1366x768_scrot](https://cloud.githubusercontent.com/assets/10220583/12680761/d1db6c6e-c6ab-11e5-8122-bc6fb0b7cfa8

[2016-01-29 16:37] peternowee commented on #929
The formatting in Day and Week view can be done in our own stylesheet, btw, so no change required in FullCalendar.

[2016-01-30 03:38] RealRancor commented on #1025
For the second item you need https://doc.owncloud.org/server/8.2/user_manual/pim/calendar.html#special-caldav-urls

[2016-01-30 11:42] georgehrke commented on #929
I would actually go with the default style here.

[2016-01-30 12:36] MStrecke opened #1026 "Query from Sabre results in empty timezone info and crashes it"
(Info template, see below)

I've raised this issue at the Sabre bug tracker. [There](https://github.com/fruux/sabre-dav/issues/770) it is believed to be a bug at the OC end. A developers from OC:Core [suggested](https://github.com/owncloud/core/issues/22026) that it should be opened here.

The snippet shown below is used by a client application to query an OC server for all calender events that fa

[2016-01-30 12:37] MStrecke commented on #1013
Consolidated into issue https://github.com/owncloud/calendar/issues/1026

[2016-01-30 12:37] #1013 closed

[2016-01-31 10:57] hmeine commented on #811
I still have this problem from time to time.  Is it so hard to fix in the Calendar plugin?

[2016-01-31 11:06] RealRancor commented on #811
Just can point you to https://owncloud.org/faq/#calendarcontacts ;-)

If you're familiar with PHP or you know some one with that knowledge feel free to contribute so this can be fixed.

[2016-01-31 14:27] produnis opened #1027 "404 not found (Cannot use 'Float' as class name as it is reserved)"
Hi there,
I have several calenders which all work fine, but one.
If I try to download this calender with URL `https://myserver.org/owncloud/index.php/apps/calendar/export.php?calid=6`
I get a 404 file not found
All other calenders (calid=1,2,3,4,5,,7,8,9) do work just fine,
and calender 6 is available at the webside, being able to add/edit/remove events.

Apache error log says:

Any help welcome

[2016-01-31 17:38] quizilkend opened #1028 "Uninitialized string offset: 0 at /var/www/owncloud/3rdparty/sabre/vobject/lib/DateTimeParser.php#183"
Hey there,
I have some errors popping up in my owncloud log.
I'll try to stick to the issue template.

## Steps to reproduce
Don't know exactly, what action triggers the errors. But the errors appear regularly in the logs.

## Expected behaviour:
No error messages thrown.

## Server configuration:
**OS: Ubuntu 14.04 LTS**
**Web Server: Apache 2: 2.4.7-1ubuntu4.9**
**Database: MySQL**
**PHP-version

[2016-01-31 18:30] rbarlow commented on #935
I believe I have been seeing this error with Thunderbird's Lightning plugin when accepting event invitations from others. At least, I see the "The objectData argument must contain an 'uri' property" error message when I client "Accept" in Lightning.

[2016-02-01 11:04] peternowee commented on #929
Ok, I created a pull request upstream: https://github.com/fullcalendar/fullcalendar/pull/3024. Thanks for all your comments so far!

[2016-02-01 11:31] jas4711 commented on #929
@peternowee sorry i don't seem to be able to re-open the issue, maybe @georgehrke could?

Many thanks for working on this!  I really mis seeing week numbers.  In Sweden a lot of activity planning is done around week numbers.  I have imported a separate calendar with week numbers as a workaround, but it is a really ugly solution.

[2016-02-01 11:36] peternowee commented on #929
@jas4711 Yeah, I know, hope the new changes get accepted upstream soon. Thanks for replying.

[2016-02-01 14:34] georgehrke commented on #929
Let's not reopen this, if anything please create an issue in https://github.com/owncloud/calendar-rework

[2016-02-01 15:33] nerdoc opened #1029 "CalDav Sync Throws 405 - Method Not Allowed"
I have problems using owncloud with Android/DavDroid. I first stumbled upon #915 and hence #489, but this here is *not* the same. I have no user/group restrictions on calendar.

But when I try to enter the URL and credentials at the davdroid interface, I get a "Es wurden keine Addressbücher oder Kalender gefunden" (No address books or calendars found).

### Steps to reproduce
1. open davdroid, add

[2016-02-01 19:40] peternowee commented on #929
Ok, I will send a PR to calendar-rework later.

[2016-02-01 22:34] RealRancor commented on #1029
Have a look at:

https://forum.owncloud.org/viewtopic.php?f=17&t=7536

Might be possible that your webserver is blocking some WebDAV methods (405 Method not allowed)

[2016-02-02 10:47] georgehrke opened #127 "migrate import dialog to $uibModal instead of jQuery dialog"

[2016-02-02 13:11] RealRancor commented on #1027
@produnis oC and especially calendar and contacts apps are currently not compatible with PHP7. You need to wait until oC 8.2.3 is released shipping a PHP7 compatible version of sabredav and vobject.

For now you can test https://github.com/owncloud/3rdparty/pull/246#issuecomment-175460328 which should fix this issue.

[2016-02-02 13:20] nerdoc commented on #1029
No, all problems addressed there are not the same.
I even d'loaded & compiled litmus and did the check for my server (the WevDAV part) - without bigger (but non-related) problems:
[code]

I couldn't run the [CalDavTester](http://trac.calendarserver.org/wiki/CalDAVTester) suite againstmy production server as it needs some users + admin pw configured for the test. Too risky for me.

mod_rewrite is e

[2016-02-02 15:09] nerdoc commented on #1029
I just saw that if I enter the full URL into the DavDroid URL field `https://owncloud.nerdocs.at/remote.php/caldav/calendars/tester/pers%C3%B6nlich`, but use the wrong credentials, I get another error message (401, unathorized). If I enter the right ones, everything works.

It just seems that the automatical finding of the addressbook and calendars does not work even **before** authentication happ

[2016-02-03 08:21] #1027 closed

[2016-02-04 04:45] RealRancor commented on #1029
litmus looks good. Have you checked: https://doc.owncloud.org/server/8.2/admin_manual/issues/index.html#service-discovery as it seems the auto discovery of davdroid is the issue here.

[2016-02-04 12:27] c-o-m-m-a-n-d-e-r-d-a-t-a commented on #1005
I would say not a duplicate. #33 is a warning when deleting a series, this is to alter one event in a series. I would also say this is essential functionality! I'm trying to ditch Google here...

[2016-02-04 20:43] zinks- commented on #860
@kiv57 Being part of the translation team for French, I actually changed the translated string to "Auj." some time ago, so any recent version of the app should have that.
It's a bit uglier that "Aujourd'hui" but it's not broken :D

[2016-02-04 22:18] nerdoc commented on #1029
Yes. As you can see, my owlcoud server lives in owncloud.nerdocs.at; so no subfolder, just a subdomain.
**Well-known:** go to https://owncloud.nerdocs.at/remote.php/caldav, just see what you get there.
I don't know it this is wanted or an error. It seems to be a response from a DAV server, but it tells me that it is an error: `Sabre\DAV\Exception\NotImplemented` - but IIRC it only should be 301ed

[2016-02-05 00:03] tomneedham opened #128 "Enhance new event dialog design"
Before:
<img width="1185" alt="screen shot 2016-02-05 at 00 01 28" src="https://cloud.githubusercontent.com/assets/660805/12833929/bb665364-cb9b-11e5-84eb-926e8c6cfa1b.png">

After:
<img width="1187" alt="screen shot 2016-02-05 at 00 00 48" src="https://cloud.githubusercontent.com/assets/660805/12833930/bdebf562-cb9b-11e5-8d14-b42354a074be.png">

Tried to follow existing trends in owncloud already

[2016-02-05 00:06] tomneedham opened #129 "New event dialog ends up in sidebar in small windows."
<img width="500" alt="screen shot 2016-02-05 at 00 05 44" src="https://cloud.githubusercontent.com/assets/660805/12834034/50ad0daa-cb9c-11e5-9462-6cf0bea23cf3.png">

[2016-02-05 16:00] DeepDiver1975 opened #130 "Sharing todos"
IMO, todo:
- [x] Fix jerk action when searching for typeahead (style the loading element)
- [ ] Close the sharee editor when click away
- [ ] Move cursor to input on share icon click for usabilitiy
- [ ] BUG: Sharee sees themself in list of sharees. Do we disable sharing for calendar recipients?

[2016-02-05 17:22] #7 closed, assigned to tomneedham

[2016-02-05 17:29] #116 closed, assigned to nobody

[2016-02-05 17:33] georgehrke opened #132 "support for webcal"
- [ ] add a subscription service
- [ ] for now query subscriptions on load (using render event with static option)

[2016-02-05 17:36] georgehrke opened #133 "make calendar list sortable"
it's important to also update the order property assigned to the calendar

[2016-02-05 20:34] buskjan commented on #1017
@RealRancor Do you hava an id for the existing issue? All i can find is from 2013 and marked as solved. I have the same issue.

[2016-02-05 20:36] RealRancor commented on #1017
https://github.com/owncloud/calendar/blob/master/CONTRIBUTING.md#faq -> https://github.com/owncloud/calendar/issues/21

as advised above.

[2016-02-05 20:40] buskjan commented on #21
I am also very frustrated of not being able to hide shared calendars.

[2016-02-05 20:42] buskjan commented on #1017
Well, it seems that I'm not at my best to day. I didn't see that it was an open issue. Just that it was opened in 2013. Sorry!

[2016-02-05 20:47] georgehrke commented on #21
@buskjan Spamming my inbox with comments how frustrated you are will definitely solve this issue faster ;)

[2016-02-05 20:53] buskjan commented on #21
Sorry @georgehrke! How should I tell you that I have this isssue? Is there some other way to do this than making a comment here?

[2016-02-05 20:55] georgehrke commented on #21
We are aware that this issue exist. That's why there is an issue here and that why it's open.
No need to tell us, that you have this issue too, if you can't provide further information (e.g. on how to produce it).

Anyway, the fix will be released with ownCloud 9.

[2016-02-05 20:58] buskjan commented on #21
If I don't tell you that I have this issue how could you know if there is one or 100 that has this issue? I fell like the most stupid person on earth. Sorry for posting.

[2016-02-05 21:01] Hausmarke commented on #21
Cool - OC 9 with this fix should be here in a few weeks... or?

[2016-02-05 21:06] georgehrke commented on #21
Well, this certain issue is always reproducible and affects an important component of the calendar.
A hypothetical bug in the events editor, that only occurs on a few days in leap years if the location contains certain special characters will definitely affect less users ;)

Yes, please see https://github.com/owncloud/core/wiki/Maintenance-and-Release-Schedule

[2016-02-06 10:19] martingabelmann opened #134 "show/hide sidebar functionlaity"
Have a button to show/hide the left sidebar (like the calendarplus).
Very useful for laptops/small screens.

Thanks for the nice work done so far!

greetings
Martin

[2016-02-06 10:26] #134 closed, assigned to nobody

[2016-02-07 08:47] #3 closed, assigned to georgehrke

[2016-02-07 11:39] pigulla commented on #1026
I just ran into this as well, would be awesome if somebody could take a look at it.

[2016-02-08 10:33] Muriano opened #1030 "Error when sharing events (with "can edit" option enabled) without refresh navigator."
### Steps to reproduce
1. Go to Calendar and create an event, modal box should close itself.
2. Click on the created event and go to the share tab.
3. Type for a user name to share with. When user is selected, click on the checkbox to enable edition permission

### Expected behaviour
Event will be shared with the selected user, and that user could view and edit the event.

### Actual behaviour
An

[2016-02-08 12:10] elioqoshi opened #135 "Richer Calendar colors options"
The owncloud calendar app currently offers 33 colors to assign to calendars. I have linked Thunderbird's lightning calendar addon via CalDav with owncloud and I'm able to choose any color from the RGB spectrum for calendars in Thunderbird, while my choice is limited to 33 colors in owncloud.

This might not be something major, but sometimes it's useful to have a specific color code for a calendar

[2016-02-08 15:09] #128 closed, assigned to nobody

[2016-02-08 15:27] RealRancor commented on #1029
That complete setup looks fine to me. The ``There was no handler found for this "GET" method/Sabre\DAV\Exception\NotImplemented``  is expected when using a browser.

Maybe try to contact the guys of DAVdroid at https://forums.bitfire.at/category/4/davdroid

They probably knows their App better how to debug this.

[2016-02-09 13:59] georgehrke opened #137 "add little icons to each fc-event indicating repeating, alarms, attendees"

[2016-02-09 14:04] georgehrke opened #138 "Add angular filter to display attendees properly"

[2016-02-09 20:28] georgehrke opened #141 "Editor misses any kind of validation"
Heads up: Start and end may have different timezones

[2016-02-09 22:28] tflidd opened #1031 "retrieve Error parsing carddata"
When I open the calendar via web interface, I get this error:
[code]
a bit similar like this issue https://github.com/owncloud/calendar/issues/903 but I do access via the webinterface and not via client. Though, I do also use external clients which might have created an entry that's causing this issue. A new user, or a different user that hasn't been connected to external clients, does not show th

[2016-02-09 22:30] georgehrke commented on #1031
Your log says contacts and not calendar ;)

[2016-02-09 22:30] #1031 closed

[2016-02-09 22:30] tflidd commented on #1031
Sorry, but the error appears when I'm opening the calendar app!!!

[2016-02-09 22:31] georgehrke commented on #1031
You seem to have a corrupt contact, reach out to the contacts folks to find out which one it is

[2016-02-09 23:32] #129 closed, assigned to georgehrke

[2016-02-09 23:32] #127 closed, assigned to georgehrke

[2016-02-09 23:32] #11 closed, assigned to georgehrke

[2016-02-09 23:32] #51 closed, assigned to raghunayyar

[2016-02-09 23:32] #74 closed, assigned to raghunayyar

[2016-02-10 08:33] nickvergessen opened #142 "Error when trying to create an event and debug output in public/app.js"
https://github.com/owncloud/calendar-rework/blob/c26a361f058e25d2778e7ab184614762f0f10ed0/js/public/app.js#l2409

---

I also get an error, which blocks me from creating any events:

[code]

[2016-02-10 09:08] #142 closed, assigned to nobody

[2016-02-10 11:44] georgehrke opened #147 "add read-only mode for editor"

[2016-02-10 14:46] georgehrke opened #150 "Move /js/app/directives/colorpicker.html to /templates"

[2016-02-10 19:02] georgehrke opened #151 "make object converter a filter"

[2016-02-10 19:03] georgehrke opened #152 "ng-cloak for new calendar and calendar and subscription list"

[2016-02-10 20:53] alve89 opened #1032 "Share task list"
Since every calendar creates a task list (and so a shared calendar creates a shared task list), I'm asking if theres an option (in future releases) to create another task list within a calendar (and perhaps with the possibility to share this list)?
Of course this is not (only) a problem of oC but also of DAV - but I don't know if SabreDAV supports this by default?

[2016-02-10 20:55] georgehrke commented on #1032
tasks are not part of the calendar app. please reach out to the tasks app folks.
Beginning with ownCloud 9 CalDAV won't be a part of the calendar anymore, but will rather reside in ownCloud's core.

[2016-02-10 20:55] #1032 closed

[2016-02-10 22:51] georgehrke opened #153 "create RandomStringService to generate UIDs, URIs and tmpIDs"
doesn't need to be random as in secure

[2016-02-11 11:05] georgehrke opened #154 "When disabling allday and timezone is null, set it to defaulttimezone"

[2016-02-11 11:07] georgehrke opened #155 "Show timezone in popover"
If the timezone differs from defaulttimezone, show the actual timezone of the event.
This doesn't need to be a select like in the sidebar, just a span that displays the selected one.

[2016-02-11 11:08] georgehrke opened #156 "show timezone when opening sidebar if selected one is not defaulttimezone"

[2016-02-11 11:10] georgehrke opened #157 "deleted calendars appear in calendar-selector"

[2016-02-11 11:24] georgehrke opened #159 "update README."
- [ ] rename README to ownCloud calendar or something similar
- [ ] add a screenshot
- [ ] add link to documentation
- [ ] add link to #ownCloud (for users) and #ownCloud-calendar (for developers) on free node

[2016-02-11 11:27] georgehrke opened #160 "group timezones by continent and replace _ with space in displayname"

[2016-02-11 11:28] georgehrke opened #161 "automatically adjust dtend when changing dtstart"

[2016-02-11 14:02] georgehrke opened #162 "speed up event rendering by using renderEvent instead of returning array inside eventSource"

[2016-02-11 14:09] georgehrke opened #163 "show previous and next month in date picker"

[2016-02-11 14:15] georgehrke opened #164 "Date and time input should always use full space available"
<img width="517" alt="calendar - owncloud chromium today at 3 14 17 pm" src="https://cloud.githubusercontent.com/assets/1250540/12978607/40e206e2-d0d2-11e5-9ebf-59af907263cb.png">
<img width="559" alt="calendar - owncloud chromium today at 3 14 05 pm" src="https://cloud.githubusercontent.com/assets/1250540/12978608/4107b34c-d0d2-11e5-98ba-196b9d115d47.png">

[2016-02-11 14:23] georgehrke opened #165 "Document supported browsers"

[2016-02-11 14:37] georgehrke opened #166 "rename `from` and `to` to `starts` and `ends`"

[2016-02-11 14:39] georgehrke opened #167 "rename `alarms` to `reminders`"
much more common term

[2016-02-11 14:48] georgehrke opened #168 "create/update/delete events causes UI issues after changing calendars color"
Scenario:
- change calendar-color from yellow to red
- create or edit any event, doesn't matter what calendar
- events of red calendar change color back to yellow for current view

[2016-02-11 14:50] georgehrke opened #169 "change import's progressbar color from green to ownCloud blue"

[2016-02-11 14:52] georgehrke opened #170 "Import dialog should not have min-height or fixed height"

[2016-02-11 14:53] georgehrke opened #171 "add timezone filter to display timezone in a more user-friendly way"
e.g. New York (America) instead of America/New_York

[2016-02-11 15:41] georgehrke commented on #132
- [ ] register handler for webcal protocol

[2016-02-11 15:57] georgehrke opened #172 "add proper fcEvent, when creating an event"
otherwise the selected range may disappear when a user clicks somewhere, which is completely distracting and unintuitive.

[2016-02-11 15:59] georgehrke opened #173 "apply changes live to fcEvent"
When changing an events title or associated calendar, the fcEvents title or color should change immediately

[2016-02-11 17:41] georgehrke opened #174 "Hide subscription heading if no subscriptions exist"
There will be no birthday calendar in ownCloud 9.0.
The only subscription users may have are read-only calendars. We should hide the subscription header, when the user has no read-only calendars.

[2016-02-11 21:19] tflidd opened #176 "New user has no default calendar but can create event"
### Steps to reproduce
1. Create new user
2. Login, go to calendar (don't create a new calendar, there is none by default)
3. Create a new event
### Expected behavior

A warning that a calendar needs to be created before a new event can be created. Or creation of a new calendar per default.
### Actual behavior

You create a new entry, click on "create", nothing happens
### Server configuration

**

[2016-02-11 21:28] tflidd opened #177 "Remove text "New event""
### Steps to reproduce
1. Click somewhere to create new event
2. Enter Text for new event
### Expected behavior

Default text "New Event" is overwritten.
### Actual behavior

The default text stays, I started typing "Mor"
http://imgur.com/ARMOP0d

same system: https://github.com/owncloud/calendar-rework/issues/176

[2016-02-11 21:39] tflidd opened #178 "Show subscriptions by clicking on the box"
### Steps to reproduce
1. Get a calendar shared with somebody
2. Select or unselect this calendar by clicking on the box

![unbenannt](https://cloud.githubusercontent.com/assets/8111200/12991514/d589e9d0-d10f-11e5-91f1-6a4605fd4698.PNG)
### Expected behavior

Enables or disables the view of this specific calendar. It works when I click on the text.
### Actual behavior

Nothing happens

ownCloud ve

[2016-02-11 21:54] tflidd opened #179 "Hide event in shared calendar is not working"
### Steps to reproduce
1. Share a calendar to some other user (read only)
2. Create a new event
3. Go on more...
4. Select "when shared show only busy" or "when shared hide this event"
5. Save event.
6. Re-open and edit details
### Expected behavior

Setting should be the same as they have been set. Hidden or "only busy" entries should not be visible to any other user.
### Actual behavior

Switch

[2016-02-12 12:46] #150 closed, assigned to raghunayyar

[2016-02-12 13:31] #151 closed, assigned to georgehrke

[2016-02-12 13:33] georgehrke opened #190 "Categories are not saved"

[2016-02-12 14:27] georgehrke opened #191 "use different algorithm for popover position in agenda views"

[2016-02-12 20:00] #177 closed, assigned to nobody

[2016-02-12 20:02] #153 closed, assigned to georgehrke

[2016-02-12 23:12] #176 closed, assigned to nobody

[2016-02-13 06:30] #169 closed, assigned to georgehrke

[2016-02-13 06:31] #166 closed, assigned to georgehrke

[2016-02-13 06:33] #190 closed, assigned to georgehrke

[2016-02-13 06:34] #174 closed, assigned to georgehrke

[2016-02-13 10:32] #147 closed, assigned to georgehrke

[2016-02-13 17:34] georgehrke opened #193 "skip popover on devices with small width"
It should rather go directly to the popover.

[2016-02-13 17:34] georgehrke opened #194 "clicking any element in the left sidebar closes it when snap.js is active"

[2016-02-13 18:23] georgehrke opened #195 "Send out invites"

[2016-02-13 23:28] georgehrke opened #196 "set current fcevent to readonly while editor is open"
this prevents drag&drop and resizing

[2016-02-14 17:58] #167 closed, assigned to georgehrke

[2016-02-14 17:58] #178 closed, assigned to nobody

[2016-02-14 17:59] #179 closed, assigned to georgehrke

[2016-02-14 18:00] #163 closed, assigned to georgehrke

[2016-02-14 19:59] untitaker commented on #935
needsinfo should be removed from this issue IMO

[2016-02-15 09:16] arr0n commented on #1029
i have the same issue, and i see davdroid people are saying "your server isn't configured correctly"  which isn't that helpful

[2016-02-15 09:22] arr0n commented on #1029
I've just quickly tested CaldDav Sync, which worked without problem and CalDav Sync Adapter too

[2016-02-15 10:21] gvde commented on #1029
1. Update. 8.1.1 and 0.4.0.0 is outdated. There a fixes for these versions like the REQUEST_URI message. Thus, update.

2. Post all logs. Post related logs. Post all the log message which appear when it doesn't work. And also post all the log messages, when you use a calendar URL instead. Without the apache logs it's impossible to tell what is accessed...

[2016-02-15 12:11] pasbec commented on #890
Is there any news on this bug? I still have the same problem in ownCloud 8.2.0 with Calendar 0.8.1.

[2016-02-15 12:32] georgehrke opened #201 "try to replace all the rootscope broadcasts with $scope.$watchCollection()"

[2016-02-15 14:17] nickvergessen opened #202 "Remove unnecessary scrollbar"
The scroll bar should only be there when it is needed?

![bildschirmfoto vom 2016-02-15 15 16 09](https://cloud.githubusercontent.com/assets/213943/13051000/2d545008-d3f7-11e5-8049-e1ea48485226.png)

@georgehrke

[2016-02-15 19:59] georgehrke commented on #1033
THIS IS A PUBLIC BUGTRACKER! FOR CRYING OUT LOUD. READ https://owncloud.org/security/ FIRST

[2016-02-15 20:09] pille commented on #1033
you're welcome.
so is this in ```/dev/null``` now or are you dealing with it somewhere else?

[2016-02-15 20:11] georgehrke commented on #1033
We are dealing with it somewhere else. Somewhere where we also take care of other issues that reach us via the described way in https://owncloud.org/security/

[2016-02-15 20:21] pille commented on #1033
glad to see your CAPS key isn't really broken.
it would be nice to receive feedback on the issue, so please add me to whatever@somewhere.
thanks for your support.

[2016-02-16 09:10] nickvergessen opened #203 "Can not enable calendars by clicking on the "checkbox""
I observed this by myself and my wife, we both tried to enable/disable a calendar by clicking on the icon.
![bildschirmfoto vom 2016-02-16 10 06 01](https://cloud.githubusercontent.com/assets/213943/13071660/381452a6-d495-11e5-8ee0-c34775f7a08d.png)

This worked on the old calendar, but in the rework you currently have to click on the name.

Would be nice if this could be fixed.

@raghunayyar

[2016-02-16 09:33] #203 closed, assigned to nobody

[2016-02-16 10:38] #191 closed, assigned to georgehrke

[2016-02-16 10:48] #172 closed, assigned to georgehrke

[2016-02-16 12:55] georgehrke opened #204 "Validate list in TimezoneListProvider"
Add a simple test case that validates all entries returned by the TimezoneListProvider to make sure the given timezone actually exists.

[2016-02-16 16:16] #154 closed, assigned to georgehrke

[2016-02-16 16:16] #155 closed, assigned to georgehrke

[2016-02-16 16:16] #156 closed, assigned to georgehrke

[2016-02-16 16:16] #160 closed, assigned to georgehrke

[2016-02-16 16:16] #171 closed, assigned to georgehrke

[2016-02-16 22:25] georgehrke opened #206 "add simpleEvent model"

[2016-02-16 22:25] georgehrke opened #207 "add FcEvent model"

[2016-02-17 10:16] #66 closed, assigned to georgehrke

[2016-02-17 10:16] #138 closed, assigned to georgehrke

[2016-02-17 10:47] DeepDiver1975 opened #211 "Attendee is not removed"

[2016-02-17 12:27] perfect7gentleman commented on #1002
that fix helped me too

[2016-02-17 15:15] georgehrke opened #213 "make sure an eventSource is added only once to fullcalendar"

[2016-02-17 17:55] #67 closed, assigned to georgehrke

[2016-02-17 17:55] #170 closed, assigned to georgehrke

[2016-02-17 17:55] DeepDiver1975 opened #214 "import dialog can be used only once - it does not open on a follow up import"

[2016-02-17 18:00] #152 closed, assigned to georgehrke

[2016-02-17 18:02] #157 closed, assigned to georgehrke

[2016-02-17 20:37] jancborchardt opened #215 "Test the new Calendar app and contribute!"
We are working on the Calendar rework for 9.0: https://github.com/owncloud/calendar-rework
The CalDAV syncing was moved into core, and this is the repo for the new Calendar app frontend.

I’m using this issue to cc everyone who worked on Calendar in the past:
@rysiekpl, @libasys, @vgezer, @ben-denham, @wtayyeb, @citronalco, @mopagemo, @nickvergessen, @ganomi, @suraia, @enoch85, @jbtbnl
You can eas

[2016-02-17 22:48] enoch85 opened #216 "Automatically add one hour to each event"
As it is today you have to write in both the FROM time and the TO time table.

It would be much better if you just had to write in the FROM time table and that one hour was automatically added. Often meetings aren't longer than 1 hour, and if you want to have a longer appointment, you simply edit the TO time manually.

[2016-02-17 22:58] enoch85 opened #217 "Time is displayed wrong"
As I live in Sweden, we use military time. And it seems like no matter what changes I do to the time it stays AM/PM in the overview. But, if I click on the event, the time shows correctly.

Here are an example:
http://i.imgur.com/n2ao6qT.png

[2016-02-18 08:30] alve89 opened #1036 "Feature Request: id code for calendar names"
Hello all!

I have an idea because I am a little annoyed of the following issue:
Because I love ownCloud I use this in multiple areas / organizations. This brings the problem that new users get new calendars - every calendar has the same name ("Persönlich" / "Personal"[?]). So I have four "Persönlich" calendars now and - on iOS - the host / the oC name is not displayed.
What do you think of an id

[2016-02-18 11:50] nickvergessen opened #220 "Proppatch not allowed for shared-calendars in 9.0"
Once https://github.com/owncloud/core/pull/22244 is in, propatch requests are not allowed anymore on shared calendars.
The only exception is a proppatch to change the enable status of a calendar.
But renaming and changing the color are not possible in 9.0, because we use the same calendar entry for all sharees for default properties.

Currently the UI sends the request, but ignores the status code

[2016-02-18 18:54] p5n opened #221 "calendar migration skips ldap users"
### Steps to reproduce

Upgrade from 8.2.2 -> 9.0beta1 with ldap backend enabled
1. sudo -u http ./occ upgrade
2. LDAP user's calendars are missing however users from oc_users table are ok
### Expected behaviour

All calendars migrated
### Actual behaviour

Only local DB user's calendars migrated from calendar to calendar-rework
### Server configuration

**Operating system**: Arch Linux

**Web ser

[2016-02-18 18:55] #221 closed, assigned to nobody

[2016-02-19 11:10] #217 closed, assigned to nobody

[2016-02-19 16:52] georgehrke opened #223 "New concept for entering recurrence rules / full-featured recurrence settings"
The recurrence editor in the sidebar is currently being implemented.
It will follow the example of other calendar applications.

Although the current concept is pretty wide-spread, it's not really intuitive and we should create a concept for something more user-friendly.

This is definitely something to discuss at the next hackathon or conference.

[2016-02-20 11:30] DemoFreak opened #225 "Moving entries via drag'n'drop doesn't get reflected in opened sidebar"
### Steps to reproduce
1. Create event
2. Click on it, choose "More..."
3. After sidebar opened, move or change the event via drag'n'drop
### Expected behaviour

The event starting/ending dates changes respective to the moved event.
### Actual behaviour

The dates stays unchanged, and if one click to "Accept", the changed event gets resetted.
### Server configuration

Preconfigur4ed VM 9.0.0 beta2

[2016-02-20 11:39] DemoFreak opened #226 "Translation error (German)"
VM 9.0.0 beta2

The button for creation of new events reads "Neuer Ordner" ("Create folder" in english) instead of "Neues Ereignis" or "Veranstaltung erstellen".

[2016-02-20 12:13] #225 closed, assigned to nobody

[2016-02-20 12:14] #226 closed, assigned to nobody

[2016-02-20 14:04] georgehrke opened #228 "last modified is not updated"

[2016-02-20 16:22] georgehrke opened #1037 "Important: move this repo to the owncloud archive organization"
... and rename calendar-rework to calendar

cc @DeepDiver1975

[2016-02-20 16:22] georgehrke commented on #1035
fixed in rework, will come with ownCloud 9

[2016-02-20 16:25] georgehrke commented on #1036
definitely nothing we will implement.

To find out how to implement this on your own (although applying your own patches is not recommended) please join owncloud-dev on free node and ask DeepDiver

[2016-02-20 16:25] #1036 closed

[2016-02-20 16:27] georgehrke commented on #1015
You can setup a cron job or some database triggers,
If I delete an event, I expect it to be deleted and not restorable for admins.

[2016-02-20 16:29] georgehrke commented on #1014
will be fixed with owncloud 9

[2016-02-20 16:29] #1017 closed

[2016-02-20 16:29] georgehrke commented on #1007
will be fixed with ownCloud 9

[2016-02-20 16:34] georgehrke commented on #1037
We should do this shortly prior to the ownCloud 9 release.
I actually don't see a need to provide the calendar for ownCloud <9 via the app store then, so the releases in this repo don't matter.

[2016-02-21 07:26] DeepDiver1975 commented on #1037
People still want to install oc<9 and will expect calendar to be installable.

[2016-02-21 07:27] DeepDiver1975 commented on #1037
From appstore as well as from git using stable branches.

[2016-02-22 09:28] simongareste opened #231 "show/hide calendar duplicates event display"
### Steps to reproduce
1. create a new calendar
2. create an event in this new calendar
3. click on the left pane on the color box to hide the calendar
4. re-click on the left pane to show the calendar
5. click again to hide
6. refresh the page
7. click to show
8. create an event in the same calendar
9. click to hide
10. click to show
### Expected behaviour

Click to hide should hide all events of

[2016-02-22 09:44] TheKoon commented on #977
+1 !!!

[2016-02-22 14:34] #211 closed, assigned to georgehrke

[2016-02-22 14:43] #195 closed, assigned to georgehrke

[2016-02-22 14:56] #65 closed, assigned to nobody

[2016-02-22 20:46] alve89 commented on #1036
Not sure if this is readable when I comment this: I'm not sure why this could not be implemented (especially because it's a job of two minutes)?!
I think this could be very interesting for people who use more than one oC. I patched this on my own (just a config.php value and a small if-clause in calendar.php.
If someones interested or this could become interesting to implement, just ask. :-)

[2016-02-24 09:35] Bugsbane commented on #659
What's the status on this? Did it get into 8.2? Is it slated for ownCloud 9?

[2016-02-24 10:10] georgehrke commented on #659
https://github.com/owncloud/calendar-rework/issues/132

[2016-02-24 13:31] DeepDiver1975 opened #232 "What does 'floating' mean in the timezone drop down?"
From transifex https://www.transifex.com/owncloud-org/owncloud/translate/#de_DE/calendar-rework/75081301?reviewed=no:

But what does floating mean? As in no timezone... or 'unspecified' or something... so always in the current time of the user?

[2016-02-24 14:50] #231 closed, assigned to nobody

[2016-02-24 15:27] p5n opened #233 "Can not create event in shared editable calendar from web"
## Can not create event in shared editable calendar from web however it works from caldav client
### Steps to reproduce
1. User A is local database user, User B is LDAP user.
2. User A share calendar with user B
3. B tries to create an event from web UI
4. Shared calendar is not available in new event window combobox. User B can select only own calendars but not shared
### Expected behaviour

User

[2016-02-24 19:46] aspdye opened #234 "Add custom favicon"
Also for the calendar? @jancborchardt Already done in Mail.
https://github.com/owncloud/contactsrework/issues/52

[2016-02-24 21:48] akademy opened #1038 "Api access"
I can't find any API access to the calendar. If there isn't one is there any other way to access the data stored?

(Some background: I'm trying to create a widget in another OwnCloud App called Dashboard, it will display future appointments from the Calendar. ).

Cheers.

[2016-02-24 21:50] georgehrke commented on #1038
Starting with ownCloud 9, this app won't be maintained anymore.
It will be replaced by the calendar rework and the dav app.
The dav app implements the CalDAV server and the calendar rework is just a caldav web client accessing it.

To cut a long story short, just access the calendar data via CalDAV, there is no PHP API

[2016-02-24 21:50] #1038 closed

[2016-02-25 14:55] georgehrke commented on #1037
we can just publish the releases in the old versions in the rework repo.
Regarding the git stable branches: There are test files in there, they are simply not supposed for production.

[2016-02-25 15:11] tomneedham opened #235 "Sharing button hidden when using an adblocker"
### Steps to reproduce
1. Hover over a calendar
### Expected behaviour

Should see share icon
![screen shot 2016-02-25 at 15 01 05](https://cloud.githubusercontent.com/assets/660805/13323576/ff4724b4-dbd1-11e5-85d3-dc9839bedad5.png)
### Actual behaviour

Isnt shown
![screen shot 2016-02-25 at 15 00 53](https://cloud.githubusercontent.com/assets/660805/13323580/045d9406-dbd2-11e5-9f0f-faeb4c044501.

[2016-02-25 19:03] #234 closed, assigned to jancborchardt

[2016-02-26 10:24] grep-i commented on #1030
I met the same problem.
Owncloud 8.1.5, php 5.5u, calendar 0.6.6
Fresh install.
user_ldap module enable.

While sharing with "cant edit", i receive "Error while changing permissions".
If repeat operation - it will be ok.

[2016-02-27 10:50] georgehrke opened #245 "make sure user can not set dtend to something earlier than dtstart"

[2016-02-27 12:57] #165 closed, assigned to nobody

[2016-02-28 12:00] #161 closed, assigned to georgehrke

[2016-02-28 12:01] #232 closed, assigned to georgehrke

[2016-02-28 12:02] #204 closed, assigned to georgehrke

[2016-02-28 12:06] #168 closed, assigned to georgehrke

[2016-02-28 12:06] #228 closed, assigned to georgehrke

[2016-02-28 12:06] #196 closed, assigned to georgehrke

[2016-02-28 12:08] #213 closed, assigned to georgehrke

[2016-02-28 14:16] raimund-schluessler opened #246 "Cannot create event"
oC latest master (https://github.com/owncloud/core/commit/a39332832c3926929a245275717391e8f5b00ca7)
calendar-rework latest master (38f41474d4015da74b820398a943fde78a808f6b)
### Steps to reproduce
1. Install oC and calendar-rework
2. Create a calendar (if none exists)
3. Try to create an event by clicking in the fullcalendar view
### Expected behaviour

The editor should open and allow me to create

[2016-02-28 14:39] stefan-langenmaier commented on #1030
Same error message here when sharing with "Can edit" the message "Error while changing permissions" is displayed.

After a reload the option "Can edit" is not set but when tried again it works. The other account is able to see the event.

Now there is a second problem. When the other account modifies the shared event is disappears from the original accounts calendar.

I'm on owncloud 8.2.2 with my

[2016-02-28 19:06] #246 closed, assigned to nobody

[2016-02-29 11:36] lefablab opened #1040 "recurring tasks / Lightning (Mozilla Thunderbird)"
Hello,
Bug this morning by loading tasks owncloud via caldav on Thunderbird (Lightning 4.0.5.2): recurring tasks (eg weekly) appear as many times as there are weeks since the task was registered . This problem may be related to February 29?

[2016-02-29 12:57] #220 closed, assigned to georgehrke

[2016-02-29 14:04] DeepDiver1975 commented on #1037
okay - contacts just git successfully moved to the archive organization - let's see what we can do here ...

[2016-02-29 15:57] georgehrke opened #249 "MAILTO: is missing when adding attendees by email address manually"

[2016-02-29 16:51] RealRancor commented on #1037
Just make sure that it is clear that both, the new contacts and calendar repositories are both for the rewrite. If that's not clear you will still get new issues for the old apps ending up there.

[2016-02-29 17:06] DeepDiver1975 commented on #1037
THX for the pointer - we should state this clearly in the readme as well as the issue template

[2016-02-29 17:28] georgehrke commented on #1037
I will copy over the old releases.

[2016-02-29 17:31] georgehrke commented on #1037
Or do we simply want to point apps.owncloud.com to owncloudarchive/calendar ?

[2016-02-29 17:38] georgehrke commented on #1037
@karlitschek @cmonteroluque please update your build scripts. :)
The calendar and the contacts repo won't have stable* branches anymore. Furthermore I think applying the core tags to these repos is not necessary anymore.

[2016-02-29 17:54] DeepDiver1975 commented on #1037
I will simply point to owncloudarchive

[2016-02-29 17:55] georgehrke commented on #1037
awesome thx!

[2016-02-29 17:57] lefablab commented on #1040
After some tests, it seems that the bug came from the Thunderbird configuration. So problem solved for me.

[2016-02-29 17:57] #1040 closed

[2016-02-29 18:19] karlitschek commented on #1037
This is most likely fine. The calendar is no longer in 8.x and newer. And 7 is out of support in the next few weeks. So this is fine probably.

[2016-02-29 18:27] vanMacG opened #250 "Firefox style bugs"
I found two style bugs in Firefox. I used the current version 44.0.2.
For reference "as it should be" I included images from Chrome (Opera is also ok).
Calendar is release: Version 1.0 alpha 2
ownCloud: 9.0.0 beta 2 (testing)

First there are scrolling-buttins right to the calender name:
FF: ![cal1](https://cloud.githubusercontent.com/assets/8269814/13404413/c8828dc4-df19-11e5-9533-0996bb30e5cc.PN

[2016-02-29 18:32] #250 closed, assigned to nobody

[2016-02-29 21:31] operat opened #1041 "time shift/offset problem after import"
When I import an .ics file (exported from an other ownCloud instance) into the Calendar app in ownCloud v8.2.2, all entries' times are shifted by +1 hour.

Here's a sample time stamp from one entry in the file (all follow the same pattern):

[code]

In OC Calendar app this is shown as _"20.00 – 22.00"_.

When I sync this calendar with my desktop e-mail/calendar client, using WebDAV, then all entri

[2016-02-29 21:32] operat commented on #1041
I seem to have found a workaround: In the .ics file I replaced every "TZID=/freeassociation.sourceforge.net/Tzfile/Europe/Berlin" with a "TZID=Europe/Berlin", so that the DTSTART and DTEND lines for every entry look like this:

[code]

Now, when I upload the modified file to OC 8 Calendar app everything works just fine. Now, also the times in the connected desktop client are correct.

Seems as if

[2016-03-01 00:37] AbdealiJK commented on #1
You may want to use https://github-issue-mover.appspot.com/ which would help move the remaining issues over to this repo (it works great)

[2016-03-01 06:32] gvde commented on #1041
/freeassociation.sourceforge.net/Tzfile/Europe/Berlin is no useful timezone definition. It's broken to begin with. Importing something broken can always cause unexpected results. Fix the file before import.

[2016-03-01 07:56] DeepDiver1975 commented on #1037
done

[2016-03-01 07:56] #1037 closed

[2016-03-01 07:57] DeepDiver1975 commented on #1
we should close the issues in the apps repo

[2016-03-01 07:57] #1 closed

[2016-03-01 08:01] georgehrke opened #252 "UNDO for deleting calendars"

[2016-03-01 08:02] georgehrke opened #253 "UNDO for deleting events"

[2016-03-01 08:07] georgehrke commented on #1037
thx :)

[2016-03-01 09:08] timorei opened #254 "sharing calendars publicly via link"
It's more of a feature request, that was once available (was it 4.something) but got lost when the sharing was refactored.

A feature very usefull for i.e. local soccer groups, firedepartments, communities, school-events,...

Ideal would be a way to generate multiple links for sharing per calendar - diversifying on permissions:

| Calendar | Public Reading | Public Editing | _ |
| --- | --- | ---

[2016-03-01 09:09] georgehrke commented on #254
dup of https://github.com/owncloud/core/issues/22735

[2016-03-01 09:09] #254 closed, assigned to nobody

[2016-03-02 10:01] DeepDiver1975 commented on #101
@jeffrobo all your code changes seem to be targeting the old calendar app which is discontinued.

With 9.0 we will deliver a different approach where caldav and carddav live in core and the apps (calendar and contacts) are pure javascript clients.

Search will be implemented using CalDAV search functionalities as specified by the rfc.

I hope this helps. Cheers

[2016-03-02 12:40] georgehrke commented on #101
@jeffrobo Please refrain from posting hundreds of lines of code in issues. Please outsource them to [gists](https://gist.github.com) in the future.
Thx! :)

[2016-03-02 15:13] georgehrke opened #258 "calendar shows legacy caldav links (remote.php/caldav)"

[2016-03-02 16:20] georgehrke commented on #258
@DeepDiver1975 Just to be sure, are these urls correct?

`/remote.php/dav/calendars/<username>/`
and
`/remote.php/dav/principals/users/<username>/`

[2016-03-02 21:12] georgehrke commented on #205
ping @icewind1991

[2016-03-02 21:22] georgehrke commented on #205
might be related to this issue, not entirely sure though
https://github.com/tchwork/jsqueeze/blob/074a7ac403d1fae262fd662c43c04b62d71c3e50/tests/test/infinite.js.xfail

[2016-03-02 21:26] georgehrke commented on #205
Just for the record:
<img width="895" alt="calendar - owncloud chromium today at 10 26 16 pm" src="https://cloud.githubusercontent.com/assets/1250540/13475958/d4e11b96-e0c5-11e5-9f43-cbc863202e25.png">

[2016-03-02 21:28] georgehrke commented on #205
How to handle this issue?

Detect inside the ViewController if `asset-pipeline.enabled` is enabled and display an error page to the user, asking them to contact their admin to disable this config property?

cc @DeepDiver1975

[2016-03-02 21:33] georgehrke commented on #205
It's very confusing that it fails here and not earlier already
https://github.com/owncloud/calendar/blob/master/js/vendor/ical.js/build/ical.js#L2576

[2016-03-02 21:38] georgehrke commented on #205
Sorry, it fails here already.
https://github.com/owncloud/calendar/blob/master/js/vendor/ical.js/build/ical.js#L2067

That's the very first occurrence of `get name()`, so there seems to be a bug for this distinct piece of code.
Will report a bug later this week.
Anyway, it's too late to update this lib for ownCloud 9.0.0, how to mitigate this issue in the meantime?

[2016-03-03 13:33] georgehrke opened #260 "add ocsid if necessary"

[2016-03-03 14:52] csware opened #1042 "Emoticon in calendar event causes parse error"
I don't know if this is the right place and this affects the calendar. However, https://github.com/owncloud/calendar removed all old issues and is now only for the new calendar of 9.x - also there is stated, that I should report it here.

### Steps to reproduce
1. Create a new calendar, and mount it on an iPhone
2. use an iPhone and create a new entry which has an emoticon (in e.g., the location)

[2016-03-03 14:55] DeepDiver1975 commented on #260
should be the same - https://github.com/owncloudarchive/calendar/blob/master/appinfo/info.xml#L23

[2016-03-03 15:15] RealRancor commented on #1042
Might be related or even duplicating the existing issues about emoticons here: https://github.com/owncloudarchive/calendar/issues/198

Keep in mind that this app is now unmaintained so you probably won't get an fix for this.

[2016-03-03 16:32] DeepDiver1975 commented on #1042
the problem is the mysql database where we use a 3byte charset - this might get fixed with oc9.1

[2016-03-03 17:44] LukasReschke opened #261 "Consider signing the application"
You might want to consider signing the application when uploading to the appstore. Uploaded release balls on GitHub can everybody modify :see_no_evil: :speak_no_evil: :hear_no_evil:

It would be an additional step before TAR'ing, see https://doc.owncloud.org/server/9.0/developer_manual/app/code_signing.html#how-to-get-your-app-signed on how to request a certificate.

[2016-03-03 18:20] csware commented on #1042
I'm unsure whether its MySQLs fault. When I copy the file into the database using phpMyAdmin it works, the entry is fully displayed and the calender works.

[2016-03-04 09:34] georgehrke commented on #261
`openssl req -nodes -newkey rsa:2048 -keyout contacts.key -out contacts.csr -subj "/CN=contacts"`

@LukasReschke Can I also use 4096 or is there any limitation in core why I shouldn't do this?

[2016-03-04 09:37] LukasReschke commented on #261
Should also work :)

[2016-03-04 11:17] nksupport commented on #223
Hi Georg! I moved from Google Drive to OwnCloud 8 last year and the last part to be done is the calendar - been waiting for implementation of https://github.com/owncloud/apps/issues/23 and https://github.com/owncloudarchive/calendar/issues/1005. It's quite a useful feature in my workflow and importing recurring events from Google still doesn't work as of today. If you modified one event out of the

[2016-03-04 11:29] georgehrke commented on #261
https://github.com/owncloud/appstore-issues/issues/48

[2016-03-04 19:52] #261 closed, assigned to nobody

[2016-03-05 06:39] MeCias opened #263 "The possibility to open / import ics files over the Files app"
Hi,

that was available in the old version of the calendar and would be nice to have it again

Thanks in advance

[2016-03-05 09:23] BernhardPosselt opened #264 "When upgrading from older versions to the built in stuff in 9.0, all previous calendars are lost"
Either refuse the upgrade if older installs are present or migrate the old calendars using appinfo/updrade.php

[2016-03-05 11:39] georgehrke commented on #264
Everything migration is now done in core.

[2016-03-05 11:39] #264 closed, assigned to nobody

[2016-03-05 11:44] georgehrke commented on #258
ping @DeepDiver1975

[2016-03-05 12:05] BernhardPosselt commented on #264
Core does not migrate previous calendars however

[2016-03-05 12:06] georgehrke commented on #264
if that's the case, please create a bug report in core ;)
thx

[2016-03-05 12:17] BernhardPosselt commented on #264
https://github.com/owncloud/core/issues/22883

[2016-03-05 12:28] georgehrke commented on #258
the old one just points to `/remote.php/caldav/`, so I'll just point the new one to `/remote.php/dav/`

[2016-03-05 12:31] georgehrke opened #269 "provide config profiles for OS X and iOS"

[2016-03-05 12:33] georgehrke opened #270 "Remove all the console.log"

[2016-03-05 12:43] #249 closed, assigned to nobody

[2016-03-05 16:26] qwerty123443 commented on #159
the link for the old calendar in the readme still points to [https://github.com/owncloud/calendar](https://github.com/owncloud/calendar) while it should point to [https://github.com/owncloudarchive/calendar](https://github.com/owncloudarchive/calendar)

[2016-03-05 16:29] aspdye commented on #159
@qwerty123443 Take a look into #267 ;) Links will be fixed there. I think there is no need to fix the README.md in the old "archive"-repositories for now - other things are more important now.

[2016-03-05 20:34] ronnicek commented on #215
Hi,

I was checking new contact & calendar apps from @enoch85 site (https://owncloudphp7.techandme.se) and it would be great if calendar share feature can look into contact app for contacts and also if you can share it directly when you are creating event :)

[2016-03-05 21:10] enoch85 commented on #215
@ronnicek FYI, that's the old calendar and contacts app. If you want to try the new one, download the beta VM: https://www.techandme.se/pre-configured-owncloud-installaton/

[2016-03-05 21:24] georgehrke opened #272 "lazy load timezones at rendering when not found"

[2016-03-05 21:24] georgehrke commented on #235
@tomneedham What's the status on this one?

[2016-03-05 21:26] tomneedham commented on #235
It's due to the 'icon-class'. Not sure why this isn't picked up in core, as the rules are basically checking for anything with .icon-class.

[2016-03-05 21:27] georgehrke commented on #235
ok, let's move this to 1.1 and tell people to disable their adblocker for ownCloud in the meantime

[2016-03-05 21:41] georgehrke opened #273 "remove /v1/timezones/index.json as it's not used anymore"

[2016-03-05 23:07] enoch85 commented on #215
@ronnicek Ok, so I updated the live demo so that it now contains the latest apps (calendar alpha2) and OC 9. Feel free to test! :) https://owncloudphp7.techandme.se
USER: testuser
PASS: testingphp7

[2016-03-06 01:33] georgehrke commented on #130
@raghunayyar

[2016-03-06 02:23] georgehrke commented on #272
no, we don't

[2016-03-06 16:50] skuegler commented on #983
Just for your information: The latest update of calendar-app (0.6.7) does not solve the problems. Currently, I still can't see all of my calendars on my iPad.

[2016-03-06 17:12] #273 closed, assigned to georgehrke

[2016-03-06 17:12] #260 closed, assigned to georgehrke

[2016-03-06 19:37] #258 closed, assigned to georgehrke

[2016-03-06 22:11] georgehrke commented on #245
I'm not happy about this but we have to move this to 1.1

The good thing: fullcalendar will still display the event, if event if ends before it starts, so it's not "lost"

[2016-03-07 16:33] #141 closed, assigned to georgehrke

[2016-03-07 17:10] #159 closed, assigned to nobody

[2016-03-07 17:53] #2 closed, assigned to georgehrke

[2016-03-07 17:53] #270 closed, assigned to georgehrke

[2016-03-07 17:59] stp-ip opened #282 "Cancelling an event will remove previous events from current session."
### Steps to reproduce
1. Create an event and save
2. Create an event, but cancel
3. See both events being gone
### Expected behaviour

The first event should still be available.
### Actual behaviour

Both events get killed.
### Server configuration

**Operating system**: Ubuntu 14.04.04 LTS

**Web server:** Apache 2.4.10

**Database:** MySQL

**PHP version:** 5.4

**ownCloud version:** 9.0.0-RC3

[2016-03-07 18:02] georgehrke commented on #282
not reproducible on latest master, most likely fixed.
Please speak up if it's not fixed in the stable version which will be released later today

[2016-03-07 18:03] #282 closed, assigned to nobody

[2016-03-07 18:04] georgehrke commented on #263
@jancborchardt What do you think about this?

[2016-03-07 18:19] mmattel opened #283 "calender behaves like beeing dead, ownCloud 9.1.0 pre alpha (git)"
#
### Steps to reproduce
1. updated core master to commit 0487b54
2. enable calendar
3. click at apps to calendar to start it
### Expected behaviour

The calendar should be usable
### Actual behaviour

calendar is totally dead, can only go back with the browser.
![image](https://cloud.githubusercontent.com/assets/3321281/13578589/2c2781b6-e499-11e5-9e20-1b0320bd5736.png)
### Server configuration

[2016-03-07 18:22] georgehrke commented on #283
There is no such commit in the calendar

[2016-03-07 18:24] georgehrke commented on #283
and please post your config.php as requested in the template ...
There is a reason it's in there ;)

[2016-03-07 18:25] georgehrke commented on #283
Furthermore Opera is not supported.I won't fix this if it only appears in Opera

[2016-03-07 18:42] mmattel commented on #283
@georgehrke
sorry, I meant core master.
Tried with IE 11, same behaviour.
I updated the issue with the missing data.

[2016-03-07 18:44] georgehrke commented on #283
This option is not supported, master of the calendar shows an error message when this option is enabled

Internet Explorer is not supported either ^^
We aim to support Firefox, Safari and Chrome.

[2016-03-07 18:44] #283 closed, assigned to nobody

[2016-03-07 18:45] georgehrke commented on #283
dup of https://github.com/owncloud/calendar/issues/205

[2016-03-07 18:55] mmattel commented on #283
Chrome doesn´t work either (updated above).
Note: Opear always worked.
There is as described no error message logged.
The old calendar worked btw having `"asset-pipeline.enabled": true` set.
The documentation does not say anything about having this disabled for using the calendar.
IMHO a no go, makes the calendar unusable for oC 9.0
Not personal, but disapointing...

[2016-03-07 18:59] georgehrke commented on #283
this is an upstream issue, not something we can fix easily

[2016-03-07 19:05] georgehrke commented on #283
If you would have tested the calendar earlier, we might have been able to discover this earlier than just one day before the release ...
As a developer I can't test every single option from core and there is a reason why we have pre release versions

[2016-03-07 19:20] mmattel commented on #283
Hopefully you find a way.
Just to say, but merged PR #268 did not show up anything on my system. Nor on the browser or in the logs. I would have recognized that.
Having asset-pipelining disabled, makes the calendar working. Chrome, Opera, IE11.
Using asset-pipelining improves performance greatly, that´s what it has been built for.
I remember once a issue with the updater app with the same backgrou

[2016-03-07 22:10] MeCias opened #286 "Code integrity issues"
Hi,

I updated with OC9RC2 to calendar version 1.0 where I got the "There were problems with the code integrity check. " message. I updated then to OC9RC3 but the message stayed.

I read the documentation, but it is not clear to me if I can fix it myself or do I have to wait for an updated calendar app or even an updated OC9 version. The rescan did nothing in my case.

List of invalid files…

[cod

[2016-03-07 22:25] georgehrke commented on #286
cc @LukasReschke

[2016-03-07 22:27] georgehrke commented on #286
@MeCias please use the issue template ...

[2016-03-07 22:30] georgehrke commented on #286
@MeCias How did you install the app? App store or did you download it from github?

[2016-03-07 22:37] georgehrke commented on #286
What exactly did you do to get the output?

[2016-03-07 22:53] enoch85 opened #287 "New events show up even though calendar is hidden"
### Steps to reproduce
1. Create a new event
2. Hit save
3. Go to files app
4. Go to calendar app
### Expected behaviour

Events should be there
### Actual behaviour

No events are saved
### Server configuration

**Operating system**:
Ubuntu Server 14.04

**Web server:**
Apache 2.4
**Database:**
MySQL 5.6
**PHP version:**
7.0 (deb sury)
**ownCloud version:** (see ownCloud admin page)
9.0.0RC3
**Ca

[2016-03-07 22:56] enoch85 commented on #287
SQL table: https://en0ch.se/index.php/s/nEZEzFJqOCmcKjW

[2016-03-07 23:10] georgehrke commented on #205
reported the issue upstream: https://github.com/tchwork/jsqueeze/issues/39

[2016-03-08 06:55] MeCias commented on #286
### Steps to reproduce
1. I updated the calendar by overwriting all old calendar files with version 1.0 on RC2
2. Then Update to RC3
3. Afterwards using the calendar app from the app store and I removed the old calendar folder before I uploaded the new one from the app store.

### Expected behaviour

Tell should be no code integrity issue

### Actual behaviour

There is the note about code integri

[2016-03-08 06:56] MeCias commented on #286
I used first the version from git and afterwards that one from the app store

[2016-03-08 07:00] MeCias commented on #286
If you talking about the Technical information output then I just followed the links under "Security & setup warnings" in the admin page.

![screen](https://cloud.githubusercontent.com/assets/4476171/13594319/ad2dc274-e503-11e5-84a9-02615a445359.jpg)

[2016-03-08 11:11] georgehrke commented on #287
Your browser will send a request to the server right after you hit save.
Can you please post Request Headers, Request Payload, Response Headers and Response Payload of this request.

[2016-03-08 12:24] benginoe opened #288 "Import function not visible"
Importicon is not visible in webview
### Server configuration

**Operating system**:CentOS7

**Web server:**Plesk Apache2

**Database:**Mysql/Sql

**PHP version:** 5.6.18/7.0.3

**ownCloud version:** (see ownCloud admin page)
ownCloud 9.1.0 pre alpha (daily) Build:2016-03-08T04:41:41+00:00 9f0711004f0574d5373574f8a1dc49552c3568e3
//
ownCloud 8.2.2 (beta)

**Calendar version:** (see ownCloud apps p

[2016-03-08 12:25] georgehrke commented on #288
Please fill out the entire issue template ....
What are the exact reproduction steps, what browser do you use, etc ...

[2016-03-08 12:31] LukasReschke commented on #286
From https://github.com/owncloud/calendar/releases/download/v1.0/calendar.tar.gz:

[code]

So it seems like the files you have are invalid. Can you TAR or ZIP your calendar app folder somewhere and upload it for us? THX

[2016-03-08 13:41] enoch85 commented on #287
Is this what you mean?

[code]

**Second request:**

[code]

**Cookies**

[code]

[2016-03-08 13:59] georgehrke commented on #287
Okay, this looks alright. Can you post the request that's being made, when you change one month forward? (If you have multiple calendars, It'll send multiple requests. only once request is necessary)
thx

[2016-03-08 14:06] enoch85 commented on #287
LOL! I had forgot to check the default calendar, and when I checked it all my events were there. Sorry for noise.

[2016-03-08 14:10] enoch85 commented on #216
No, not a duplicate. What I mean is that it should add one hour automatically once you create the event.

[2016-03-08 14:14] georgehrke commented on #287
Haha, ok
Glad it's resolved :)

[2016-03-08 14:17] georgehrke commented on #216
Hm, so the scenario is the following:
- You are in the month view and select a day
- By default it's allday, but you want it to be at a specific time
- you remove the allday checkbox and now start and end are both 12am
- instead the end should be 1am

Is this correct?

[2016-03-08 14:26] jancborchardt opened #289 "Calendar name »contact_birthdays«"
Should be called »Contact birthdays«, without technical underscore and properly capitalized.

[2016-03-08 14:27] jancborchardt opened #290 "Show calendar-loading spinner only after 3 seconds passed"
When enabling the calendar, a small spinner shows left of it (where the color also is displayed). This is unnecessarily twitchy. Instead, the color should show up immediately.

[2016-03-08 14:29] enoch85 opened #291 "Pre-enable default calendar"
[It was a bit confusing](https://github.com/owncloud/calendar/issues/287) before I realized that I had to choose the default calendar to show all the events.

It would be better it it was selected per default.

[2016-03-08 14:31] georgehrke commented on #291
Definitely!

[2016-03-08 14:33] georgehrke commented on #290
Well, this spinner is actually used to show, that the events are still loading.
As soon as the events are loaded, the spinner will disappear

[2016-03-08 14:35] georgehrke commented on #289
I think this should be fixed in core, as it's the place where this calendar is generated.

@DeepDiver1975 Do you agree?

[2016-03-08 14:38] enoch85 commented on #216
Yes. correct. :)

[2016-03-08 14:38] georgehrke commented on #216
ok, definitely makes sense :)

[2016-03-08 14:43] georgehrke commented on #289
We would just have to add `'displayname' => $this->l10n->t('Contact Birthdays')` to the array in https://github.com/owncloud/core/blob/ffc29503939ae34338108a50aaaba20e1ec1ad75/apps/dav/lib/caldav/birthdayservice.php#L54

Maybe add http://graphemica.com/🎂 in front of it

[2016-03-08 14:50] jancborchardt opened #292 "use email address from user object"
In the `div ui-calendar="uiConfig.calendar" id="fullcalendar"` there is an attribute: `data-emailaddress="jan@example.com"`

If anything, the correct email address should be taken from settings. :)

[2016-03-08 14:53] georgehrke commented on #292
The email address comes straight from the personal settings:
https://github.com/owncloud/calendar/blob/master/controller/viewcontroller.php#L77

[2016-03-08 15:01] georgehrke commented on #292
We should definitely use the proper user method in the future, but it's accessing the very same property already.

https://github.com/owncloud/core/blob/master/lib/private/user/user.php#L333

[2016-03-08 15:03] georgehrke commented on #292
- [ ] use `$user->getEMailAddress();` instead of accessing the settings property

[2016-03-08 15:03] jancborchardt opened #293 "Cut leading zeros for single-digit days in datepicker"
In the top left datepicker, the single-digit days should not have leading zeros.

[2016-03-08 15:04] jancborchardt opened #294 "Cut leading zeros for single-digit times in agenda views"

[2016-03-08 15:10] georgehrke commented on #287
Actually there is a bug here:
- [ ] Don't show created events, if calendar is hidden

[2016-03-08 15:19] jancborchardt opened #295 "Contact birthday calendar pushes itself as primary calendar"
The contact birthday calendar seems to take precedence over the default »Personal« calendar. This should never happen. In the list as well as in the new event select dropdown, it should always be the last one.

[2016-03-08 15:21] georgehrke commented on #295
Should the birthday calendar be writable at all?

[2016-03-08 15:25] jancborchardt commented on #295
Probably not, right.

[2016-03-08 15:27] jancborchardt commented on #263
It’s a fun addition, but not a big priority. Import in the calendar app is the important part, which already exists.

[2016-03-08 15:27] georgehrke commented on #295
@DeepDiver1975 Is it (easily) possible make the birthday calendar read-only?
Do you want me to create an issue?

[2016-03-08 15:27] jancborchardt commented on #291
Very important! Setting to priority.

[2016-03-08 15:28] jancborchardt commented on #288
@benginoe do you mean that the Settings area in the bottom left needs to be expanded first?

[2016-03-08 15:29] jancborchardt commented on #202
Fixed via my pull request https://github.com/owncloud/calendar/pull/296 – please review.

[2016-03-08 15:35] georgehrke commented on #291
I will check if it's easier to fix in the server, we should also set a default color

[2016-03-08 15:41] jancborchardt commented on #289
Don’t worry about an icon. But the capitalization should be correct – only capitalize the first word: »Contact birthdays«.

[2016-03-08 15:42] jancborchardt commented on #289
For 9.0 we can’t fix it in core anymore. A way to overwrite it from the Calendar app?

[2016-03-08 15:59] georgehrke commented on #289
Well, I would consider it a bugfix, so it should go into 9.0.1.

There are ways to overwrite it from the calendar app, but in contrast to the server, we don't know if it's a calendar created by a user who called it contact_birthdays or if it's the actual birthday calendar generated by the server. Guessing around when modifying user-data is never good.

Also the next update (1.1) is planned for ear

[2016-03-08 16:01] benginoe commented on #288
@georgehrke issue was updated ...

@jancborchardt oh yes -.-' but thats missing in earlier versions for 8.2.x ...

anyway ticket can be closed ...

thx

[2016-03-08 16:02] #288 closed, assigned to nobody

[2016-03-08 16:50] MeCias commented on #286
The strange thing is that even if I switch off the two additional apps contacts and calendar the message is still there.

Here you find the [calendar as a zip](http://s000.tinyupload.com/index.php?file_id=97032200637156177783) file, but I am honestly not sure if that was the git or app store version that I used at the end.

I Probably start over with the RC3 and the two last versions of calendar a

[2016-03-08 16:59] LukasReschke commented on #286
That is strange. It seems to contain the correct files :scream:

Can you retry with the final release and the apps from the appstore?

[2016-03-08 17:02] MeCias commented on #286
What just worked, I removed the calendar over the app store. Did a rescan, but the message was still there. Then I enabled again the calendar over the app store and did again a rescan. Now the message is gone. I am a bit confused now, because that was the same what I did yesterday but the error message was still there.

[2016-03-08 19:08] doits opened #298 "Contact birthdays of untouched contacts not displayed in calendar"
### Steps to reproduce
1. Install owncloud 9.0
2. Go to the calendar app
3. Enable contact_birthdays calendar
### Expected behaviour

Display all contact's birthday entries
### Actual behaviour

No birthdays are displayed.

When I edit the birthday of a contact, it finally gets display. But already existing entries are not displayed until I edit the birthday.
### Server configuration

**Operating

[2016-03-08 20:21] georgehrke commented on #298
Please reopen this issue in the core repo. Thx :)

Please excuse my brevity and typos.
Sent from my mobile

Please excuse my brevity and typos.
Sent from my mobile

[2016-03-08 20:24] LukasReschke commented on #286
Yeah. It's not really able yet to handle situations properly where one switches from different branches.

[2016-03-08 20:24] #286 closed, assigned to nobody

[2016-03-08 20:51] #298 closed, assigned to nobody

[2016-03-09 01:01] blizzz opened #299 "Cannot scroll subscriptions in sidebar"
### Steps to reproduce
1. Have OC 9, migration successful, and calendars shared to you
2. Go to Calendars
3. Scroll down subscriptions in the left sidebar in order to enable them
### Expected behaviour

All calendars shared to me do appear
### Actual behaviour

At least one is not visible.
### Server configuration

**Operating system**: Ubuntu 14.04

**Web server:** Apache2

**Database:** MySQL

*

[2016-03-09 07:53] aspdye commented on #101
Could help: owncloud/contacts#164

[2016-03-09 09:17] georgehrke commented on #299
@blizzz Can you check if this is fixed in https://github.com/owncloud/calendar/pull/296 please :)

[2016-03-09 09:34] georgehrke opened #300 "use ng-model-options="{ getterSetter: true }" instead of current approach in CalendarModel"

[2016-03-09 10:25] scheisserchen65 opened #301 "No zero after colon at full hour"
### Steps to reproduce
1. Have OC 9
2. goto calendars
3. make a new entry with a time at full hour
### Server configuration

**Operating system**: Ubuntu 14.04

**Web server:** Apache2

**Database:** MySQL

**PHP version:** 5.5.9

**ownCloud version:** 9.0.0

**Calendar version:** 1.0

**Updated from an older ownCloud or fresh install:** updated

**Signing status (ownCloud 9.0 and above):** awesom

[2016-03-09 10:26] georgehrke commented on #301
please use the issue template, there is more than one place, where we display the time ;)

[2016-03-09 10:29] #300 closed, assigned to nobody

[2016-03-09 10:29] georgehrke commented on #300
never mind

[2016-03-09 10:33] georgehrke commented on #101
Nope, it doesn't ;)

[2016-03-09 10:33] scheisserchen65 opened #302 "Wrong position for button 'new calendar'"
### Steps to reproduce
1. Have OC 9
2. goto calendars
3. look at the left side
### Server configuration

**Operating system**: Ubuntu 14.04

**Web server:** Apache2

**Database:** MySQL

**PHP version:** 5.5.9

**ownCloud version:** 9.0.0

**Calendar version:** 1.0

**Updated from an older ownCloud or fresh install:** updated

**Signing status (ownCloud 9.0 and above):** awesome

**List of activat

[2016-03-09 10:34] georgehrke commented on #302
seriously, please use the issue template ...

[2016-03-09 10:39] georgehrke commented on #302
Bitte verwende das gesamte (!) issue template.
Mit den beiden Bugreports in ihrer aktuellen Art kann man absolut nichts anfangen und es gibt einen Grund, warum das issue template von vornherein in dem Feld ist ;)

[2016-03-09 10:43] aspdye commented on #101
:cry:

[2016-03-09 10:45] georgehrke commented on #101
The pr you referred to just searches in all the contacts it already loaded and doesn't integrate with the ownCloud search in the top right corner.
Loading all events isn't an option for us, we need to send "search requests" to the caldav server, that's a bit more complex.

[2016-03-09 10:47] aspdye commented on #101
How have we done this in ownCloud 8? With 8.1 this function was lost :unamused: ...but why is it so hard to bring it back :question:

[2016-03-09 10:50] georgehrke commented on #101
Prior to ownCloud 8.1 we had this implemented in PHP.
AFAIK we need to implement it with JavaScript in ownCloud 8.1 and later.

Also the PHP code from ownCloud 8.0 won't work anymore, because we rewrote the entire app.

But there is a milestone assigned to it, so you can expect it in May. :)

[2016-03-09 11:15] blizzz commented on #299
@georgehrke yes, looks like it fixes it! :)

[2016-03-09 11:45] georgehrke commented on #301
Considering https://github.com/owncloud/calendar/issues/302, the used local seems to be german

[2016-03-09 13:41] onny opened #303 "Fallback to UTC and show error when defaulttimezone not found"
### Steps to reproduce
1. Upgraded owncloud
2. Enable calendar app
3. Go to the calendar app and try to activate calendar
### Expected behaviour

Events should be displayed of the enabled calendar
### Actual behaviour

Spinning wheel keeps spinning but no events are displayed. Its possible to create and delte new calendars but they are also unresponsive and unusable. Further its not possible to cr

[2016-03-09 13:49] georgehrke commented on #303
Can you please execute the following in the javascript console and tell us the result?

[code]

[2016-03-09 14:12] onny commented on #303
[code]

[2016-03-09 14:13] georgehrke commented on #303
Okay, that's strange. (Nevertheless the calendar should catch this error and not silently fail)

What's your system's timezone?

[2016-03-09 14:17] onny commented on #303
date +%Z local:

[code]

and on the server

[code]

[2016-03-09 14:19] georgehrke commented on #303
Ok, will look into it, should be fixed with version 1.1.

You can mitigate this in the meantime by setting your local timezone to a proper Olson timezone like `Europe/Berlin`

[2016-03-09 14:20] georgehrke commented on #303
- [ ] Fallback to UTC and show error when defaulttimezone not found
- [ ] add alias from `Etc/UTC` to `UTC`

[2016-03-09 16:04] ghost commented on #295
There was a feature request and a pull request to support reminders at the birthday calendar for the old calendar app. (can't find them currently). This would need a write able birthday calendar to delay and dismiss a reminder of a birthday.

[2016-03-09 16:07] georgehrke commented on #295
ok, if we don't make it read-only, we can set the order to 1000 or so

[2016-03-09 16:11] georgehrke commented on #295
The problem is that upon editing a contact the birthday event will be regenerated and any previously added alarm would be lost.

@DeepDiver1975 Is this correct?

[2016-03-09 16:24] ghost commented on #295
Ok, found the PR: https://github.com/owncloudarchive/contacts/pull/440

Just to consider if the birthday calendar should be made read-only. The feature itself is out of scope of this discussion.

[2016-03-09 16:47] DeepDiver1975 commented on #295
it should already be readonly - if not please open a bug in core - THX

[2016-03-09 16:48] georgehrke commented on #295
will test again to make sure and report a bug if necessary

[2016-03-09 16:55] georgehrke commented on #295
Follow up Issue in core: https://github.com/owncloud/core/issues/23046

[2016-03-09 16:55] #295 closed, assigned to nobody

[2016-03-09 17:05] georgehrke commented on #291
When loading the calendar for the first time the property that describes the visibility for the default calendar is neither true nor false but null.

Currently null is also interpreted as false.

@jancborchardt What do you think about the following?
If the calendar is owned by the user null should be interpreted as true.
If the calendar is shared from another user null should be interpreted as fal

[2016-03-09 19:49] untitaker commented on #935
FWIW this is no longer a problem with the new calendar app in ownCloud 9, but I'm leaving this open anyway.

[2016-03-09 20:46] georgehrke opened #304 "slim down eventssidebarcontroller by ..."
... outsourcing Attendees, Reminders and Repeating into dedicated controllers.

[2016-03-09 22:05] koehn opened #305 "Calendar doesn't show up under "Not Enabled" apps"
### Steps to reproduce
1. Log into OC9
2. Go to "Apps" "Not Enabled" (`/index.php/settings/apps?category=disabled`)
3. Don't see "Calendar" in list (or Contacts)
### Expected behaviour

Expected to see Calendar as available to install (Contacts, too)
### Actual behaviour

Don't see it.
### Server configuration

**Operating system**:
Ubuntu 14.04

**Web server:**
Apache 2.4.18

**Database:**
MariaD

[2016-03-09 22:07] georgehrke commented on #305
It's in the productivity section

[2016-03-09 22:07] #305 closed, assigned to nobody

[2016-03-09 22:08] koehn commented on #305
What does that mean? I don't see a "Productivity Section"

[2016-03-09 22:10] koehn commented on #305
<img width="872" alt="screen shot 2016-03-09 at 4 10 19 pm" src="https://cloud.githubusercontent.com/assets/583888/13652377/7b5b34c0-e611-11e5-95ac-0afb8c07afed.png">

[2016-03-09 22:11] georgehrke commented on #305
<img width="1440" alt="apps_-_owncloud_chromium__today_at_11_08_41_pm" src="https://cloud.githubusercontent.com/assets/1250540/13652369/20ad5720-e64c-11e5-9329-81db5735a136.png">

If you see none of the sections other than enabled and disabled, you need to check your installation.
It's not setup correctly to access the app store.
Maybe it can't access the internet?

Please see the admin manual

[2016-03-09 22:40] LukasReschke commented on #305
Don't copy the sample configuration. This is an old endpoint and you should **not** copy entries from any sample configuration file :see_no_evil:

[2016-03-09 22:42] koehn commented on #305
So how should I be configuring the app? I tried updating the appstoreurl, and then resorted to re-building my config from the config.sample.php file on the hopes that it would fix things.

[2016-03-09 22:43] koehn commented on #305
I'm now seeing the following in the `owncloud.log`:

[code]

I don't have an http proxy server to get from my owncloud server to the internet.

[2016-03-09 22:44] koehn commented on #305
Also this:

[code]

[2016-03-09 22:48] georgehrke commented on #305
Please ask for help on the user mailing list (user@owncloud.org) or join #owncloud on freenode.

Thx :)

Please excuse my brevity and typos.
Sent from my mobile

[2016-03-10 08:52] georgehrke opened #307 "if a reminder with 15 mins before already exists, create one with 30 minutes before and so on"

[2016-03-10 10:34] mdosch commented on #344
Am also waiting for this feature for a long time now. It's not even on the roadmap as it's not linked to any milestone.

[2016-03-10 11:53] DeepDiver1975 commented on #344
Please reopen this in https://github.com/owncloud/calendar - this repo holds the old and discontinued calendar app - THX

[2016-03-10 12:09] georgehrke commented on #289
potential fix is in https://github.com/owncloud/core/pull/23082

[2016-03-10 12:15] ghost opened #308 "Raise version in appstore to 1.0"
Hi,

currently https://apps.owncloud.com/content/show.php/Calendar?content=168707 has the version `0.6.7` set however the download for oC 9.0 contains version `1.0`.

Because of that the calendar will shop up with the version 0.6.7 within the oC internal appstore even if 1.0 is installed.

[2016-03-10 12:16] georgehrke commented on #308
That's an issue in the App Store. The lowest available version (for 8.0) is 0.6.7

[2016-03-10 12:17] georgehrke commented on #308
Not sure what do you about this :/

[2016-03-10 12:39] DecaTec opened #309 "Issues with IE/Edge browser"
Hi,

I've updated to OC9 with new calendar/contacts app. Everything worked fine, expect that I have problems using contacts/calendars with IE or MS Edge (Chrome and Firefox: no problems).
### Steps to reproduce
1. Update to OC9 with existing contacts/calendars (essentially I used this guide: https://doc.owncloud.org/server/9.0/admin_manual/maintenance/manual_upgrade.html)
2. Enable new contacts/ca

[2016-03-10 12:39] georgehrke commented on #309
We only support Chrome, Firefox and Safari

[2016-03-10 12:39] #309 closed, assigned to nobody

[2016-03-10 12:40] georgehrke commented on #309
https://github.com/owncloud/calendar#supported-browsers

[2016-03-10 12:46] georgehrke commented on #308
<img width="693" alt="edit _app_apps_owncloud_com_safari__today_at_1_43_59_pm" src="https://cloud.githubusercontent.com/assets/1250540/13669822/546b7d1a-e6c6-11e5-947b-b1251c585863.png">

The issue is related to this field. I could simply swap Content file 1 and Content file 4, but then ownCloud 8 would show 1.0 even though it's just 0.6.7.

[2016-03-10 12:47] georgehrke commented on #308
cc @jancborchardt

[2016-03-10 12:48] DecaTec commented on #309
So this is "by design"? :flushed:
This would be a huge step back compared to the old apps.

Is there any chance
- to use the old contacts/calendar apps in OC9?
- that IE/Edge will be supported in the future?

Can you provide any technical details about the reason, why this doesn't work with IE/Edge?

[2016-03-10 12:48] ghost commented on #308
Ah, i see the issue there. Wasn't are how this is configured within the appstore.

Contacts for example is using the highest version 1.0.0.0 at https://apps.owncloud.com/content/show.php/Contacts?content=168708

[2016-03-10 12:49] georgehrke commented on #308
Yes, this is how it looks for the contacts app:
<img width="690" alt="contacts" src="https://cloud.githubusercontent.com/assets/1250540/13669913/ed9fc5ea-e6c6-11e5-9073-15dce550cf7c.png">

[2016-03-10 12:50] georgehrke commented on #308
Swapping it would probably be the easiest, although I think this should be properly fixed in core

[2016-03-10 12:52] ghost commented on #308
Yes, i agree that this is rather something which should be fixed in core.

[2016-03-10 12:52] georgehrke commented on #308
@RealRancor Could you open an issue there please? :)

[2016-03-10 12:53] gvde commented on #309
If a browser is not supported it would be nice if the frontend would show a message "browser not supported"...

[2016-03-10 12:54] georgehrke commented on #309
It was not intended to break IE/Edge, but we use "bleeding edge" web technology that simply not happens to be implemented in IE and Edge.

No

No, I don't intend to waste my leisure time just to pay for the fact that Microsoft is not willing enough to invest money into building a proper browser.

[2016-03-10 13:00] DecaTec commented on #309
@georgehrke Can you provide at lest a keyword what "bleeding edge" web technology you're using here which is not implemented in IE/Edge?
I agree with @gvde that there should be better placed hint when such breaking changes creep in by updating to OC9.

[2016-03-10 13:02] georgehrke commented on #309
IE and Edge don't support XPATH. That's heavily used in the library we use to generate CalDAV requests

[2016-03-10 13:06] aspdye commented on #308
What have the contacts guys made different - they are also providing multiple versions for 8.0, 8.1, 8.2 and 9.0 and App Store is showing up 1.0.0.0 :confused:

@Henni @jancborchardt @georgehrke

[2016-03-10 13:06] georgehrke commented on #309
The previous versions of the calendar and contacts app also never officially supported IE.
Apparently it just happened to work. I never tested neither the old nor the new version in IE.

[2016-03-10 13:06] georgehrke commented on #308
@aspdye Compare the screenshots ;)

[2016-03-10 13:08] aspdye commented on #308
Have missed the second screenshot :sweat_smile:

[2016-03-10 13:14] ghost commented on #308
Ref: https://github.com/owncloud/core/issues/23089

[2016-03-10 13:19] #308 closed, assigned to nobody

[2016-03-10 13:31] georgehrke commented on #308
swapped the versions

[2016-03-10 13:32] aspdye commented on #308
Why 1.0 instead of 1.0.0.0 like contacts does?

[2016-03-10 13:33] ghost commented on #308
Works, https://api.owncloud.com/v1/content/data?version=9x0x0x0&categories=922&approved=all is now showing 1.0

[2016-03-10 13:33] georgehrke commented on #308
because calendar and contacts use different versioning schemes.
Ours is described [in the wiki](https://github.com/owncloud/calendar/wiki/Maintenance-and-Release-Schedule#versioning-scheme)

[2016-03-10 15:56] mdosch opened #310 "Add possibility to subscribe to external ics-calendar."
Please add support for subscribing to external ics-calendars.
It should also be possible to subscribe to external calendars with username and password authentification.
Update interval should be configurable.

This is actually an old feature request: https://github.com/owncloudarchive/calendar/issues/344

[2016-03-10 15:56] #310 closed, assigned to nobody

[2016-03-10 15:57] georgehrke commented on #310
please search for existing issue before creating new ones

[2016-03-10 15:57] georgehrke commented on #310
https://github.com/owncloud/calendar/issues/132

[2016-03-10 16:09] jancborchardt commented on #308
Could we all maybe just use semver.org? cc @Deepdiver1975 @Henni

[2016-03-10 16:14] georgehrke commented on #308
not quite sure how to distinguish between minor and patch releases for the calendar. It's planned that all releases also contain new features.

[2016-03-10 16:23] Henni commented on #308
@jancborchardt I also discussed this with @irgendwie.
I'm wondering why owncloud needs four digits?

@georgehrke don't release patch releases. Just increase the patch number during development (for example if you need it to update the database or to mark significant changes during development).
But sometimes it might make sense to create patch releases. For example if you find a bug immediately af

[2016-03-10 16:35] georgehrke commented on #308
`major.minor.patch` and the fourth digit is used to count alphas, betas and RCs.

We don't use the database anymore ^^

In this case I would simply release temporarily switch two mayor.minor.patch and release 1.0.1 (as an example), but I see reason to always keep the `.0` in the releases.

[2016-03-10 16:47] georgehrke commented on #309
We accept pull requests for the latest IE and Edge though. If you want to fix it, don't hesitate to do so :-)

[2016-03-10 16:57] DecaTec commented on #309
Unfortunately I'm not a web developer, I only see this issue as a user.
It's a pity, but at the moment the users have to cope with it.

For me, as using my ownCloud to ~80% to manage my calendars/contacts, I would be forced to use another browser just for ownCloud. For the moment, I'll stick to 8.2.3. Maybe one day I have to bite the bullet and do the update to OC9.

[2016-03-10 16:58] georgehrke commented on #309
Is there any particular reason why you have to use Internet Explorer and not use another one as your default browser?

Internet Explorer is a pain in the ass for web developers.

[2016-03-10 17:15] DecaTec commented on #309
Yes, I can understand your point. IE always was and maybe will ever be. ;)
For me it's just a habit using Edge. Now, everything works fine but ownCloud. A bit disappointing, that's all.
But imho: When it comes to such crucial apps like contact/calendar (I think that these are used a lot by the users), the main goal should be to get approved as "official" app. According to ownCloud's app publishing

[2016-03-10 17:25] georgehrke commented on #309
I don't know nothing about such a regulation.
Also https://doc.owncloud.org/server/9.0/developer_manual/app/publishing.html#official doesn't mention Internet Explorer or Edge at all.

I would be happy if a third active maintainer would join us and help out with Internet Explorer, but no one has reached out to us yet :wink:. I also don't know any developer, who would voluntarily maintain a bigger a

[2016-03-10 17:37] DecaTec commented on #309
It just says (Official > Requirements):

And the requirements for OC9 are (https://doc.owncloud.org/server/9.0/admin_manual/installation/system_requirements.html):

If I only had any experience with web development, I would try to help out. But unfortunately I'm only a...guess what...Windows dev. So that problem is completely off my scale.

[2016-03-10 18:12] mmattel opened #311 "Calendar external and internal naming"
### Steps to reproduce
1. Create a oC calendar eg "Test" and a second calendar "BBB"
2. Sync with Outlook the via Caldav Synchronizer, the calendar name is selectable, chose "Test"
3. Delete after syncing the oC calendar "Test" and create a new one in oC with the same name
### Expected behaviour

The caldav url used (/remote.php/dav/calendars/xxxx/Test) should stay the same and syncing should be p

[2016-03-10 18:14] georgehrke commented on #311
I don't consider this a bug, but rather a feature request.
Why do you want this?

What is the use case?

[2016-03-10 18:15] georgehrke commented on #311
You create a new calendar, so (imho) it's completely legitimate, that it might have a new URL.

[2016-03-10 18:46] mmattel commented on #311
- The primary oC caldav address from settings is always the same, so it is from this point of view not visible that there was a change.
- During the first negotiation between the client and oC, the final url used is defind and selectable.
- When you now delete the calendar and create a new one with the same name or I just tried: rename it and rename it back, the internal address is now different a

[2016-03-10 18:51] georgehrke commented on #311
What's the use case for deleting a calendar and immediately creating one with the very same name? Why do you do that?

[2016-03-10 18:54] georgehrke commented on #311
(to see the entire caldav url, you can hover over the calendar name and wait for the tooltip to appear)

[2016-03-10 18:58] mmattel commented on #311
Because you pressed the wrong button too quickly...
Users are sometimes strange folks

Hoover: hmmmm, tested with Chrome: and I just see xxxx/index.php/apps/calendar/#/

Additional note: it seems that back renaming just renames the user side but not the internal once, so the calendar must be deleted and resetup...

[2016-03-10 19:12] georgehrke commented on #311
That's what this issue is for: https://github.com/owncloud/calendar/issues/252

[2016-03-10 19:21] mmattel commented on #311
And renaming?

[2016-03-10 19:29] mmattel commented on #311
And we should cover the FATAL and make an INFO/WARNIG message instead pointing to the problem...

[2016-03-10 19:35] georgehrke commented on #311
The url is then same after renaming. The same goes for renaming twice and using the old name again. I can't reproduce what you describe.

That's most likely a bug in your desktop client, that's sending an invalid calendar entry to the server. Seems related to recurring events with attendees

[2016-03-10 19:46] aspdye opened #312 "Users should not be able to edit "contact_birthdays"-calendar"

[2016-03-10 19:47] #312 closed, assigned to nobody

[2016-03-10 19:48] georgehrke commented on #312
https://github.com/owncloud/core/issues/23046

[2016-03-10 19:56] aspdye opened #313 "Events will be not created when hitting ENTER"
### Steps to reproduce
1. Enter a new Event
2. Hitting ENTER
### Expected behavior

Event should be saved (Create)
### Actual behavior

Event Editor closes and the Event is not saved.
### Server configuration

**Operating system**:
Ubuntu 14.04 LTS
**Web server:**
Apache + Nginx Reserve Proxy
**Database:**
SQLite
**PHP version:**
7.0
**ownCloud version:** (see ownCloud admin page)
9.0.0 (stable)
*

[2016-03-10 20:05] DeepDiver1975 commented on #289
what could be done in the calendar app as general approach for calendars without displayname:
- capitalize the first word and replace all - and _ with a space

[2016-03-10 20:06] raimund-schluessler opened #314 "Edit button is not shown for own calendars"
### Steps to reproduce
1. Install OC 9.0.0 and latest calendar master
2. Create a new calendar or have a look at an existing one
3. Hover calendar, edit button should be shown
### Expected behaviour

Edit button does not show up
### Actual behaviour

Edit button does not show up (only share, download and delete are visible, see screenshot)
### Server configuration

Current Debian running on Virtua

[2016-03-10 22:12] georgehrke opened #316 "remove caldav property names from calendarmodel"

[2016-03-10 22:13] georgehrke opened #317 "improve pre and post processing for event editing"
currently the code inside cal controller that takes care of this task is too deeply nested and there is too much duplicate code

[2016-03-11 07:04] mstuehrenberg commented on #309
I'm a litte bit puzzled about the statement that Edge does not support XPath (apart from calling XPath 'bleeding edge' -- XML/XSLT (and hence XPath) support in MS IE had a long tradition, at least for XSLT and XPath 1.0). MS itself has the following statement regarding XPath in MS Edge: https://msdn.microsoft.com/en-us/library/dn974343%28v=vs.85%29.aspx

[2016-03-11 12:08] georgehrke commented on #313
@codeling Interested? :)

[2016-03-11 12:09] #202 closed, assigned to raghunayyar

[2016-03-11 14:25] mmattel commented on #311
This is possible, but the Fatal should be covered.

[2016-03-11 14:34] georgehrke commented on #311
please report this in https://github.com/owncloud/core/issues
The CalDAV server isn't part of the calendar app no more.

[2016-03-11 14:34] #311 closed, assigned to nobody

[2016-03-11 14:58] mmattel commented on #311
ok

[2016-03-11 15:50] cubical23 opened #318 ""shared with you", "shared with others" and "shared by link" empty"
1. Login
2. goto "Files"
3. click "shared with you", "shared with others" or "shared by link"
4. nothing is shown
### Expected behaviour

Files or Folders that have been shared should be visible
### Actual behaviour

Nothing is shown (shared files do exist of course!), this happens since upgrading to 9.0.0
### Server configuration

CentOS 7

**Web server:**
apache httpd 2.4

**Database:**
mariadb

[2016-03-11 15:51] #318 closed, assigned to nobody

[2016-03-11 15:51] georgehrke commented on #318
obviously the wrong repository :wink:

[2016-03-11 15:55] cubical23 commented on #318
ooops sorry, my fault

[2016-03-11 16:29] georgehrke commented on #309
@PVince81 AFAIK you adapted davclient.js to support IE. Where can I find the code?

If it's only about replacing one lib to get at least rudimentary support for IE that's something we can do.

[2016-03-11 16:30] georgehrke commented on #309
@mstuehrenberg please see https://github.com/evert/davclient.js/issues/13

That's why I myself used quotes to use the term :wink:

[2016-03-11 16:39] georgehrke commented on #309
Okay, I found @PVince81's version: https://github.com/owncloud/core/blob/master/core/js/files/iedavclient.js

But I'm a bit confused by your statement:

Does that mean I can't read data with the namespaces `urn:item:params:xml:ns:caldav` or `http://apple.com/ns/ical/`?

Given that Edge supports XPATH, but the calendar doesn't support Edge, there is probably another error.
Would be good if you coul

[2016-03-11 16:50] DecaTec commented on #309
Here are the error messages from the console in Edge when opening calendar view:

`HTTP415: NICHT UNTERSTÜTZTER MEDIENTYP: Der Server verarbeitet die Anforderung nicht, da das Format der Anforderungsentität von der angeforderten Ressource mit der angeforderten Methode nicht unterstützt wird.
(XHR): REPORT - https://192.168.178.29/owncloud/remote.php/dav/calendars/Test/default/`

`HTTP400: FEHLERHA

[2016-03-11 17:41] devlumberjack opened #320 "Using directory /var/tmp does not work for shared hosters"
### Steps to reproduce
1. Setup owncloud 9 on a shared hoster (e.g. strato.de)
2. Configure (MySQL DB, give admin the password) ... and so on

3. Login as user (whoever), chosse "calendar app" > try to create a new calender
### Expected behaviour

a new calendar should be created
### Actual behaviour

nothing
Excerpt from Logfile (all personal data are removed and replaced with xxx)

{"reqId":"xxx

[2016-03-11 17:42] georgehrke commented on #320
Can you access the calendar via a dav client?

[2016-03-11 17:54] devlumberjack commented on #320
Hi, thanks for the quick response.

First of all I can not see the new calendar I tried to create in the Webview of owncloud. So I thought no calendar was created.

I accessed the calendar on my owncloud instance via CalDav and just seeing the "default" calendar.

Also on the Webinterface of owncloud only the "default" calendar was/is shown.

[2016-03-11 18:16] georgehrke commented on #320
Can you create new calendars or events via the caldav client?

[2016-03-11 19:26] georgehrke commented on #289
fix is in https://github.com/owncloud/core/pull/23128

[2016-03-11 19:26] #289 closed, assigned to nobody

[2016-03-11 23:17] #173 closed, assigned to nobody

[2016-03-12 05:10] bunnyfu opened #321 "Birthdays calendar not auto-populating"
After upgrading to owncloud 9.0 birthday calendar doesn't populate from contacts birthday entries. This was working fine in 8.2.2.

**Operating system**: Debian 8
**Web server:** Nginx
**Database:** Mysql
**PHP version:** 7.0.4
**ownCloud version:** 9.0
**Contacts version:** 1.0
**Updated from an older ownCloud or fresh install:** 8.2.2

[code]

No errors have been found.

**List of activated apps

[2016-03-12 08:35] ghost commented on #321
Probably a duplicate of one of those: https://github.com/owncloud/core/issues/23051, https://github.com/owncloud/core/issues/22971, https://github.com/owncloud/calendar/issues/298

[2016-03-12 09:59] #321 closed, assigned to nobody

[2016-03-12 12:28] GVLLIFESTYLE opened #322 "Feature Request"
Hello!
It would be cool if there would be a possibility, to add an online-caldav-abo to the app, so that it can sync with another caldav server.

[2016-03-12 12:33] georgehrke commented on #322
You can write a dedicated app that fulfills this task, but I see absolutely no need to implement something like this in this app.

[2016-03-12 12:33] #322 closed, assigned to nobody

[2016-03-12 13:05] BernhardPosselt commented on #309
@DecaTec no arguing will help unless you are willing to either develop a fix or paying someone to do this. The News app also does not support IE/Edge/Safari. If stuff works, it's by chance. The only reason why core works with anything IE is that their customers pay them to fix IE bugs ;)

There's no reason why anyone in their free time should try to fix/adjust code for old and closed source browse

[2016-03-12 14:59] DecaTec commented on #309
@BernhardPosselt of course you are right, as this is open source software. I was just curious about the reasons why the long-awaited rewrite of the calendar/contacts apps apparently supports less browsers than before. Wasn't aware that IE/Edge were never supported officially.

[2016-03-13 08:31] martingabelmann opened #323 "Make event to "all day" by drag and drop"
### Steps to reproduce
1. join the week view
2. drag a event with start-end time into the upper cell of the day (to the all day events)
3. reload the page
### Expected behaviour

The event should be marked as all day event.
### Actual behaviour

The event still has a start-end time without the "all day event" option.
### Server configuration

**Operating system**: Archlinux

**Web server:** Apache

[2016-03-13 08:57] martingabelmann opened #324 "Make 24h events shown as all day events automatically"
### Steps to reproduce
1. import a calendar with this entry:

[code]
### Expected behaviour

In the week view, the event should be shown in the upper cell as all day event.
### Actual behaviour

The event is shown the whole day/spamming the week view (imagine if you have many from them).
### Server configuration

**PHP version:** 7

**ownCloud version:** 9.0.0

**Calendar version:** checkout c0929

[2016-03-13 08:58] georgehrke commented on #324
This doesn't follow the ICAL standard. What program did create this?

[2016-03-13 08:59] georgehrke commented on #323
event is an Event Object that hold the event's information (date, title, etc). Call hasTime on the event's start/end to see if it has been dropped in a timed or all-day area (more info).

http://fullcalendar.io/docs/event_ui/eventDrop/

[2016-03-13 08:59] georgehrke commented on #323
The multiselect thing is from the old calendar and not related to the new one.

[2016-03-13 09:03] georgehrke commented on #324
Actually both DTSTART and DTEND are of type DATE, so it should already be allday, might be an upstream issue, need to investigate

[2016-03-13 09:09] martingabelmann commented on #324
Im not sure what kind of program did that. It's from a web application of a [district office](http://www.awb-landkreis-rastatt.de/,Lde/startseite/Aktuell/Abfallkalender.html). So, I guess it's just some kind of selfmade script...

If I understand you right, a workaround could be to `sed -i  's/DTSTART:20060910T220000Z/DTSTART:20060910T220000Z/ calendar.ical` (similar for DTEND) ?

edit:
sorry i me

[2016-03-13 09:17] devlumberjack commented on #320
no. It is not possible.

[2016-03-13 09:21] georgehrke commented on #320
ok, then please create an issue in https://github.com/owncloud/core/issues

[2016-03-13 09:21] #320 closed, assigned to nobody

[2016-03-13 09:23] gvde commented on #324
Well, if it is VALUE=DATE then it must be a DATE according to RFC 5545. It can't be a DATE-TIME value with a VALUE=DATE. Thus technically, the VEVENT is broken and the importer must make a choice about how to interpret the DTEND value: it is meant to be

[code]

(which is still broken in this VEVENT because the VALUE type of DTEND doesn't match that of DTSTART) or

[code]

(corrected after georgeh

[2016-03-13 09:29] devlumberjack commented on #320
I will do that. Thanks for your help/support!!!

[2016-03-13 09:32] ghost commented on #320
@devlumberjack On such limited / restricted environments you can specify:

https://github.com/owncloud/core/blob/v9.0.0/config/config.sample.php#L1041-L1049

I think there is no need to create a new issue in core as a config possibility to specify the tmp directory already exists.

[2016-03-13 09:46] georgehrke commented on #324
The DTEND is actually supposed to be `DTEND;VALUE=DATE:20160112`

LOL, asking a public office in germany to fix their IT. ^^
I admire your optimism

Asking them to replace the DTEND with a DURATION of 1D might be easier for them than fixing the DTEND.

[2016-03-13 09:47] georgehrke commented on #324
taking care of broken icals is not a high priority at the moment.

[2016-03-13 09:56] georgehrke commented on #324
Documented the broken ICAL in our wiki, I think we will see more in the future:
https://github.com/owncloud/calendar/wiki/Broken-ICALs

[2016-03-13 10:06] martingabelmann commented on #324
Actually the initial posted VEVENT does not cause the described error :
I imported the events from my Calendar+ and thought that they are exported the same way as they are imported, but what Calendar+ does is

[code]

I imported a new Calendar from the website above with the syntax from the initial report. It worked very well, all events ar all day...

From my point of view there is no further inv

[2016-03-13 10:08] georgehrke commented on #324
okay :)

[2016-03-13 10:08] #324 closed, assigned to nobody

[2016-03-13 10:15] gvde commented on #324
@georgehrke I think the import function should check for RFC compliance and if something is broken tell the user about that because the result is unpredictable and may not be as expected. That way confusion like this could be avoided to some extent...

[2016-03-13 17:57] eesko opened #1043 "Deleted calendars not actually deleted"
In ownCloud 9.0.0/Calendar 1.0 deleting a calendar does not actually delete the calendar. The calendar is still reachable via dav. Creating a new calendar with the same name is issued a new dav name where the calendar name is followed by "-1"

To reproduce:
Create calendar
Delete calendar
Create calendar with same name as the deleted one

Expected behavior:
sigle calendar reachable via owncloudhos

[2016-03-13 19:02] #304 closed, assigned to georgehrke

[2016-03-13 19:51] #1043 closed

[2016-03-13 20:37] eesko opened #325 "Deleting a calendar does not actually delete the calendar"
In ownCloud 9.0.0/Calendar 1.0 deleting a calendar does not actually delete the calendar. The calendar is still reachable via dav. When creating a new calendar with the same name it is issued a new dav name where the calendar name is followed by "-1"
### Steps to reproduce
1. Create a calendar
2. Delete the newly created calendar
3. Create a new calendar with same name as the deleted one
### Expec

[2016-03-13 21:47] georgehrke commented on #325
Can't reproduce.
Does it work for you in Chrome or Firefox?

[2016-03-13 21:49] georgehrke commented on #325
This doesn't make any sense.
The calendar app uses caldav to get information about available calendars and events, so if there would be a calendar called calendarname, the calendar app would show it.

Please make sure that this is no caching issue!

[2016-03-14 11:40] eesko commented on #325
Fiddled around a bit more: Reloading the Calendar app by selecting it from the menu fixes the issue. But if I delete and create a calendar with the same name and do not refresh between the actions, the new calendar will have the wrong name. The issue happens for me in Firefox as well.

My use case is that I occasionally get a list of event as an ics file. I have a calendar for these events where I

[2016-03-14 11:41] georgehrke commented on #325
That's the intended behavior at the moment.

[2016-03-14 11:42] eesko commented on #325
The intended behavior is broken in my opinion.

[2016-03-14 11:43] georgehrke commented on #325
We will need the current behavior when we implement https://github.com/owncloud/calendar/issues/252.

[2016-03-14 11:44] eesko commented on #325
At least the web interface should indicate that the name of the new calendar is not what the user typed but something else.

[2016-03-14 11:44] georgehrke commented on #325
you can hover over the calendar name and wait for the tooltip to appear to see the entire caldav url

[2016-03-14 11:47] eesko commented on #325
Maybe gray out the deleted calendar to indicate that the name is not free to use and signal an error to the user if they try to create a new calendar with the same name.

[2016-03-14 11:51] eesko commented on #325
Oh. Thanks. Hadn't realized that there was a tool tip. Had to find out the new url by trial and error. Was only clued into the different name of the calendar when downloading the calendar and looking at the file name.

The tool tip doesn't really cover the functionality of the old "link to the dav url" button that no longer exists. I can't copy and paste a tool tip.

[2016-03-14 11:55] eesko commented on #325
Anyway the point is that the calendar app in some cases silently renames the calendar to a different name than what the user intended but still displays the name that the user typed in. Having to check the tooltip is not really a sufficient solution.

[2016-03-14 12:06] georgehrke commented on #325
We only have this tooltip because Thunderbird is not capable of discovering calendars on it's own.
Other caldav clients are perfectly able to do this :/

[2016-03-14 12:23] eesko commented on #325
What I'm trying to do by recreating the calendar with the same name is to avoid having to do the discovery again for all clients and just have the calendar work.

[2016-03-14 12:26] georgehrke commented on #325
Usually caldav clients should do this automatically and just show new calendars without the need for the user to interact :wink:

That's a very special use case. Is there a way for you to automatically import the calendar? You could just delete all events previous to the import.

[2016-03-14 12:36] eesko commented on #325
Hmm. Need to check. I haven't noticed either davDroid or Windows Phone doing this.

You are right on this being a special use case and that just deleting the events would be easier. In fact this is what I did with ownCloud 8. When importing a calendar there was a choise of clearing the calendar of all events before the import. This choise does not exist in ownCloud 9/Calendar 1.0. I can't find any

[2016-03-14 12:48] eesko commented on #325
Perhaps this issue shoud be closed and a new one opened about the missing "clear calendar" option when importing a calendar.

[2016-03-14 13:07] eesko opened #326 "Add a way to clear all events in a calendar"
Currently there seems to be no way of clearing all events in a calendar other than to do it manually one event at a time.

Previously one could tick an option to clear all events in a calendar when importing events. This option does not exist anymore.

[2016-03-14 13:08] #325 closed, assigned to nobody

[2016-03-14 13:57] georgehrke commented on #326
@jancborchardt

[2016-03-14 19:52] enoch85 commented on #301
I would prefer 13:00 instead of just 13 IMHO

[2016-03-14 20:00] georgehrke commented on #301
We use fullcalendar's local. http://fullcalendar.io/docs/text/timeFormat/
So we have to options here:
1. report an upstream bug for certain languages like german or swedish
2. kind of craft our own time string, but it's hard for us to validate that this will work for all locales.

cc @jancborchardt What do you think about it displaying just 13 instead of 13:00?

[2016-03-14 20:08] enoch85 commented on #301
Done --^

[2016-03-14 20:09] georgehrke commented on #301
okay, makes the decision easier ^^

[2016-03-15 11:43] lu-x commented on #233
This also affects me after upgrading to 9.0. Sharing to individual users works.

[2016-03-15 16:01] buzz opened #327 "ICS subscriptions"
Hey,

I think it would be nice if one could create subscriptions directly in the calendar app.

Like a list of subscriptions where each subscription consists of:
- Import URL
- Target calendar
- update interval (?)

The OC cronjob (I guess) would then take care of mirroring the events from the subscribed ICS file into the calendar. The calendar should probably be read-only in the calendar app fron

[2016-03-15 16:02] #327 closed, assigned to nobody

[2016-03-15 16:02] georgehrke commented on #327
please search for existing issues before creating new ones ...

[2016-03-15 16:02] georgehrke commented on #327
just search for webcal

[2016-03-15 16:02] buzz commented on #327
I did and used many different combinations of search terms in this issue tracker and in core.
Sorry.

[2016-03-15 16:05] buzz commented on #327
#132

[2016-03-15 17:01] enoch85 commented on #301
@georgehrke Update: https://github.com/fullcalendar/fullcalendar/issues/3093#issuecomment-196921975

[2016-03-15 17:55] KenBW2 opened #328 "Can't add custom time in events"
### Steps to reproduce
1. Create new, or edit existing event
2. Try to type in a custom time
3. Be infuriated that Calendar assumes trains arrive only at times divisible by 5
### Expected behaviour

I can type in a time such at 19:27
### Actual behaviour

Typed characters don't get inserted into the text box, and I have to choose from the time picker
### Server configuration

**Operating system**:

[2016-03-16 09:27] guidtz opened #329 "Creating calendars with comps VEvent and VTodo by default"
Hello,

   I discuss with @raimund-schluessler about update task list when calendar is created in owncloud 9 with task branch DAVClient. Could you see this :
[(https://github.com/owncloud/tasks/issues/298)]

Thanks for your help

[2016-03-16 09:46] vxq9e7bx opened #330 "calendars not loading"
Unfortunately I dont know how to reproduce, but it already happened twice. Deleted the calendar/user and recreated from scratch
### Steps to reproduce (guessed)
1. create new calendar
2. sync to iOS / OSX device
3. create recurring events on these devices
### Expected behaviour

when accessing calendar app in browser, calendars should snap-load and all calendar events be displayed in their color
#

[2016-03-16 09:49] georgehrke commented on #330
Do you remember what exact recurrence rule you used?

This looks like an infinite loop.

That the other events don't appear will be addressed in https://github.com/owncloud/calendar/issues/162

[2016-03-16 09:50] vxq9e7bx commented on #330
@georgehrke repeat weekly until date

[2016-03-16 11:15] mopshizz opened #331 "Not instantly delete calendars"
It would be nice, if the delete button would not instantly delete a calendar when clicked, but to have a confirmation prompt. Since the download and the delete button are very close to each other on some systems missclicks are unavoidable. (Happened to me yesterday, luckily just 30 minutes after a db-backup)

[2016-03-16 11:20] #331 closed, assigned to nobody

[2016-03-16 11:20] georgehrke commented on #331
please see https://github.com/owncloud/calendar/issues/252

[2016-03-16 11:23] georgehrke commented on #329
What's the use case?

Task list and Calendars are, although they share the same standard, fundamentally different things.
I would definitely not like see all my calendars as a task list in my task app and I don't like to see the my `Groceries list` task list in my calendar.

cc @jancborchardt

[2016-03-16 12:45] utack commented on #330
Same problem, only my logfile does not complain about anything at all.

[2016-03-16 12:47] georgehrke commented on #330
@wetsixteen And it only happens with certain until dates?

Could you send me an example if possible please :)

[2016-03-16 14:10] jufey commented on #330
@wetsixteen
Are you using an Ipv6 adress?
I have the Same Problem if i use
Https//[Ipv6 adress]/owncloud

[2016-03-16 14:53] utack commented on #330
excellent observation @jufey , IPv4 works for me too

[2016-03-16 14:53] melo1 opened #332 "Calendars from other Users with read only permission are shared as writable via caldav"
### Steps to reproduce
1. Share calendar to another user without write permission
2. As the other user Access your calendars via caldav
### Expected behaviour

The read only calendars should be shared as read only.

This was already fixed with 8.0.x
I was not using 8.1.x and 8.2.x because of the problem and no reaction of the team due to my issue reports in the past.
### Actual behaviour

The read

[2016-03-16 14:54] georgehrke commented on #332
caldav issue -> please report in https://github.com/owncloud/core/issues

[2016-03-16 14:54] #332 closed, assigned to nobody

[2016-03-16 14:55] georgehrke commented on #330
What? :confused:

There is nothing v4 specific in the code, are you sure this is not a server config issue?

[2016-03-16 16:37] georgehrke opened #333 "Merge EventsPopoverController and EventsSidebarController"

[2016-03-16 17:03] TecJon opened #334 "iOS calendar event location messes up web interface of calendar"
Took me a while to figure out why the web interface acted so strangely. See **actual behaviour**. The Browser error log finally revealed the offender: An event location created in the native iOS calendar app. The browser log will give more detail. The location was set in the app by searching for an address (street and house no).

_Bottom line, a harmless event location set by the iOS calendar app

[2016-03-16 17:04] TecJon commented on #330
See maybe #334

[2016-03-16 17:11] georgehrke commented on #334
This error should definitely be caught and not keep the other events from loading.

Can you please post the entire ics that breaks it? Thx

[2016-03-16 17:20] TecJon commented on #334
@georgehrke
[test.zip](https://github.com/owncloud/calendar/files/176513/test.zip)

[2016-03-16 17:40] TecJon opened #335 "Remove unnecessary scroll bars"
Web interface is showing unnecessary scroll bars.
1. is obviously not needed
2. the outer bar is meant here, also not needed
3. Not there when no events are displayed.

![scrollbars](https://cloud.githubusercontent.com/assets/11375752/13822431/e33b19e0-eba5-11e5-8baf-20ae1dc2f358.png)

Same applies for month and day view.

[2016-03-16 17:53] georgehrke commented on #335
1. is already fixed
   not sure about 2 and 3.

[2016-03-16 17:58] TecJon commented on #335
The 'more' panel has the same issue.
![scrollbars2](https://cloud.githubusercontent.com/assets/11375752/13823248/ffaa3fae-eba8-11e5-9caa-7ea5182a00fb.png)

[2016-03-16 18:01] georgehrke commented on #335
1. is legitimate, 2. and 3. are already fixed as far as i know.

The problem about this it that only happens with Firefox on Windows ...
Firefox on Linux or Mac doesn't show these stupid scrollbar placeholders ...

[2016-03-16 18:34] TecJon opened #336 "Let user decide which day starts the week"
Currently the language of the user specifies if Sunday or Monday is starts the week.

[2016-03-16 18:38] georgehrke commented on #336
cc @jancborchardt

[2016-03-16 18:39] georgehrke commented on #336
@SamEliotFisher What's bad about the current approach to use the language? Why should it be changed?

[2016-03-16 18:40] TecJon commented on #335
Interesting, I didn't know that.
2 and 3 from the first screenshot are not placeholder they're a tiny bit scroll-able.
2 and 3 from the second screenshot are indeed disabled scroll bars.

[2016-03-16 18:42] TecJon commented on #336
My user interface is English but I would like the calendar week to start on Monday not on Sunday.

[2016-03-16 18:48] georgehrke commented on #336
You can use British english

Please excuse my brevity and typos.
Sent from my mobile

Please excuse my brevity and typos.
Sent from my mobile

[2016-03-16 18:56] TecJon commented on #336
@georgehrke interesting workaround. The issue would be solved for me then.

[2016-03-16 18:56] #336 closed, assigned to nobody

[2016-03-16 19:26] vxq9e7bx commented on #330
@SamEliotFisher yes, #334 could be exactly the same problem.
@jufey: in the nginx logs were IPv4, so that's not it...
@georgehrke when the problem comes again, I will send the ics-file. for now I already had removed the calendar and recreated it... creating the exact same in OSX calendar app seems not to break it

edit: duplicate of #334, and there are more details. it is not the repeat until, but

[2016-03-16 19:43] TecJon opened #337 "Add ability to share a calendar without details"
A way of sharing a calendar without its details meaning without the title, location, description etc. of the events. Effectively only idle/free times are shared.

[2016-03-16 19:48] georgehrke commented on #337
https://github.com/owncloud/core/issues/22914

[2016-03-16 19:48] #337 closed, assigned to nobody

[2016-03-16 19:59] enoch85 commented on #301
@georgehrke another update. --^ Can this be closed?

[2016-03-16 20:00] georgehrke commented on #301
No, we still need to add the local fixes :)

[2016-03-16 20:13] TecJon commented on #337
Thanks for pointing this out.
Is also a feature planned to find a common time slot with another user for an event?
Meaning similar to "Find a time" of Google calendar. [https://support.google.com/calendar/answer/37161](url)

[2016-03-16 20:16] georgehrke commented on #337
Not at the moment. Due to some limitations in the ownCloud CalDAV server I doubt that this is possible right now. Maybe after ownCloud 9.1 or 9.2

[2016-03-16 21:38] vxq9e7bx commented on #334
it is already enough to open an entry in iOS to break functionality

[2016-03-16 22:01] guidtz commented on #329
Hello, in owncloud 8 when we create a calendar, task list is auto updated with this new calendar.
So this will be optionnal, if we could choose if a task list is linked to calendar this will be sufficient.

[2016-03-17 03:11] syntax922 commented on #334
I'm experiencing the same issue, but not logs are not complaining. Did try to create a new calendar and update from iOS which was successful (does not continue problem). I'm able to successfully export ics file and load into Outlook with complaints about "trigger" but loads successfully.

[2016-03-17 10:19] georgehrke commented on #49
We probably need to implement a custom month view for this :see_no_evil:

[2016-03-17 12:28] LukasReschke commented on #233
I can confirm this on one of my instances, also tried on master of core and calendar. @georgehrke please let me know if there is anything that I can do to help debugging this. Also happy to grant you access to this instance.

I basically have a user "service" that owns some calendars (e.g. Sitzungszimmer) and those are shared with edit permissions to the group "calendar-access".

The response to t

[2016-03-17 12:43] georgehrke commented on #233
The problem is that the calendar can't handle group share principals at all :see_no_evil:

The first one grants reading permission and the second one writing permission. Looks just fine.

[2016-03-17 21:46] codeling commented on #313
@georgehrke yes, will look into it tomorrow!

"tomorrow" turned out to be later than I thought unfortunately...

[2016-03-18 01:09] thenamelessthing opened #338 "Calendar loading in loop for a specific day"
### Steps to reproduce

After upgraded from 8.2 to 9.0 and enabling calendar .. (previously I used calendar plus on the 8.2)
### Expected behaviour

See 20 march event as usual..
### Actual behaviour

When I show event by week or month, the calendar are loading in loop. If I use "day" view I have see the behavior for 20 march only. So I think an event at his date is corrupt/broken.
### Server conf

[2016-03-18 14:20] syntax922 opened #339 "Need to be able to import ICS files"
### Steps to reproduce
1. Double click ICS file that has been uploaded to OwnCloud
   2.
   3.
### Expected behaviour

Options are displayed for which calendar to import to
### Actual behaviour

Text file is displayed with information
### Server configuration

**Operating system**: Ubuntu 14.04 (trusty)

**Web server:** Apache2

**Database:** my sql

**PHP version:**

**ownCloud version:** 9.0.0 S

[2016-03-18 14:21] syntax922 commented on #339
#StupidEndUser

[2016-03-18 14:21] #339 closed, assigned to nobody

[2016-03-18 17:04] enoch85 commented on #338
Please change milestone @georgehrke if it's wrong.

[2016-03-18 17:06] georgehrke commented on #338
Anything in the browser log?

[2016-03-18 17:08] georgehrke commented on #338
This is most certainly related to a repeating event. Please connect with a caldav client (which will most likely be able to show all events) and check if there is any repeating event on March 20th.
If yes it would be great if you could post it :)

[2016-03-18 17:09] georgehrke commented on #330
closing in favor of #334, as it's more detailed

[2016-03-18 17:09] #330 closed, assigned to nobody

[2016-03-18 18:03] thenamelessthing commented on #338
I have only one event at this date., it's not a repeating event. I can see the event on my Android phone but not on the OC webpage.

How can I post it's content?

[2016-03-18 18:05] georgehrke commented on #338
You can probably export it on android. Send it to yourself via mail and copy the content with a text editing software.

You might want to look thru the data and replace personal data with some dummy values.

[2016-03-18 18:06] thenamelessthing commented on #338
I found how, here is the event zipped.
[Match série 1954782429.zip](https://github.com/owncloud/calendar/files/180167/Match.serie.1954782429.zip)

[2016-03-19 01:22] robertwenner opened #340 "Calendar settings gone"
### Steps to reproduce
1. Upgrade Owncloud from latest 8.x to 9.0.0
2. Enable calendar app
3. Go to calendar app
4. Click the settings gear symbol on the bottom left
### Expected behaviour

I'd expect to see settings for time zone and date / time format, as described in the manual at https://doc.owncloud.org/server/9.0/user_manual/pim/calendar.html#managing-calendar-settings
### Actual behaviour

[2016-03-19 01:59] robertwenner commented on #340
![calendar-no-settings](https://cloud.githubusercontent.com/assets/7452108/13896030/5459f5fe-ed4c-11e5-9b1d-95d264e0ed67.png)

[2016-03-19 07:43] c-holtermann opened #341 "Copy/Clone events"
It would be nice to have a possibility to clone/copy events

[2016-03-19 07:45] raghunayyar commented on #341
Can you please explain the use case?

[2016-03-19 09:26] georgehrke commented on #340
I'm afraid the manual is outdated,
it's intended that these settings are gone.

[2016-03-19 09:26] #340 closed, assigned to nobody

[2016-03-19 09:38] georgehrke opened #342 "Show dropdown to suggest time based on title"
http://littlebigdetails.com/post/130947228205/osx-calender-new-events-default-to-starting-at

[2016-03-19 09:48] raghunayyar commented on #340
Can we please update the manual?

[2016-03-19 09:49] georgehrke commented on #340
sure, go ahead ^^

[2016-03-19 09:50] TecJon opened #343 "When switching to the 'more' panel the calendar selection is reset"
Quite a minor bug: when creating an event, filling out basic data and switching to the 'more' panel the calendar selection is reset to the first calendar in the drop down list.

[2016-03-19 09:53] georgehrke commented on #340
https://github.com/owncloud/documentation/blob/master/user_manual/pim/calendar.rst

[2016-03-19 10:51] TecJon opened #344 "Revise color selection for calendars"
### Some (design) suggestions for the calendar colors
- Provide more colorful and high-contrast default colors (currently eight).
  - I'd suggest red, orange, yellow, green, blue, purple, pink, brown (similar to OSX)
- Provide a 'other' or 'more' option to choose a custom color: #135
  - The 'other' or 'more' could be realized by a plus symbol occupying and replacing the last rectangle to choose a

[2016-03-19 10:57] georgehrke commented on #344
generally speaking create one ticket per actual issue please.

I'm very happy with the current colors and I think the ones you are suggesting are bad for readability.
As you already said there is a ticket for the second issue.

Can we agree to make this ticket about the third issue?

[2016-03-19 11:00] georgehrke commented on #344
cc @raghunayyar

[2016-03-19 11:19] TecJon commented on #344
I wanted this thread to collect ideas. Once agreed, each issue can be opened in a single ticket.

I guess the colors truly are a matter of taste. However, I think current colors 1, 2, and 4 are too similar and including 3 a little too dull. The ones I suggested in the image were quickly chosen, a designer should advise on actual good choices for readability (the red and orange are quite similar, t

[2016-03-19 11:53] georgehrke commented on #344
I would agree that 1,2 and 4 are too similar.
"Dull" colors are not necessarily a bad thing. These colors don't need to be bright and shiny. What's important is that you can read the text very easily. A bright and shiny background is often bad in this regard.

[2016-03-19 15:09] robertwenner commented on #340
Why are these settings gone? How do I adjust these now? If these are gone, does that mean I am stuck with am/pm instead of 24 hours, for example?

[2016-03-19 15:35] georgehrke commented on #340
These options are automatically determined by the language used.
If you use german, the week will start on Mondays and it's 24 hours.
The same goes for british english.

[2016-03-19 15:45] thenamelessthing commented on #338
One thing I have try with success, I have deleted the problematic event (from my android phone) and importing the broken event I join in this issue and the problem was fixed! So it's strange because it look the event was repaired when exporting it or the problem was in the db itself and not in the event...? So we can close

[2016-03-19 15:45] #338 closed, assigned to nobody

[2016-03-19 15:45] robertwenner commented on #340
Oh, I see. I guess that makes it much easier for most people. However, it leaves everybody else stuck with settings they don't want. For example, people who chose to run their systems in English so they don't have to wait for various translations, or expats.

Can I file a change / feature request for this?

[2016-03-19 15:53] TecJon commented on #344
I agree, readability should be the primary concern here.

But I believe readability and a little colorfulness are not mutually exclusive. For example the labels on here on github are quite colorful yet easy to read.
OSX solved the issue by using a lighter version of the color as the background color of the event.

![Image of OSX calendar 1](http://cdn.cultofmac.com/wp-content/uploads/2015/03/Week-

[2016-03-19 16:47] georgehrke commented on #344
Well, that ain't OS X Calendar but Fantastical, but I like that as well. :wink:

[2016-03-19 16:57] TecJon commented on #344
Oh haha! Well that's a little unfortunate. :smiley:

For the sake of completeness
![Really OS X calendar](http://images.apple.com/v/mac/shared/osx/g/images/builtinapps/calendar_screen_large.jpg)

[2016-03-19 16:59] georgehrke commented on #344
cc @jancborchardt

[2016-03-19 23:27] #314 closed, assigned to georgehrke

[2016-03-19 23:27] #316 closed, assigned to georgehrke

[2016-03-20 11:00] pierre-alain-b opened #346 ""New calendar" action not working"
### Steps to reproduce
1. Open Calendar in oC 9
2. Click "New Calendar", the "new calendar" pan opens (to choose name and color)
3. Enter a name "new-calendar" and choose a color, click create
4. Nothing happens
### Expected behaviour

I expect the new calendar should be created.
### Actual behaviour

Nothing.
### Server configuration

**Operating system**: Debian 7 Jessie stable.

**Web server:**

[2016-03-20 11:02] pierre-alain-b commented on #346
Hello, one more log checked: the logs of the Load balancer (which is Pound) that is in front of ownCloud.
It says:
`e501 bad request "MKCALENDAR /remote.php/dav/calendars/user// HTTP/1.1" from a.b.c.d`
So the issue is not ownCloud related but frontal-loadbalancer related.

[2016-03-20 11:02] #346 closed, assigned to nobody

[2016-03-20 11:25] pierre-alain-b commented on #346
For references, the lack of MKCALENDAR word was fixed in the latest unstable version of Pound in Debian:
http://sourcesdev.debian.net/patches/pound/2.6-6.1/

[2016-03-20 11:31] georgehrke commented on #299
#296 was merged

[2016-03-20 11:31] #299 closed, assigned to nobody

[2016-03-20 14:08] JDrewes opened #347 "no edit/"
After updating from OC 8.2.2 to 8.2.3 and then to 9.0.0, my calendar no longer shows the controls for "edit" and "get link". "share", "download" and "delete" are still there and work as expected. This happens for migrated and new calendars. It is not just missing icons, there is nothing to click there (or I just didn't find it).
Summary: next to the calendar name, there is 3 control icons instead

[2016-03-20 14:15] georgehrke commented on #347
no edit: dup of https://github.com/owncloud/calendar/issues/314
no link: was removed on purpose: hover over the calendar name to see the caldav link

[2016-03-20 14:15] #347 closed, assigned to nobody

[2016-03-20 14:15] JDrewes commented on #347
Okay, but what about the edit option?

[2016-03-20 14:16] georgehrke commented on #347
see #314
That's a bug that will be fixed with Version 1.1

[2016-03-20 14:16] hitam4450 opened #348 "ICs file can't import"
Hi, I am pretty much upset about the continuous changes to the worst and not to the better!
I wanted to import a .ICs file in an existing calender, but it does not work at all, the way it used to be in the past. I am getting sick and tired of OwnCloud and the way it handles common tasks!

regards, hitam4450

### Steps to reproduce

1.
2.
3.
### Expected behaviour

Tell us what should happen
By cli

[2016-03-20 14:17] georgehrke commented on #348
the import moved to the app. Click the gear in the lower left corner

[2016-03-20 14:17] #348 closed, assigned to nobody

[2016-03-20 14:20] georgehrke commented on #348
This is free software. Contribute!

[2016-03-20 14:29] hitam4450 commented on #348
I contribute since a long time ago, already!
![calendar](https://cloud.githubusercontent.com/assets/9738727/13904883/acb8484a-eeaf-11e5-920e-34b9595cb110.png)

Hiding a **menu (Action- Kalender importieren ) Item** under **Option (Einstellungen)** menu is not really intuitive, not understandable and not traceable!

In the option menu is for selecting options and not for tasking actions!
That is at

[2016-03-20 14:32] hitam4450 opened #349 "https://github.com/owncloud/calendar/issues/348 - II"
My additional comment!

regards, hitam4450

[2016-03-20 14:34] #349 closed, assigned to nobody

[2016-03-20 20:30] raoel commented on #340
Yeah, please, I like my OS and everything set to English but I always configure 24h timezones in every app. An application that does not support this would be a first time for me.

[2016-03-20 20:41] fr4nk3nst3in opened #350 "Calender shared with a group is not available over CalDAV."
### Steps to reproduce
1. Share calendar with a usergroup
2. CalDAV in IOS does not shows shared calendar
3. If same calender shared with single user it shows
4. Group shared Calender over OC GUI is available under the point Subscription.
### Expected behaviour

In OC 8 it was possible to share a calendar with an usergroup and was available over CalDAV for all users in the group.
### Actual behavi