[2017-06-06 08:52] pau1ie commented on #800
I have hit this issue on the stable release channel. I upgraded to owncloud 9.0.10 yesterday, and the calendar application (1.4.1) will not enable due to this error.

Can we have some information on how to work around this problem so we can access our calendars? I note from the previous comment that the advice to contact the apps developer doesn't seem to work in this case.

Also, the workaround m

[2017-06-06 09:47] localguru commented on #800
OC 9.0 (Upgrade from 8.2 to 9.0)

I removed ./apps/calendar on filesystem, downloaded the version offered on

https://apps.owncloud.com/content/show.php/Calendar?action=content&content=168707

and unpacked it under ./apps.

The calendar is working, but there is still the "Certificate has been revoked" problem. Temporarily  I disabled the integrity check in config.php until this is fixed:

[code]

[2017-06-07 09:19] Nokkfried commented on #800
Updating from 9.1.5 to 9.1.6 made it impossible to activate the calendar again.
I followed the recommendation of DeepDiver1975.
Modifying the config and using the new Appstore and installing calendar 1.4.2 worked fine for me.
All my calendar data is still there.
THX.

[2017-06-07 09:37] jochenwezel commented on #800
I also ran into the same error after updating from 9.1.6 to v10.0.2 using
[code]

Is it possible to automatically update the calendar to v1.4.2 on owncloud 10 update since calendar v1.4.2 is a required update for owncloud 10 to work (to not show any errors)?
For my tested instance, apps "calendar" and "documents" had been deactivated in the apps list, but caused the warning mentioned above.
Altern

[2017-06-07 16:58] DominicWrege commented on #800
I cant install the Calendar App v 1.4.1

![screen shot 2017-06-07 at 18 57 33](https://user-images.githubusercontent.com/7389000/26890836-45ffdc32-4bb3-11e7-9247-07ed1aa8bdb4.png)

[2017-06-07 18:42] Nokkfried commented on #800
Had the same problem, see initial guide from DeepDiver1975 how to install calendar 1.4.2.

[2017-06-07 19:13] tony5 commented on #800
if you have issues try restarting your webserver.

[2017-06-08 01:48] argon3030 commented on #800
@mufasa1976  I had the exact same problem of nothing appearing under "Productivity" after adding the new marketplace to config.php.  I had disabled and uninstalled Calendar 1.4.1.  I tried restarting httpd as suggested by @tony5 but that had no effect.  I'm running oC 9.1.6 on CentOS 7.3.

The solution for me was a reboot of the machine, and then it worked perfectly.  Not sure which specific servi

[2017-06-09 12:51] mehturt commented on #800
I too received this error after upgrading to 9.0.10.  Does the marketplace experimental thing work with OC 9.0.x? The original report was against 9.1.x, hence my question. Thanks.

[2017-06-09 20:33] chaffra commented on #800
I am getting the error below when following the instruction for the new app store.

[2017-06-09 22:10] localguru commented on #800
@tony5 I removed ```'integrity.check.disabled' => true,``` and restated the complete server. After that the integrity error came back:

[code]

[2017-06-14 06:16] ghost commented on #799
Similar reported here as well: https://github.com/owncloud/core/issues/28114

[2017-06-16 11:19] lordyavin commented on #800
I get 404 for 'https://marketplace.owncloud.com/api/v0'. Damn it. Please more elaborateness. So this approach doesn't work anymore!!

Where can I find correct and up-to-date documentation about the API endpoints?

[2017-06-16 20:35] ervee commented on #800
As @mehturt already asked, is there a solution for 9.0.10 ? It is not end-of-life yet but the calendar app got broken by a minor update. If disabling the integrity check is the recommended solution, please state so. I hope there is a better solution though.

[2017-06-16 23:38] localguru commented on #800
Sorry for the hard words, but this is a annoying bug and I can't believe that is wasn't fixed for such a long time. The calendar and contacts apps are basic features for a lot users. Not having access to own calendar data is a big no go and tends me to move to nextcloud.

[2017-06-19 06:43] DeepDiver1975 commented on #800
This approach works for sure - if you want to check the availability of the api use a correct url - e.g. https://marketplace.owncloud.com/api/v0/content/categories?version=9x1x4x0

[2017-06-19 06:45] DeepDiver1975 commented on #800
you need to update the app as states above. the certificate for older version of the calendar app has been revoked. Please try to update as stated above.

[2017-06-19 06:53] ervee commented on #800
Hi @DeepDiver1975. Is the solution available for 9.0.10 ?

[2017-06-19 07:09] DeepDiver1975 commented on #800
I did no yet test myself but I'd say yes. Give it a try and let us know

[2017-06-19 07:56] smartissimo commented on #800
Does not work for me neither: "Beim Aktivieren der App ist ein Fehler aufgetreten" - _("An error occurred while activating the app")_

[2017-06-19 08:03] DeepDiver1975 commented on #800
please have a look in the owncloud.log - thx

[2017-06-19 14:47] CraigInches commented on #800
Steps to resolve on Debian 9.0 after upgrade.
1. php7.0 was installed after upgrade, so using update-alternatives to switch default to php5
2. Disable maintenance mode (due to php upgrade normal steps did not work correctly)
3. Update config with new marketplace url
4. Disable apps (calendar/contacts)
5. Uninstall apps
6. Install New apps from app store
This resolved the certificate error, and int

[2017-06-19 20:21] mufasa1976 commented on #800
@argon3030 you're right, after a whole restart i can see the entries under productivity. And also the Calendar App v1.4.2.

But when I try to enable this App I will get a HTTP 502 Bad Gateway.
Here is the Log-Entry from ``owncloud.log``:
[code]

[2017-06-19 20:27] DeepDiver1975 commented on #800
@tboerger are we facing infra issues at the moment?

[2017-06-20 16:23] ghost commented on #800
That bad gateway thingy seems to be fixed now: https://github.com/owncloud/marketplace-issues/issues/6

[2017-06-24 11:07] felixbello opened #801 "Events don't sync from Client"
### Steps to reproduce
1. Fresh Install of ownCloud 9.1.6 (stable)
2. Following the Steps of #800 to install the Calendar App
3. Add CalDav Calendar on MacOS
4. Create an Event on the Calendar

### Expected behaviour
The Event should be synchronized with the Server, it should appear on the Server.

### Actual behaviour
The Event don't Synchronize
(when you create an Event on the Server it appears

[2017-06-26 23:04] tflidd commented on #800
@DeepDiver1975 It doesn't work for OC 9.0.10! It says:
`No apps found for your version`

The download link in https://marketplace.owncloud.com/apps/contacts does not work either, so a manual install is not possible.

I tried to install the 1.5.2 release from the github archive, it installs, makes an update but then there are several errors like this one:
[code]

Are you joking? People use OC 9.0 o

[2017-06-27 05:24] localguru commented on #800
@CraigInches what's happens on uninstall with calendar data? removed?

[2017-06-27 12:05] CraigInches commented on #800
@localguru No all my data was still there.

[2017-06-27 18:26] DeepDiver1975 commented on #800
no

[2017-06-27 19:58] ervee commented on #800
So @tflidd tried the suggested steps by @DeepDiver1975 and it did not work. I have no test/dev envoronment to test this a.t.m. so I'm not burning my hands on it (again).

@DeepDiver1975, is there by any chance a way you could fix this for all the people still the OC9.0 please?

[2017-06-27 20:06] DeepDiver1975 commented on #800
This is working ...
![screencast_27 06 2017_22_02_52](https://user-images.githubusercontent.com/1005065/27607628-ca9ae9c4-5b84-11e7-939b-a563978df669.gif)

[2017-06-27 20:07] DeepDiver1975 commented on #800
As explained above I did not test 9.0 myself yet - I'll take care asap. An official statement on this will follow.

[2017-06-27 21:30] tflidd commented on #800
Little update:

- Today I can connect to the app store via my owncloud, I can find a few apps (audio player in multimedia, roundcube in productivity, and 4 other apps in Tools. There is no calendar or contact app.
- The marketplace is now offering a download, yesterday I only got a 404 error.
- I managed to download and install a new contact app manually. There is still a problem, I will post it i

[2017-06-27 21:32] DeepDiver1975 commented on #800
but this sounds like you are connected to the old appstore - on the marketplace there is no roundcube ...

🙈

👍

[2017-06-28 18:58] mufasa1976 commented on #800
After the Owncloud Marketplace has be re-enabled by @tboerger the solution described by @DeepDiver1975 in combination with the hint by @localguru (remove the directory ``apps/calendar``) worked like a charme.

[2017-07-03 19:52] #383 closed, assigned to nobody

[2017-07-07 16:19] prsnbrg opened #802 "New age instead of birth year"
### Steps to reproduce
1.
2.
3.

### Expected behaviour
Tell us what should happen
Birthday of contact -> show the age
### Actual behaviour
Tell us what happens instead
I see in my calender the birth year
### Server configuration
**Operating system**:

**Web server:**
Apache/2.4.10 (Raspbian)
**Database:**

**PHP version:**
PHP 5.6.30-0+deb8u1
**Server version:** (see your admin page)
10.0.2.1
**C

[2017-07-10 14:11] ghost commented on #800
-> https://owncloud.org/blog/good-bye-apps-owncloud-com/

@DeepDiver1975 I guess we can close this one or do you want to keep this open and update the old calendar app at apps.owncloud.com?

[2017-07-10 17:32] toefel1 commented on #755
Same thing here. Sorry to say so: this is a MUST HAVE for calendar-apps like this one. I have tested this behaviour on the actual version, no better than in oC 9.x.
PLEASE make this happen. The oC-calender is practically of no use without this!

[2017-07-11 05:40] ghost commented on #801
Hi,

the calendar app is only a frond-end for the calendar sync functionality in the "core" of ownCloud. Its not responsible for any sync issues so closing here for now.

The experiences have shown that such issues like you're facing are mostly caused by server mis-configurations (server is blocking specific HTTP verbs and so on).

Please jump over to central.owncloud.org first. There a large FAQ

[2017-07-11 05:40] #801 closed, assigned to nobody

[2017-07-11 06:03] ghost commented on #802
Hi,

according to https://github.com/owncloud/calendar/issues/490#issuecomment-213907160 this would be a functionality which needs to be provided by the ownCloud "core" so closing here.

As a reference: An existing issue was created there a few days ago but was denied: https://github.com/owncloud/core/issues/28297

[2017-07-11 06:03] #802 closed, assigned to nobody

[2017-07-14 15:33] kreil commented on #101
Searching for events in a certain date range would certainly be most useful. Like
   "board meeting" before:2016-04-01
or similar.

[2017-07-15 11:16] larsrh commented on #800
For everyone who is running Owncloud on shared hosting and restarting the server doesn't work: A method of "last resort" is to go to `lib/private/integritycheck/checker.php` and just returning `false` in function `isCodeCheckEnforced`. _I do not recommend that for a public installation or anything that is accessed by more than one user!_

[2017-07-25 12:14] Laykou commented on #696
👍 Hi, is there any progress on this? We would be also interested in having free/busy feature.

I'd like to be able to see list of all personal calenadars of my collegues. However I do not need to see  all their event names, but only if they are busy. Similarly if I put an event into my calendar I want others to see that I'm busy at that time.

If there is such a feature, can you just give me some

[2017-07-31 08:28] Althain opened #804 "The event title is "busy" even if you can edit it"
### Steps to reproduce
1. Create an event in the calendar, go to the event's details and select "When shared, show busy only"
2. Share the calendar to another person and allow the person to edit
3. Person who can edit sees the event title as busy.

### Expected behaviour
Tell us what should happen
- Person who can edit should see what he/she's editing, so the title shouldn't be "busy", but the rea

[2017-08-01 00:36] cbehren commented on #768
Hi, I was wondering what the status of this problem is. I came across exactly the same problem after upgrading to OC 10.

[2017-08-01 04:33] under-score commented on #768
I have given up the calendar(mobile)-------- Originalnachricht --------Betreff: Re: [owncloud/calendar] breaks sync (#768)Von: cbehren An: owncloud/calendar Cc: under-score ,Author Hi, I was wondering what the status of this problem is. I came across exactly the same problem after upgrading to OC 10.

—You are receiving this because you authored the thread.Reply to this email directly, view it on

[2017-08-01 07:50] cbehren commented on #768
Well, just fyi, in CalDav Sync on Android, there is an option "Use WebDAV instead (slow)". This is a temporary workaround foe me.

[2017-08-07 02:20] dbolton opened #805 "Interal server error when downloading calendar"
### Steps to reproduce
1. Go to the calendar app
2. In the left pane, next to a specific calendar, choose "..." > "Download"

### Expected behaviour
The calendar should download as an ics file.

### Actual behaviour
Page loads with the following message:

### Server configuration
**Operating system**: Ubuntu 16.04.3 LTS

**Web server:**

**Database:**

**PHP version:**

**ownCloud version:** 10.0.

[2017-08-07 09:29] DeepDiver1975 commented on #805
@dbolton please have a look at the log file - you can search for the request id 'OoGAiVubuc5HYXQ00gH0' to find correlated messages - THX

[2017-08-07 23:32] #800 closed, assigned to DeepDiver1975

[2017-08-08 02:37] dbolton commented on #805
Here's the corresponding line from the log file:

{"reqId":"OoGAiVubuc5HYXQ00gH0","level":4,"time":"2017-08-07T02:03:08+00:00","remoteAddr":"10.0.2.2","user":"dbolton","app":"webdav","method":"GET","url":"\/remote.php\/dav\/calendars\/dbolton\/defaultcalendar?export","message":"Exception: {\"Message\":\"Unsupported VALUE parameter for DTEND property. You supplied \\\"\\\"\",\"Exception\":\"Sabre\\

[2017-08-08 10:35] DeepDiver1975 commented on #805
there is some invalid data in your database - please try to isolate this on event and we can try to fix it ....

[2017-08-09 03:35] dbolton commented on #805
I opened the sql backup (mysqldump) in a text editor and found 64 matches to "DTEND;VALUE=;TZ".

If I'm understanding the ICAL format correctly it looks I might be able to simply remove any instances of `VALUE=;` (64 matches) or `VALUE=:` (161 matches)

**Current example 1**
`DTEND;VALUE=;TZID=America/Chicago:20141122T160000`
**Probably the intended code:**
`DTEND;TZID=America/Chicago:20141204T213

[2017-08-15 18:43] prsnbrg opened #806 "External ics subscription failed"
### Steps to reproduce
1. External subscription failed since some days
2.
3.

### Expected behaviour
Tell us what should happen
See the external subscription on the webinterface or on my mobile phone
### Actual behaviour
Tell us what happens instead
I don't See the calender subscription on my mobile Phone. On the webinterface i can the a load icon
### Server configuration
**Operating system**:
Ras

[2017-08-16 08:33] #806 closed, assigned to nobody

[2017-08-25 03:03] AlexandreBonneau commented on #800
To complete @mikaeldo [comment](https://github.com/owncloud/calendar/issues/800#issuecomment-305962078),

1. I upgraded oC to 9.1.6.
2. Calendar app's "certificate has been revoked error" appeared.
3. I followed instructions provided by @DeepDiver1975 [here](https://github.com/owncloud/calendar/issues/800#issuecomment-305447367) and added the line `'appstoreurl' => 'https://marketplace.owncloud.co

[2017-08-25 06:53] DeepDiver1975 commented on #785
fixed

[2017-08-25 06:53] #785 closed, assigned to nobody

[2017-08-25 06:54] DeepDiver1975 commented on #765
this was fixed some time back -> closing

[2017-08-25 06:54] #765 closed, assigned to nobody

[2017-08-27 14:51] ghost commented on #800
@AlexandreBonneau Nice write-up 👍

There is now also a note about deleting the old app directory (step 7.) since a few days at https://owncloud.org/blog/good-bye-apps-owncloud-com/ based on https://github.com/owncloud/owncloud.org/issues/1245

[2017-09-14 13:06] prsnbrg opened #810 "Can not edit calendar entries via Web UI in complex editing mode."
### Steps to reproduce
1.
2.
3.

### Expected behaviour
Tell us what should happen
Normal editing of the calendar entries, as well as before the update.

### Actual behaviour
Tell us what happens instead
Shows complex editing mode, but can not update entries

### Server configuration

**Operating system**:

**Web server:**
Apache
**Database:**
Mysql
**PHP version:**

**ownCloud version:** (see you

[2017-09-15 09:04] DeepDiver1975 commented on #810
![bildschirmfoto von 2017-09-15 11-03-30](https://user-images.githubusercontent.com/1005065/30474963-894d9ff6-9a05-11e7-88dd-ec8558919104.png)

There is indeed something wrong ....

[2017-09-18 09:06] #810 closed, assigned to DeepDiver1975

[2017-09-18 09:52] voroyam opened #812 "Shared calendar gets unselected by logout"
### Steps to reproduce
1. share a calendar
2. select the shared calendar
3. log out

### Expected behaviour
shared calendar stays selected after logout

### Actual behaviour
shared calendar gets unselected

owncloud 10.0.2

Calendar newest version

[2017-09-19 00:40] Tman99 opened #813 "Internal Server Error"
### Steps to reproduce
1. Install calendar version 1.5.4 from apps page.
2. Try to access the calendar from any account.
3.  internal system error is shown instead of a calendar page.

### Expected behaviour
Tell us what should happen

Should see a calendar page.

### Actual behaviour
Tell us what happens instead

An internal server error is displayed instead.

Log file shows:

Error | calendar |

[2017-09-19 05:28] DeepDiver1975 commented on #813
Which owncloud version are you using? Please disable the asset pipeline - calendar does not work with the asset pipline.

[2017-09-19 07:57] ghost opened #814 "Problem with catalan translation"
OwnCloud 10.0.2 (stable)
Calendar version 1.5.4

The file /apps/calendar/js/public/vendor.min.js has the catalan translation in what I suppose it's the old format. The month names for example are displayed as "Undefined" instead of the proper way.

I would send a patch against the file in the git repo but it's simply not there. I can't find any vendor.min.js file in the calendar git or even in the

[2017-09-20 09:05] ChargingBulle opened #815 "Calendar Formatting should be independant from language"
### Steps to reproduce
1. Open the calendar

### Expected behaviour
I'd like to adjust the start of the week, time formatting, ... etc

### Actual behaviour
I cannot change the above stated settings via "Settings" in the lower left.
My local prerefences only update by changing my language.
This behaviour is not clearly communicated to the user.

For example I would like to use ownCloud in english

[2017-09-20 09:17] ChargingBulle commented on #815
Duplicate of [core#376](https://github.com/owncloud/core/issues/376).
But at the moment a resolution is not in sight....

[2017-09-20 09:17] #815 closed, assigned to nobody

[2017-09-20 09:18] ChargingBulle commented on #340
see [core#376](https://github.com/owncloud/core/issues/376).

[2017-09-22 10:43] duub commented on #814
having same issue with oc 10.0.3 and calendar 1.5.4

[2017-09-22 14:36] voroyam opened #816 "9.1.6 no Calendar"
Fresh install in docker ubuntu container

Try to enable Calender App

Get this:
![calender](https://user-images.githubusercontent.com/24212810/30749512-e8845484-9fb3-11e7-9139-fd0bf6ffa9cc.png)

`{"reqId":"Z0gNpEo\/7ExpFMhFqym9","remoteAddr":"172.17.0.1",

"app":"core","message":"Die Signatur konnte nicht \u00fcberpr\u00fcft werden.

Bitte kontaktiere  die App-Entwickler und \u00fcberpr\u00fcfe de

[2017-09-22 14:37] voroyam commented on #816
[code]

[2017-09-23 12:58] DeepDiver1975 commented on #816
Didn't we take care of this recently in some other issue?
The marketplace has to be used  .... https://owncloud.org/blog/good-bye-apps-owncloud-com/

[2017-09-23 12:58] #816 closed, assigned to nobody

[2017-09-24 09:58] PeterPablo commented on #799
This issue affects me as well. I just upgraded to owncloud-files (10.0.3-1.1) from (9.1.6-1.1).

[2017-09-24 10:01] PeterPablo commented on #805
Did you continue your investigation and try to manually fixup your data?

[2017-09-24 22:45] dbolton commented on #805
Sorry I didn't get back to this till today, but yes I was able to manually fix up the data. Below are steps I did to recover.

1. I put ownCloud in maintenance mode
2. I grabbed an sqldump
3. I made a backup copy of the sqldump (so I could go back if my edits didn't work)
4. I did two find and replaces. The first found 61 matches. The second found 161 matches
   Find: `VALUE=;`
   Replace: [blank]

[2017-09-26 02:54] binarykitchen opened #817 "SQLSTATE[HY000]: General error: 1364 Field 'publicuri' doesn't have a default value"
### Steps to reproduce
1. Open existing Calendar
2. Attempt to share it with another OwnCloud user on the same server
3. Does not save this assignment and I see the above error in the console

### Expected behaviour
Should be able to save the sharing with another user

### Actual behaviour
Upon POST to https://xxx/remote.php/dav/calendars/xxx/family/ following error is returned:

[code]

### Serve

[2017-09-26 04:51] dbolton commented on #805
Here's another report of a blank "VALUE": https://github.com/owncloud/calendar/issues/799

[2017-09-26 05:15] dbolton commented on #805
Here's a report where they went through the same fix as my second find and replace: https://github.com/owncloud/calendar/issues/466

[2017-09-27 19:46] ljep42 opened #818 "Calendar does not load in OC10"
### Steps to reproduce
1. Installed Calendar App from Market
2. Opened up Calendar App from App menu

### Expected behaviour
Calendar(s) should load

### Actual behaviour
Calendar(s) is stuck loading in browser

![image](https://user-images.githubusercontent.com/19956144/30933051-60d2518e-a397-11e7-8628-a04e49c73fc7.png)

### Server configuration

**Operating system**:
"server OS": "Linux",
"serve

[2017-09-27 19:52] DeepDiver1975 commented on #818
Mind trying a different browser?

[2017-09-27 19:56] ljep42 commented on #818
Yeah it didn't work in IE 11 either, I can try later when I get home. Attaching the config report.

[config_report_20170927.json.txt](https://github.com/owncloud/calendar/files/1338536/config_report_20170927.json.txt)

[2017-09-28 11:58] ljep42 commented on #818
I did an upgrade to OC10.0.3.3 which seems to have fixed the problem.

[2017-09-28 12:42] DeepDiver1975 commented on #818
Good to know it is working now - strange to see it not working with 10.0.0.

[2017-09-28 18:04] jzeevi opened #819 "Can't share with Groups (can with individual users)"
### Steps to reproduce
1.Login as admin
2.Click on share to share a calendar
3.Type the name of a group

### Expected behaviour
Group name should be recognized and made available for selection.
Note: typing a user name behaves as expected

### Actual behaviour
nothing.
NOTE: typing a user name works as expected

### Server configuration

**Operating system**: Linux (Hosted VPS)

**Web server:** Ap

[2017-09-28 18:05] DeepDiver1975 commented on #819
side note: please fix that by installing the php intl module

[2017-09-28 18:06] DeepDiver1975 commented on #819
would it be possible to get screenshots or a smal vid?
any issues in the browser console?

THX

[2017-09-28 18:18] jzeevi commented on #819
Here’s the screenshot after I typed in a user group:

And here is after I specify a user:

From: Thomas Müller [mailto:notifications@github.com]
Sent: Thursday, September 28, 2017 1:07 PM
To: owncloud/calendar
Cc: Josef Zeevi; Author
Subject: Re: [owncloud/calendar] Can't share with Groups (can with individual users) (#819)

Expected behaviour

Group name should be recognized and made available fo

[2017-09-28 18:24] DeepDiver1975 commented on #819
attachments are no added when replying via email ....

[2017-09-28 18:30] jzeevi commented on #819
Sorry!

Here's the screenshot from when I share with a user (expected behavior)
![image](https://user-images.githubusercontent.com/15890401/30983788-09e16562-a451-11e7-931f-57a674287bc1.png)
here's the screenshot from when I type a user group:
![image](https://user-images.githubusercontent.com/15890401/30983818-2335e7ea-a451-11e7-87cb-da964be3bef4.png)

[2017-09-28 18:39] DeepDiver1975 commented on #819
can you please open the dev tools and see
- if there are any errors
- if there is any request sent from the browser to the server

Are these regular groups or do they come from ldap?

THX

[2017-09-28 18:41] jzeevi commented on #819
I have created the users and groups as this is not tied to LDAP or any other YP/NIS.

And, I'm sorry to be dense, but what does it mean "open the dev tools"?

[2017-09-28 18:42] DeepDiver1975 commented on #819
in firefox this is F12 - usually - there is a tab named console. Would be good to knowif there are any errors.

[2017-09-28 18:47] jzeevi commented on #819
Ah, thanks! I'm on Chrome, but F12 does get me a set of tabs. When I open the Console and start typing the goupd name, I don't see any errors. (or actually, anything on the console). And, I apologize in advance, this is not my forte (I'm an embedded/OS guy). I do see some network activities on that tab, but am not sure how to get them to this log....

[2017-09-28 18:48] jzeevi commented on #819
I see one entry per character that I type of this:
https://blackholeinc.net/storage/ocs/v1.php/apps/files_sharing/api/v1/sharees?format=json&search=2&perPage=200&itemType=principals

[2017-09-28 18:49] jzeevi commented on #819
Note: the search= field gets longer every character I type (it goes from 2 to 28 to 281 to 2817 to 2817f)

[2017-09-28 18:50] DeepDiver1975 commented on #819
This is what we need - there is a sub tab when you click on one of these requests.
One of these is named response - I'd like to see the response body

[2017-09-28 18:52] jzeevi commented on #819
On Chrome, I don't see a sub tab (may have missed it, the screen is quite busy with the dev tools open) but I did see a response of this:

{"ocs":{"meta":{"status":"ok","statuscode":100,"message":"OK","totalitems":"","itemsperpage":""},"data":{"exact":{"users":[],"groups":[],"remotes":[]},"users":[],"groups":[],"remotes":[]}}}

[2017-09-28 18:54] DeepDiver1975 commented on #819
hmmm ... why is this happening?

can you give it a try with a group name starting with a letter and not a number?

[2017-09-28 18:55] jzeevi commented on #819
There's a default group of "Everyone" in owncloud. That doesn't work either.

[2017-09-28 18:57] DeepDiver1975 commented on #819
I know it!

Open the admin setting - there is a sharing section.
I assume the config option to share with groups is disabled

[2017-09-28 18:58] jzeevi commented on #819
You are a genius!  That was it. Thank you so much for the help, and the education on the dev tools. That'll come in handy.

[2017-09-28 18:59] #819 closed, assigned to nobody

[2017-09-28 18:59] DeepDiver1975 commented on #819
Always happy to help! Take care and enjoy!

[2017-09-30 07:53] ghost commented on #817
@binarykitchen Please note the following in the filled out issue template:

``
Please report Migration and CalDAV/sync issues to the core repo at https://github.com/owncloud/core/issues
``

There is a similar issue in core: https://github.com/owncloud/core/issues/27754

Not quite sure if this is related so you might also want to create a new issue in core about this.

[2017-09-30 07:53] #817 closed, assigned to nobody

[2017-09-30 07:57] ghost commented on #799
Closing as a duplicate of https://github.com/owncloud/calendar/issues/805

The issue here is older but #805 has quite more info and instructions how to fix the broken events in the database: https://github.com/owncloud/calendar/issues/805#issuecomment-331745533

*Edit* There is https://github.com/owncloud/core/issues/28114 as well which seems to handle the issue itself.

[2017-09-30 07:57] #799 closed, assigned to nobody

[2017-10-01 12:21] IzK666 opened #820 "Undefined month in catalan language"
In version 1.5.4 instead of "Octubre 2017" there is an "Undefined 2017". In earlier version, v1.4.1, worked fine.
The calendar and the appointments are correct. The error is just that I have to count how many times I go forth or back to know which month is displayed.
I have tried other languages (spanish, english and français) and there is no error.

I'm using OC9.1.6.

The logs sais that "/apps/c

[2017-10-02 12:02] aartsr opened #821 "autosize.js missing"
My calendar seems to work (no problems accessing through thunderbird, outlook caldav synchronizer, iOS etc) but I do get however get the following error in the log every time the calendar app is viewed via a web browser (firefox, chrome):

Could not find resource file "/owncloud/apps/calendar/js/vendor/autosize/dist/autosize.js"

I'm guessing it's not installed with the latest Calendar app v1.5.4?

[2017-10-02 12:51] DeepDiver1975 commented on #821
the autosize library is within js/public/vendor.min.js - no idea why it is trying to request  "/owncloud/apps/calendar/js/vendor/autosize/dist/autosize.js"

[2017-10-02 13:00] DeepDiver1975 commented on #820
similar to #821

[2017-10-02 13:01] DeepDiver1975 commented on #820
looks like some translation is missing .....

[2017-10-02 13:04] DeepDiver1975 commented on #820
confirmed - afaik these translations come from moment.js ...

[2017-10-02 13:05] aartsr commented on #821
#813 same autosize.js request path as well

[2017-10-02 13:07] DeepDiver1975 commented on #821
Are you running with asset pipline active? Please disable it and try again

[2017-10-02 13:21] aartsr commented on #821
I never played around with asset pipeline and checked my OC config.php just to be sure and it's not there (assuming it's not enabled by default).

[2017-10-02 19:12] IzK666 commented on #820
DeepDiver, which file is "moment.js". I can't find it in OC anywhere.
If you tell me where are the strings, I can translate them on transifex.

On the other side, I don't think it's a translation problem, as any untranslated string appears in english.

[2017-10-02 20:08] DeepDiver1975 commented on #820
this one - https://github.com/owncloud/core/blob/v9.1.6/core/vendor/moment/min/moment-with-locales.js

I'll have a closer look ....

[2017-10-04 19:56] #818 closed, assigned to nobody

[2017-10-04 19:57] DeepDiver1975 commented on #821
mind posting your config.php? please remove sensitive data

[2017-10-05 08:09] aartsr commented on #821
here you go

[code]

[2017-10-05 08:20] DeepDiver1975 commented on #821
thx - I could finally reproduce this last night - the fix is in #822

[2017-10-05 08:28] aartsr commented on #821
thank you!

[2017-10-05 08:47] aartsr commented on #821
I manually edited viewcontroller.php and main.php as per #822 and can confirm the error is gone (I couldn't find viewcontrollertest.php but I assume that's a dev setup/file).

[2017-10-05 09:14] #821 closed, assigned to nobody

[2017-10-16 10:40] amnesiemaniac commented on #779
It's very disappointing that owncloud and this calendarapp change behavior without any notice and without any possibility to configure old behavior. :-( I have customers using owncloud, calling me and asking how to get back to 8.x , but I don't think its a good idea to revert to an outdated und unsupported version.

Would be nice if Marvin could answer.

[2017-10-17 22:58] balta3 opened #823 "Sharing with write permission not possible when target user has a different display name"
### Steps to reproduce
1. Create a user "jon.doe" with display name "Jon Doe"
2. Try to share a calendar with Jon Doe and allow to edit the calendar
3. Reload calendar page

### Expected behaviour
Calendar should be shared one time with Jon Doe and he may edit the events.

### Actual behaviour
Calendar seems to be shared two times, one time with and one time without write permission. Jon Doe is no

[2017-10-18 10:14] ugoviti commented on #823
I confirm this behavior.

Tested with two different production environments:

- Active Directory
- OpenLDAP

With Kind Regards

[2017-10-18 14:21] DeepDiver1975 commented on #812
assigning @VicDeo because the fix is in core owncloud/core#27005

[2017-10-18 14:28] VicDeo commented on #812
Fixed in 10.0.4beta2
master:  owncloud/core#29136
stable10:  owncloud/core#29273

[2017-10-18 14:31] DeepDiver1975 commented on #812
@voroyam can you please test this with 10.0.4beta2 ? THX

[2017-10-18 14:33] VicDeo commented on #812
@DeepDiver1975 beta2 is unreleased, it's basically current stable10
I just wanted to stress out that beta1 still has no fix for this issue :)

[2017-10-20 07:43] headstorm21 opened #824 "Write permission not working with sharing"
### Steps to reproduce
1. Create a calendar
2. Share calendar with a specific user and give the write permission
3. create or modify event in share calendar by specific user

### Expected behaviour

### Actual behaviour

When i create and share calendar with a specific user and i give write permission on, there's 2 problems:
- the first is when i refresh the calendar web page and i check the write

[2017-10-25 17:08] c-holtermann commented on #449
A first simple step seems to be to add another css for media print:

[code]

this prevents the events further down the screen to be cut even if zoomed out.

Made it https://github.com/owncloud/calendar/pull/825.

It would be nice to print on multiple pages but that's another step.

[2017-11-03 09:17] bwiese71 commented on #824
Exactly same issue for me too on 10.0.3.3 fresh install.

[2017-11-05 12:52] LuLu69 commented on #466
After upgrading from 9 to OC 10.0.3 I faced same problem with error while exporting calendar. I corrected by executing SQL statement
`UPDATE oc_calendarobjects SET calendardata = REPLACE(calendardata, ';VALUE=:', ':');`

Please note the change in table name!

Where the erroneous entries coming from is hard to say, as with the OC calendar I have connected Win10-Calendar, Android-Calendar-App and Li

[2017-11-07 15:19] kwoxer commented on #805
It's nice to have a workaround somehow indeed. But I have currently 3 of 8 calenders. All are heavy used. And this would take me hours to proceed. As there are so many guys having that issue, why not patch this. And automatically do that cleaning of the sql? That should not be hard to manage.

[2017-11-10 15:35] Rudloff commented on #778
Any news on this now that ownCloud 10 is released?
We can now share a calendar with a public link, but the export link still asks for a password.

[2017-11-13 00:39] jasonblewis opened #827 "calender visibility not remembered between browser refreshs"
Steps to reproduce
1. log in, notice which calendras are currently visible
2. click on a calendar that is not currently visible on the left hand side to make it visible
3. notice its now visible
4. refresh browser
5. notice calendar is no longer marked as visible.

Also happens in reverse (ie if you mark a visible calendear as not visible, it will be visible again after refresh)

Tested in OwnClou

[2017-11-14 11:34] nahuelange commented on #624
I'm expecting this feature too

[2017-11-14 11:39] georgehrke commented on #624
@nahuelange Please don't comment with +1, 👍 etc. when you can't add anything new. It's only spamming contributors' mail inboxes for no reason.  Use [Github Reactions](https://github.com/blog/2119-add-reactions-to-pull-requests-issues-and-comments) instead.

[2017-11-16 14:47] gabinita commented on #824
Same Issue on 10.0.3.3. Can share , allow edit, but the shared person cannot edit. Please advise

[2017-11-17 17:25] uwe347 opened #828 "Sharing of calendar doesn't work with owncloud 10.0.3.3 and calendar app 1.5.4"
### Steps to reproduce
1. owncloud is set up from 9.x via 9.1.5.2 to 10.0.0 to 10.0.3.3 (it worked already but now sharing has disappeared)
2. opening calendar of any user and click on "sharing"-icon
3. enter name of any other user and/or pick one from the list of existing users

### Expected behaviour
The checkmark-fields (those to allow modify and share) should appear after selecting one of the

[2017-11-17 18:07] DeepDiver1975 commented on #828
@Julian1998 can you please have a look? THX

[2017-11-20 16:00] paulmenzel commented on #827
Could that be a duplicate of issue #812?

[2017-11-20 16:04] paulmenzel opened #829 "Consumers of shared calendar see private events"
### Steps to reproduce
1. Update from ownCloud 9 to ownCloud 10
2. Have a working shared calendar with events marked as private

### Expected behaviour

Consumers of the shared calendar should not see private events.

### Actual behaviour

Some consumers are able to see these events.

[2017-11-21 16:32] SimoneCampinoti opened #830 "99/5000 non-proprietary users are unable to create / modify events on the shared calendar"
### Steps to reproduce
1. with user A create a calendar
2. share the calendar to LDAP user B
3.User A can see 2 time the shared calendar line to User B (the first one with write permission and se second without; in the table oc_dav_shares we can find 2 record one with access = 2 and resourceid = display name the other with access=3 and resource id = user id)
4) User B cannot delete add or modify e

[2017-11-21 16:48] Julian1998 commented on #830
@SimoneCampinoti Thanks! I will have a look at it tomorrow

[2017-11-23 04:24] gabinita commented on #824
I tried different forms, seams the if you share your calendar with a group and give edit right is working, is not working if you share with a user and give edit right is not working.

[2017-11-25 15:35] aartsr opened #831 "Invalid hash after OC 9.1.7 upgrade"
FYI After upgrading OC from 9.1.6 to 9.1.7 the code integrity check shows invalid hashes for the calendar app (v1.5.4, which was also already installed under OC 9.1.6). Environment: Debian jessie, php 5.6.30, mysql 5.5.58, apache. It lists the following:

Technical information
=====================
The following list covers which files have failed the integrity check. Please read the previous link

[2017-11-28 14:33] kku opened #832 "Calendar loads infinitely"
See first part of the mixed issue in https://github.com/owncloud/core/issues/29663#issuecomment-347312843 and my comment concerning

### Steps to reproduce
1.
2.
3.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

### Server configuration

**Operating system**: Fedora 27

**Web server:** Apache

**Database:** MariaDB 10.2.9

**PHP version:** 7.

[2017-11-28 15:52] ghost commented on #832
As pointed out in https://github.com/owncloud/core/issues/29663 it needs to be evaluated if this is caused by some external dependencies pulled in by Fedora 27 (e.g they are shipping sabre/vobject 4.0.x instead of 3.5.x required by ownCloud).

[2017-11-30 13:56] kku commented on #832
I checked. Actually both are available:

`$ dnf list installed |grep sabre `

php-channel-sabredav.noarch             1.3-10.fc27                     @fedora
php-sabre-dav.noarch                    3.2.2-2.fc27                    @fedora
php-sabre-event.noarch                  2.0.2-5.fc27                    @fedora
php-sabre-http.noarch                   4.2.3-2.fc27                    @fedora
ph

[2017-12-04 12:01] downdrown opened #833 "Can't add a CalDAV subscription that is user restricted"
I tried to add a CalDAV Subscription with a URL like this :

**https://my.url:8080/calendar/caldav/myuser**

This CalDAV Account is restricted for "myuser".
I tried to add the credentials to the URL like:

**https://myuser@my.url:8080/calendar/caldav/myuser**

and

**https://myuser:mypassword@my.url:8080/calendar/caldav/myuser**

But none of them worked.
I get a 401 Notification.

How can I add a

[2017-12-04 12:34] TrapperPhD opened #834 "Internal Server Error"
### Steps to reproduce
1. update of calendar app to v1.5.4
2. logout owncloud, restart apache2, login to owncloud
3. click on "Calendar" in the Apps menu

### Expected behaviour
Owncloud calendar view opens.

### Actual behaviour
Broswer shows server error message ...
[code]

### Server configuration

**Operating system**: Ubuntu 14.04.1

**Web server:** Apache2

**Database:** MySQL

**PHP version

[2017-12-04 13:20] TrapperPhD commented on #834
Just to be complete ... "sudo -u www-data php occ maintenance:repair" had fixed classification fir calendar objects, ...

but issue is still there.

BR
CV

[2017-12-04 15:14] TrapperPhD commented on #834
After deactivating apps, upgrade to oc 10.0.3, and install calendar app from market place, everything seems to work fine.

Closing issue.

Best
CV

[2017-12-04 15:14] #834 closed, assigned to nobody

[2017-12-04 16:21] ITTRI4710 commented on #830
Is there something new here?
I have the same Problem -_-

ownCloud 10.0.3 (stable)
Calendar 1.5.4

[2017-12-04 19:35] ghost commented on #831
I guess this was there on 9.1.6 as well (maybe own modifications done by you) and the uppdate triggered the integrity check again so this is now showing up.

I'm closing there for now as it is very very unlikely that this is an app problem. Please re-download the app from https://marketplace.owncloud.com/apps/calendar, replace the mentioned files and rescan the integrity.

If you need further help

[2017-12-04 19:35] #831 closed, assigned to nobody

[2017-12-04 19:36] ghost commented on #829
Closing as a duplicate of https://github.com/owncloud/core/issues/26161

Background info: Since ownCloud 9.0 the caldav backend which is responsible for this is located in core.

[2017-12-04 19:36] #829 closed, assigned to nobody

[2017-12-04 19:41] ghost commented on #831
Most likely caused by your manual changes in https://github.com/owncloud/calendar/issues/821#issuecomment-334400567

[2017-12-04 19:43] ghost commented on #813
No feedback after some months -> Closing

I guess this would be either fixed with https://github.com/owncloud/calendar/pull/822 (from https://github.com/owncloud/calendar/issues/821) or by disabling the asset pipeline (which is gone in newer ownCloud versions as well).

[2017-12-04 19:43] #813 closed, assigned to nobody

[2017-12-07 08:37] ittrend4710 commented on #830
Hello there!!!

...any news about that???

Facing exactly the same issue!

Additionally I created a log of the integrity check -> see attached!
[integrity.txt](https://github.com/owncloud/calendar/files/1538336/integrity.txt)

Please help,
Regards,
Mike

[2017-12-11 15:23] Ricardo665 commented on #823
Hello,
I'm using an Active Directory environment and I found this problem today
It seems to come from the order of the parameters in the function `updateExistingUserShare`

I fixed it in apps/calendar/templates/part.calendarlist.item.php, modifying line 169 :
`ng-change="updateExistingUserShare(item.calendar, userShare.displayname, userShare.id, userShare.writable)"`

This solution seems to work,

[2017-12-12 19:12] krpage commented on #832
As kku notes, both php-sabre-vobject4 and php-sabre-vobject are installed on Fedora 27.

However it does look like vobject4 is the dependency for the owncloud packages (trying to uninstall php-sabre-vobject4 isn't possible without removing owncloud, but php-sabre-vobject can be removed).

Is there a quick hack that can be applied to make owncloud pull in the correct version?

My calendar is comple

[2017-12-12 19:24] krpage commented on #832
Bug filed at:
https://bugzilla.redhat.com/show_bug.cgi?id=1525208

Let me know if I've not summarised correctly.

[2017-12-12 23:14] krpage commented on #832
On Fedora 27, downgrading php-sabe-dav to php-sabre-dav-3.0.9-4.fc26.noarch temporarily works around this issue.

[2017-12-13 10:30] ittrend4710 commented on #830
Hello again,
no response at all :-(
I'll open it in central.owncloud.org ... hopefully it helps
Best,
Mike

[2017-12-13 10:35] ittrend4710 commented on #830
https://central.owncloud.org/t/non-proprietary-users-are-unable-to-create-modify-events-on-the-shared-calendar/10806

[2017-12-15 12:27] ittrend4710 commented on #830
DeepDiver1975 closed the case at central.owncloud.org with this note:
Github is the right place for this issue. Please be aware that apps like calendar and contacts are community driven. Nobody is offering 24x7 support

yeah ... closed without giving the possibility to answer ... not nice

**!!! Nobody is talking about 24 x 7 support** ... but community projects which nobody feels responsible for

[2017-12-15 12:34] DeepDiver1975 commented on #830
then head over to https://owncloud.org/support/ ;-)

I understand your frustration - but this will not help either. There are thousands of issue through out all owncloud repos - your is simply just one of it. Sorry to be rude but that is a hard fact.

[2017-12-15 12:50] ittrend4710 commented on #830
i just requested a quote for this case ... hopefully there is a possibility to pay only for it (yes ... I would share the solution to the communicty, too ... for free) / not to buy a "standard subscription" for $5,760 / €4,800 or above

...this wouldn't make sense because we're providing ownCloud without a surcharge for our customers ... as a benefit...

[2017-12-15 13:56] DeepDiver1975 commented on #830
What would help a lot is the get detailed steps for reproduction. The issue title also is talking about non-proprietary users - which deserves some explanation what that should be ....

[2017-12-15 14:51] DeepDiver1975 commented on #812
this is fixed with owncloud 10.0.4

[2017-12-15 14:51] #812 closed, assigned to voroyam

[2017-12-15 14:51] DeepDiver1975 commented on #827
this is fixed with owncloud 10.0.4

[2017-12-15 14:51] #827 closed, assigned to nobody

[2017-12-17 20:20] mkubik2 commented on #768
Any progress on this one? CalDav Sync on Android + OC 10.0.4 won't work regardless of configuration, tried CalDAV, WebCal, WebDAV -- no luck.

[2017-12-18 07:49] ittrend4710 commented on #830
Initial Idea was an OC Upgrade vom 8.1 -> 10 AND Migration to 64bit System

Starting at:
- openSUSE 13.1 i586 (32bit)
- ownCloud 8.1.9
- Calendar 0.7.4

-----------------------------

Did the following:

- openSuSE 13.1 to 13.2 (32bit) regarding OC 10 dependencies
- System is on
...Apache2: 2.4.10-31.1
...MySQL: 5.6.34-2.23.1
...PHP: 5.6.1-89.1

-----------------------------

- Update ownCloud 8.1

[2017-12-18 07:53] DeepDiver1975 commented on #830
please list these files - THX

[2017-12-18 07:55] ittrend4710 commented on #830
Technical information
=====================
The following list covers which files have failed the integrity check. Please read
the previous linked documentation to learn more about the errors and how to fix
them.

Results
=======
- user_webdavauth
	- EXCEPTION
		- OC\IntegrityCheck\Exceptions\InvalidSignatureException
		- Signature data not found.
- updater
	- EXCEPTION
		- OC\IntegrityCheck\Excep

[2017-12-18 08:14] DeepDiver1975 commented on #830
THX - ok - this is unrelated ....

[2017-12-18 08:15] ittrend4710 commented on #830
would you like to check it live at the system?

[2017-12-18 08:23] DeepDiver1975 commented on #830
@ittrend4710 since you are not using ldap or any other external user system I think you deserve a ticket on your own .... the issue of @SimoneCampinoti is 100% related to ldap.

You might be facing the same error behavior but from my POV the reason is a different one.

Might help ...

[2017-12-18 08:27] ittrend4710 commented on #830
would you like me to open a new ticket now?

regarding "live" ... I can provide a Teamviewer Session ... just provide date & time

[2017-12-18 08:37] DeepDiver1975 commented on #830
yes please - this might already clear things up a bit - THX

[2017-12-18 09:33] ittrend4710 opened #836 "Users are unable to create / modify events on the shared calendar"
Issue:
- User A creates a calendar and shares it with User B
- User B can see the shared calender, but cann't create or modify events
- Additionally some of the shared calenders aren't showed in "calender" section, but in "subscription"

![2017-12-18 10_22_17-spiceworks - tickets ri offen](https://user-images.githubusercontent.com/34334575/34098803-dff6a7ae-e3dd-11e7-8fad-ed3b5c3cdb93.png)

------

[2017-12-18 09:34] ittrend4710 commented on #830
here you are:
https://github.com/owncloud/calendar/issues/836

best,
mike

[2017-12-18 09:36] ittrend4710 commented on #836
so, let's proceed ;-)

[2017-12-18 09:38] DeepDiver1975 commented on #836
If a calendar is shown as subscription it has been share read-only (which is the default).

Once you share it in write mode it will show as calendar and you can edit items.

Let me know if this helps.

[2017-12-18 10:29] ittrend4710 commented on #836
unfortunately not, behavior is like this:
- Login UserA ... go to calender ... check the share settings
- UserB (aka BUERO) is registered twice ... the initial one with "can edit" and a new entry with "read only"
see screenshot:
![screen](https://user-images.githubusercontent.com/34334575/34101432-0aa5754a-e3e6-11e7-8aeb-c6ebe544f55d.png)

i tried the following:
- enabled "can edit" on the second

[2017-12-18 10:47] DeepDiver1975 commented on #836
hmmm ... why are there two entries for BUERO?

[2017-12-18 11:16] ittrend4710 commented on #836
this is what I'm asking for ... and changes won't be saved

it happens since the last upgrade step 9.1 -> 10.x

[2017-12-18 11:17] ittrend4710 commented on #836
database issues? I can remember that I found a similar threat ... there where some tables / rows missing, i think...

[2017-12-18 11:37] DeepDiver1975 commented on #836
very probably - please have a look into the table oc_calendars and find out about the id of the calendar which causes trouble. Next please have a look at the table oc_dav_shares - the columns resourceid holds the calendar id.

I expect duplicates there ....

[2017-12-18 11:38] DeepDiver1975 commented on #836
And having a look into the log file in data/owncloud.log might help as well - not saved changes should write errors inside

[2017-12-18 12:10] ittrend4710 commented on #836
oc_dav_shares looks like this:
![dav1](https://user-images.githubusercontent.com/34334575/34104931-c3ee0272-e3f2-11e7-9da2-60cf1dc1d559.png)

----------------------

logged in as UserA: I tried to delete "buero/BUERO" Entries from Calender sharing using the web-gui ... and finally I logged of as User A ... seems to work, no results in oc_dav_shares as well ... see:
![dav2](https://user-images.gith

[2017-12-18 12:14] DeepDiver1975 commented on #836
Strange - why is it uppercase and lowercase? Can I see the users page? Are there two users?

[2017-12-18 12:22] ittrend4710 commented on #836
...web-gui, see: (only one User called "buero" ... lowercase)
![user](https://user-images.githubusercontent.com/34334575/34105918-7fbde820-e3f6-11e7-9baa-3f62f183b96f.png)

[2017-12-18 13:42] DeepDiver1975 commented on #836
crazy ... I'll try to reproduce this behavior .... what browser are you using?

[2017-12-18 13:48] ittrend4710 commented on #836
Version 63.0.3239.84 (official build) (64-Bit) ... but as I wrote ... my users contaced me after the upgrade to version 10 and told me that the calender app is doing strange things ... so I don't believe that's browser related

do you want to check it on my system using teamviewer ... i can create a meeting ... and you can safe time trying to reproduce it...

[2017-12-19 00:00] dlandon opened #837 "Having issues with android CalDav app with owncloud 10.0.4"
### Steps to reproduce
1. Install CalDav-Sync.
2. Enter server credentials.
3. Connection failure in CalDAV-Sync app.

### Expected behaviour
Tell us what should happen
Calendar should sync.

### Actual behaviour
Tell us what happens instead
CalDav-Sync displays connection error.

### Server configuration
ownCloud docker

**Operating system**:
Android 7

**Web server:**
nginx 1.13.3

**Database:**

[2017-12-19 07:34] DeepDiver1975 commented on #837
looks like your mariadb server is offline

[2017-12-19 07:35] DeepDiver1975 commented on #837
should also be taken care of ....

[2017-12-19 10:24] dlandon commented on #837
I don't understand how mariadb server can be offline.  The eMClient and iPad calendar apps work, just not Android phones.  Has anything in the DAV interface changed in 10.0.4?

[2017-12-19 10:39] DeepDiver1975 commented on #837
well in this case the error messages are unrelated to your issue.

[2017-12-19 14:08] dlandon commented on #837
This is the issue the Android app support says is the problem: https://central.owncloud.org/t/owncloud-10-0-4-caldav-sync-with-cellphone-workaround-needed/10797/3

How do I implement a fix?  This is a very important feature in my business and I don't want to wait for 10.5 release.

[2017-12-19 14:44] ittrend4710 commented on #836
hello there ... any ideas about that?
what about remote session tomorrow, together?
best,
mike

[2017-12-19 14:47] DeepDiver1975 commented on #837
if you feel like it - please apply this patch - https://github.com/owncloud/core/pull/29874

[2017-12-19 18:11] dlandon commented on #837
I don't know how to apply the patch without breaking the installation.  It says  the WebDAV interface seems to be broken.  It's probably from the wrong hash.  How do I generate a new hash for the modified file.

[2017-12-20 07:44] DeepDiver1975 commented on #768
@mkubik2 @under-score @cbehren please help fixing this by review/test this pull request: https://github.com/owncloud/core/pull/29875

[2017-12-20 07:52] under-score commented on #768
sorry I left owncloud soon after the incident

[2017-12-20 12:20] DeepDiver1975 commented on #837
If applying the patch does not work for you just live with the workaround as explained on central .... this is fine until we release 10.0.5 in January

[2017-12-20 12:28] DeepDiver1975 commented on #836
A remote session will no help much - I need to debug the server code while the requests are executed.

Please drop a screenshot of the table oc_accounts for the users which are involved in this scenario (usera and buero) - THX

[2017-12-20 15:20] ittrend4710 commented on #836
here you are
![bgf](https://user-images.githubusercontent.com/34334575/34214102-bb42f53c-e5a1-11e7-85c8-e0bdf8d99030.png)
![buero](https://user-images.githubusercontent.com/34334575/34214103-bb5be326-e5a1-11e7-9878-6fd3c75a1cca.png)

[2017-12-20 15:28] DeepDiver1975 commented on #836
hmmm .... is this bloody code by accident using the displayname?

Retesting .......

[2017-12-20 15:30] ittrend4710 commented on #836
curious...

[2017-12-20 18:47] DeepDiver1975 commented on #836
I have it reproduced! Finally!

![bildschirmfoto von 2017-12-20 19-46-43](https://user-images.githubusercontent.com/1005065/34223151-8eec32f6-e5be-11e7-9b7f-c595e7ec0a38.png)

[2017-12-20 18:51] DeepDiver1975 commented on #836
@Julian1998 this requires js - fun for you! 😉

[2017-12-21 01:24] dlandon commented on #837
Applied the work around and it is working.

[2017-12-21 01:24] #837 closed, assigned to nobody

[2017-12-21 06:06] mkubik2 commented on #768
I'll check, but it'll take some time. There is this thing called Christmas coming in my way.... Thanks for looking into!

[2017-12-21 07:30] ittrend4710 commented on #836
sounds good - please explain

[2017-12-21 09:03] DeepDiver1975 commented on #836
On the initial share request the user id is used. On the second request the displayname is used which is stupid ....

We need to fix the calendar front end but also the backend and verify if the sent principal is a valid one.

[2017-12-21 09:45] ittrend4710 commented on #836
thanks für update - please keep me up to date

[2017-12-21 10:09] DeepDiver1975 commented on #836
@ittrend4710 the fix is in https://github.com/owncloud/calendar/pull/839

[2017-12-21 10:16] DeepDiver1975 commented on #830
@SimoneCampinoti @ITTRI4710 you are welcome to test this fix - this is very likely the fix for this case as well - https://github.com/owncloud/calendar/pull/839 THX

[2017-12-21 10:17] DeepDiver1975 commented on #828
Please test this fix - very likely the same issue - https://github.com/owncloud/calendar/pull/839 THX

[2017-12-21 10:17] DeepDiver1975 commented on #824
please test this fix - https://github.com/owncloud/calendar/pull/839 THX

[2017-12-21 10:18] DeepDiver1975 commented on #823
please test this fix - https://github.com/owncloud/calendar/pull/839 THX

[2017-12-21 10:20] DeepDiver1975 commented on #832
distro issue - unrelated to owncloud -> close

[2017-12-21 10:20] #832 closed, assigned to nobody

[2017-12-21 10:23] DeepDiver1975 commented on #814
@serginuez can you please point me to the change you did? Its not that easy to find your changes - THX

[2017-12-21 12:40] ittrend4710 commented on #836
hello there!

@DeepDiver1975 ... already tested the fix like this:

- changed /apps/calendar to the new one
- Login as UserA and deleted the actual (wrong/double) sharing entries
- Logoff & Relogin as User A and created a share entry für User Buero with write access
- Login as User Buero and tested it ... User is now able to edit etc.

so the new code seems to work correctly -> GOOD WORK!!!

...bu

[2017-12-23 18:22] Jolopu opened #850 "Calendar not working with OwnCloud 10.0.4"
After updating to OwnCloud 10.0.4 the Calendar app is not working anymore. See screenshot.
### Steps to reproduce
1. Update from OC 10.0.3 to 10.0.4

### Expected behaviour
Calendar should show calendars

### Actual behaviour
No calendars are shown, datepicker doesn't work, and so on.

### Server configuration

**ownCloud version: 10.0.4

**Calendar version: 1.5.4

![owncloud-calendar](https://use

[2017-12-26 13:02] DeepDiver1975 commented on #850
Error messages in the browser Console?

[2017-12-26 13:03] DeepDiver1975 commented on #850
How did you install the calendar App?

[2017-12-26 13:11] Jolopu commented on #850
Installation:
Downloaded the calendar-master.zip, unpacked, uploaded the folder to /apps via FTP, renamed folder to /calendar and activated the app in the OC backend.

[2017-12-26 13:13] Jolopu commented on #850
Chrome Console shows no error messages.

[2017-12-26 13:16] Jolopu commented on #850
Even though the calendar is broken in the OC backend, syncing works with CalDAV.

[2017-12-27 07:43] DeepDiver1975 commented on #850
Please install the app via the Market App in your owncloud instance.
Calendar-Master.zip is takes from github and only holds the source Code not the full working App.

[2017-12-27 08:30] Jolopu commented on #850
I tried to but when I enable the Market app, I get a spinnig cursor and the apps don't show up. The chrome console shows this error:

vue.runtime.esm.js?a427:559
TypeError: Cannot read property 'length' of null
    at VueComponent.render (List.vue?0898:29)
    at VueComponent.Vue._render (vue.runtime.esm.js?a427:4191)
    at VueComponent.updateComponent (vue.runtime.esm.js?a427:2570)
    at Watche

[2017-12-27 08:34] Jolopu commented on #850
This was already an issue in OC 10.0.3

![oc-market-app](https://user-images.githubusercontent.com/34797349/34375892-ce751aa4-eb23-11e7-8fc7-294b062733cd.png)

[2017-12-27 08:48] Jolopu commented on #850
I downloaded Calendar app from the marketplace and installed it manually. Now it works. Thank you!

[2017-12-27 08:48] #850 closed, assigned to nobody

[2017-12-28 09:53] mkubik2 commented on #768
[logs.txt](https://github.com/owncloud/calendar/files/1590943/logs.txt)

No luck, unfortunately. I attached the logs.

[2017-12-28 10:09] ghost commented on #814
the catalan part is the attached (as it's minified and I cannot find the regular file it's really a mess to manage it). I had to redo all the catalan section, as the variables and structures used looked like they were written for an older i18n format.

[catalan.txt](https://github.com/owncloud/calendar/files/1590984/catalan.txt)

[2018-01-02 13:25] ittrend4710 commented on #836
happy new year :-)

...any news about that?

best,
mike

[2018-01-02 14:27] DeepDiver1975 commented on #836
I am offline until january 8th.  Will respond then.

[2018-01-04 22:48] ghost opened #867 "Calendar loads forever on latest Fedora"
Basically, I'm not sure how to even view the owncloud error logs to try and work out what is happening. I'm reasonably okay with using Linux, but I suspect some of the commands below are for Ubuntu not Fedora, so they didn't help me get at the logs.

### Steps to reproduce
1. Owncloud calendar just loads and never shows anything
2.
3.

### Expected behaviour
Show my calendar

### Actual behaviour

[2018-01-06 07:40] uwe347 commented on #828
Sorry for being only a user with no programming skills... I don't find the place where to apply the fix.
[This page](https://github.com/owncloud/calendar/pull/839/files#diff-3f31cf29dabccac17dc76bf33ba73634) shows the line which has to be changed in the file named "js/app/controllers/calendarlistcontroller.js", but I can't find any file with this name in my owncloud installation. ('find owncloud -

[2018-01-06 09:26] DeepDiver1975 commented on #828
You Applied the patch correctly.
Please reshare the calendar and it should work.

[2018-01-08 08:39] DeepDiver1975 commented on #836
I will work on database cleanup these days - will require a patch to core.

[2018-01-08 08:42] ittrend4710 commented on #836
thanks a lot ... if you wanna me to do testing, please inform
best,
mike

[2018-01-08 13:14] adrianreber commented on #867
Same for me with a system just upgraded from Fedora 25 to Fedora 27.

[2018-01-08 18:36] adrianreber commented on #867
This seems to be a duplicate of https://github.com/owncloud/core/issues/29663 and it also mentioned here: https://bugzilla.redhat.com/show_bug.cgi?id=1525208

I installed php-sabre-dav-3.0.9-4.fc26.noarch.rpm and php-sabre-vobject-3.5.3-5.fc26.noarch.rpm from Fedora 26 and it works for me again.

[2018-01-08 19:52] ghost commented on #867
Yes, it would seem doing this "fixes" it.

dnf install https://www.rpmfind.net/linux/fedora/linux/releases/26/Everything/x86_64/os/Packages/p/php-sabre-dav-3.0.9-4.fc26.noarch.rpm

[2018-01-09 23:35] #867 closed, assigned to nobody

[2018-01-14 00:34] jdpipe commented on #696
https://github.com/owncloud/calendar/issues/696#issuecomment-239490532 above mentions that "The server already provides Free/busy support afaik". If that is true, could someone please confirm it, and provide details of how it can be turned on, and what it looks like when operational? I am assuming that this means that clients such as Thunderbird can access this feature on the server?

[2018-01-14 09:34] ccheveaux opened #869 "Refresh on web browser and avatar doesn't show in public calendar"
### Steps to reproduce
1. Share on public mode a calendar
2. Go on link to see calendar on other browser or computer (where you are not log on on owncloud)
3. Refresh of web page every 5 seconds and avatar don't show

### Expected behaviour
A public calendar with avatar and custom refresh ?

### Actual behaviour
The public calendar work correctly but refresh is too short (5 seconds) and avatar don

[2018-01-16 10:11] ittrend4710 commented on #836
Dear ... any news about that?
Best,
Mike

[2018-01-16 11:15] DeepDiver1975 commented on #836
we are finalizing 10.0.5  - a fix for this will come with 10.0.6

[2018-01-16 11:31] ittrend4710 commented on #836
Great – thanks for replay  
Two questions: 
1) is there a release date for 10.0.6 ??? 
2) is there a manual (sql) way to correct the database entries? I’m asking because if we cann’t do it like this, we’ll have to manually change alle the calender shares in the gui … and this’ll be a hard work Best,Mike  

[2018-01-16 11:40] DeepDiver1975 commented on #836
I edited the message above - had css inside .... bloody html email ...

[2018-01-16 11:43] DeepDiver1975 commented on #836
not yet

All I can think of at the moment is to delete invalid entries. So basically all those where a wrong principal url was set. I cannot merge the entries because the display name is not gauranteed to be unique and this could result in calendars being share with people which are not allowed to get access.

I think it is necessary to manually fix the sharing settings in the ui. Cleanup will com

[2018-01-16 16:17] ittrend4710 commented on #836
Ok, please keep me up to date. Best,Mike  From: Thomas Müller [mailto:notifications@github.com] Sent: Tuesday, January 16, 2018 12:43 PMTo: owncloud/calendarCc: Michael Wagner | it-TREND; MentionSubject: Re: [owncloud/calendar] Users are unable to create / modify events on the shared calendar (#836) is there a release date for 10.0.6 ???not yetis there a manual (sql) way to correct the database en

[2018-01-17 08:07] paulmenzel opened #870 "Continous refresh/reloading of calendar view"
### Steps to reproduce

I am not really sure.

1. Create two calendars with different names.
2. Share one calendar, and create an event in the still private one.
3. Name the shared calendar as the private one, and move the event to the public calendar. (Instead of moved the event is now copied and visible twice.)
4. Delete the private calendar.
5. Access the Web view of the shared calendar.

### E

[2018-01-17 10:17] paulmenzel commented on #870
The continuous reload seems to only happen if you are *not* logged into ownCloud. So please log out or try to use a private session.

[2018-01-18 08:57] ccheveaux commented on #870
I have a same problem : https://github.com/owncloud/calendar/issues/869

But i try to be able to customize the time of reloading to see the deactivate to be able to refresh manually.
When an anonymous consults this web page, he doesn't have time to click on a meeting to see details for example.

[2018-01-18 09:02] paulmenzel commented on #870
@ccheveaux, thank you for making me aware of the existing issue. I’ll close this as a duplicate of #869 then.

[2018-01-18 09:02] #870 closed, assigned to nobody

[2018-01-18 09:04] paulmenzel commented on #869
As reported in #870 it’s also happening under GNU/Linux with Firefox 57 and Chromium 63.

I wonder why the page has to reload at all? I think that’s a bug. If you look at the network tab, then in the five seconds the page never seems to finish to load.

[2018-01-18 09:05] DeepDiver1975 commented on #869
@Julian1998 please have a look.

Most probable reason for this: one of the requests (maybe requesting the avatar) is failing due to missing authentication.

[2018-01-18 09:07] ccheveaux commented on #869
The problem is on Edge and Internet Explorer too.

Yes, it's perhaps avatar.
When you are log on you see avatar but no when you are anonymous.

[2018-01-18 09:09] paulmenzel commented on #869
Yes, the request https://oc-molgen.gnz.mpg.de/owncloud/avatar/fba29bd6-fb66-4e67-8700-087d75d21e81/192 fails with 401. No idea, if that triggers the reload. In my opinion, it’s no problem to only see the “X avatar”.

[2018-01-18 09:10] DeepDiver1975 commented on #869
yes - it's the avatar endpoint returning a 401

[2018-01-18 09:18] ccheveaux commented on #869
[code]

In my log just on refresh

[2018-01-18 09:20] ccheveaux commented on #869
A possible patch directly on calendar app or it's on owncloud core ?

[2018-01-18 09:22] DeepDiver1975 commented on #869
please try this:

add the line below to the avatar controller https://github.com/owncloud/core/blob/master/core/Controller/AvatarController.php#L109

[code]

[2018-01-18 10:54] ccheveaux commented on #869
It works ! Thx !
It's for futur (minor) update of ownCloud ?

[2018-01-18 10:59] DeepDiver1975 commented on #869
I guess we will ship this with 10.0.6 - 10.0.5 is already closed and will be shipped these days.

[2018-01-22 02:23] UtechtDustin opened #873 "primary link is not working for syncing"
### Expected behaviour
Use the primary link to sync all calenders of the user

### Actual behaviour
None calender will be syncing (Thunderbird shows the error "This calender is not avaible")

**CalDAV-clients:**
CalDAV-Sync(0.4.32) and/or thunderbird(52.5.0)

More Information about the versions  => https://github.com/owncloud/contacts/issues/629

[2018-01-22 09:20] DeepDiver1975 commented on #873
10.0.4 has an issue - please upgrade to 10.0.5 once released

[2018-01-22 09:20] #873 closed, assigned to nobody

[2018-01-22 20:14] #869 closed, assigned to DeepDiver1975

[2018-01-23 13:03] Mortal commented on #756
I use ownCloud in English in Denmark and would like to set Monday as start of the week. This is possible in the Tasks app, but not in the Calendar app.

[2018-01-24 11:16] #768 closed, assigned to DeepDiver1975

[2018-01-25 10:35] raven6679 commented on #779
Hi.
We're using ownCloud 10.0.3 (stable) in cooperation with em Client 7.

The problem appears when we were trying to use separate user accounts for ownCloud.
One user (admin) had created several calendars and then shared them to group/users.

Since we set up personal account (different credentials in ownCloud) to all members of our department, invitations we're NOT sent anymore. When every member

[2018-01-27 12:41] Julian1998 commented on #814
@serginuez Is this fixed in oc 10.0.5? I switched to catalan and the month names are working fine?
The file you searched for is https://github.com/owncloud/core/blob/v9.1.6/core/vendor/moment/min/moment-with-locales.js

[2018-01-28 09:32] ghost commented on #814
just updated to 10.0.5 and it still says undefined. Made a clean install and got the same result. Are you sure that the moment-with-locales.js is the file that creates apps/calendar/js/public/vendor.min.js? There are differences between them, strings that appear on the latter and not on the former.
If I set it to another language (italian for example) it works fine.

[2018-01-30 23:41] rocketnova opened #877 "Unable to invite one specific owncloud user; returns 404"
### Steps to reproduce
1. Create a calendar or use an existing calendar
2. Create an event and as part of the event creation invite a specific user using autocomplete search

### Expected behaviour
Event should be created and an invitation should be emailed to the user

### Actual behaviour
Event is not created with no visible error. In the browser, console it shows the server returns 404 *even th

[2018-01-31 13:42] Julian1998 commented on #814
@serginuez So I switched to catala and it's working fine... Sorry that I have to ask that but did you run the Makefile?

[2018-02-02 15:57] Julian1998 commented on #877
Hi! I am the new maintainer of owncloud contacts/calendar.... I am a little bit confused because as far as I know it's only possible to invite users via email and the input field's autocomplete is switched off...

Did you use the web ui or apple calendar???

[2018-02-02 22:26] rocketnova commented on #877
Hi! I'm not sure what you mean by inviting users via email with the input field autocomplete switched off. We are able to successfully invite users to events using both the owncloud calendar web UI, via Thunderbird lightning, and also via the Apple Calendar desktop app.

Our owncloud is configured so that each user has an email address, which is set on the `settings/users` page. I don't think we h

[2018-02-04 21:06] localguru commented on #824
Same problem with 9.1.7 with calender 1.5.4, PR #839 doesn't fix it.

[2018-02-04 21:28] localguru commented on #828
This doesn't work in my case, OC 9.1.7 and calender 1.5.4 with Patch #839

[2018-02-04 21:36] localguru commented on #823
@Ricardo665 this is working, but I don't really understand it. @DeepDiver1975 could you explain please?

[2018-02-05 08:22] #823 closed, assigned to nobody

[2018-02-05 08:22] #824 closed, assigned to nobody

[2018-02-05 15:33] Julian1998 commented on #877
Alright! I will have a look at this

[2018-02-05 20:23] uwe347 commented on #828
@DeepDiver1975: Sorry for answering that late.
It still doesn't work. I am not shure, what you mean with "reshare the calendar", because the problem I described occures during the step of sharing. As I described, the checkmark-fields to allow modify and share do not appear after selecting one of the valid usernames from the list. There is only one checkmark-field for "share link" (which makes the

[2018-02-05 20:49] localguru commented on #828
@uwe347 check #823 and there the post from @Ricardo665 . This works for me. But as soon as you try to share share a calendar and type in the user name into the search field the logfile comes up with

[code]

The strange thing with this bug is, that old shared calendars, which did exist before upgrading to 9.1.7, work without problems. New calendars can't be shared.

[2018-02-05 22:21] jenger opened #879 "Shared writeable calendar appears read-only?"
When I share a calendar with another user and make the calendar editable for him, the calendar appears read-only for the user. And the `can edit` checkbox exists twice in my account.

I found an similar bug report in the nextcloud project. For me it seems to be the same issue:
https://github.com/nextcloud/calendar/issues/626
The nextcloud guys fixed the bug in nextcloud/calendar version 1.5.6.

##

[2018-02-05 22:27] DeepDiver1975 commented on #879
Next version will fix this

[2018-02-05 22:27] #879 closed, assigned to nobody

[2018-02-06 09:55] dercorn opened #880 "FR: delete single event out of a series"
### Steps to reproduce
1. create recurring event
2. delete single event from this series
3. the whole series is deleted without request for confirmation and there is no choice to delete only a single event to begin with

### Expected behaviour
There should be a possibility to delete single events from series.

### Actual behaviour
See 3. above

[2018-02-06 14:36] ITTRI4710 commented on #836
We can no longer edit the permission what the user is allowed to do.
In the picture you can see that you can adjust the authorization by adding, changing and deleting. That was before the update was it forgotten?

Best,
Roland
[
![2018-02-06 14_35_17-microsoft edge](https://user-images.githubusercontent.com/34244878/35864936-7255d614-0b53-11e8-9b63-e923992da043.png)
](url)

[2018-02-07 09:34] DeepDiver1975 commented on #836
@ITTRI4710 I don't get your point - do you experience the same trouble as described above? Then you have to wait for the new release of the calendar app and a new server version 10.0.8 (10.0.6 and 10.0.7 are hotfix releases due to regressions we detected)

[2018-02-07 12:39] ITTRI4710 commented on #836
We have the fix installed and it works. We have changed the permission manually. Only creating, modifying and deleting dropdown permission is missing. See Image.
![2018-02-07 12_58_14-microsoft edge](https://user-images.githubusercontent.com/34244878/35916909-529b5e3e-0c0c-11e8-81a5-cb08bea87c77.png)

Best,
Roland

[2018-02-09 16:15] toefel1 commented on #880
Need this since long ago (3 years) -> Calendar is crippled without the ability of deleting single events out of a series!!

[2018-02-09 16:27] toefel1 commented on #310
I can understand mdosch very good - this is one absolutely feature necessary to make the ownCloudCal a No.1 choice Calendar...

[2018-02-09 16:42] DeepDiver1975 commented on #310
this is implemented for a long time.

[2018-02-09 16:43] DeepDiver1975 commented on #880
@toefel1 contributions are welcome!

[2018-02-09 17:16] toefel1 commented on #880
I am pleased to hear that!
You might cont me via pm or phone - I am nearby!

Viele Grüße,
Christian van de Weyer

[2018-02-12 09:30] ITTRI4710 commented on #836
... any news about that?
Best,
Roland

[2018-02-12 10:21] DeepDiver1975 commented on #836
so please open a new issue and we continue in there - THX

[2018-02-12 11:10] ITTRI4710 opened #882 "Shared calendar permission"
Creating, modifying and deleting dropdown permission is missing. See Image.
![2018-02-07 12_58_14-microsoft edge](https://user-images.githubusercontent.com/34244878/36094135-5b3060f0-0fed-11e8-8a00-479931ff93b6.png)

ownCloud 10.0.3 (stable)
Calendar 1.5.4

[2018-02-12 11:25] DeepDiver1975 commented on #882
If I'm not miss taken detailed sharing permissions never got implemented in the calendar app.

[2018-02-12 11:29] ITTRI4710 commented on #882
Before we upgrade to the new version, we could additionally select.

[2018-02-12 11:41] DeepDiver1975 commented on #882
THX - we will look into this

@Julian1998 - one for you - THX

[2018-02-12 17:03] DeepDiver1975 commented on #836
calendar 1.5.5 just has been released

[2018-02-16 15:37] xtsimpouris commented on #341
It could be just a new **Clone** or **Save as New** button in a different color side by side the "Update" button and the workflow could be:

1. User clicks on an existing event and popup shows with all predefined info
2. User makes any changes, for example sets a different day
3. User clicks the **Clone**/**Save as New** button.
4. An event is then **created** with the new info

[2018-02-19 16:51] Rudloff opened #885 "Can't change the color of a shared calendar"
This can be confusing if you have multiple shared calendars with the same color.

### Steps to reproduce
1. Have some other user share a calendar with you.
2. Try to change its color.

### Expected behaviour
You should be able to set a custom color.

### Actual behaviour
You can't change the color.

### Server configuration

**Operating system**: Ubuntu 14.04.5 LTS

**Web server:** Apache 2.4.7-1u

[2018-02-21 12:29] sciurius opened #888 "Calendar not reliable due to import errors"
### Steps to reproduce
1. Import a particular .ics
2. Get "partially imported, NN errors" message

### Expected behaviour
There should be a way to find out **which** events were not imported, and why.
**This is a show stopper when migrating from another calendar application.**

[2018-02-21 13:32] ittrend4710 commented on #836
Hello there,
thanks a lot ... as far as i know calendar isn't an optional app anymore ... so I've to Upgrade to 10.0.6 Release, right?
Best,
Mike

[2018-02-21 13:33] ittrend4710 commented on #882
i'm watching ;-)

[2018-02-22 07:41] DeepDiver1975 commented on #836
Hi @ittrend4710

in order to clean up the database you need wait for 10.0.8 - we had to push out some hotfixes with 10.0.6 and 10.0.7.

But you can independently update the calendar app via the market app in our owncloud.
Or download the app on the marketplace https://marketplace.owncloud.com/apps/calendar

[2018-03-02 17:01] ikanos opened #898 "Shared Calender doesn't send invitation by email"
### Steps to reproduce
1. create a calendar with user a
2. share it with user b
3. as user b: create an appointment and add participant with their email-address

### Expected behaviour
Invitations should be send to the given email-address

### Actual behaviour
No email is send ;-)
It is working if user a creates an appointment, it is also working if user b creats an appointment in an "own" (not sh

[2018-03-06 15:32] DeepDiver1975 opened #901 "wrong phpunit version is used"
![bildschirmfoto von 2018-03-06 16-32-01](https://user-images.githubusercontent.com/1005065/37041220-f6344f9c-215b-11e8-930b-7e7fdd562f34.png)

[2018-03-06 16:40] Julian1998 commented on #885
@DeepDiver1975 Bug or on purpose?

[2018-03-06 16:53] Julian1998 commented on #882
Weird... @ITTRI4710 Which version did you use before upgrading?

Not sure if this is a bug... I couldn't even find the template for detailed sharing permissions

[2018-03-07 09:27] ittrend4710 commented on #882
@Julian1998

ownCloud 8.1.9
Update ownCloud -> 8.2.x
Update ownCloud 8.2.x -> 9.0.x
Update 9.0 -> 9.1
Update 9.1 -> 10.x

[2018-03-07 16:55] Julian1998 commented on #882
@ittrend4710 thx! I will have a look the next few days... Btw why are you talking for @ITTRI4710 ;) Your account?

[2018-03-08 05:51] helloyan opened #902 "Datetime picker in calendar doesn't show right time in chinese language(correct in english)"
Steps to reproduce
open calendar,choose any day to click,open a event frame
click start to show datetime picker to chose another day
Expected behaviour
start / end input field should show the right day

Actual behaviour
show a wrong day

Server configuration
Operating system:
centos 7.3
Web server:
apache
Database:
mysql
PHP version:
PHP 7.1.9 (cli) (built: Aug 30 2017 20:06:08) ( NTS )

ownCloud

[2018-03-08 05:52] helloyan commented on #902
![image](https://user-images.githubusercontent.com/1699033/37135365-fa67ee20-22d7-11e8-9189-f51b0b724dad.png)

[2018-03-08 06:14] ittrend4710 commented on #882
Hello there :-)
just to be clear:
ITTRI4710 -> is one of our support engineers
ITTTREND4710 -> is me ... sysadmin
2 different persons working on the same issue...
Best,
Mike

[2018-03-09 22:59] wom-bat opened #903 "Calendar never finishes loading events in future months"
### Steps to reproduce
1. Visit the calendar app
2. Select month view
3. click on the > button at  six times to go forward six months

### Expected behaviour
I expect to see the events in the calendar in six months from noe

### Actual behaviour
The display hangs, with the progress markers rotating next to each selected calendar.  Events never appear.  I see six apache2 processes using 100% cpu on

[2018-03-09 23:13] wom-bat commented on #903
mysql show full processlist shows no activity during this time.

[2018-03-09 23:31] wom-bat commented on #903
Backtrace on Apache2 shows:
#0  0x00007f7606dd9919 in timelib_update_ts ()
   from /usr/lib/apache2/modules/libphp5.so
#1  0x00007f7606db3509 in zim_DateTimeImmutable_setDate ()
   from /usr/lib/apache2/modules/libphp5.so
#2  0x00007f76070302aa in dtrace_execute_internal ()
   from /usr/lib/apache2/modules/libphp5.so
#3  0x00007f75ff3d7864 in xdebug_execute_internal (
    current_execute_data=0x7f

[2018-03-09 23:33] wom-bat commented on #903
Stepping through shows zim_DateTimeImmutable_setDate() being called over and over again.

[2018-03-10 00:21] wom-bat commented on #903
There are 600 rows in oc_calendarobjects with many repeating events.

[2018-03-10 00:27] wom-bat commented on #903
I can get the same effect by clicking forward by weeks in the week view.  The first few weeks display, then the display stops and apache2 goes to 100% CPU.

[2018-03-10 01:01] wom-bat opened #904 "Apache2 uses 100% CPU when calendar app used"
### Steps to reproduce
Log into Owncloud with Chrome
Visit the calendar app
Run top on the server

### Expected behaviour
There should be a small spurt in CPU usage for an Apache2 process which should decrease to near zero after the request has been serviced
### Actual behaviour
One of the Apache2 processes goes to 100% and stays there.
### Server configuration

**Operating system**:
Debian Unstab

[2018-03-10 11:47] prsnbrg opened #905 "Shared calendar, after the display name is missing a blank"
### Steps to reproduce
1. I use the german version of oC
2. Shared a calender with a url
3. after open this url I see on the left site the display name from the sharing user

### Expected behaviour
Tell us what should happen
after the display name on the left site a blank.

### Actual behaviour
Tell us what happens instead
Shared calendar, after the display name is missing a blank

### Server conf

[2018-03-15 07:49] sjlongland commented on #836
I just had the same issue with the calendar in ownCloud 10.0.7, we have a shared calendar that's owned by the administrator user, which all members are able to edit… except:

1. in my migration from OwnCloud 6 to 10, it had made the calendar read-only to all but the administrator.  (Easy fix, just tick a box.)
2. the aforementioned bug still prevented me, as a regular user, from adding to that cal

[2018-03-15 12:37] DeepDiver1975 commented on #836
looks like everything is fixed now -> close

[2018-03-15 12:37] #836 closed, assigned to nobody

[2018-03-19 13:43] Julian1998 commented on #902
@helloyan Please test if the fix works correctly ;)

[2018-03-19 13:46] Julian1998 commented on #905
Hi ;)

Ugh! :D Do you want to fix that? :)

[2018-03-19 13:47] Julian1998 commented on #814
@serginuez Please test that PR so I can see if Catalan is fixed now :)

https://github.com/owncloud/calendar/pull/907

[2018-03-19 13:48] Julian1998 commented on #820
Duplicate of https://github.com/owncloud/calendar/issues/814

[2018-03-19 13:48] #820 closed, assigned to Julian1998

[2018-03-20 07:06] helloyan commented on #902
no,the 1.5.7 version see the same problem

[2018-03-20 15:21] Julian1998 commented on #902
@helloyan You have to test this PR
https://github.com/owncloud/calendar/pull/907

[2018-03-21 06:58] helloyan commented on #902
i don't know how to test  , would you release a app package?

[2018-03-21 07:14] ghost commented on #814
Sorry, but I've tried to build the calendar app and I keep getting npm build errors, which I'm quite sure are because I have somenthing missing in my system or something not well configured (I have never worked with nodejs).

[2018-03-24 18:10] Julian1998 commented on #788
@priittoobla Please have a look at this PR: https://github.com/owncloud/calendar/pull/907
Can you test it?

[2018-03-24 18:49] Julian1998 commented on #882
Ok! Seems like detailed actions are never used since version 1.0 so I would not call it bug...

We could implement detailed sharing actions but I don't see a need for this. This needs to be more discussed!

[2018-03-26 06:57] ittrend4710 commented on #882
I don't know if anyone used it in the versions between. Our customer used it in the old version and is missing it in the new one...

An implement would be fine!

Best,
Mike

[2018-03-26 07:55] DeepDiver1975 commented on #882
Ah .. so the more detailed sharing permissions are from the very first implementation?

Generally speaking we need to move to a much simpler permission schema:
read and read/write is enough.

Background:
As soon as you have write permission you can delete a entity by wiping all it's contents.

What would be a reasonable scenario where one wants to pass a different set of permissions? Create but no

[2018-03-26 09:39] ittrend4710 commented on #882
secretary can arrange new appointments if there is free time for it, but cann't edit or delete existing appointments because they are managed by another person?

[2018-03-26 09:44] DeepDiver1975 commented on #882
well - how reasonable is a create permission without an update permission? Assume the secretary makes a mistake while creating.

A much better workflow would be to give read only permission to the secretary and use explicit the attendee feature of caldav where the user can then accept or reject the event.
Accepting will write the event to the shared calendar.

Or even use free-busy feature of cald

[2018-03-26 09:47] ittrend4710 commented on #882
-->  It’s a very special usecase … headquarter with many national organizations All I can tell is that customer is missing a feature from previous version … they even asked me for a drowngrade (which I’ll not do…) Best,Mike   

[2018-03-26 09:51] DeepDiver1975 commented on #882
@ITTRI4710 Can you please reply with text only emails? This is a mess ;-)

[2018-03-26 09:54] DeepDiver1975 commented on #882
I for sure understand that customers a crying for features especially those we removed on purpose ;-)

All I'm proposing is to reevaluate the process your customers are using. Furthermore I try to understand the usage scenarios.

THX a lot

[2018-03-26 09:58] ittrend4710 commented on #882
Text only ;-)

We'll ask our customer for the detailled usecase and inform you afterwards...

Best,
Mike

From: Thomas Müller [mailto:notifications@github.com]
Sent: Monday, March 26, 2018 11:54 AM
To: owncloud/calendar
Cc: Michael Wagner | it-TREND; Mention
Subject: Re: [owncloud/calendar] Shared calendar permission (#882)

--> It’s a very special usecase ... headquarter with many national organi

[2018-03-26 10:48] sgofferj commented on #336
I find it almost absurd to have to change language settings to British English just to have the calendar in the "right" format. EVERY calendar app I know allows setting of preferred first day of week, date format and time format. For good reason! There's people living in foreign countries which use their native or an agreed-on common language but still use the date and time formats of the country.

[2018-03-26 11:11] prsnbrg commented on #905
Thanks for the possibility, but I am a completely newbie on the github development and I don't have at the moment, to work on this.

[2018-03-27 22:45] Julian1998 commented on #905
Alright :)

@DeepDiver1975 I also wondered about that missing blank?

Is it on purpose because WebDav has some problems with parsing blanks?

[2018-04-01 09:11] downdrown commented on #833
Anything about this problem?

[2018-04-02 11:54] Julian1998 commented on #833
Is https://my.url:8080/ listed in your trusted domain list?

[2018-04-02 11:56] Julian1998 commented on #833
I have to add that I am not sure if user restricted subscriptions are working in general...

@DeepDiver1975 ?

[2018-04-02 13:35] downdrown commented on #833
I think it's a missing feature like you guessed... but I think it's a pretty often occuring use-case when someone want's to add a calendar from a third-partie site (synology calendar in my personal case) which hase some sort of user-restriction... I think it would be a pretty nice feature to support that ...

[2018-04-03 14:01] ITTRI4710 commented on #882
Hi!

The customer wants to prevent appointments that those who can change the appointment but can not delete it. So that it can not be accidentally deleted and that only the calendar owner can do.

Best,
Roland

[2018-04-06 20:11] amnesiemaniac commented on #779
Nothing happend with this issue in months :-(
Can somebody help?

[2018-04-12 15:41] DeepDiver1975 commented on #833
Within the subscription field only webcal links can be added. https://en.wikipedia.org/wiki/Webcal

Can you expose your calendar as webcal?

[2018-04-13 11:49] ITTRI4710 commented on #882
Hi!

...any news about that?

best,
Roland

[2018-04-13 22:55] AlexandreBonneau commented on #828
Using the latest stable 10.7, I too cannot share new calendars (while the old ones works correctly).

However I do not see any `Sharing backend for <> not found` error in the `owncloud.log` file, and when I type a user or group name in the share field, *nothing* happens, no selection is displayed at all.

This is annoying and it's happening for quite some time now (I though upgrading from 9 to 10

[2018-04-14 08:23] DeepDiver1975 commented on #828
Strange observations .... Can I See some Screenshots pleased. Maybe this helps to resolve the Situation

[2018-04-14 09:08] AlexandreBonneau commented on #828
The screenshot:
![2018-04-13 bug owncloud calendar](https://user-images.githubusercontent.com/7248877/38766283-4985fb0a-3f6b-11e8-96dd-62f11bf73012.png)

You can see there that while I'm typing the start of a group name, no menu is shown, and that one of the older calendar is correctly shared.

[2018-04-15 19:02] DeepDiver1975 commented on #828
Any error in the browser console?

[2018-04-15 19:48] Julian1998 commented on #882
Hi, I am sorry but you have to be patient... There is some stuff that has to be done first :)
Btw this is open source... so don't be shy and try to fix it. We will help as good as we can :)

[2018-04-16 06:03] downdrown commented on #833
Synology's Calendar effectifely exposes it's data as CalDAV ... By now every sync with any Calendar client did work properly and does it's job. I also sync to my MacBook and iPhone. But I think I cannot explicitely provide a webcal interface...

[2018-04-16 06:37] DeepDiver1975 commented on #833
If you agree I'll close this because there is unfortunately not much we can do.

[2018-04-16 06:37] #833 closed, assigned to nobody

[2018-04-16 18:21] AlexandreBonneau commented on #828
Yes there are.
I see that on each keystroke a `GET` request is sent to the server, and I then get the following error message:
[code]

I tried pasting the url from the `GET` request in a separate tab and I get:

The url:
[code]

The result:
[code]

[2018-04-16 19:09] DeepDiver1975 commented on #828
This is a great finding! THX

What are the exact versions of owncloud server (have a look at version.php) and the calendar app (apps/calendar/appinfo/info.xml)

THX

[2018-04-16 19:29] AlexandreBonneau commented on #828
The version:
[code]

The calendar one:
[code]

[2018-04-16 19:31] DeepDiver1975 commented on #828
please upgrade - meanwhile there is 1.5.6 available

[2018-04-16 19:43] AlexandreBonneau commented on #828
I just ran:
[code]
and now the server is not responding.

If I run

[code]
I get the error message: `No marketplace connection: Client error response [url] https://marketplace.owncloud.com/api/v0/api/v1/platform/10.0.7/apps.json [status code] 404 [reason phrase] Not Found`

[2018-04-16 19:52] DeepDiver1975 commented on #828
this url is wrong - please have a look at your config.php

there is a setting appstore.url of similar - just remove the whole line and run the upgrade command again

[2018-04-16 20:02] AlexandreBonneau commented on #828
Ok I removed the buggy line from `config.php`, ran `sudo -u www-data ./occ market:list` and it listed all the available apps correctly.

Now, when I run `sudo -u www-data ./occ market:upgrade` is see *no* output and it get back to the command prompt.

When I check again `apps/calendar/appinfo/info.xml`, I see that it did not get updated and is still at the `v1.4.2`. The permissions on the `apps` d

[2018-04-16 20:43] AlexandreBonneau commented on #828
I specified the names of the apps I wanted to upgrade, and it did the trick:
[code]

Now the website is running correctly again so far.

Shouldn't `sudo -u www-data ./occ market:upgrade` upgrade **all** the installed app automatically?

[2018-04-16 20:57] AlexandreBonneau commented on #828
With the latest calendar version `1.5.7`, I do not see the text field when clicking on the `share` icon, only the checkbox to share with the public:

![2018-04-16 bug owncloud calendar 2](https://user-images.githubusercontent.com/7248877/38834697-e7243caa-4164-11e8-9437-bd1394df4de0.png)

[2018-04-16 22:07] wom-bat commented on #904
Upgraded to 10,.0.7, problem still exists.

[2018-04-17 07:02] DeepDiver1975 commented on #828
with the option --all it does.

[2018-04-17 07:05] DeepDiver1975 commented on #828
can you please check again for errors in the browser console?
also try with a different language - e.g. English - just to rule out that a potential wrong translation is making trouble.

furthermore: are you trying to re-share an already with you shared calendar?

[2018-04-17 08:49] AlexandreBonneau commented on #828
No errors are shown in the console when I click the 'share' icon, nor any network requests (which I checked are shown if I click the 'Share link' checkbox).

I will *not* try to re-share an already shared calendar, since it *could* just break the share permanently and I cannot afford that.

I've switched to 'English', and nothing more happens.

Perhaps using no arguments are at all could either do

[2018-04-17 10:13] DeepDiver1975 commented on #828
Maybe I was not explicit enough. Sorry.

I can reproduce your behavior when I try to share a calendar which was previously shared with me.
Looks like re-sharing is no supported. I need to have a closer look.

[2018-04-17 10:33] DeepDiver1975 commented on #828
![screenshot from 2018-04-17 12-32-11](https://user-images.githubusercontent.com/1005065/38864589-7ea42438-423b-11e8-8745-7691e4ec5535.png)

[2018-04-17 18:30] AlexandreBonneau commented on #828
Well, on my end calling that command does nothing and just returns:
[code]

But I guess that's another issue!

[2018-04-17 18:31] AlexandreBonneau commented on #828
Looks like re-sharing is no supported. I need to have a closer look.

For info those calendars I cannot share are freshly created ones; I never shared them before.

[2018-04-18 06:52] DeepDiver1975 commented on #828
Did you by accident disable sharing in the admin settings?
![screenshot from 2018-04-18 08-52-07](https://user-images.githubusercontent.com/1005065/38915946-d8e2e63c-42e5-11e8-9308-0e5c2e1a3e83.png)

[2018-04-18 08:01] DeepDiver1975 commented on #904
this only happens when you have the calendar app open in the browser?

load stays when you switch to another app?

[2018-04-18 10:04] wom-bat commented on #904
This happens when I open the calendar app in the browser.  Switching to another app leaves the Apache2 process at 100%.  The only way I've found to get things back to normal is to restart Apache2.

[2018-04-18 10:17] DeepDiver1975 commented on #904
which background job execution mode are you using? ajax or system cron?

can you run following query on your database:

[code]

[2018-04-18 10:30] wom-bat commented on #904
In /etc/crontab:
*/15 * * * *    www-data /usr/bin/php5 /var/www/owncloud/cron.php
[code]

[2018-04-18 10:40] DeepDiver1975 commented on #904
since you use system cron this is not executed on apache ....

Can you have a look at the access log of apache? Maybe you can spot the request initiating the trouble ...

Any error messages in apache error log or owncloud log?

[2018-04-18 10:42] wom-bat commented on #904
And it's a funny thing, but I don't see any calls to the calendar app in owncloud.log.  Assuming that the log line is written *after* a request finishes, this would indicate that the HTTP requests never complete...

[2018-04-18 10:45] wom-bat commented on #904
LIkewise nothing in the apache log.  I do see requests for "GET /owncloud/ocs/v2.php/apps/notifications/api/v1/notifications?format=json H

which I assume is the calendar app.

[2018-04-18 11:14] wom-bat commented on #904
Using apachectl fullstatus I see this request is hanging:
    Srv PID Acc M CPU SS Req Conn Child Slot Client Protocol VHost Request

   2-0 4299 0/1/1  W 0.23 57 0 0.0 0.01 0.01 192.168.77.183 http/1.1
   chubb.wattle.id.au:443 REPORT
   /owncloud/remote.php/dav/calendars/peterc/holidays/ HTTP

I deleted the Holidays shared calendar and the problem appears to have gone away.

[2018-04-18 11:35] DeepDiver1975 commented on #904
looks like we have a REPORT which takes forever ....

How big is this holidays calendar? peterc seems to be the owner - was it shared with a group or users?

[2018-04-18 11:54] DeepDiver1975 commented on #904
Mind running the perf tool to find out where the process is stuck?
https://jvns.ca/blog/2018/04/16/new-perf-zine/

I did not yet find out how to use perf with php ......

[2018-04-18 22:24] AlexandreBonneau commented on #828
The share option is enabled.
To be sure I toggled it few days ago, with no effect

Le April 18, 2018 6:52:44 AM UTC, "Thomas Müller" <notifications@github.com> a écrit :

[2018-04-19 06:55] DeepDiver1975 commented on #904
@wom-bat can I ask you for an export of this holiday calendar?

Feel free to remove any personal information - hopefully it's not too big.

I assume there is a recurrence rule inside which causes an infinite loop when processing the individual elements.

THX

[2018-05-02 04:30] uwe347 commented on #828
Still the same with owncloud 10.0.8.5 and calendar 1.5.7. I switched sharing option off and on again, as AlexandreBonneau did.
Here are two screenshots of what happens:
At first I type in the name of the user I want to share with. The user is found, so the name comes up after typing the first few characters:
![calendar_sharing_1](https://user-images.githubusercontent.com/7616527/39505333-c39c0190-

[2018-05-02 04:45] uwe347 commented on #828
In addition to my last comment: here are all details of my configuration concerning "sharing"
![calendar_sharing_3](https://user-images.githubusercontent.com/7616527/39505712-7875c216-4dd4-11e8-9ac7-6c5c35556217.png)

[2018-05-02 06:11] DeepDiver1975 commented on #828
Any error in the browser console?

[2018-05-03 03:21] uwe347 commented on #828
Yes:
`05:19:39.338 Error: Sharing calendar failed 1   -  app.min.js:3:25234`

[2018-05-03 04:28] DeepDiver1975 commented on #828
I need to see the network request which is failing

[2018-05-03 16:46] uwe347 commented on #828
I am not sure where to gather the information you need, but I try to guess... using web-developer-functions of my firefox browser > network analysis ("Netzwerkanalyse" Ctrl+Shift+E) and copied some information from the moment, when i clicked on the username ("kristine"):

[code]

Uppercase letters show some points, where I deleted sensitive information as my hostname and some cookies, sessionPassp

[2018-05-03 16:54] uwe347 commented on #828
P.S.: Let me know, if this is not what you need. In that case I need more advice how to gather the right information and how to do it with my firefox browser.

[2018-05-04 02:36] AlexandreBonneau commented on #828
I'm guessing this is a slightly different bug that what I'm experiencing since you at least get to select a user/group name, which I do not even see.

[2018-05-08 22:03] wom-bat commented on #904
I deleted it tio get things to work -- sorry.  I'l close this issue, as it's no longer reproducible.

[2018-05-08 22:03] #904 closed, assigned to nobody

[2018-05-08 22:03] wom-bat commented on #903
This is related to #904 and has t4eh same cause.

[2018-05-08 22:03] #903 closed, assigned to nobody

[2018-05-09 06:23] DeepDiver1975 commented on #904
any chance to get it from some backup?

[2018-05-09 08:33] apotek opened #916 "Documentation Request: Installation via git without build dependencies"
This is a request for documentation/feature. While there exists documentation for cloning the repository in order to do development work, I would like a simple guide to, in the most basic way, do, essentially

    git clone https://github.com/owncloud/calendar.git
    cd calendar
    # something here which would install the required angular and 3rd party js libraries for the app to
    # work. Som

[2018-05-09 09:14] DeepDiver1975 commented on #916
after cloning you can simply run make - this has to be enough in each and every app repo to build the app. This is common practice and no additional documentation shall be necessary.

[2018-05-09 09:16] DeepDiver1975 commented on #916
generally speaking git repos are for developing and not for deploying. I know that some time back deployment from git was possible and also a principle we did follow in the ownCloud project.

But given the changes in the way js and php is developed these days this is no longer a reasonable way.

[2018-05-09 09:17] DeepDiver1975 commented on #916
you can run make dist or make appstore - take the tar ball and deploy that to your server.

[2018-05-09 16:20] apotek commented on #916
Thank you @DeepDiver1975 .

So essentially, for what I want to do my process would be:

    git clone https://github.com/owncloud/calendar.git
    cd calendar
    git checkout <TAG>
    make dist

And then run something like:

    rsync -rv build/source/calendar <REMOTE_LOCATION>

to deploy.

This didn't work for me, as my local build environment is missing the `run` command. My `make dist` failed

[2018-05-09 16:20] #916 closed, assigned to nobody

[2018-05-09 16:58] mmattel opened #917 "php-cs-fixer"
@DeepDiver1975
Any plans to implement ``php-cs-fixer`` as we have in core ?

[2018-05-21 17:03] llalueza commented on #336
If you are still interested on this feature, you can easily hack it with almost no effort.

ownCloud's calendar is using `moment` as a time library, so you can easily configure it by [following `moment` API](http://momentjs.com/docs/#/i18n/changing-locale/). Assuming this we only have to include to `<owncloud_dir>/apps/calendar/js/public/app[.min].js`:

[code]

Note that the important part is the

[2018-05-23 12:25] ITTRI4710 commented on #882
Hi!

Can you tell me if you already had time for it?

best,
Roland

[2018-05-23 12:54] Julian1998 commented on #882
Hi! Unluckily I had not time for this yet. Furthermore I am still very unsure about the advantage of this feature. There is already a feature that allows you to avoid the editing of a shared calendar. I know that this is needed for you but as long as just you are crying for this feature we have to postpone it....

This doesn't mean we won't implement it in the future but we need to discuss this fe

[2018-05-29 16:36] voroyam opened #919 "Wrong description of the app in market app"
OC 10.0.8 on an ubuntu docker container. Browser Firefox

Why are there "????" in the description?

![bildschirmfoto von 2018-05-29 18-35-09](https://user-images.githubusercontent.com/24212810/40672456-28e8ea24-636f-11e8-837c-da98d18b64a5.png)

[2018-05-29 21:57] DeepDiver1975 commented on #919
Unsupported utf8 Emoji chars

[2018-05-29 21:57] DeepDiver1975 commented on #919
Issue in Marketplace

[2018-05-29 21:57] #919 closed, assigned to nobody

[2018-06-12 06:57] DeepDiver1975 commented on #880
fixed with #920

[2018-06-12 06:57] #880 closed, assigned to DeepDiver1975, dercorn

[2018-06-12 07:00] DeepDiver1975 commented on #898
It is technically not possible. The caldav specs also defines no handling of invitation on shared calendars.

there is a longer discussion about this - I don't find the issue right away

@Julian1998 you might know the issue. please add for reference. THX

[2018-06-12 07:00] #898 closed, assigned to nobody

[2018-06-12 07:01] DeepDiver1975 commented on #639
BYDAY rule was implemented in #918

[2018-06-12 07:01] #639 closed, assigned to nobody

[2018-06-12 07:04] DeepDiver1975 commented on #620
fixed in #920

[2018-06-12 07:04] #620 closed, assigned to nobody

[2018-06-12 07:04] DeepDiver1975 commented on #729
invalid data - nothing we can do -> close

[2018-06-12 07:04] #729 closed, assigned to nobody

[2018-06-12 09:44] DeepDiver1975 commented on #902
@helloyan here we go - [calendar-1.5.8-rc1.tar.gz](https://github.com/owncloud/calendar/files/2093329/calendar.tar.gz)

[2018-06-12 09:47] DeepDiver1975 commented on #905
So you want to have Calendar (user) instead of Calendar(user) - right?

add the space in here https://github.com/owncloud/core/blob/8ed293b5d237e853789abdd5104f9c4e148c20db/apps/dav/lib/CalDAV/CalDavBackend.php#L240

[2018-06-12 09:48] DeepDiver1975 commented on #905
and here for addressbooks: https://github.com/owncloud/core/blob/8ed293b5d237e853789abdd5104f9c4e148c20db/apps/dav/lib/CardDAV/CardDavBackend.php#L179

[2018-06-12 09:49] DeepDiver1975 commented on #901
addressed in #921

[2018-06-12 09:50] DeepDiver1975 commented on #885
no idea - we need to look into this ....

[2018-06-12 09:54] DeepDiver1975 commented on #814
you can test our rc - [calendar-1.5.8-rc1.tar.gz](https://github.com/owncloud/calendar/files/2093329/calendar.tar.gz)

[2018-06-12 09:54] DeepDiver1975 commented on #814
closing since the user disappeared from github

[2018-06-12 09:54] #814 closed, assigned to nobody

[2018-06-12 09:55] DeepDiver1975 commented on #788
please test the RC - [calendar-1.5.8-rc1.tar.gz](https://github.com/owncloud/calendar/files/2093329/calendar.tar.gz)

[2018-06-12 09:56] DeepDiver1975 commented on #787
anything in error log?

[2018-06-12 09:58] DeepDiver1975 commented on #784
the calendar app itself is not responsible for the actual backend operations - the backend is in core.

Please re-open this issue in https://github.com/owncloud/core

[2018-06-12 09:58] #784 closed, assigned to nobody

[2018-06-12 09:59] DeepDiver1975 commented on #783
this is more related to the backend - please reopen in the core repo - https://github.com/owncloud/core

[2018-06-12 09:59] #783 closed, assigned to nobody

[2018-06-12 10:00] DeepDiver1975 commented on #775
support for BYDAY was recently added - please test the latest rc: [calendar-1.5.8-rc1.tar.gz](https://github.com/owncloud/calendar/files/2093329/calendar.tar.gz)

[2018-06-12 10:01] DeepDiver1975 commented on #774
afaik this is fixed -> close

[2018-06-12 10:01] #774 closed, assigned to nobody

[2018-06-12 10:04] DeepDiver1975 commented on #770
please test [calendar-1.5.8-rc1.tar.gz](https://github.com/owncloud/calendar/files/2093329/calendar.tar.gz)

we enhanced the recurrance support quite a bit

[2018-06-12 10:07] DeepDiver1975 commented on #761
![screenshot from 2018-06-12 12-06-56](https://user-images.githubusercontent.com/1005065/41284279-254dc82e-6e39-11e8-9501-f0ef34221aca.png)

possible with the upcoming 1.5.8-rc1 - [calendar-1.5.8-rc1.tar.gz](https://github.com/owncloud/calendar/files/2093329/calendar.tar.gz)

please test and let us know

[2018-06-12 10:08] DeepDiver1975 commented on #755
implemented in 1.5.8 - see the rc [calendar-1.5.8-rc1.tar.gz](https://github.com/owncloud/calendar/files/2093329/calendar.tar.gz)

[2018-06-12 10:08] #755 closed, assigned to nobody

[2018-06-13 06:22] skriesch commented on #787
We didn't find anything in the error log of the ownCloud server. It is reproducible everywhere.
I heard about this issue at Chemnitzer LinuxTage and other events, too.
Use 2 mobile devices and share your calendar!

[2018-06-13 06:41] DeepDiver1975 commented on #787
Doing this for many years since owncloud 5 and various calendar versions.
So I need more information about this.

Anyway .... calendar sync is part of core -> reopen in https://github.com/owncloud/core

[2018-06-13 06:41] #787 closed, assigned to nobody

[2018-06-13 07:14] skriesch commented on #787
Seems it is fixed with 10.0.1:
https://github.com/owncloud/core/issues/26667

[2018-06-13 07:20] DeepDiver1975 commented on #779
@Julian1998 can you please have a look and try to reproduce this? THX

[2018-06-13 15:19] prsnbrg commented on #905
Yes this is right.

[2018-06-14 04:03] helloyan commented on #902
yes，sloved my problem, good job

[2018-06-14 04:03] #902 closed, assigned to nobody

[2018-06-19 17:20] doctaweeks commented on #770
Did some testing - it looks like repeating once a month but selecting a day of the weeks behaves as if weekly repeating was selected.

[2018-06-19 18:11] Julian1998 commented on #770
Thanks for testing!!!

Yeah but that's correct... You can see the difference if you change the interval to 2
A correct monthly repeating needs additional information we didn't implement yet (bymonth)

But you are right! We have to limit rules like this somehow

[2018-06-23 10:03] Julian1998 opened #923 "Datepicker must show correct date in recurrences"
### Steps to reproduce
1. Create an event with some recurrence rules
2. After creating click on an event (But not the first one)
3. You will recognize that start and end date are set to the start/end date of the first event

### Expected behaviour
Start and end date of the pressed event should appear instead

### Actual behaviour
Start and end date of the first event appears

[2018-06-25 08:57] DeepDiver1975 commented on #905
merged into core master - backport to stable10 is open - will be released with 10.0.0 or 10.0.10

[2018-06-25 08:57] #905 closed, assigned to nobody

[2018-06-26 14:14] frawi opened #924 "Limited read access for selected users"
I want to share my calendar with other people, but only show them when I am busy. Right now I can share the calendar, but everyone gets the same access the events. I can decide for each event whether it is public, private or confidential.

I want to share my calendar with some people (business contacts) only to show them when I am not available/busy. I don't want to expose more private information

[2018-07-07 09:51] dketterer commented on #729
I have the same issue.
I validated my ics File against this validator: https://icalendar.org/validator.html

Could you please reference the standard you have implemented or used in a library?

[2018-07-08 17:46] Julian1998 commented on #729
@dketterer I guess we are using RFC 5545

[2018-07-09 06:58] DeepDiver1975 commented on #729
@dketterer please share your ics file - but please remove personal information before posting publicly in here.

[2018-07-19 01:51] wom-bat opened #925 "Can't subscribe to ICS feed."
IN the Owncloud log after attempting to subscribe to webcal://ww.calendarlabs.com/ical-calendar/ics/35/Australia_Holidays.ics

I wonder if too much is being quoted?

Owncloud 10.0.8, calendar 1.5.7, php 7.2.4

{"reqId":"A3FSY7OGe0RNkrstMawC","level":0,"time":"July 19, 2018 01:40:54","remoteAddr":"REDACTED","user":"REDACTED","app":"no app in context","method":"GET","url":"\/owncloud\/index.php\/app

[2018-07-19 15:56] DeepDiver1975 commented on #925
@Julian1998 mind having a look? THX

[2018-08-08 15:25] ITTRI4710 commented on #882
Hi!

Did you already talk about it?

best,
Roland

[2018-08-20 11:09] Julian1998 commented on #923
close - fix will be in https://github.com/owncloud/calendar/pull/922

[2018-08-20 11:09] #923 closed, assigned to DeepDiver1975

[2018-08-20 23:05] miqrogroove opened #928 "Calendar Shows Birthday of a Deleted Contact"
### Steps to reproduce
1.  Installed ownCloud on a new Ubuntu server a few days ago.
2.  Imported contacts.
3.  Deleted a few contacts (via CardDav)
4.  Noticed the birthday calendar for next month shows a contact who no longer exists.
5.  Confirmed contact does not appear in OC website.
6.  Confirmed both CalDav and website calendars are showing a birthday that should not exist anymore.

### Expe

[2018-08-21 06:12] DeepDiver1975 commented on #928
Mind having a look into the server log under data/owncloud.log at the time of deletion? THX

[2018-08-21 12:28] miqrogroove commented on #928
Nothing at time of deletion.  Log level is errors only, because https://github.com/owncloud/core/issues/31524

[2018-08-21 13:14] miqrogroove commented on #928
Possibly relevant:  I had some difficulty with the contacts import and ultimately deleted my contacts list and repeated the process once or twice to resolve date syntax errors.  Now in the web calendar some of the birthdays show up in duplicate or triplicate.

[2018-08-22 23:17] miqrogroove commented on #928
Symptoms resolved by deleting the birthday calendar and manually updating it from the shell command suggested by https://central.owncloud.org/t/multiple-entries-in-contacts-birthday-calendar-per-person/5973

That just leaves the matter of why the birthdays are not deleted when the contacts are deleted?

[2018-08-23 06:45] DeepDiver1975 commented on #928
Some date format issues during import could be the reason ... logs should show ....

There is an occ command to sync the birthday calendar:
./occ dav:sync-birthday-calendar - this should help as well ...

[2018-08-23 09:49] dmalkmus opened #929 "Public shared calendar reloads every 7 seconds"
  | 10.0.9.5
-- | --

### Steps to reproduce
1: sign in in any account
2: create a new calendar in the calendar app
3: share this calendar public
4: copy the link into clipboard
5: logout from owncloud as any anonymous public user
6: paste the link into a new tab

### Expected behaviour
Public shared calendar, viewed as not logged-in-user in a webbrowser shoud stay on the selected view, e. g. moth

[2018-08-23 10:17] DeepDiver1975 commented on #929
Please test 1.5.8-rc1: https://github.com/owncloud/calendar/pull/921#issuecomment-396518406

[2018-08-23 11:19] dmalkmus commented on #929
The Version 1.5.8-rc1 wors for me! Thank You!

[2018-08-23 11:19] #929 closed, assigned to nobody

[2018-08-23 12:07] DeepDiver1975 commented on #929
we will soon release this via the marketplace.

[2018-08-23 23:29] AlexandreBonneau commented on #828
For info, it's still impossible to share any calendar using the latest `10.0.9.5`.

This is a critical bug.

[2018-09-05 07:34] davitol opened #935 "Drone setup"
Move from Travis to Drone

[2018-09-11 19:42] Julian1998 commented on #888
@sciurius Is there no log error on console? I makes sense to inform the user about the exact error but that is sth for the oc console

Can you have a look at it?

[2018-09-11 19:46] Julian1998 commented on #885
@Rudloff This is not a bug. The user's shared calendar original color is used. But I agree at the point that everyone should be able to set his own color :)

[2018-09-11 20:18] sciurius commented on #888
I see I can create a calendar using occ, but I do not see how I can import an .ics into it.

[2018-09-12 10:35] DeepDiver1975 opened #943 "Implement SEQUENCE properly"
see https://tools.ietf.org/html/rfc2445#section-4.8.7.4

We need to increment the SEQUENCE property according to the specs

[2018-09-13 07:01] G0ldmember opened #945 "Accepting MS Office invitations breaks web calendar"
### Steps to reproduce
1. create meeting invitation in Office365
2. Accept it in external client (e.g. Thunderbird) and add it to Owncloud calendar
3. Navigate to web calendar within owncloud and see... nothing

### Expected behaviour
Web calendar should display and show the new event

### Actual behaviour
Web calendar loads but as soon as the "critical" event is within the selected time frame whi

[2018-09-13 12:49] Julian1998 commented on #888
@sciurius No I meant the owncloud error log in your admin settings

[2018-09-13 14:50] sciurius commented on #888
Yes, there are some messages in the owncloud log. Not exactly user friendly but they may give a clue to solve the import problems.

[2018-09-16 13:02] Julian1998 commented on #888
@sciurius We can only help you if you post them here!

[2018-09-16 14:55] sciurius commented on #888
Oh, sorry. This was not intended as a request for help, but more a notice that I consider it solvable with these clues. In fact, I did eliminate all import errors. It turns out that SabreDAV is much stricter than DAViCal and some python libraries.

Most errors were:

- This  recurrence rule does not generate any valid instances
This happens when the occurrences of an event are removed one by one,

[2018-09-18 08:43] soydepr opened #947 "syncing with caldav broke in ios 12"
### Steps to reproduce
open settings in ipad and add other account caldav for clanedar

### Expected behaviour
calendar should connect to owncloud calendar

### Actual behaviour
login fail , worked fine in ios 11.4.1  broke in ios 12

### Server configuration
OC 10.0.9
**Operating system**:
RASPBIAN STRETCH
**Web server:**
LIGHTTPD
**Database:**
MARIADB
**PHP version:**
PHP 7.0.30-0+deb9u1 (cli) (

[2018-09-21 07:50] sciurius opened #949 "Documentation out of order"
On the Apps page, there is a documentation link for Calendar:
https://doc.owncloud.org/server/10.0/user_manual/pim/calendar.html

This leads to an almost empty page which refers to:
https://github.com/owncloud/documentation/wiki/Using-the-Calendar-App-in-ownCloud-9.0

This page says that the docs are now on:
https://github.com/owncloud/docs

This is a GitHub page about generating documentation. St

[2018-09-21 09:52] Schack17 opened #950 "Exception template file not found: template:main after upgrade to 1.6.0 (from 1.5.7)"
owncloud 10.0.9.5
### Steps to reproduce
1. update calendar from 1.5.7 to 1.6.0
2. Open ../index.php/apps/calendar/
3. Error message in browser.

### Expected behaviour
Show calendar app

### Actual behaviour
Error message

### Server configuration

**Operating system**: raspbian Linux 4.9.35-v7+ #1014 SMP Fri Jun 30 14:47:43 BST 2017 armv7l GNU/Linux

**Web server:** apache2 2.4.10

**Database:**

[2018-09-21 09:55] sciurius commented on #888
I'll close this issue with the remark that the ownCloud calendar looks very nice and (surprise!) performant.
For example, the Synology Calendar takes 21 seconds to load, and 2 seconds to browse to a new month. OC Calendar (running on the same NAS) takes 10 seconds to load, and about 4 seconds for a new month. InfCloud (client based) takes 90 seconds to load but browses the nearby months (6 forward

[2018-09-21 09:55] #888 closed, assigned to nobody

[2018-09-21 12:33] DeepDiver1975 commented on #950
Does the file Apps/calendar/templates/main.php exist?

[2018-09-24 19:12] Schack17 commented on #950
Sorry. This was a problem with my server. It runs out of space.

[2018-09-24 19:12] #950 closed, assigned to nobody

[2018-09-27 08:32] soydepr commented on #947
This is working now when using letsencrypt ssl with port 443 https.  Should it remain open or close?

[2018-09-27 08:57] Julian1998 commented on #947
@soydepr We let it open. It seems like this is problem behaviour occurs very often and can't always be fixed with https

[2018-09-27 09:00] soydepr commented on #947
@Julian1998 I did notice that last night worked on iphone but not on iPad then this morning it worked on iPad :-)

[2018-09-28 09:13] kenhys opened #952 "Missing feature to share subscription"
### Steps to reproduce

1. Click [New Subscription]
2. Fill iCal link such as:
https://calendar.google.com/calendar/ical/ja.japanese%23holiday%40group.v.calendar.google.com/public/basic.ics
3. Click [Create] button
4. We can't see share button for subscription

### Expected behaviour

We can share subscription with user or groups.

Typical use case is: sharing Holiday schedule.

It is a workaround

[2018-09-28 19:46] milkywade commented on #947
Hi there - I created a github account just for this issue. It happens to me in iPhone and iPad. CalDav & CardDav have never worked since updating to iOS 12. Rather handicapping by my account.

FYI Apache's access.log sends this:  HTTP/1.1" 401 1070 "-" "iOS/12.0 (16A366) dataaccessd/1.0"

[2018-09-28 19:46] milkywade commented on #947
Why this issue has no assignee ?

[2018-09-28 21:08] soydepr commented on #947
I share your frustration I’m just thre reporter ,

I did get it to work via https port 443 see @Julian1998 comments

[2018-09-29 10:26] milkywade commented on #947
Thanks, saw that, although it did not seem to work all the time so I thought maybe we can wait. But I discovered I can not. Do you know a simple to get SSL working for apache on the pi ? My previous attempts at making it work have been unsuccessful.

[2018-09-29 11:10] soydepr commented on #947
I use lighttpd and it did not work with simple ssl so I  finally got letsenceypt and it started working for me

[2018-09-29 12:09] milkywade commented on #947
thx. been at it all morning. First with openssl, Now trying letsencrypt. Do you use a DNS server ? If not, what's the domain name one could use when creating the certificate ?

[2018-09-29 12:34] soydepr commented on #947
I have dns via

http://freedns.afraid.org

Hope it helps took me a week to get certificate most Likely  you will run into daily limit

[2018-09-29 14:27] milkywade commented on #947
hmm, thanks, so that implies connecting the pi to the Internet, which is like ... no :-). Tried installing a local dns server, got it working, then indicating the local domain name during the certbot script execution but then letsencrypt failed (this is normal) as the domain name is not recognized publicly. D'oh. This is being very formative but it's as far as I'll get for a while...

@owncloud de

[2018-09-29 16:14] milkywade commented on #947
ok. finally. made it work.

In "short":
1. installed a DNS server on the pi, configured it
2. followed tip #5 in [this guide](https://blog.httpwatch.com/2013/12/12/five-tips-for-using-self-signed-ssl-certificates-with-ios/) to create a self-signed Root CA (_very_ important) and a cert for apache itself, linked to the Root CA
3. installed the Root CA on my iPhone
4. re-run the account config in the

[2018-09-29 16:31] soydepr commented on #947
@milkywade interesting u want a local cloud

[2018-10-01 18:28] Manishfoodtechs opened #953 "error code ELIFECYCLE : error errno 1"
Hello , I am getting this error. Tried everything like downgrading of babel , gulp modules etc. unable to resolve.

**20 error code ELIFECYCLE
21 error errno 1
22 error calendar@ test: `node node_modules/gulp-cli/bin/gulp.js karma`
22 error Exit status 1**

![image](https://user-images.githubusercontent.com/29369645/46307571-e6c1cf80-c5d4-11e8-8710-b25f3311096b.png)

complete log below:
0 info it

[2018-10-06 14:47] soydepr commented on #947
@milkywade  do you have a guide on setting the dns server. kind like this private cloud concept

[2018-10-06 17:01] milkywade commented on #947
Hi there - I used [this one](https://carpie.net/articles/setting-up-a-home-network-dhcp-dns-server-with-dnsmasq) [carpie.net] + fine-tuned as I have a vague idea of what DNS is and what I wanted. Example: I used entries in /etc/hosts which dnsmasq reads as I did not want to enable DHCP (I have my main router doing that and did not want to tweak further).

Now your mileage might vary but dnsmasq is

[2018-10-06 17:03] milkywade commented on #947
now, honestly, I'm not ever sure that a DNS server is necessary, you might want to try creating the certificate using an IP address instead of a FQDN first as, if it works, you do not need the DNS server.

[2018-10-06 17:06] soydepr commented on #947
Thanks @milkywade if I understand you correctly you can’t reach from the outside

[2018-10-08 12:04] Julian1998 commented on #947
@milkywade Right now we suggest that apples new ios 12 version had some security updates including not sending authentication headers on http. As I said this is just a suggestion (But if it would be correct - then we can't do anything right now)

[2018-10-08 12:09] Julian1998 commented on #952
@kenhys Thx for the reference but I don't understand what they are talking about. Please use english or remove it ;)

We don't plan to support that feature right now. You could use calDav instead

[2018-10-08 12:36] soydepr commented on #947
@Julian1998  are you saying you guys not looking for a workaround ? hence close the issue.

ios 12 beta was out for a long time this should of been caught or noticed .

[2018-10-08 12:42] DeepDiver1975 commented on #947
There is no workaround to be applied. ios 12 calendar sends authentication information only if ssl and a valid cert is in place.

[2018-10-08 12:46] soydepr commented on #947
but as others mentioned not always valid ssl fixes the issue .it did for me though

BTW noting in today ios update addresses this issue

[2018-10-09 06:58] Julian1998 commented on #947
@soydepr Do you have a link that you can share with ous where the issue is adressed? Can't find it on google.

[2018-10-09 08:35] soydepr commented on #947
Meant today’s ios update  did **NOT ** address this issue

[2018-10-09 12:45] ITTRI4710 commented on #882
Hi!
Can you tell me if you already had time for it?
best,
Roland

[2018-10-09 23:12] soydepr commented on #947
@Julian1998   I mentioned nothing was mentioned about this issue in the update

[2018-10-10 07:00] DeepDiver1975 commented on #947
Well ... I don't think this can be seen as an issue on the ios side. It's a security hardening apple did add to make sure no passwords are leaked via insecure connections. Generally speaking their intention is good.

[2018-10-13 20:07] milkywade commented on #947
no, no need

[2018-10-13 20:11] milkywade commented on #947
@DeepDiver1975 Hi there - think it makes sense. I saw this week that bitdefender (sometimes) applies the same logic as well and will not allow sending your password in clear. Wish this would have been more obvious before as I could not find that documented after a couple of google searches. All is well which ends well, sending passwords in clear, even in your own LAN is never a good thing. Thanks

[2018-10-15 13:55] #947 closed, assigned to nobody

[2018-10-15 15:06] thommierother opened #958 "possible validation error for COUNT and UNTIL in calendar objects"
1. create new calendar
2. add appointments through OC Web interface (10.0.0.10)
3. synchronize with MS Outlook 2016 through https://caldavsynchronizer.org/de/

### Expected behaviour
no validation error for calendar objects

### Actual behaviour
synchronization log shows:

<?xml version="1.0"?>
<SynchronizationReport xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.or

[2018-10-17 07:01] Julian1998 commented on #958
Hi! Can you share your calendar as ics file? You can remove sensitive data or create an own calendar. (I can't reproduce that count and until behavior)

[2018-10-17 11:13] thommierother commented on #958
Please download personal-2018-10-17.ics from
https://www.netzwissen.de/owncloud/index.php/s/wSPHcVdjc5m90wB
I will remove it again by tomorrow ...

[2018-10-17 11:19] DeepDiver1975 commented on #958
I have it - you can unshare again - THX

[2018-10-17 11:19] DeepDiver1975 commented on #958
@Julian1998 you know where to find me :rofl:

[2018-10-19 10:25] rrustema opened #959 "Since MacOS Mojave 10.14 error in Calendar under ownCloud 10.0.10."
The error occured since updating my iPhone to iOS 12.0 and MacBook air to macos 10.14.

The calendar client on the Mac stopped synchronising with my (personal) owncloud-setup with Calendar and gives the error:

“Your calendar couldn’t be refreshed.”

“The server did not recognise your user name or password for account “host”. Make sure you enter them correctly.”

To be precise, I thought it was be

[2018-10-19 10:45] DeepDiver1975 commented on #959
maybe macos is not seeing lets encrypt certs as valid due to missing root certs.

Can you open owncloud in the browser and watch out for errors?

[2018-10-21 10:54] rrustema commented on #959
When I go to /owncloud/index.php/apps/calendar/ on my domain with Firefox and I ask 'more information' from the green 'lock' icon I see no errors.

In the webinterface of the calendar I see the error: "The "Strict-Transport-Security" HTTP header is not configured to at least "15552000" seconds. For enhanced security we recommend enabling HSTS as described in our security tips."

I suspect that I h

[2018-10-22 07:55] thommierother commented on #958
@Julian1998 did you have time to look at it?

[2018-10-23 07:11] Julian1998 commented on #958
@thommierother No sorry... But I got your data :) Hopefully this week!

[2018-10-29 10:14] #659 closed, assigned to nobody

[2018-11-08 15:44] mivogcg commented on #877
Hi!
I have a similar problem. I cannot create invitations for some owncloud users.
I see the same error message in the browser.

All users with this problem have one thing in common. They have entered the same mail address in their owncloud user profile.
If they remove the mail in the user profile, or enter a different one, everything works.

I hope this helps.

[2018-11-14 11:16] rrustema commented on #959
By the way, synchronising the local folder 'owncloud' using the owncloud desktop client on the same machine gives no error. Assuming this client also asks for correct certificates then we can say the certificate is not an issue.

Any other thoughts on narrowing down the cause?

I copy-pasted the password I use from my password manager as a new password in the owncloud webclient to replace the exis

[2018-11-14 13:45] thommierother commented on #958
@Julian1998 Any news on this issue?

[2018-11-14 21:09] Julian1998 commented on #959
I am not 100% sure but I would guess that the webDav(ownCloud) and calDav(apple) client authentications work independent of each other. We got a problem with ios12 and http... I know you use https so I guess it's a configuration error.

Can you post your ownCloud log and browser console log?

[2018-11-14 21:29] Julian1998 commented on #958
@thommierother There are no simultaneous COUNT-UNTIL-events in your calendar. So maybe it's a bug in your calDav client. Did you change a recurrence ending of an existing event from UNTIL to COUNT (or other way round)

[2018-11-15 22:10] rrustema commented on #959
what is the convention for sharing a logfile?

I just put it at http://www.rrr.deds.nl/owncloud.log

Can you see something relevant in it?

How is the browser console log relevant? I never use a browser for my Calendar. Where to find it if it is?

txs!

[2018-11-16 02:22] piroor opened #965 "Translation issue: "after" appears at two locations in different usages"
The text "after" appears at these two locations:
https://github.com/owncloud/calendar/blob/master/js/app/controllers/valarmcontroller.js#L69
https://github.com/owncloud/calendar/blob/master/templates/part.eventsrepeat.php#L114
Their contexts are different: the first is "N hours after", the second is "after N event(s)". In Japanese they should be translated differently, but I cannot give different

[2018-11-16 09:43] misterloz commented on #756
Hi, I'd like to see this feature return as well, please.

Also the ability to change the times to 24hr.

Both of these options were in 8.0 (which I've just upgraded from)

Thanks

[2018-11-17 13:31] Julian1998 commented on #959
Yeah I found something interesting.

403 Invalid or unknown sync token

https://github.com/owncloud/core/issues/30820

[2018-11-19 08:38] Julian1998 commented on #959
I will close this issue. It's a general sync issue so this is just a duplicate.

It seems to be most likely a bug with sync token given/created by apple.

[2018-11-19 08:38] #959 closed, assigned to nobody

[2018-11-20 10:16] sciurius opened #966 "Repeating event stops displaying"
On the 'May' monthly view, the attached event shows correctly.
Note that is is also displayed on June 5.
Advance to month 'June' and the event is no longer shown. Not even on the 5th.
(Same for later months.)

### Server configuration

**Operating system**:
DSM 6.1

**Web server:**
Apache 2.2

**Database:**
MariaDB 5

**PHP version:**
7.0

**ownCloud version:** (see your admin page)
10.0.10

**Cal

[2018-11-20 13:14] Julian1998 commented on #966
Hi, Can you please post your browser log and ownCloud log?

It seems like you didn't create the events on the web ui... where did you create them and how do you sync your calendar?

[2018-11-20 15:41] sciurius commented on #966
The ownCloud log does not contain anything related to the calendar actions.
I'm not sure what you mean by browser log.

This particular event was created with InfCloud (https://www.inf-it.com/open-source/clients/infcloud/) communicating with a DAViCal server. I have exported the events from the DAViCal server and imported them into OC Calendar. The event as I included in the previous message was e

[2018-11-20 18:38] Julian1998 commented on #966
browser logs are error/warnings in the js console of your browser

[2018-11-20 18:39] Julian1998 commented on #966
@sciurius It's possible that there are some properties we don't support yet. Let me check that. But I will need some time

[2018-11-20 18:47] sciurius commented on #966
That's okay... I want to get rid of my DAViCal server, but not desparately :). Yet.

[2018-11-29 17:47] dkingmd commented on #828
I'm not sure this is the same issue but when I attempt to delegate access to another user (using macOS 10.14.1 Calendar app) if fails with an error and the following console log entry:

[com.apple.calendar.store.log.delegates] [Getting granted delegates failed with error Error Domain=CoreDAVHTTPStatusErrorDomain Code=404 "(null)" UserInfo={CoreDAVHTTPHeaders=<CFBasicHash 0x7fc577ddb060 [0x7fffa757

[2018-11-29 19:41] gohrner commented on #326
Apparently, issue #804 was a duplicate of this. In #804 it was mentioned, that sharing webcal subscriptions is planned (https://github.com/nextcloud/server/issues/1600, not yet finished), which will probably help in several cases.

However, I also have the case that someone sends me an ICS file from time to time which I need to import and which is not publicly available on the web, so I also need

[2018-12-06 23:08] PVince81 opened #967 "[For Semver] Calendar 1.6.1"
### Reason

- Set max version to 10 because core platform is switching to Semver
- Adjust showing timezone - [#961](https://github.com/owncloud/calendar/issues/961)

### QA
- [x] Create **QA Milestone**
- [x] Move items from `development` to `qa`
- [x] Create release branch with the format "release-$version"
- [x] Test: Install from the provided tarball and enable in ownCloud stable10
- [x] Test:

[2018-12-06 23:19] PVince81 commented on #967
@davitol please test tarball https://cloud.owncloud.com/index.php/s/gM7TtiM1wAsXlMh

[2018-12-10 19:24] DeepDiver1975 commented on #967
not a issue ... false alarm

[2018-12-11 08:14] davitol commented on #967
@PVince81 Tarball is QA-ready

[2018-12-11 11:13] KolbeinNL opened #968 "Deleted calendar from recurring event appears after editing instance"
### Steps to reproduce
1. Create event
2. Add time
3. Add recurring
4. Verify that the events are created
5. Remove instance
6. Change time or description
7. Verify that the removed instance reappeared

### Expected behaviour
The removed instance should be removed permanently

### Actual behaviour
The removed instance appeared again

### Server configuration
ubuntu 18.04

**Operating system**:
ubu

[2018-12-11 13:25] Julian1998 commented on #968
### Logs
#### Web server error log
[code]

#### Log file (data/owncloud.log)
[code]

#### Browser log
[code]

Please fill that gaps ;) It would help ous a lot!

[2018-12-11 21:39] #967 closed, assigned to PVince81

[2018-12-11 21:40] PVince81 opened #970 "Fix failing builds"
There are test failures like
[code]

as observed on the release PR: https://travis-ci.org/owncloud/calendar/builds/466558151

@Julian1998 please have a look when you have time

[2018-12-11 22:34] DeepDiver1975 commented on #970
Not deterministic behavior. Restarting the build helps. Not really much we can so from my pov

[2018-12-11 22:34] #970 closed, assigned to Julian1998

[2018-12-26 10:06] thommierother commented on #958
issue re-created for caldavsynchronizer developers: https://sourceforge.net/p/outlookcaldavsynchronizer/tickets/1057/

[2018-12-26 10:06] #958 closed, assigned to nobody

[2018-12-27 18:18] thommierother opened #971 "RFC 2445: recurrence rule is not respected or not correctly interpreted?"
### Steps to reproduce
1. create or import ical calendar
2. synchronize through caldav with caldavsynchronizer
3. validation error

### Expected behaviour
no validation error. OC calendar app follows RFC standard and/or validates imported data according to the standard . The calendar app either creates new or imports foreign calendar objects with
inaccurate recurrence rules. Example string:

DTSTA

[2018-12-28 08:45] DeepDiver1975 commented on #971
2445 is obsolete. We implement https://tools.ietf.org/html/rfc5545

And rrule is the way to go afaik.

[2018-12-28 13:34] thommierother commented on #971
OK, but we have the same rule in the RFC 5545 on P. 38: "UNTIL or COUNT"

If I create a new reocurring event with the current calendar app, I see a rrule string in the ics which contains both UNTIL and COUNT values, which is not correct. If I understand the RFC correctly.

BEGIN:VCALENDAR
PRODID:-//ownCloud calendar v1.6.1
VERSION:2.0
CALSCALE:GREGORIAN
BEGIN:VEVENT
CREATED:20181228T132119Z
DTSTAM

[2018-12-28 19:43] Julian1998 commented on #971
yeah that s not correct! But I can't reproduce that behavior. Do you have any steps for me?

[2018-12-28 22:28] thommierother commented on #971
based on OC 10.0.10 with calendar 1.6.1
- just create a new calendar entry from the app
- with "repeat every day"

I always see that strange "UNTIL=19961027T030000" string in it BUT: if I use a newly created calendar (not one which already existed on the host), the rrule is correct. I only see it if if I add the new calendar object to the one calendar which I used for some years .... Hmmmm, this i

[2018-12-28 22:30] thommierother commented on #971
`BEGIN:VCALENDAR
PRODID:-//ownCloud calendar v1.6.1
VERSION:2.0
CALSCALE:GREGORIAN
BEGIN:VEVENT
CREATED:20181228T222411Z
DTSTAMP:20181228T222446Z
LAST-MODIFIED:20181228T222446Z
UID:BFPS0GXJQWHMKNL65UJ5NQ
SUMMARY:test 2
CLASS:PUBLIC
STATUS:CONFIRMED
DTSTART;TZID=Europe/Berlin:20181231T113000
DTEND;TZID=Europe/Berlin:20181231T120000
RRULE:FREQ=DAILY
SEQUENCE:0
END:VEVENT
BEGIN:VTIMEZONE
TZID:Europe/

[2018-12-31 15:31] thommierother commented on #971
I tested again and the wrong rrule lines (with both UNTIL and COUNT) are NOT imported into a fresh calendar. So the validation seems to be correct - good work ;-) Will close this ...

[2018-12-31 15:31] #971 closed, assigned to nobody

[2019-01-11 12:08] insseek opened #973 "Enable share calendar in iCal on macOS Mojave"
### Steps to reproduce
1.  set ownCloud account with iCal on macOS Mojave using the following URL:https://example.com/remote.php/dav/principals/users/USERNAME/
2. create a calendar, and share it (read/write) with user B
3. iCal alter an error message

### The iCal error message
The server responded with an error.
The request for account “ownCloud-fanping” failed.

The server responded with
“501”
t

[2019-01-16 08:11] fujimotos opened #974 "Provide a way to remove an event from every participant's calendar."
### Steps to reproduce

0. Open the calendar app on ownCloud.
1. Create a new event.
2. Add some attendees to the event using the sidebar.
3. Try to remove the event.

### Expected behaviour

ownCloud should provide a way to remove a particular event from every
participant's calendar.

### Actual behaviour

We need to click each participant's event and remove them one by one.

### Server configura

[2019-01-16 08:18] DeepDiver1975 commented on #974
This is Part of caldav scheduling. This should work. Needs debugging ...

[2019-01-20 09:12] DeepDiver1975 commented on #973
yes - anyy change has to be implemented in core. Closing this issue. THX

[2019-01-20 09:12] #973 closed, assigned to nobody

[2019-02-06 17:47] prsnbrg opened #975 "Missing Translation"
### Steps to reproduce
1. Create or edit an event
2. Change the time
3.

### Expected behaviour
Tell us what should happen
German Translation of all text in the side view of events

### Actual behaviour
Tell us what happens instead
hour an minute over the time selection

### Server configuration

**Operating system**:

**Web server:**

**Database:**

**PHP version:**

**ownCloud version:** (see yo

[2019-02-06 18:05] georgehrke commented on #975
Can you please provide screen shots? I’m not exactly sure I understand what part of the editor you refer to

[2019-02-06 18:36] prsnbrg commented on #975
![screenshot 21](https://user-images.githubusercontent.com/29964525/52364793-5bef5680-2a46-11e9-8713-323e17b598a0.png)

the modal with the hour and the minute have no translation.

[2019-02-07 15:19] DeepDiver1975 commented on #975
The reason for this is most likly an outdated momentjs library somewhere in the stack. I'll have a look ....

[2019-02-15 09:07] DeepDiver1975 commented on #945
~This issue is within the used ICAL library. Needs a deeper look ...~

[2019-02-15 15:19] #975 closed, assigned to DeepDiver1975

[2019-02-20 15:48] KolbeinNL commented on #968
Hello Julian,

I cannot add webserver logs as it contains sensitive information such as email addresses. I have added lots of screenshots as well as the output of curl.. Is this enough?

[2019-02-21 12:16] Julian1998 commented on #968
@KolbeinNL Hi, The screenshots are good to understand the process of what's happening. But normally I still need infos about any errors ;) But in this situation the ss should be enough!

I' m gonna reproduce this bug when I find some time.

[2019-02-21 18:54] FKBOX opened #991 "Can't share calenders with groups anymore - Owncloud 10.1.0"
calender app is 1.6.1

1. go on calender app an share with group, find the group but nothing happens.
2. public share works in browser
3. deakativated, aktivated, deinstalled, installed same as before

### Server configuration

**Operating system**: ubuntu 16.04 LTS

**Web server:** apache2

**Database:** mysql

**PHP version:** 7.0

**ownCloud version:** (10.1.0)

**Calendar version:** (1.6.2)

*

[2019-02-22 09:49] DeepDiver1975 commented on #991
errors in browser or on the server?

[2019-02-22 20:17] FKBOX commented on #991
{"reqId":"#####sxhR1","level":3,"time":"2019-02-21T17:35:22+00:00","remoteAddr":"88.94.##.##","user":"Frank_K","app":"OCP\\Share","method":"GET","url":"\/owncloud\/ocs\/v1.php\/apps\/files_sharing\/api\/v1\/sharees?format=json&search=chr&perPage=200&itemType=principals","message":"Sharing backend for principals not found"}
Thats the message of owncloud.log how can I fix that?

[2019-02-25 19:30] thommierother opened #993 "1.6.2: all calendars disappeared after upgrade"
After cli upgrade to calendar 1.6.2, all calendars previously selected in the left pane disappeared, I only see a "waiting circle" forever.

Tested  with OC 10.1.0 and Firefox 60.5 ESR and Chromium 71.0.3578.98

Browser console shows (I don't know if this is relevant):

[2019-02-25 19:42] DeepDiver1975 commented on #993
@thommierother this happens in case the response of the first propfind is returning an error.

Please try to logoff and logon and if this still happens I need a screenshot of that failing PROPFIND from the network tab of our browser

[2019-02-25 20:04] thommierother commented on #993
Sorry for that, this was my fault. I forgot to disable maintenance singleuser mode after the upgrade. All is fine now ;-).

[2019-02-25 20:04] #993 closed, assigned to nobody

[2019-03-01 13:24] MBeule commented on #991
I have the same problem!

[2019-03-02 13:40] FKBOX commented on #991
It seems that owncloud ist file-cloud an no more  an no help. The only thing to solve the problem ist to change to nextcloud. I do 'next' when I have time!

[2019-03-03 12:57] Julian1998 commented on #991
@FKBOX This calendar app is written by the community... Not the ownCloud team - We are just helping as much as we can! It's the same for Nextcloud.

[2019-03-03 20:07] FKBOX commented on #991
Calender and contacts is close important as file-cloud for me. Is nobody here who know how to fix missing backend?

[2019-03-04 12:22] alfredbuehler commented on #991
I see the same "Sharing backend for principals not found" messages on my system, but sharing works as expected. Problem must be somewhere else.

[2019-03-04 14:02] FKBOX commented on #991
SELECT * FROM `oc_dav_shares` => no results, no data set
Columns: id, principaluri, publicuri, type, access, resourceid
SELECT * FROM `oc_calendarsubscriptions` => no results, no data set
Columns: id, uri, principaluri, source, displayname, refreshrate, calendarorder, calendarcolor, striptodos, stripalarms, stripattachments, lastmodified

what is wrong with tables?

[2019-03-04 16:25] alfredbuehler commented on #991
Table ```oc_dav_shares``` is empty, because you cannot/don't have shares.

[2019-03-04 21:39] FKBOX commented on #991
I had shares before! Who deleted them? Or which update deleted, crashed shares???

[2019-03-05 19:22] alfredbuehler commented on #991
IIRC you wrote on central, that you updated the os from the repos. My best guess is, that something went terribly wrong. For unknown reasons, ownCloud failed in migrating you existing db contents. Unfortunately I don't see any straight way out.

[2019-03-14 12:19] Julian1998 commented on #974
@fujimotos How did you add your attendees - by mail or by the username?

[2019-03-15 04:43] fujimotos commented on #974
By username. I usually type attendee's user name (like "fujimoto") into
the input box, and click on the suggested name.

![2019-03-15-134333_347x138_scrot](https://user-images.githubusercontent.com/8974561/54409108-58777b00-4728-11e9-9d4e-b32d654ea59b.png)

[2019-03-15 19:06] fd0 commented on #805
For the record, I also had this issue, this is how you do the replacing inline directly in the database:
[code]

I had several hundred rows updated by the second statement. Hope this helps somebody :)

This was a user who only used "ical" on macOS and iOS.

[2019-04-06 18:19] daladim commented on #885
Just as a note, a cloud-project-who-must-not-be-named seems to have implemented such a feature, see https://github.com/nextcloud/server/pull/3620 (I have not tested it since I don't use it)
I have never digged into Owncloud's code. Do you think this could be implemented the same way?

[2019-04-07 12:41] Julian1998 commented on #885
@daladim Nice finding! Yes could be possible to implement something like this as well. Unluckily I don't have time to do so. But if you want to give it a try - just do it :)

[2019-04-26 13:50] prsnbrg opened #1007 "Missing cancel button"
### Steps to reproduce
1. Edit an calendar
2.
3.

### Expected behaviour
Tell us what should happen
A clearly visible Cancel key with an "X", so that it is clear that it is a Cancel key.

### Actual behaviour
Tell us what happens instead
The Cancel button is very hard to see.
![Missing Button](https://user-images.githubusercontent.com/29964525/56812062-79a8ac80-683a-11e9-9254-deadba7f9891.JPG)

##

[2019-04-26 14:19] DeepDiver1975 commented on #1007
fixed with this one - https://github.com/owncloud/calendar/pull/996

It has not yet been released ... will happen soon

[2019-04-26 14:19] #1007 closed, assigned to nobody

[2019-05-03 13:15] KolbeinNL opened #1008 "Removed event still visible"
### Steps to reproduce
1. Start KOrganize or Thunderbird Lightning
2. Add a recurring event
3. notice how the event is visible in owncloud
4. remove single occurrence in KOrganize or Thunderbird
5. Notice how the event is correctly displayed in both KOrganize and Thunderbird but NOT in owncloud
6. Note: EXDATE;VALUE=DATE:20190510 and EXDATE;VALUE=DATE:20190524 in the output below

### Expected beh

[2019-05-03 13:32] Julian1998 commented on #1008
Can you please upload your event data? Or at least some reproducing test data before and after the remove of a single occurrence

[2019-05-03 14:19] KolbeinNL commented on #1008
Please see the update ticket and the network logging with xml data

[2019-05-03 14:22] Julian1998 commented on #1008
Any errors in the server log or browser console? Looks weird. Exdate props are set correctly

[2019-05-03 14:49] KolbeinNL commented on #1008
Console and owncloud log stays empty . I have a tail -f on data/owncloud.log. No errors. I could see this however further up..

{"reqId":"JaRNx4SIklMqtKFJqEY3","level":4,"time":"2019-05-03T14:30:08+00:00","remoteAddr":"185.65.134.166","user":"jessica.vanpanhuis@fijnthuiszorg.nl","app":"webdav","method":"PUT","url":"\/remote.php\/dav\/calendars\/jessica.vanpanhuis%40fijnthuiszorg.nl\/daviddrentjefi

[2019-05-03 14:49] KolbeinNL commented on #1008
But that is something with PUT

[2019-05-03 15:13] Julian1998 commented on #1008
That's interesting... seems like RRULE:FREQ=YEARLY;UNTIL=19961027T030000;COUNT=17;BYDAY=-1SU;BYMONTH=9 throws a parser error.... I will have a deeper look into the ical specs when I got time

[2019-05-03 16:56] KolbeinNL commented on #1008
Anything that I can do?

[2019-05-03 22:06] Julian1998 commented on #1008
You are always welcome to fix it since we are a community driven project anyway :P

[2019-05-04 08:46] KolbeinNL commented on #1008
Ok. I have no dev environment setup or anything. Don't know how difficult such a thing is.  I'll notice by the way that in thunderbird it is working correct.

<?xml version="1.0"?>
<d:multistatus xmlns:d="DAV:" xmlns:s="http://sabredav.org/ns" xmlns:cal="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:oc="http://owncloud.org/ns"><d:response><d:href>/remote.php/dav/cal

[2019-05-16 18:27] KolbeinNL commented on #1008
Hi Julian,

I'm busy setting up dev environment. Do you know where in the calendar app can I find the code that displays the calendar Items based on the recurrence rule?

https://github.com/owncloud/calendar/blob/master/js/app/models/veventModel.js?

I see in the following code:

while ((next = iterator.next())) {
							const occurrence = iCalEvent.getOccurrenceDetails(next);

							if (occurren

[2019-05-16 19:30] Julian1998 commented on #1008
As far as I know our dependency fullcalender is responsible for all the rendering stuff

[2019-05-16 19:30] Julian1998 commented on #1008
But let me have a quick look tomorrow

[2019-05-28 22:06] FKBOX commented on #991
Any help in meantime? I can share a calenders with public link, but not to group or user?!

[2019-05-30 10:30] alfredbuehler commented on #991
Not really. I still think that your system blocks something. I hope yo had a look at the browser logs as well, as suggested above.

[2019-06-11 14:41] karakayasemi commented on #968
This issue may resolved with https://github.com/owncloud/calendar/pull/964 . @KolbeinNL would you test this issue with master branch?

[2019-06-11 14:42] karakayasemi commented on #1008
This issue may resolved with https://github.com/owncloud/calendar/pull/964 . @KolbeinNL would you test this issue with master branch?

[2019-06-27 10:01] LorenzYouKnow opened #1014 "Calender shows LDAP UUID and not the Name"
### Steps to reproduce
1. Open a the Calender view
2. Look at a shared Calender from LDAP User

### Actual behaviour
Tell us what happens instead
It will show the UUID and not the name of the Person

### Server configuration

**ownCloud version:** (see your admin page)
10.0.10.4

**Calendar version:** (see the apps page)
1.6.2

[2019-06-28 10:06] Julian1998 commented on #1014
@DeepDiver1975 Should I have a look?

[2019-07-04 01:51] ashie opened #1015 "Want to edit an occurence of a recurring event"
An user friendly recurring event feature is introduced by the following commits:

* https://github.com/owncloud/calendar/commit/425a6058eaafd6f233aa4f981f5000f52c927111
* https://github.com/owncloud/calendar/commit/92bbdf5c2ac9a5dc1bd13003a3f23f7a393ac7ae

Although it enables to delete an occurrence of a recurring event but editing an occurrence isn't implemented yet. Of course, it can be performe

[2019-07-04 09:31] DeepDiver1975 commented on #1015
maybe one day ..... :man_shrugging:

[2019-07-06 12:32] prsnbrg opened #1016 "Import - Missing button labels"
### Steps to reproduce
1. Import an .ics file
2. Now we don't see a label.
![Missing label - calendar import](https://user-images.githubusercontent.com/29964525/60756156-695f3b80-9ffa-11e9-8486-5b75638feb1b.png)

### Expected behaviour
Tell us what should happen
See Icon (Check and Cancel) or labels on the buttons.

### Actual behaviour
Tell us what happens instead
See screenshot

### Server confi

[2019-07-06 20:06] Julian1998 commented on #1016
This bug is probably already fixed on master. Could you test it.

[2019-07-09 12:02] prsnbrg commented on #1016
@Julian1998 The master branch looks like version 1.6.2, which I'm already using.

[2019-07-09 13:02] Julian1998 commented on #1016
@prsnbrg No it's not. Have a look at the release list - the latest release has been on the 24th February. (https://github.com/owncloud/calendar/releases)

The PR which I asked you to test (https://github.com/owncloud/calendar/pull/996) has been merged into master on the 28th of March

[2019-07-09 13:08] prsnbrg commented on #1016
Oh, okay, thanks.

However, the page for the calendar does not build up properly but all individual elements are displayed. Even the ones that are normally hidden behind drop down menus and buttons.

Is it possible it has to do with a cache of oC?

[2019-07-09 13:10] Julian1998 commented on #1016
No problem at all
You have to run `make` once :)

[2019-07-11 17:19] Julian1998 commented on #1016
@prsnbrg Did you get it to work? Otherwise I will test it :)

[2019-07-11 20:11] prsnbrg commented on #1016
Hey @Julian1998,
I'm having some problems with the Make command right now, I'll take a closer look at them over the next week or weeks.

Would be great if you could do the testing.

[2019-07-11 20:27] Julian1998 commented on #1016
I will do it :)
It's probably your npm version. Had the same problem some weeks ago

[2019-07-18 06:59] #945 closed, assigned to DeepDiver1975

[2019-07-18 07:06] karakayasemi commented on #968
This issue is resolved with #964. @KolbeinNL if you can reproduce this error with current master, do not hesitate to re-open this ticket.

[2019-07-18 07:06] #968 closed, assigned to nobody

[2019-08-07 13:23] jok2 commented on #789
I've got the same issue with owncloud 10.1.1.1 (can't upgrade to 10.2 yet, PHP 5.6) and calendar 1.6.2.

[2019-08-09 14:42] jok2 commented on #789
It seems to be an issue with the core CalDAVBackend. In Nextcloud this error was fixed in https://github.com/nextcloud/server/pull/3678 , the corresponding issue was https://github.com/nextcloud/server/issues/3677

[2019-08-09 15:15] jok2 commented on #789
I created an issue in ownloud/core: https://github.com/owncloud/core/issues/36008

[2019-08-15 06:37] prsnbrg commented on #1016
@Julian1998 some new information to this bug? It’s fixed on master?

[2019-08-15 13:26] Julian1998 commented on #1016
@prsnbrg Didn't test it yet, sorry! But yeah master should be fixed as I fixed a "missing cancel icon button" issue some weeks ago ;)

[2019-08-15 13:47] prsnbrg commented on #1016
@Julian1998 @DeepDiver1975 can you make a final release for 1.6.3?

[2019-08-17 08:48] prsnbrg commented on #1016
Fixed in 1.6.3

[2019-08-17 08:48] #1016 closed, assigned to nobody

[2019-08-18 20:23] thefeiter commented on #120
Is it still possible to implement the possibility for single event colors in a future version?

[2019-08-19 15:39] DeepDiver1975 commented on #120
as long as there is no standard which works across all clients I doubt that we can fix this ... :man_shrugging:

[2019-08-30 07:27] philippec78 opened #1033 "Calendars sharing with ldap group (ldap Synology nas)"
When sharing a calendar with a group, sharing works but it is impossible to disable notifications from users of "Calendars" on MacOS.
(The deactivation is possible but the notifications come back after a few hours!)

If I share a calendar with a user, no problem, it works as expected.

### Steps to reproduce
1. Sharing a calendar with a group
2. Ignore alerts on the OSX "Calendars" app
3. After a

[2019-09-05 02:46] herrdeh opened #1034 "RFE: freebusy and selfbooking web interface"
We had considerable discussion on the freebusy issue (#582, #25169, #696), as well it happens at  [nextcloud](https://github.com/nextcloud/calendar/issues/39).
After some consideration I came to the opinion that this issue should be solved together with a selfbooking feature. So I tried to write down necessary characteristics which hopefully help the discussion to get forward. If things are workin

[2019-09-09 11:06] mokkin commented on #1034
This feature would be my dream! We are also willing to spent money for it.

Acutally we are using a proprietary plugin for self booking for our clients but it doesn't not have CalDAV-Support. Almost no booking software has CalDAV-Support. Usually they only support Google Calendar.

Here is an OpenSource attempt for a booking Software, but includes also only Google for syncing:
https://github.com/a

[2019-09-10 05:55] herrdeh commented on #1034
Thank you for your comment. Could you please have a close look where my description needs corrections or additions?

[2019-09-13 08:12] wiredone commented on #1034
Thank you for writing up your discussion and enumerating this description. My idealised request is that other, multiple contexts beyond 'a customer' are considered.   Punter and Operator want to meet. Operator configures and sends link to Punter with a unique calendar of availability and Punter makes 'booking' and Operator is alerted.   The availability would ideally be union or not of various cal

[2019-09-15 09:34] LorenzYouKnow commented on #1014
When can i expect a fix ?

[2019-09-16 15:45] 247-z opened #1035 "Function - Import new calendar"
Can You create new functions "_Import new calendar_"?

I do update old version of ownCloud, but ownCloud have error with the code integrity check. Because i would by like create new clean installation and them import older only data. Files - no problem, but data from calendar can i export, but I don't can import in clean new installation.

[2019-09-17 07:29] Julian1998 commented on #1035
There is an "import new calendar" feature in the bottom left.

![Bildschirmfoto vom 2019-09-17 09-29-35](https://user-images.githubusercontent.com/2546997/65020551-afefe100-d92d-11e9-8a66-baf21a6b929c.png)

[2019-09-17 07:29] #1035 closed, assigned to nobody

[2019-09-18 10:25] 247-z commented on #1035
Aha. I must first click in left bottom on "_Setting and Import_".

[2019-09-25 10:15] herrdeh commented on #1034
Sorry for my delayed reply.
**First about words:**
I wrote "customer", in my mind this not necessarily has to have a commercial context. I'm not a native English speaker, so can we find a better word? - What about "interested person"? The first hit for "Punter" in my translator is "customer of a prostitute", so I'm not sure whether this is the best choice.

Did I get your point right that your ide

[2019-09-25 10:29] wiredone commented on #1034
Thank you for reply. My sincere apologies for not checking the etymology of my colloquialism, I am grateful for the learning!   In its modern use,  'punter' does not have the sexual connotation, it is much more generic,  like a visitor to a fair ground stall, music gig or other paying event!
I enjoyed your sketch above. (I was sad not to be at the conference.)
I am grateful for your complete compr

[2019-09-25 14:09] herrdeh commented on #1034
Allright. I updated my initial post and replaced "customer" by "punter". Hope you did not fool me...  ((-;

[2019-10-01 11:37] herrdeh commented on #1034
I opened the [bounty](https://www.bountysource.com/issues/79901154-rfe-freebusy-and-selfbooking-web-interface) and put an initial 100 USD into it.
It's my first bounty, so please tell me if I made a mistake.
And of course - feel free to follow....
@

[2019-10-10 13:15] LorenzYouKnow commented on #1014
#push

[2019-10-17 13:19] t7ko commented on #223
From what I read above, I'm not sure: does this proposal include support for "repeat every weekday" option?  Or an ability to select specific days of the week for weekly repeat?

[2019-10-17 16:13] insanity54 opened #1039 "Documentation should tell how to install the Owncloud Calendar app"
I'm a new user and I don't know how to install the Calendar app into Owncloud.

* The [README.md](https://github.com/owncloud/calendar/blob/5cbd4607d584bbd05f9f8905163592c9dab284bf/README.md) does not tell how to install the Owncloud calendar app.
* The [Calendar app marketplace page](https://marketplace.owncloud.com/apps/calendar) does not tell how to install the calendar app.
* The Owncloud GUI

[2019-10-17 20:41] wom-bat commented on #1039
Chris> I'm a new user and I
Chris> don't know how to install the Calendar app into Owncloud.

Doesn't visiting your Owncloud page as an administrator, finding the
Market, finding the calendar app in the market, and clicking the
'Install' button do it?

Peter C

[2019-10-17 21:09] insanity54 commented on #1039
That's the undocumented process that I would have loved to see in one in the aforementioned places.

It is not what I intuitively tried. I first tried the settings page,`/settings/admin?sectionid=apps`. I saw the installed apps so naturally it looked like I was in the right place for adding more. However, the screen lacks any method of installing new plugins.

I was further confused by the marketp

[2019-11-20 13:21] LorenzYouKnow commented on #1014
@Julian1998 @DeepDiver1975 hello someone here ?

[2019-11-25 15:53] Julian1998 commented on #1014
@DasAlexiii this is a community initative, no active product support, feel free to conrtibute.

[2019-11-25 21:13] FKBOX commented on #828
Is there a solution in meantime? I have the same problem with sharing calendars to group or persons. It started the same time as listed above an now I have Owcloud 10.3.1 and Calendar App 1.6.3 but I still can't share calendars to other persons except public shares! Any help?

[2019-11-27 23:47] vierundvierzig commented on #882
Hello!

I am very interested in this feature as well! We use Calendar on owncloud in our organisation to book some devices for use. We have 5 different calendars, admin is owner of all of them. 10 persons should have an access for calendars, they should be able to add, modify or delete events but they cannot have option to delete whole calendar - then we permanently lost our schedule.

Could you t

[2019-11-28 15:24] Julian1998 commented on #882
Well... as this is still a community driven project. We need someone who develops this. We are open for any features/bugfixes by anyone. I would love to see this feature. But I don't have time to do this on my own for now :/. So if anyone here would love to see this as well - go for it. Otherwise you/we need to wait until I got time (and also fun) for sth like this.

[2019-11-28 21:02] vierundvierzig commented on #882
Sure, I understand that. But I'm not a coder so I count on you and that's all I can do about it. You said that ITTRI is only one person interested in this feature so it is my voice that I'm the another one ;)

[2019-11-29 07:07] ITTRI4710 commented on #882
This feature was available with version 8 but with 10 it was gone

[2019-11-29 17:01] Julian1998 commented on #882
@ITTRI4710 The problem is that calendar 10 (if the versions u said are correctly) is a complete rework of the old calendar. (That's why the calendar that you refer to are in the owncloud archive)

This being said, you are probably right that this feature worked before, but just copying and pasting won't work as this are two complete different frameworks/apps.

So this would take it's time

[2019-11-29 17:03] Julian1998 commented on #882
Edit: There is the proof ;) https://github.com/owncloudarchive/calendar

[2019-12-02 10:50] enbrnz opened #1045 "Update timezone database"
https://github.com/owncloud/calendar/blob/master/js/timezones/zones.json#L2

This database is out of date, as for example Brazil has ended daylight savings time this year, this creates wrong time data in the calendar.

I found the following issue & pull-request in nextcloud, perhaps somebody can see whether we can include this here as well.
https://github.com/nextcloud/calendar/issues/1473
https:/

[2019-12-02 10:55] DeepDiver1975 commented on #1045
@Julian1998 please have a look - afaik running the python script in this folder should be enough .... let me know if you need more input. THX

[2019-12-02 12:39] settermjd commented on #1039
@insanity54, thanks for taking the time to report the problem and sorry for the frustration that a lack of instructions has caused. Using the Market app is the official way to install the app. I'll update the Calendar app to with the relevant instructions so that it's explicitly clear.

[2019-12-02 13:41] settermjd commented on #1039
@insanity54 @ho4ho @wom-bat does #1046 rectify the problem?

[2019-12-13 21:21] kallegit1950 opened #1048 "Sync History"
My next cloud calendar shows all old entries way back in the past. When I use caldav for synchronization then it seems that only the last 4 months are being synced. I sync my next cloud calendar with Kontact (Linux KDE) and with Android devices using DAVx5. If only one remote calendear would show the issue I would blame the remote software, but it is on both ends so I rather would search on next c

[2019-12-15 00:44] Julian1998 commented on #1048
Why aren't you asking in the nextcloud calendar repo? This is ownCloud. This is different software. So helping isn't possible. Sorry

[2019-12-15 09:02] #1048 closed, assigned to nobody

[2020-01-06 03:22] phil-davis commented on #935
Added to sprint backlog. Maybe this can go in the next sprint - should be easy enough to do now that we have "standard" drone starlark etc.

[2020-01-12 02:27] JeremyStent opened #1058 "Please hide birthdays for Deceased contacts"
### Steps to reproduce
1.  Add a contact
2.  Add a "Birthday" and a "Date of Death" date field to the contact
3.  This person shows up with a birthday on the Calendar even after the Date of Death

### Expected behaviour
The contacts birthdate should not show on the calendar after the Date of Death

### Actual behaviour
The contacts birthdate shows on the calendar even for years after the date of d

[2020-01-12 12:35] j-ed commented on #1058
As always this is a question of everyone's personal preference. I personally prefer to get a birthday reminder although for dead persons. If you don't want to get a birthday reminder, remove the birthday entry from the persons record or copy the date to the notes field to get rid of the reminder. Due to the fact that most people have less records of death persons in their database than of persons

[2020-01-14 14:56] #1058 closed, assigned to nobody

[2020-01-20 09:19] dependabot-preview[bot] opened #1062 "Dependabot couldn't find a package.json for this project"
Dependabot couldn't find a package.json for this project.

Dependabot requires a package.json to evaluate your project's current JavaScript dependencies. It had expected to find one at the path: `/js/package.json`.

If this isn't a JavaScript project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com/accounts/owncloud).

[View the upd

[2020-01-20 09:26] #1062 closed, assigned to nobody

[2020-02-09 14:32] HelmutL opened #1078 "Repeated events: changed event disappears"
There are repeating events, say the 20th every three months.
If you change  the date of one  of these events  (lets say the 3rd one), it  is not shown any more. The preceding events of this chain are still ok,  also the folwoing events (at least in most  cases).

calendar 2.0.1
owncloud 18.0.1
PHP 7.3

Note:
The  evnets still are presented  ok (i.e. thewhole chain, including thechanged event) in c

[2020-02-10 17:03] phil-davis opened #1079 "Standardize of Makefile has lost the detail of make source and appstore"
PR #1055 modified `Makefile` to make it "standard" similar to other apps.

But actually there was a lot of code related to the `source:` and `appstore:` targets that selected specific files to be put in the output. That needs to be put back the way it was.

[2020-02-10 17:05] phil-davis commented on #1079
@DeepDiver1975 I can just put it back the way it was.

But for my education, what is the purpose of having the `source:` and `appstore:` "make targets"?

(maybe nobody cares about the `source:` target? or?)

[2020-02-11 06:33] phil-davis commented on #1079
Fixed by PR #1080

[2020-02-11 08:46] #1079 closed, assigned to phil-davis, dbergstrom8

[2020-02-16 23:23] ulph0 commented on #101
hi, i would appreciate if a search would work in nextcloud. since the calendar is my memory and since sometimes i and maybe soe others want to know "hmm when did i met carmen 5 years before?" that really was an important feature in google calendar, which of course i don't use anymore. it would be great to be able to search in there over dav AND the webUI.

[2020-02-17 09:52] DeepDiver1975 commented on #101
I'm closing this - nobody is working activly on this app.

[2020-02-17 09:52] #101 closed, assigned to georgehrke

[2020-02-20 03:07] phil-davis commented on #935
@HariBhandari07 I switched https://drone.owncloud.com/owncloud/calendar/settings to `.drone.star`
You can make a PR to rename `.drone.starlark` to `.drone.star` and delete `.drone.yml`

[2020-02-20 11:59] #935 closed, assigned to dbergstrom8

[2020-02-25 03:39] phil-davis opened #1086 "Randomly failing JS test"
This tests fails "randomly". It used to fail in the same way "randomly" on Travis, and we have the same behaviour on drone. So at least it is "consistent".

Work out why it sometimes fails and fix it.

https://drone.owncloud.com/owncloud/calendar/38/4/4
[code]

[2020-02-25 06:49] DeepDiver1975 commented on #1086
This is the Case für years 🤷

Never unterstood why.

[2020-02-27 17:50] Julian1998 commented on #1086
We always thought this is just a weird timeout. So we just restarted

[2020-02-28 02:03] phil-davis commented on #1086
Yes, I suspect that is the case. I also "just restart" - standard call-centre advice ;)

It would be nice to find out what the cause is and fix it some day - but it might be difficult and is not really high priority.

[2020-03-01 13:43] Julian1998 commented on #1086
I am not even sure if this test is really important. Maybe we can just skip it

[2020-03-07 14:28] ethpi opened #1090 "How to delete old calendarobjects"
### Expected behaviour
Searching for MySQL command for deleting old calendarobjects

### Server configuration

**Operating system**: raspbian jessie

**Web server:** apache2 2.4.10-10

**Database:** mysql 5.5.62-0

**PHP version:** 5.6.40

**ownCloud version:** 10.0.3.

**Calendar version:** 1.6.3

**Updated from an older installed version or fresh install:** fresh

**Signing status (ownCloud 9.0

[2020-03-09 08:40] DeepDiver1975 commented on #1090
There is no built-in feature to do something like this.

I suggest to not manipulate the data in the db directly. Calendar object changes are stored in a second table and you will loose consistency.

A more sane option could be to travel back in time with the calendar app and delete calendar objects.

I'm closing this now - not an issue at the end.

[2020-03-09 08:40] #1090 closed, assigned to nobody

[2020-03-10 03:38] phil-davis commented on #1086
Happened again last night:
https://drone.owncloud.com/owncloud/calendar/61/4/4

I vote for skipping it!

[2020-03-10 13:24] #1086 closed, assigned to phil-davis

[2020-03-10 14:25] #1045 closed, assigned to Julian1998

[2020-03-10 15:00] DeepDiver1975 commented on #943
fixed with #944

[2020-03-10 15:00] #943 closed, assigned to nobody

[2020-03-10 15:09] #901 closed, assigned to nobody

[2020-03-10 15:25] #130 closed, assigned to raghunayyar, georgehrke

[2020-03-23 12:00] #1039 closed, assigned to nobody

[2020-05-06 19:41] AlexandreBonneau commented on #828
@FKBOX I haven't found one since 2017, however since sharing works with _previous_ calendar, perhaps technically it could be possible to edit the database manually?
This is very hacky, but since this critical bug does not seem to be active anymore, that might be your best bet.

[2020-05-06 19:53] FKBOX commented on #828
I did a new install in vbox and I could share calenders. Then I restored my database and I coudn't share anymore. So it is a problem of Database structure, but there is no documentation how it has to be. So it is a long run of reverse engineering to compare an new database to the existing. I never get help from the community. So I stop posting problems.

[2020-05-06 23:46] shushugah commented on #952
Bump! I am involved with a group of 20 people, and maintain a calendar available here http://techworkersberlin.com/events.ics but when I subscribe to it, I am unable to share this with my nextcloud group. Currently I must tell each of the 20 people to subscribe to the calendar on their own

[2020-07-19 10:32] phil-davis opened #1127 "Calendar CI fails"
https://drone.owncloud.com/owncloud/calendar/245/4/4
[code]

It seems that the repo http://github.com/georgehrke/jstimezonedetect has been deleted.

[2020-07-19 10:39] phil-davis commented on #1127
@georgehrke did you intend to delete this repo?

can it be recovered?  or should we go searching for a fork that still exists somewhere?

[2020-07-19 10:50] georgehrke commented on #1127
I'm sorry, I didn't think anyone would still be using it. It was just a clone i made of `jstz`, before it was available on npm.

You can simply replace it with https://www.npmjs.com/package/jstz. The APIs are the same.

[2020-07-19 10:55] phil-davis commented on #1127
I guess it got left like that in the owncloud calendar app because nobody ever reviewed it and changed to a "proper" package.
Now is the time to change :)

I found that https://github.com/pellepim/jstimezonedetect is on GitHub since 2019, so it is easy to switch to there. PR #1128

[2020-07-19 11:18] phil-davis opened #1129 "Release Calendar 1.6.5"
Issue #1127 PR #1128 fixed up a dependency that went away.

It might be good to make a release containing that change?

[2020-07-20 07:49] #1127 closed, assigned to nobody

[2020-08-20 08:40] wernerjoss opened #1138 "Add URL Input Field in Event Details"
### Steps to reproduce
Add/edit Event in Calendar Sidebar

### Expected behaviour
There should be an URL Input Field in Event Details

### Actual behaviour
Currently there is no way to add an URL to an Event

### Server configuration

**Operating system**: Debian Buster

**Web server:** Apache2

**Database:** Mysql

**PHP version:** 7.3

**ownCloud version: 10.5

**Calendar version: 1.6.4

![URL_I

[2020-09-05 05:46] phil-davis commented on #1129
Also dependabot #1140 "[Security] Bump http-proxy from 1.18.0 to 1.18.1"

Is that relevant to this repo?

[2020-09-16 07:41] #917 closed, assigned to DeepDiver1975

[2020-10-17 22:37] taich001 opened #1146 "Sync with Thunderbird lightning fails"
### Actual behaviour
After adding the calDAV link in thunderbird calender acount exists but can not be activated.

**ownCloud version:** (see your admin page)
10.5.0.10

**Calendar version:** (see the apps page)
1.6.4

[2020-10-22 17:15] linkp commented on #1146
It would be helpful if you fill out the complete template, as your description lacks many relevant details. I have encountered symptoms similar to what you describe, that appear to have a relation to the ownCloud OAuth app. Even if you don't have that app installed, it may still be worth your time to review [this thread](https://central.owncloud.org/t/calender-connection-with-thunderbird-fails-401

[2020-11-29 14:13] taich001 commented on #1146
I have OAuth installed but dont use it with thunderbird. There is an thunderbird addon called Tbsync. I can enter my credentials and it connects to owncloud showing me the available calendars. But when I try to sync nothing happens. Is there a way to watch a log?

[2020-11-29 14:18] taich001 commented on #1146
You can find more details here
https://github.com/jobisoft/TbSync/issues/405

[2020-11-29 21:19] linkp commented on #1146
I, too, have TbSync installed. I have resigned to accept that it does not work with ownCloud calendars, or at least mine, and I instead use the native Thunderbird Lightning CalDav to sync my ownCloud calendars using the path change specified in the linked ownCloud Central post in my previous comment.

[2020-12-01 17:53] taich001 commented on #1146
I just tested it. Changing dav to caldav as you suggested does not change anything. I have been asked for password, that was ok, but then calendar is not synced. If I acivate sync again it will be disabled after a second.

I also installed nextcloud and there calendar get synced. One can enter data in thunderbird or in calendar app and it gets synced.

So I assume there is a bug in in owncloud cal

[2020-12-01 18:07] linkp commented on #1146
Did you change caldav to dav in TbSync or did you use the Thunderbird Lightning native CalDAV option? The former does not work, whereas the latter does for me.

As for the underlying cause of the undesirable behavior, I don't know what you mean by "hook in and investigate", but there are web server logs and ownCloud logs, not to mention, based on your report that Nextcloud calendar behaves as expe

[2020-12-01 18:11] taich001 commented on #1146
I got it working with TbSync.

calendar app gives me this primary calDAV address.
`https://servernm/remote.php/dav/`

But this address is wrong instead it should be this one:
`https://servername/remote.php/caldav/`

This bug should be fixed.

[2020-12-20 13:57] #1146 closed, assigned to nobody

[2021-01-19 15:30] Mekeleiras opened #1158 "Recordatorios y asistentes"
Hola,
Necesito saber si la aplicación ya es así o sería cuestión de algún permiso.  Explico:
- Creo un calendario  y cuando añado asistente o creo un recordatorio, la aplicación envía correo electrónico tal y como debe ser.
- El calendario que he creado, comparto con persona X y le doy el permiso de editar.  Pues bien, si esta persona X quiere poner asistentes o recordatorios NO llegan los avisos.

[2021-01-22 05:22] GMishx opened #1160 "How to change first day of the week?"
I am not sure if this is the right place to ask questions but I can not find anything in the documentation. I just wanted to ask if there is a way to change the first day of the week from Monday to Sunday?

### Steps to reproduce
1. Install calendar 1.6.4 on owncloud.

### Expected behavior
There should be some option under the Settings so I can change the first day of the week from Monday to some

[2021-01-26 07:47] mmattel opened #1165 "Security and other BUMPS"
There are atm 13 open bumps open including an important security one. Some of them are green, at some of them CI did not start. PR #1129 (Release Calendar 1.6.5) should in case of a new build contain the merges if done.

@phil-davis @micbar

[2021-01-27 10:10] micbar commented on #1165
@DeepDiver1975

[2021-03-08 17:53] miqrogroove opened #1171 ""Reset" Button Deletes Data Unexpectedly"
### Steps to reproduce
1. Create repeating appointment using aCalendar.
2. Edit appointment using ownCloud Calendar web app.
3. Click the Repeating tab.
4. It says Advanced data is not supported, so click the Reset button.

### Expected behaviour
Appointment's repeat settings should be blanked out/editable.

### Actual behaviour
Appointment is completely deleted with no undo or edit option.

### S

[2021-03-12 10:57] philippec78 commented on #1033
No solution for this problem ?
(same problem with 1.6.4)

[2021-03-19 07:57] ashjrl commented on #877
We have one client for who we provide a hosted ownCloud instance.

They are unable to invite a handful of email addresses, all of who are registered on ownCloud as users, via their Apple Calendar.

This request is in the Apache log when I save the event with most email addresses:
[19/Mar/2021:08:38:02 +0100] "PUT /owncloud/remote.php/dav/calendars/redacted/redacted/redacted.ics HTTP/1.1" 201 - "-"

[2021-04-05 15:28] ashjrl commented on #877
In my efforts to wittle it down, I've got it down to a single curl command to reproduce this every time for this one particular user:

curl -X 'PUT' -u 'user:password' --data-raw $'BEGIN:VCALENDAR\r\nVERSION:2.0\r\nBEGIN:VEVENT\r\nSUMMARY:Test 8\r\nORGANIZER;EMAIL=organiser@ema.il:mailto:organiser@ema.il\r\nATTENDEE;EMAIL=organiser@ema.il:mailto:organiser@ema.il\r\nATTENDEE;EMAIL=invitee@emai.il:m

[2021-05-25 11:27] jnweiger commented on #1165
I'd like to push forward the 1.6.5 release. Not sure how many of these version bumps should be included. I'd vote for all, unless they break our CI in a way we cannot easily fix.

[2021-05-25 12:34] phil-davis commented on #1165
@jnweiger I agree. The calendar app needs to be manually tested anyway. There are unit tests for PHP and JS, but no end-to-end automated UI tests. We may as well apply any dependabot PRs that pass the CI  that we have. Then manual testing will confirm that the app UI really works.

Who is going to press the review and merge buttons on the PRs? (I can do it when someone agrees)

[2021-05-25 20:02] micbar commented on #1165
@jnweiger @phil-davis The DEV and release cycles are managed by @DeepDiver1975 only in this app.

We need to wait until he is back in two weeks.

[2021-05-26 09:21] jnweiger commented on #1129
Release is blocked by https://github.com/owncloud/calendar/issues/1165

[2021-07-27 09:29] t-master-t opened #1199 "Plus sign in calendar uri / name"
### Steps to reproduce
1. create calendar with name "a+b"
2. try to add entries to calendar
3. for existing calendars the console displays : /remote.php/dav/calendars/user/a%2bb/ 404

### Expected behaviour
Calendar entries should be displayed and no 404 should be returned in console

### Actual behaviour
404 / no entries for this calendar

### Server configuration

**ownCloud version:** (see your

[2021-08-04 17:56] jnweiger commented on #1165
Ping @DeepDiver1975

[2021-08-18 05:45] thommierother opened #1204 "No end date for re-occuring dates"
Re-occuring dates (e.g. weekly) should have an option to end the series at a particular date or after xxx repeats

[2021-10-04 10:22] phil-davis opened #1207 "PHP unit v9 tests failing"
`phpunit` was updated to major version 9 in core PR https://github.com/owncloud/core/pull/39290

This repo uses that for the unit tests. Some tests now fail and need refactoring.

https://drone.owncloud.com/owncloud/calendar/798/3/4

[2021-10-04 14:06] #1207 closed, assigned to JammingBen

[2021-11-13 11:42] ghost commented on #1160
I want to know this too. I don't get any of the options that are visible [in this screenshot](https://lake5.eu/Owncloud/Lake5Cloud/core/doc/user/_images/calendar_caldav_ios.png) from [this guide](https://lake5.eu/Owncloud/Lake5Cloud/core/doc/user/pim/calendar.html). Both of ownCloud and the Calendar app are the latest ones to date.

[2021-11-16 07:35] DefCon-CC opened #1218 "Year wrong for January next Year"
### Steps to reproduce
1. Open Calendar App in Browser
2. Forward Month to January

### Expected behaviour
Shall display January 2022 between the "Forward and Backward Buttons"

### Actual behaviour
Displays January 2021 between the "Forward and Backward Buttons"

![image](https://user-images.githubusercontent.com/25898240/141940684-2768c489-e7bb-4ee4-8cfa-cee970ef160f.png)

### Server configurati

[2021-11-18 09:12] jnweiger commented on #1165
@DeepDiver1975 @JanAckermann  are we ready for release here?

[2021-11-18 11:48] DeepDiver1975 commented on #1165
In case the sec bumps are 'only' for build time tools there is no need for a release ...

[2022-01-04 07:56] dnacombo commented on #778
Hello,
Any news on that front? It would be a really useful feature...

[2022-02-10 09:24] jnweiger commented on #1165
@DeepDiver1975 Is it the case? I am happy to close the release ticket then... :-)

[2022-04-11 11:16] jomettler opened #1244 "Not possible to share calendar with users or groups"
New calendars can only be shared via links. Old calendars still have the users they were orignially shared with, but its not possible to share them with any other user.
![grafik](https://user-images.githubusercontent.com/80679433/162728786-4290df29-9013-4d96-bc77-5754afd29e7b.png)

### Steps to reproduce
1. Calendar
2. click share button

### Expected behaviour
option to share calendar with user,

[2022-07-01 05:05] phil-davis opened #1259 "Release 2.0.0 for Guzzle7"
for guzzle7 core issue https://github.com/owncloud/core/issues/39387

to release with oC core 10.11

[2022-07-06 22:01] jnweiger opened #1260 "[QA] cannot build a signed release"
Seen while attemting a release candidate for https://github.com/owncloud/calendar/issues/1259

gitea/appsigning/releasescripts/buildApp calendar v2.0.0-rc.1
fails:
[code]

[2022-07-06 22:02] jnweiger commented on #1259
## Issues seen while building
* [ ] calendar/Makefile uses rsync, this is not included in the releasesigning docker image
* [x] https://github.com/owncloud/calendar/issues/1260

[2022-07-07 04:27] phil-davis commented on #1260
Locally `make appstore` works for me:
[code]

And `make source` also works, and `make dist` does:
[code]

I don't know if the problem is related to yarn 1.22.5 on that signing system, or some other difference??

And I don't know which of the Makefile targets is really supposed to be used - `Makefile` has various "make" targets in it, and I guess there is some history of evolution of this app.

@jn

[2022-07-07 07:38] jnweiger commented on #1260
Will try the appstore target. thanks.I believe the buildApp script uses make dist by default.

[2022-07-07 12:44] jnweiger commented on #1260
New node and old gulp seems to be a problem:
https://stackoverflow.com/questions/55921442/how-to-fix-referenceerror-primordials-is-not-defined-in-node-js#55926692

This workaround suggested there works for me:
Add to package.json
[code]

[2022-07-08 15:42] #1260 closed, assigned to phil-davis

[2022-07-11 09:53] phil-davis opened #1263 "Check that calendar is working OK after Guzzle7 core update for core 10.11"
Check the calendar app with current core master (to be 10.11 release), and raise issues for any new problems.

Related to issue https://github.com/owncloud/core/issues/39387

[2022-07-11 10:53] kiranadh1452 commented on #1263
Calendar download: :heavy_check_mark:
Calendar import: :heavy_check_mark:
Calendar Share using link: :heavy_check_mark:

## Locally Shared calendar tests
Edit permission: :heavy_check_mark:
Creating new event: :heavy_check_mark:

Subscription of calendar through link (two different servers):
  - 'Repeating' is shared.
  - 'Reminders' is not shared.
  - 'When shared show only busy' : :heavy_check_m

[2022-07-11 18:50] daincredibleholg commented on #925
Hi.

I just ran into the same issue. First in OC 10.8 and now with OC 10.10.

Is there anything I can do to get this fixed?

[2022-07-14 05:59] phil-davis commented on #1259
Note: this needs PR #1258 "Bump owncloud min-version to 10.11 for Guzzle7" merged. That missed getting into https://github.com/owncloud/calendar/releases/tag/v2.0.0-rc.1

[2022-08-24 14:50] #1259 closed, assigned to nobody

[2022-08-24 20:35] posita opened #1274 "The supplied iCalendar datetime value is incorrect: master"
### Steps to reproduce
After importing two separate VCS invites originating from Google Calendar, I cannot delete them, including from the web interface. I get the error `The supplied iCalendar datetime value is incorrect: master`. When I download the calendar from ownCloud, there is no mention of the term `master` anywhere in those events, nor is there any mention of `master` in the original `inv

[2022-08-24 20:56] posita commented on #1274
I tried to hand-edit one of the offending `.ics` files by redacting private information in the hopes I could post it here. However, after redacting specifics, the resulting `.ics` file exhibits no issue.

I have looked at the entries in `oc_calendarobjects`, including the `calendardata` blobs and find no mention of `master` anywhere.

[2022-08-25 01:20] posita commented on #1274
I will continue to try to create something sharable that will reproduce this behavior, but in the mean time, can I remove the offending items from my calendar by merely deleting their corresponding rows in `oc_calendarobjects` or would I risk screwing up data model consistency? I didn't see any `occ` command that seemed appropriate.

[2022-08-25 09:50] jnweiger commented on #1129
@phil-davis is this obsoleted by #1259 ?

[2022-08-25 10:36] phil-davis commented on #1129
yes - 2.0.0 has been released now, with all the code that is in master, including core min-version 10.11.

That means that people will need to wait for core 10.11.0 to be released, and then they will be able to update to the latest Calendar 2.0.0 which will have "all the fixes".

[2022-08-25 10:36] #1129 closed, assigned to nobody

[2022-08-25 14:35] jnweiger commented on #1165
Probably obsoleted by #1259 ?

[2022-09-13 10:44] sybrenstuvel commented on #1160
I would love to know this too. All my calendars start their weeks on Monday, and OwnCloud being the only one that's basically off-by-one is super confusing.

[2022-10-22 00:51] phil-davis commented on #1263
@kiranadh1452 please clarify - from your results above, I think that there are no new regressions, only whatever issues were already open about calendar?

[2022-10-31 08:57] kiranadh1452 commented on #1263
No new regressions were detected as of 11th July.

[2022-11-05 21:51] #1263 closed, assigned to kiranadh1452