[2016-05-30 05:58] georgehrke commented on #559
Can't reproduce,
- [ ] what language do you use?

[2016-05-30 06:00] georgehrke commented on #559
That's the intended behavior. It checks whether the directory with all your data is accessible from the web. Your web server seems to be configured correctly in this regard.

[2016-05-30 06:06] georgehrke commented on #559
(can't reproduce neither with formal nor informal german)

[2016-05-30 07:04] albatros69 opened #560 "Etag missing in CalDav synchronisation"
I'm using the DAVDroid client to sync with owncloud and I'm getting the attached error on the client, which prevent the sync to work.

The only reference I found on the issue is: https://forums.bitfire.at/topic/808/owncloud-fails-to-sync-contacts-received-multi-get-response-without-etag/5

How could I investigate further, first to workaround the issue (i.e. make the sync working again), and second

[2016-05-30 07:04] #560 closed, assigned to nobody

[2016-05-30 07:05] georgehrke commented on #560
Beginning with ownCloud 9 the CalDAV server became part of ownCloud's core and the calendar app is just a CalDAV client running in your browser.
Please report issues related to the CalDAV server in ownCloud’s core repo: https://github.com/owncloud/core/issues

[2016-05-30 07:05] georgehrke commented on #560
also use the entire issue template please ...

[2016-05-30 09:58] ManOki opened #561 "Birthday Calendar renaming and color changing not remembered"
### Steps to reproduce
1. open calendar app
2. click "three dots" settings of contact_birthdays
3. change name or color
4. name and color is instantly changed
5. refresh page
### Expected behaviour

name and color stay changed
### Actual behaviour

name and color have old values again
### Server configuration

ownCloud version: 9.0.2
Calendar version: 1.2.2
Updated from an older ownCloud and conta

[2016-05-30 09:59] georgehrke commented on #561
please use the entire [issue template](https://raw.githubusercontent.com/owncloud/core/master/issue_template.md) as described in our [contributing guidelines](https://github.com/owncloud/core/blob/master/CONTRIBUTING.md) ...

You didn't even mention what version you use ...

[2016-05-30 09:59] georgehrke commented on #561
Does the calendar appear in the Calendar or Subscription section?

[2016-05-30 10:02] bildlich commented on #559
@georgehrke Formal german.

[2016-05-30 10:03] georgehrke commented on #559
As said above, can't reproduce with neither german translation.

Does the JS console display any file name and line number?

[2016-05-30 10:16] bildlich commented on #559
@georgehrke

Not in Chrome.

Firefox console says, on pageload:

The line in question is

[code]

[2016-05-30 10:18] georgehrke commented on #559
WTF? events is empty?
(Besides that this error should properly be caught and displayed to the user) this looks like a server configuration issue to me.

[2016-05-30 10:19] bildlich commented on #559
It almost certainly is. Where should I start looking for the root of the problem? I have included the .htaccess of the main installation folder in my second comment.

[2016-05-30 11:33] ManOki commented on #561
sorry, updated my post.

[2016-05-30 12:28] georgehrke opened #562 "Moving single Event from recurring Events results in duplicated Event"
### Steps to reproduce
1. Create Calendar in Owncloud an connect this by CalDAV to Thunderbird/Lightning (but can also be reproduced on Android using DAVdroid)
2. Create an Recurring Event in Lightning (e.g. recurring every second day)
3. Sync to Owncloud -> everything is fine
4. Move one of the Events one Day forward (e.g by drag and drop)
5. Sync to Owncloud -> A new Event is created but the old

[2016-05-30 12:29] georgehrke commented on #562
probably upstream related to ical.js
- [ ] needs further investigation and an upstream bug report

[2016-05-30 12:29] georgehrke commented on #562
Bug is reproducible,
sample data:

[code]

The first `VEVENT` block doesn't contain any `EXDATE` which I think is necessary.

[2016-05-30 12:46] enoch85 commented on #469
This is merged.

[2016-05-30 12:46] #469 closed, assigned to nobody

[2016-05-30 13:38] georgehrke commented on #562
RFC 5545 doesn't mention `EXDATE` in the context of `RECURRENCE-ID`.
So either this is a bug in ical.js or we are using it wrong.

[2016-05-30 14:34] georgehrke commented on #559
Please ask on the user-mailing list or the forum.

[2016-05-31 08:26] raimund-schluessler commented on #561
This is likely the same issue as https://github.com/owncloud/calendar/issues/399. A `PROPPATCH` is not allowed to the `contact_birthdays` calendar. At least this happens for me when trying to change the color.

[2016-05-31 08:26] georgehrke commented on #561
Yes, closing as dup

[2016-05-31 08:26] #561 closed, assigned to nobody

[2016-05-31 08:27] raimund-schluessler commented on #399
ping @DeepDiver1975 :smiley:

Changing the color does also not work: #561

[2016-05-31 09:39] otbe opened #563 "Cant create/delete events in some cases in some browsers"
Hi,

I think there is a problem with the headers that are sent by the calendar client within owncloud.
### Steps to reproduce
1. Try to create an event in Safari (9.1.1) and owncloud (9.0.2)
2. Try to delete an event in Chrome (50)
### Expected behavior

It should work.
### Actual behavior

It does not work. :P
### Server configuration

**ownCloud version:** 9.0.2
**Calendar version:** 1.2.2

Let

[2016-05-31 09:59] georgehrke commented on #563
For some reason it tries to update an event instead of creating one. 😕

[2016-05-31 20:39] otbe commented on #563
Update:
I tried to debug this issue a bit, but can't reproduce it anymore. Urls seems to be identical now in chrome and safari. Both PUT for new events and it simply works.

Really strange, because I did nothing on the server side. Problem was present for several weeks, but now it's gone.

Maybe this could be closed for now

[2016-06-01 14:59] MathieuSchopfer commented on #431
I could take care of this.
@georgehrke :
- By "change the opacity", do you mean the opacity of the share icon ?
- How would see an extra `Shared` label ? Just some styled plain text near the calendar name ?

[2016-06-02 04:52] zeugmatis commented on #394
Well what about managing a nursing home?

[2016-06-02 13:37] bildlich commented on #559
I contacted my host who looked at the problem. He bumped the PHP version from 5.5 to 5.6. Now it works.

If someone with PHP 5.5 can reproduce the issue this may be a bug. If not this issue can be closed.

[2016-06-02 20:09] MathieuSchopfer commented on #431
It could be something like this :
![capture du 2016-06-02 22 03 08](https://cloud.githubusercontent.com/assets/17726101/15759341/995a7af4-290e-11e6-94da-ad5a5f79ede9.png)

[2016-06-02 21:40] georgehrke commented on #431
Thanks a lot for your interest in contributing to the calendar! :)
The behavior concerning "Shared" label and opacity should be the very same as in core.

Concerning the logic:
You can probably very easily implement this by extending the calendar model with a function that checks if the calendar is shared, and using ng-if for label and ng-style for the opacity.

[2016-06-02 21:40] georgehrke commented on #559
Okay, I think we can close this issue in that case.

[2016-06-02 21:40] #559 closed, assigned to nobody

[2016-06-03 13:48] MathieuSchopfer commented on #431
The logical test in the calendar prototype could be `this.sharedWith.users.length > 0 || this.sharedWith.groups.length > 0`. I am just not sure how safe this is, because the `sharedWith` attribute is not declared in the calendar model (it seems to be added by the calendar service).

Concerning the rendering :
1. `core` provides two styling classes, `icon-share` and `icon-shared`, and two (possibly

[2016-06-03 22:37] scriptPilot opened #565 "Different style for allday / timed events"
I would appreciate to see allday events as they are today but not allday events "lighter". The way Google handle it is good in my opinion. With many small meetings over the day it's very unobviously in the month view. If the calendar color is blue, allday events should be displayed white-on-blue and not allday events blue-on-white.

[2016-06-04 09:18] georgehrke commented on #565
cc @jancborchardt

[2016-06-05 19:45] MathieuSchopfer commented on #431
Ok, so I managed to fix the last issue by adding some styling rules to the label.
@georgehrke I would like to push my code to a new branch, but I am not granted the access to the calendar repository. What should I do ?

[2016-06-05 19:54] raimund-schluessler commented on #431
For getting access to the repo you need to sign the CLA I think. But you can also just push to your private repo and create a PR form there.

[2016-06-06 09:20] georgehrke commented on #565
I like how fantastical does it:
![month view](https://cloud.githubusercontent.com/assets/1250540/15817533/ba0fff54-2bd8-11e6-85cb-1b1648a28fbd.png)

[2016-06-06 17:43] scriptPilot commented on #565
Yeah ... perfect :-)
Correct me if I am wrong, but it seem for me not so much work to realize.
Could I support in any way to have it in the next release?

[2016-06-06 17:47] georgehrke commented on #565
Send a pull request :P

[2016-06-06 17:49] georgehrke commented on #565
@jancborchardt Mind taking a look? :)

[2016-06-07 14:56] alexjustesen commented on #563
I'm having the same issue currently, identical setup. Won't workin Chrome v50

[2016-06-07 16:28] georgehrke commented on #563
@alexjustesen What exactly doesn't work in Chrome50?

[2016-06-08 03:02] alexjustesen commented on #563
@georgehrke I have no option to be able to create events other than importing. Clicking anywhere in the calendar doesn't trigger anything.

[2016-06-08 04:40] Luticus commented on #502
I'm not 100% sure what was causing this issue, it still happened on even the newest version for me.  Oddly though once I migrated the Owncloud server to new hardware reinstalling Debian/Apache/Owncloud/php5/etc from scratch  and porting all configs, data, and databases, this issue went away.  I can only assume it may have been some strange security setting conflict or something that didn't get mov

[2016-06-08 09:05] scriptPilot opened #568 "Events without summary"
How could I allow events without summary? Is there any option in the config or which file I have to change?

[2016-06-08 09:08] georgehrke commented on #568
Not at all.

No, there is not.

What's the use case?
Creating an event without a title seems pretty useless to me.

[2016-06-08 09:09] georgehrke commented on #568
If you want more privacy in shared calendars, ownCloud 9.1 will introduce an option to hide or show an event only as busy when shared.

[2016-06-08 09:40] scriptPilot commented on #568
Use case: I have a calendar only for working times. So what count is only the start/end time for further proceeding. Where is the block so that I could enable it maybe only for my ownCloud installation?

[2016-06-08 10:15] jancborchardt commented on #485
@yeKcim do you have any developer friends? Anyone can contribute here, so if they have time, it would be cool for them to get involved! :)

[2016-06-08 10:17] jancborchardt commented on #290
I’m not sure, but in some cases showing a spinner has to be weighed on aspects of showing feedback vs perceived slowness.

In this case, people don’t expect a spinner. Showing a spinner here makes the app feel slow. The color should immediately be switched. (If anything, the spinner should maybe be on the Calendar – which will look a bit strange though.)

Could we experiment with just switching di

[2016-06-08 10:23] jancborchardt commented on #565
For all day events I would use the current way (background color) and for non-allday we could color the text. That’s a simpler more direct indicator than what Fantastical does with the added dot – and actually Business Calendar 2 on Android does that.

If that ends up to be not readable, we can still check for other options.

[2016-06-08 10:26] scriptPilot opened #1046 "[FEATURE] Selected calendar = Preselected calendar for new event"
If click on a calender in the list on the left and after that create a new event, the selected calendar left should be the preselected calendar for the new event as well. Especially if it is the only visisble calendar to that time.

[2016-06-08 10:27] georgehrke commented on #565
Thinking a bit about this I'm pretty sure this won't be done with some CSS magic. As far as I can tell right now we have to implement our own month view.

[2016-06-08 12:15] scriptPilot opened #569 "No "UNTIL" field for recurring events"
There is no possibility to create a recurring event until a specific date. I think that is needed for many, many use cases, isn't it?

[2016-06-08 12:17] #569 closed, assigned to nobody

[2016-06-08 12:18] georgehrke commented on #569
Please search for issues before creating new ones ...
Having to deal with duplicate issues is really annoying and nothing but a waste of time 😉

<img width="1031" alt="issues_ _owncloud-calendar_safari_technology_preview__today_at_2_16_36_pm" src="https://cloud.githubusercontent.com/assets/1250540/15894040/db7ef18e-2d83-11e6-8689-2e91891b17bc.png">

[2016-06-08 12:24] scriptPilot commented on #569
Sorry, I did only search for "recurring" ... my mistake!

[2016-06-08 13:13] h1-ffm commented on #326
Hallo
I, am one of the  very very very few users and need the feature also.

[2016-06-08 20:42] georgehrke commented on #563
@alexjustesen So you don't even see the dialog when selecting a time range?
That's a different issue.
Please report a new issue using the **entire issue template** and providing **all logs** asked for.

[2016-06-08 20:46] georgehrke commented on #563
closing this issue as it was not reproducible and disappeared on the user's side.

[2016-06-08 20:46] #563 closed, assigned to nobody

[2016-06-09 05:27] rgugliel opened #570 "Reminder type is "Audio alarm" by default; sync problems"
### Steps to reproduce
1. Add an event
2. Click "More..."
3. Add a reminder
### Expected behaviour

The default reminder type should be popup (or we should be able to chose the default value once and for all).
### Actual behaviour

The default reminder type is "Audio alarm". This is as problem because it doesn't sync with some programs (for example Lightning).
### Server configuration

**Operating

[2016-06-09 07:38] georgehrke commented on #570
Can you explain why? Is there any ticket you can refer me to?

[2016-06-09 08:06] rgugliel commented on #570
The fact that audio is default is shown in the next picture:
![audio](https://cloud.githubusercontent.com/assets/4578468/15922758/b0500146-2e29-11e6-8007-3edcf3bf738e.png)

By default Lightning sync the reminders which are "popup" I tried the two versions.

[2016-06-09 08:28] georgehrke commented on #570
I know that audio is the default reminder 😉
But can you explain why Lightning allegedly has a problem syncing Audio alarms?

[2016-06-09 09:35] rgugliel commented on #570
Ooops, sorry.
I don't know but Lighning has such a problem. However, the different calendar apps I tried (Lightning, Google web calendar, two different apps on Android) all use the "popup" format by default so it'll would be interesting to chose in my opinion.

[2016-06-09 09:41] georgehrke commented on #570
If Lightning is not able to sync Audio alarms you should report a bug there ;)

There is some issue about being able to set a default alarm: https://github.com/owncloud/calendar/issues/119

[2016-06-09 10:12] heiglandreas commented on #1020
Similar issue here.

* WebCalendar works fine,
* iOS-Calendar works fine,
* Calendar.app (8.0) in MacOS doesn't display anything anymore. Error-Message in Error-log is for example:

[code]

ownCloud-Error:

[code]

ownCloud-Environment:

* ownCloud 8.2.5
* Calendar-Plugin: 0.8.2
* Contacts-Plugin: 0.5.0.0
* PHP 7.0.6
* Nginx
* PostgreSQL 9.3

[2016-06-09 10:33] rgugliel commented on #570
I still don't understand why OC calendar uses a format no one use by default...

But, still: https://bugzilla.mozilla.org/show_bug.cgi?id=1279190

[2016-06-09 10:35] georgehrke commented on #570
That's something to discuss in #119 😉

[2016-06-09 10:35] #570 closed, assigned to nobody

[2016-06-09 13:19] FilipeDanielGS opened #572 "Share event on the calendar"
I use ownCloud 8.2.5 (stable) with Calendar 0.8.2.
I'm having trouble to create events and share the calendar.
I create the event and saved, after I enter the event, in the Share tab by clicking "email" nothing happens.
What could it be?

[2016-06-09 13:20] georgehrke commented on #572
Calendar 0.8.2 is not supported anymore, please update to ownCloud 9 and use the calendar 1.2

[2016-06-09 13:20] #572 closed, assigned to nobody

[2016-06-09 14:21] FilipeDanielGS commented on #572
Hello,
OwnCloud updated to 9 and the schedule for 1.2. Perfect!
The update gives me the option to send enventos, however when the user will register the email in personal perfial, the registration field is impossible. What can happen?

[2016-06-09 14:23] georgehrke commented on #572
Do you mean, that the email field in personal settings is disabled?

You probably use a user backend (like LDAP) and the email address needs to be configured in the backend.

[2016-06-09 15:02] #596 closed

[2016-06-09 15:16] DeepDiver1975 commented on #1046
This is the repo of the old and deprecated calendar app. The development is continued in https://github.com/owncloud/calendar - thx

[2016-06-09 15:16] #1046 closed

[2016-06-09 16:03] MathieuSchopfer commented on #485
Maybe I can take care of this issue. At least, I have a good idea how to proceed:
1. Add a function to the editor controller, which:
   1. Parse `properties.summary.value` (RegExp mostly)
   2. If necessary, toggle `properties.allDay`
   3. If necessary, update `properties.dtstart.value` and `properties.dtend.value`
2. Trigger that function with a `ng-blur` directive added to the summary input of

[2016-06-09 16:05] jancborchardt commented on #596
@benslice I will reopen this issue because I assume this was closed by accident and I see no reason for closing it. ;)

[2016-06-09 16:15] georgehrke commented on #485
I'm very skeptical about this feature.
People will expect it to work with all different locals and we honestly can't put regular expressions on transifex.

[2016-06-09 16:18] MathieuSchopfer commented on #485
No, of course it doesn't make much sense to translate regexp ... It means we would have to test for a list of various expressions. Do you fear it would be inefficient ?

[2016-06-09 16:21] georgehrke commented on #568
Simply call it `Work`? 😉

Anyway, there you go: https://github.com/owncloud/calendar/blob/master/js/app/controllers/editorcontroller.js#L110

But I would really like to discourage you from removing this check, as it makes both of our lives more difficult. You have to patch every release of the calendar and make sure it will always work with latest version and I could have difficulties reproducing

[2016-06-09 16:21] #568 closed, assigned to nobody

[2016-06-09 19:44] FilipeDanielGS commented on #572
The Active Directory account in the email is registered, but I can not view the email in owncloud

[2016-06-09 19:45] georgehrke commented on #572
Probably just a misconfiguration.
But the calendar repo is not the right place for issues with AD.
Please consider the user mailing list or ask in the forums :)

[2016-06-09 19:49] georgehrke commented on #549
@Mannshoch Did you find a solution? :)

[2016-06-09 20:11] FilipeDanielGS commented on #572
Thank you for your help. Redid the global catalog and was ...

[2016-06-09 20:23] scriptPilot commented on #568
Thank you! :-)

[2016-06-09 20:24] scriptPilot opened #573 "Selected calendar = Preselected calendar for new event"
If click on a calender in the list on the left and after that create a new event, the selected calendar left should be the preselected calendar for the new event as well. Especially if it is the only visisble calendar to that time.

[2016-06-09 20:30] georgehrke commented on #573
This doesn't really fit into the general ux concept of ownCloud. Clicking an item always triggers an action.
Clicking a day opens editor for new event, clicking an event opens editor, clicking a calendar triggers visibility.

And you don't save a lot of time.
Your concept:
- click calendar in sidebar
- select time range in calendar view

Current concept:
- select time range in calendar view
- sele

[2016-06-09 20:31] georgehrke commented on #573
#133 is, besides being able to sort the calendars, mostly about being able to define a default calendar, by dragging it to the first position in the list.

[2016-06-09 20:36] georgehrke commented on #505
Is there really nothing in the javascript console for user B?

[2016-06-10 06:49] Mannshoch commented on #549
No. I was not able to get help and get how to do it myself with PHP. Maybe its also a time problem and its not bother me enough to let me free some time to learn how to do it.

(I  export the calendar with cron to use it with the "amr-ical-events-list" plugin in Wordpress.)

[2016-06-10 10:35] georgehrke commented on #549
Okay, please ask on the user mailing list or on the forums. :)
Will close this ticket for now.

[2016-06-10 10:35] #549 closed, assigned to nobody

[2016-06-10 12:50] FilipeDanielGS opened #574 "Email visible to the guest of an event"
When creating a calendar event and invite a participant via email, the guest receives as sender SMTP registered in owncloud.
Is there a way the event creator's email address go to the guest?

[2016-06-10 12:53] georgehrke commented on #574
So, first of all:
Beginning with ownCloud 9 the CalDAV server became part of ownCloud's core and the calendar app is just a CalDAV client running in your browser.
Please report issues related to the CalDAV server in ownCloud’s core repo: https://github.com/owncloud/core/issues

Second:
please use the [issue template](https://raw.githubusercontent.com/owncloud/core/master/issue_template.md) as desc

[2016-06-10 12:53] #574 closed, assigned to nobody

[2016-06-10 20:15] georgehrke commented on #540
- [x] split up calendar model into calendar model, calendar list item model, import calendar model

[2016-06-11 10:31] christoph5180 opened #575 "duplicate entries after update calendar via import ics"
Owncloud Version 9.0.2
Calendar Version 1.2.2
### Steps to reproduce
1. import ics file to new calendar
2. take the same file to update the new calendar
3. now all entries are double

this is since the update of owncloud 8 to 9

on owncloud 8 the calendar app ask on import what happen with exists entries (I think there was an option to override exists entries). owncloud 9 do not ask.

[2016-06-11 10:33] georgehrke commented on #575
This is not possible in a performant manner with ownCloud 9 or later.

[2016-06-11 10:33] #575 closed, assigned to nobody

[2016-06-11 10:51] georgehrke commented on #493
please enable debug mode and check for browser logs again.
I can't reproduce this ...
Will close this issue otherwise

[2016-06-11 17:38] untitaker commented on #173
See https://github.com/owncloudarchive/contacts/issues/920#issuecomment-225379243, this issue might be invalid.

[2016-06-12 15:29] #525 closed, assigned to georgehrke

[2016-06-13 11:27] ksteinb commented on #416
Hi Georg,

where do I find the patch for this problem, I have  the version  1.2.2 installed and I have the problem. Also I do not find the patch anywhere on github?

[2016-06-13 11:28] georgehrke commented on #416
This is a duplicate of #379 which is still open. It wasn't fixed yet.
Contributions welcome :wink:

[2016-06-13 14:57] ksteinb commented on #416
Hi Georg,

I did try to output shareWithDisplayName instead of shareWith in the
app.js file but to no help, its probably set to owncloud_name.

It looks like there are more changes needed, the apps probably needs to
use OCP\IUsermanager

Sincerly,
Klaus

[2016-06-13 14:58] ksteinb commented on #379
I did try to output shareWithDisplayName instead of shareWith in the
app.js file but to no help, its probably set to owncloud_name.

It looks like there are more changes needed, the apps probably needs to
use OCP\IUsermanager

Sincerly,
Klaus

[2016-06-14 05:17] bohni commented on #542
See also #480

[2016-06-15 06:53] hitam4450 opened #577 "Release of calendar Version 1.3 ????"
When will calendar 1.3 be released ??

regards, hitam4450

[2016-06-15 07:09] georgehrke commented on #577
I had only very little time to work on the calendar the last couple of weekends and the other maintainer has no time at all in the moment.
Maybe next week, maybe next month, can't tell

[2016-06-15 07:09] #577 closed, assigned to nobody

[2016-06-15 12:03] verissimomoraes opened #578 "not updated calendar"
### Steps to reproduce
1. create event
2. invite other user onwclound
3. check calendar the other user , not be updated
### Expected behaviour

other user receive email in the rainloop, contender invite , and aceit it,  be update calendars
same happnes in the others clients email , outtlook , gmail ..
### Actual behaviour

other user receive email , containing invite , but not have foramting html

[2016-06-15 12:07] georgehrke commented on #578
Can you please try to rephrase your bug report. I'm sorry, but it's very difficult to understand.

[2016-06-15 12:28] verissimomoraes commented on #578
to create event in the calendar, inviting participants using email client rainloop, the invitation is not presented with the html formatting.

that same user getting at gmail, the invitation is presented with the html formatting.

[2016-06-15 12:29] georgehrke commented on #578
Okay, that looks like a bug in our CalDAV server.

Beginning with ownCloud 9 the CalDAV server became part of ownCloud's core and the calendar app is just a CalDAV client running in your browser.
Please report issues related to the CalDAV server in ownCloud’s core repo: https://github.com/owncloud/core/issues

[2016-06-15 12:29] #578 closed, assigned to nobody

[2016-06-15 13:05] verissimomoraes commented on #578
thanks !

[2016-06-15 15:32] scriptPilot commented on #573
For example, in Google you can click in two different ways:
- on the colored point in front of the calendar name >> calendar visiblity toggle
- on the calendar name >> will set this calendar as preselected one

Use case:

For business I click first on business calendar, after that enter several business related appointments. After that I click on the sports calendar and enter all sport team releat

[2016-06-15 19:25] MathieuSchopfer commented on #485
Regarding the previous comment of @georgehrke, I think this feature should be implemented respecting [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) on date and time formatting. Support for the am/pm designators should also be provided as they are widely used.
This [fiddle](https://jsfiddle.net/MathieuSchopfer/0co07f8p/) is a working example of a function that parses the event title and extract

[2016-06-16 09:02] jancborchardt opened #580 "Re-enabling Calendar app should always enable all calendars"
When re-enabling the Calendar app (after it was disabled due to an update) the Personal / default calendar does not seem to be enabled, which makes you think the data is gone.

Hence on re-enabling, all calendars should be visible. (Or if in some way you can save which were visible before.)

@georgehrke @raghunayyar

See https://twitter.com/hanno/status/743365900909174784 cc @hannob

[2016-06-16 09:04] georgehrke commented on #580
Okay 😕

Sounds confusing. will check

[2016-06-16 12:46] georgehrke commented on #580
@jancborchardt Should it really enable **all** calendars or just enable the ones that used be visible prior to the update?

[2016-06-16 15:10] hitam4450 commented on #577
What is the use of fixed and given release dates, then ????

[2016-06-16 15:11] georgehrke commented on #577
It doesn't make sense to release a new version when only 1 or 2 issues where fixed ...

Instead of crying around here: Contribute and help bring the calendar forward!

[2016-06-17 08:09] Happyfeet01 commented on #322
i would be nice if you can make this possible. Like for an EM Calendar from here: https://calendar.google.com/calendar/ical/6eg1noirmh70doip6aa3gsmnis%40group.calendar.google.com/public/basic.ics

[2016-06-17 10:59] gjanssens opened #582 "Provide freebusy interface on calendars"
Freebusy information allows calendar apps to more intelligently propose dates for events based on the availability of the selected participants.

It's like sharing your calendar with others, however it will only show when you are busy, not the details for each event.

It would be great if the owncloud calendar app would have an interface to publish this information based on the events data it has.

[2016-06-17 11:00] georgehrke commented on #582
Beginning with ownCloud 9 the CalDAV server became part of ownCloud's core and the calendar app is just a CalDAV client running in your browser.
Please report issues related to the CalDAV server in ownCloud’s core repo: https://github.com/owncloud/core/issues

[2016-06-17 11:00] #582 closed, assigned to nobody

[2016-06-17 20:29] strugee commented on #132
Ping @LukasReschke (again, since I really want this feature :D)

[2016-06-19 04:55] Happyfeet01 opened #583 "[Request] add Ical Feed import"
Hello,

this is only a Feature Request.
Can you add some Settings that it would be possible to import an Ical Feed?

That is an Project but didn´t work anymore:

https://gist.github.com/mammuth/74c1daed04f661dec641

best regards

Lars

[2016-06-19 12:21] #583 closed, assigned to nobody

[2016-06-19 12:23] georgehrke commented on #583
https://github.com/owncloud/calendar/issues/132 is a better solution than manually importing ical feed

[2016-06-19 19:25] Happyfeet01 opened #584 "Wrong Timezone in Calendar."
### Steps to reproduce
1. create Calendar
2. Import Calendar from Google
3. click on one Entry
### Expected behaviour

showing the Calendar Entrys in GMT+2 Europe/Berlin
### Actual behaviour

When you click on one entry it shows the entry in UTC not local Time.
But when i add an new entry in Owncloud it shows the correct Timezone
![issue_timezone](https://cloud.githubusercontent.com/assets/3295104

[2016-06-19 22:35] Happyfeet01 commented on #132
that would be cool :)

[2016-06-19 22:38] georgehrke commented on #584
Well, not really 😉

[code]

... is the end of some event

and

[code]

is the incomplete beginning of another event

no timezone data

[2016-06-19 22:39] georgehrke commented on #584
Please open the calendar in your browser, open the JS Console and type in `jstz.determine().name();`

[2016-06-19 22:40] georgehrke commented on #584
Well, the explanation is pretty simple.
The time information in the event is UTC: `DTSTART:20160618T173000Z`
That's what the `Z` at the end means.

[2016-06-19 22:41] Happyfeet01 commented on #584
sorry,

is it an export problem from Google?

[code]

[2016-06-19 22:45] georgehrke commented on #584
never mind

[2016-06-19 22:47] Happyfeet01 commented on #584
jstz.determine().name();
"Europe/Berlin"

[2016-06-19 22:47] georgehrke commented on #584
As far as I can tell the time displayed in the actual calendar view is correct, right?

Then this is no bug. The raw calendar data you posted doesn't say it's Europe/Berlin. All the time data in there is given in UTC. That's why we display UTC in the editor. You can change the timezone when you click on advanced or "Mehr ..."

[2016-06-19 22:47] #584 closed, assigned to nobody

[2016-06-19 22:48] Happyfeet01 commented on #584
thanks for your help

[2016-06-20 13:31] brucewillis88 commented on #377
Please make this happen, hiding events is unacceptable.

[2016-06-20 18:13] dmfs commented on #1012
The problem is most likely caused by MySQL, which doesn't support 4-byte characters (like Emoji) when the tables character encoding is set to [`utf8`](http://dev.mysql.com/doc/refman/5.7/en/charset-unicode-utf8.html).
What happens in that case is that MySQL chops of the remaining part of the String, storing the part before the first 4-byte character only.
The solution would be to create the table

[2016-06-21 16:46] MathieuSchopfer commented on #419
Select the event status using a scroll-down select providing three values:
![scoll_down](https://cloud.githubusercontent.com/assets/17726101/16238201/e546be70-37df-11e6-973f-20be00f79369.png)

[2016-06-21 16:46] MathieuSchopfer commented on #419
Render the event using different styles, depending on its status:
![events_rendering](https://cloud.githubusercontent.com/assets/17726101/16238202/e54e32cc-37df-11e6-9e52-2596f129c70e.png)

I am not sure about the styling though ... Any suggestion ?

[2016-06-21 19:55] georgehrke commented on #419
@MathieuSchopfer Looks really good! :)
I'm not so sure about the question mark in front of tentative event though. cc @jancborchardt

[2016-06-22 02:50] schrauger opened #585 "Creating a new event and then changing calendar color causes a visual duplication of the new event"
Modifying a calendar's color causes a visual duplication (but not actual duplication) of newly created events, if the event was created prior to changing the color. This is only a visual problem, and refreshing the page fixes the visual artifact, but it still is an interface bug.
### Steps to reproduce
1. Create a new event under a calendar.
2. Modify the calendar's color.
3. Now, the new event lo

[2016-06-22 21:06] caco3 commented on #132
I also used the great but now abandoned script (cl-calendarimport) from Georg.
Now, after updating to OC9, I realise that that was a bad move as I now have no option anymore to get my work calendar to my phone :(

Let me explain my use case to show how important this feature is:
My company uses Outlook/Exchange. The sadly do not allow to access the Exchange server from the internet. But Outlook ha

[2016-06-22 21:15] caco3 commented on #326
As shown https://github.com/owncloud/calendar/issues/132#issuecomment-227876626, there is a need to wipe a calendar also for me.

[2016-06-22 21:22] georgehrke commented on #132
@caco3 You can use https://github.com/buzz/ics2owncloud.py in the meantime

[2016-06-22 21:27] caco3 commented on #132
I am aware of this script but it is not too easy to install the required Python modules on the server in use :(
I am currently trying to figure out how to use the modules without having to install them...

[2016-06-23 08:31] ionum commented on #419
@MathieuSchopfer Tres bien Mathieu!

Maybe less opacity and omit the question mark? outlook and thunderbird have an vertical bar on the left side for status... but this may be more difficult to implement....

[2016-06-23 09:33] georgehrke opened #587 "move CalController::_calculatePopoverPosition to a PopoverPositioningUtility"

[2016-06-23 10:43] jancborchardt commented on #419
Nice, the styles look good! Great work @MathieuSchopfer!

I would just remove the `(?)` from the tentative event because the opacity works to communicate that already. No further info is needed.

[2016-06-23 10:45] jancborchardt opened #588 "Remove location textarea from quick add/edit popover"
The location field is not essential to an event, unlike the title, date/time and calendar. So we should remove it from the quick add/edit popover.

cc @georgehrke @raghunayyar

[2016-06-23 11:58] MathieuSchopfer commented on #419
I am not convinced by the question mark either, let's get rid of it.

@ionum An icon, if really necessary, could be implemented in conjunction with #137.

[2016-06-23 12:40] georgehrke opened #590 "create XMLUtility to convert json to xml"
example parameters:

[code]

[2016-06-23 15:03] #588 closed, assigned to nobody

[2016-06-23 15:39] #95 closed, assigned to georgehrke

[2016-06-23 18:45] #545 closed, assigned to nobody

[2016-06-23 19:01] #539 closed, assigned to nobody

[2016-06-23 19:37] #502 closed, assigned to nobody

[2016-06-24 15:06] georgehrke commented on #419
implemented by @MathieuSchopfer

will be released with 1.3

[2016-06-24 15:06] #419 closed, assigned to nobody

[2016-06-25 07:15] bjoernmainz commented on #521
I can also confirm this. I can also confirm that adding a trailing slash works around this problem.

[2016-06-27 18:44] georgehrke opened #597 "Make it possible to skip popover"
there should be an option to skip the popover and always open the sidebar for editing.

Default setting should be to open the popover first.

[2016-06-29 02:55] mdavis-xyz opened #598 "Add to calendar instead of replacing, when importing"
### Steps to reproduce

Click Settings > Import Calendar
### Expected behaviour

Back in the older version where you had to import calendars from the file browser, when selecting which calendar to import the ics file to, you could choose to either _delete_ all the events in the calendar and start fresh, or _add_ to all the events in the calendar. I want both options.
### Actual behaviour

There is

[2016-06-29 06:54] georgehrke commented on #598
Nothing is deleted when you import an ics into a calendar.

Dialog thing is a dup of https://github.com/owncloud/calendar/issues/326

[2016-06-29 06:54] #598 closed, assigned to nobody

[2016-06-29 09:16] ivnglkv opened #599 "Auto-refresh"
I think it would be very useful feature for shared calendars.

[2016-06-29 10:29] georgehrke commented on #599
We should implement this in two steps:
- [ ] periodically check for updates of event in known calendars
- [ ] periodically check for new or updated calendars

[2016-06-29 13:10] noromamai opened #600 "Share calendars with visibility type option"
feature request

Add an option when sharing a calendar (and or when creating events) to share the calendar (or event) as a busy indicator only. So some people/groups who the calendar is shared with will only see that user is unavailable when they should not have to see any details of the event.

[2016-06-29 13:12] georgehrke commented on #600
With ownCloud 9.1 you will be able to show certain events busy only or hide them. Is that what you mean?

[2016-06-29 13:15] noromamai commented on #600
wow. very quick. yes, that's exactly what i mean. the feature was
present in the calendar app of oc8., but only for events. it could be
nice to be able to share a whole calendar with option of showing busy
only. then we would not have to set it for each event (especially if it
will be the same as in oc8 where you had to create the event first
before you could set visibility). For sharing calendars

[2016-06-29 18:05] Happyfeet01 commented on #132
Can anyone tell me how to run the script? it won´t work anymore for me :(

[2016-06-29 18:09] EtlamGit opened #601 "Exclamation marks and random missing appointments"
### Steps to reproduce
1. install and use ownCloud 8.2.5 and upgrade directly to 9.0.2
2. during that step replace the old Calendar App with this new one in version 1.2.2
3. ... random
### Expected behaviour

all appointments should be visible and no exclamation marks
### Actual behaviour

random appointments are missing and exclamation marks appear next to calendar names
this is changing on reloa

[2016-06-29 18:10] georgehrke commented on #601
please enable the debug mode in ownCloud and check the browser log again. It'll show the broken entries that can't be displayed.

[2016-06-29 18:25] georgehrke commented on #600
As said earlier the option for single events will be brought back with ownCloud 9.1
The option for sharing calendars won't be implemented in the way you suggested it, because there is an better way.
The server already provides free busy calendars for all users. We just need to add this to the attendee gui in the events editor.

[2016-06-29 18:25] #600 closed, assigned to nobody

[2016-06-29 18:33] Happyfeet01 commented on #132
@georgehrke can you tell me how to use this script? maybe on german :-)

[2016-06-29 18:34] georgehrke commented on #132
@Happyfeet01 I don't know. I didn't develop it and i never used it.

[2016-06-29 18:35] EtlamGit commented on #601
No idea what that means:

[code]

[2016-06-29 20:45] caco3 commented on #132
@Happyfeet01: Welchen Script meinst Du?
Den Alten von Georg? Der geht mit Owncloud 9 nicht mehr!
Oder den Neuen auf https://github.com/buzz/ics2owncloud.py? Für den brauchtst Du eine laufende Python-Umgebung und Virtualenv.

[2016-06-29 20:46] georgehrke commented on #132
Ich schätze mal das neue

[2016-06-29 20:54] noromamai commented on #600
ok, thanks for the info. i have updated to 9.1 beta 2 and can see the
busy/hide option now.

thanks

On 29-06-16 20:25, Georg Ehrke wrote:

[2016-07-01 15:34] EtlamGit commented on #601
Could someone please explain what the purpose of those **exclamation marks** is?

[2016-07-01 15:35] georgehrke commented on #601
The exclamation mark means that you have events in your calendar that are (most certainly) broken and could not be displayed

[2016-07-01 15:36] georgehrke commented on #601
You can look them up in the db by the uri.
e.g. `uri: "owncloud-1b8d09c209dd74f681fe5839e0…"`

[2016-07-01 17:12] EtlamGit commented on #601
One affected example event I found can be imported with the following calendar.ics file. I just setup a fresh ownCloud 9.0.2 installation, imported that calendar and I get the exclamation mark and no event.

[code]

What I can say about this event is that the DTEND line is different to what I have entered originally. It was imported to ownCloud as:

[code]

[2016-07-01 18:07] EtlamGit commented on #326
I also occasionally have to clear all events from a calendar. When something goes wrong it is a convenient way to import a backup for a calendar without all the configuration for sharing options or even syncing on clients.

[2016-07-02 08:20] EtlamGit commented on #601
When changing the DTEND line to the original value, the event is shown in a calendar again.

The strange `;VALUE=` part was created by ownCloud 8.1.x as they were not present in the original data before import. And the old calendar app can show events with these value.
So either the new calendar app needs support for this also, or cluttered events have to be corrected automatically.

[2016-07-02 08:22] EtlamGit commented on #601
Just for me to learn a bit about data bases, you wrote:

I made a complete data base dump and searched for the string in the output. Certainly there is a much easier way to do that. Anybody willing to explain that to me?

[2016-07-03 18:59] brianjmurrell opened #603 "e-mail notification of meeting invitation"
### Steps to reproduce
1. Schedule a meeting with somebody who is not a user on the OC instance being used to create the meeting
### Expected behaviour

Non-local (to the local OC instance) meeting invitees should get an invitation in their e-mail with an ICS attachment that allows them to add the meeting to their own calendar.
### Actual behaviour

Non-local users have no idea that you have invit

[2016-07-03 19:00] georgehrke commented on #603
Beginning with ownCloud 9 the CalDAV server became part of ownCloud's core and the calendar app is just a CalDAV client running in your browser.
Please report issues related to the CalDAV server in ownCloud’s core repo: https://github.com/owncloud/core/issues

[2016-07-03 19:00] #603 closed, assigned to nobody

[2016-07-03 19:04] #601 closed, assigned to nobody

[2016-07-03 19:18] brianjmurrell commented on #603
https://github.com/owncloud/core/issues/23600 for anyone who comes here looking.

[2016-07-04 09:00] jancborchardt commented on #580
Ideally those visible prior to the update

[2016-07-04 09:16] #431 closed, assigned to nobody

[2016-07-04 19:12] kwoxer opened #606 "How to avoid "Content Security Policy: The page's settings blocked the loading of a resource at self...""
I run owncloud on subdomain of Nginx.

So it is **https://oc.MYSERVER.eu**

**Steps to reproduce**
1. Run oc on subdomain
2. Check Browser error log
3. Now you see "Content Security Policy: The page's settings blocked the loading of a resource at self"

**Expected behaviour**
No CSP warning

**Actual behaviour**
CSP warning

**Server configuration**
Operating system: ubuntu
Web server: nginx
Datab

[2016-07-06 08:20] blizzz commented on #580
This issue got some publicity (at least it is related): https://www.bitblokes.de/2016/07/nextcloud-9-update-bringt-enterprise-funktionen-und-client-fuer-ios/

[2016-07-06 09:53] raimund-schluessler commented on #580
Maybe one should also enable a calendar when an entry is added?

[2016-07-06 10:05] georgehrke commented on #580
@raimund-schluessler There is some issue for that.

The default calendar not enabled issue was already fixed iirc, let me double check though

[2016-07-06 10:09] georgehrke commented on #291
still reproducible

[2016-07-06 10:10] georgehrke commented on #580
closing in favor of https://github.com/owncloud/calendar/issues/291

[2016-07-06 10:10] #580 closed, assigned to nobody

[2016-07-06 10:12] georgehrke commented on #606
cc @LukasReschke

[2016-07-06 10:22] jancborchardt commented on #291
@georgehrke can you fix this, do you need help? We should fix it rather quickly and make sure it's updated for all installations as this is quite a dealbreaker.

[2016-07-06 10:25] jancborchardt commented on #580
@georgehrke then make sure it's also fixed for other Calendars which were enabled before. ;) When in doubt, it's better to enable all than just the default one.

[2016-07-06 10:27] georgehrke commented on #580
Yes, the title of #291 is misleading.
This is just about enabling calendars that are neither enabled nor disabled in the db.

[2016-07-06 10:28] georgehrke commented on #291
It's assigned to 1.3, which is planned for next Tuesday. Will look into this in the next days :)

[2016-07-06 10:34] jancborchardt commented on #291
Ok, please do say if you need help as we should really fix it for that next release. ;)

[2016-07-06 20:21] devuan2 commented on #379
I've been testing with this patch. It's not complete fix, but a start.

[code]

[2016-07-06 21:05] georgehrke opened #607 "rename CalController to AppController"

[2016-07-07 09:21] michaelkuhn opened #608 "Special characters break calendar"
### Steps to reproduce
1. Create a new event and paste a special character into the location field (in my case, an end of text character [0x03] ended up in there)
2. Try to view calendar
### Expected behaviour

The event should be shown with the special character stripped (or it should be stripped before it is inserted into the database).
### Actual behaviour

Depends on the client:
- Chrome shows

[2016-07-08 14:43] tcitworld opened #609 "Add clipboard button to caldav link"
Like for https://github.com/owncloud/core/pull/25418, add a button to copy the CalDAV link to the clipboard next to the input field.

[2016-07-08 14:43] georgehrke commented on #609
dup of https://github.com/owncloud/calendar/issues/414

[2016-07-08 14:43] #609 closed, assigned to nobody

[2016-07-08 14:58] DeepDiver1975 commented on #414
FYI: https://github.com/owncloud/core/pull/25418

[2016-07-08 14:59] DeepDiver1975 commented on #414
clipboardjs will come to core with 9.2

[2016-07-08 14:59] georgehrke commented on #414
cool :)
looking forward to using it

[2016-07-10 11:33] ghost commented on #336
No British English option in my Personal > Language settings, only English so can't change start day of week or date format from m/d to d/m.

[2016-07-11 07:38] georgehrke commented on #540
Calendar model is done.

Missing:
- [ ] fcEventModel
- [ ] simpleEventModel
- [ ] timezoneModel
- [ ] veventModel

[2016-07-11 08:25] Ben-Atherton opened #611 "Calendar Export Returns Blank Page"
### Steps to reproduce
1. Click on the export calendar button
### Expected behaviour

The calendar should export to an ICS file
### Actual behaviour

A 500 error is returned
### Server configuration

**Operating system**: Ubuntu 14.04
**Web server:** NGINX 1.11.1
**Database:** SQLite 3.8.2
**PHP version:** 5.6.23
**ownCloud version:** 9.0.2
**Calendar version:** 1.2.2
**Updated from an older ownCl

[2016-07-11 08:25] georgehrke commented on #611
Beginning with ownCloud 9 the CalDAV server became part of ownCloud's core and the calendar app is just a CalDAV client running in your browser.
Please report issues related to the CalDAV server in ownCloud’s core repo: https://github.com/owncloud/core/issues

[2016-07-11 08:25] #611 closed, assigned to nobody

[2016-07-11 08:26] georgehrke commented on #611
please check if you have the mbstring php extension installed before reporting this in core

[2016-07-11 09:38] zanglerecke commented on #493
i just search for debug mode .. justed the use the apache2-error log...
-> nothing found...
but: i just updated from 9.0.2 to 9.0.3 and calendar version is now:1.2.2
actually i just tested those update of times and dates WORKING, with a new test entry as well as old ones (created with OC-Version 6 i think).

BUT. -> i cannot UPDATE or CREATE alarms... they were just ignored....
should i open a new

[2016-07-11 09:39] georgehrke commented on #493
yes, please

[2016-07-11 09:42] zanglerecke commented on #493
ok

[2016-07-11 09:50] zanglerecke opened #612 "Wrong or missleading description of repeated Dates:"
### Steps to reproduce
1. try to add repeated events:
### Expected behaviour

I would like to set an repeated event, an have to fill in
for evry day:
(German:Wiederhole immer ... ) i think it is "repeat evry ... "
what sould i put in??? Friday? second? = 2....
please help the user....

as well as the reported issue with UNTIL: DATE would be nice so i dont have to calculate how many dates there. [(

[2016-07-11 09:53] georgehrke commented on #612
every day is 1
every second day is 2
...

[2016-07-11 09:53] #612 closed, assigned to nobody

[2016-07-11 09:59] zanglerecke opened #613 "Reload needed to show alarms"
### Steps to reproduce
1. try to add an alarm to an event.... click update....
### Expected behaviour

on reopening that event, there sould be that alarm...
### Actual behaviour

it isnt there ...
### Server configuration

Debian, Apache2, ownCloud version:9.0.3

**Calendar version:1.2.2

**Updated from an older ownCloud**
### Client configuration

**Browser: firefox

**Operating system: win7 win1

[2016-07-11 10:04] zanglerecke commented on #612
i know that, but it would be nice, if it is prefilled or selectable.
and: those type of sentence wouldn’t work in german translation...
or: evry monday?
and: in what sould i fill in for evry (mo-fr) but not sa/sun? (in android app it is selectable... )

that is more a design-issue, than an bug...

[2016-07-11 10:06] georgehrke commented on #612
That's simply not possible at the moment.
A more advanced repeating events editor is in work though

[2016-07-11 10:09] zanglerecke commented on #612
ok- so it isnt realy ..."closed" ;)

[2016-07-11 10:44] georgehrke commented on #613
Ah, the alarms are saved, but you need to reload the page to see them.
Nasty bug.
On it ...

[2016-07-11 16:10] georgehrke commented on #537
that's actually a core issue. Some related issue was opened earlier today

[2016-07-11 16:10] #537 closed, assigned to nobody

[2016-07-12 11:59] LiamHD opened #620 "Changing Start-Time of recurring events with exlusions corrupt exclusions"
### Steps to reproduce
1. Create a recurring event with start and end time.
2. Delete one instance of that event series (e.g. via CalDAV-Client - as the WebUI does not allow this)
3. Change start-time
### Expected behaviour

All instances should change their start-time and excluded / deleted instances should stay excluded / deleted
### Actual behaviour

The excluded / deleted instances re-occur. W

[2016-07-13 09:22] kiv57 commented on #860
@zinks- I saw this after 8.2 update. I didn't take time to thank you!
I have no problem with your choice, as "Ce jour" is even uglier ;)

[2016-07-13 10:10] #510 closed, assigned to nobody

[2016-07-13 13:40] fracture-point opened #621 "Email invitation for events should come from the user's email address, not server's"
### Steps to reproduce

Using OC 9.0.3 + Calendar 1.2.2, invite someone to calendar event.
The outbound email "From" address shows as the server from, configured in
Admin-->Email Server-->From Address.

The email should come from the user's configured email address, not the server.  This is especially confusing when the OC instance is host for a number of unrelated domains.
### Expected behaviour

[2016-07-13 13:40] georgehrke commented on #621
Beginning with ownCloud 9 the CalDAV server became part of ownCloud's core and the calendar app is just a CalDAV client running in your browser.
Please report issues related to the CalDAV server in ownCloud’s core repo: https://github.com/owncloud/core/issues

[2016-07-13 13:40] #621 closed, assigned to nobody

[2016-07-13 21:14] yunboliu27 opened #623 "Is this package license Affero General Public License version 3 or later?"
Is this package license Affero General Public License version 3 or later?

[2016-07-13 21:22] #623 closed, assigned to nobody

[2016-07-13 21:23] georgehrke commented on #623
Yes, it is.
As stated here: https://github.com/owncloud/calendar/blob/master/appinfo/info.xml#L6
and here:  https://apps.owncloud.com/content/show.php/Calendar?content=168707
...

[2016-07-14 16:41] GregSutcliffe opened #624 "Monthly recurrence by day rather than date"
Hopefully I'm just missing something, but in case not, here's an RFE:
### Steps to reproduce
1. Create an event
2. Set recurrence to Monthly
3. Notice that you can only give a number
### Expected behaviour

I expected to be able to specify "First monday of the month" or "last friday of the month"
### Actual behaviour

I can only specify a number, the event recurs on that date. This is largely poin

[2016-07-14 19:25] MRZA-MRZA commented on #336
I can't select British English. I want to use English and Monday as first day of a week.

[2016-07-15 19:13] arivasvera opened #625 "uiCalendarConfig.calendars.calendar is undefined"
### Steps to reproduce
1. install calendar on owncloud 9.0.1
2. go to http://myowncloud.com/apps/calendar
3. get error on app.js#214

[2016-07-19 07:04] georgehrke commented on #625
please use the [issue template](https://raw.githubusercontent.com/owncloud/core/master/issue_template.md) as described in our [contributing guidelines](https://github.com/owncloud/core/blob/master/CONTRIBUTING.md) ...

[2016-07-20 12:38] #291 closed, assigned to georgehrke

[2016-07-20 12:38] #521 closed, assigned to nobody

[2016-07-20 12:38] #450 closed, assigned to nobody

[2016-07-20 12:38] #410 closed, assigned to georgehrke

[2016-07-20 15:43] fredfs456 opened #628 "Long filename during import results in off-screen button"
### Steps to reproduce
1. Have an ical file with a long (~60 characters) filename
2. Import through web UI by import > browse > select ,ics file
### Expected behaviour

-Filename is ellipsized or wrapped
-drop-down to select which calendar to import into (or new calendar) is visible
-button to start import is visible
### Actual behaviour

-Filename pushes drop-down and button off the right edge of

[2016-07-21 09:09] #389 closed, assigned to nobody

[2016-07-21 09:09] #628 closed, assigned to nobody

[2016-07-21 11:42] jospoortvliet opened #630 "Sync issues with BlackBerry Z30"
As reported [here](https://plus.google.com/b/104036748063781940910/114258049928799413804/posts/YWVb85trNWm)
### Steps to reproduce
1. Add calendar to blackberry calendar app
2. Make changes to an entry
### Expected behaviour

Changes should sync
### Actual behaviour

They don't
### Server configuration

**Operating system**:
Linux

**Web server:**

**Database:**

**PHP version:**

**ownCloud versi

[2016-07-21 11:44] georgehrke commented on #630
This should be reported in ownCloud/core respectively nextcloud/server, as this looks like an issue in the caldav server

[2016-07-21 11:44] #630 closed, assigned to nobody

[2016-07-21 12:54] tcitworld commented on #132
Since some .ics providers (such as Google Calendar) do not have a `Access-Control-Allow-Origin` header, we cannot use them as-is, and the .ics files need to be downloaded before being used, right ?

Edit : Also, maybe a cache system ?

[2016-07-21 13:04] georgehrke commented on #132
@LukasReschke ^

[2016-07-22 10:41] FelixSeKett commented on #1045
Same here! I deleted the contact birthday calendar hoping I could restore its original setup. There's just no way to do so. May someone be so kind and tell us what to do. Thanks.

[2016-07-22 11:31] j-ed commented on #1045
I had the same problem a couple of days ago. I solved it by deleting the `contact borthdays` calendar and recreated it by running the following command from the command line:
[code]

[2016-07-22 12:48] FelixSeKett commented on #1045
Hey j-ed, thanks for that! I'm a little embarrassed about that command line thing, because I actually never worked with that, used the owncloud web installer, did everything by clicking insteat of typing. Would you mind, giving me a little advice with that or telling me how to reset the calendar without the command line? I mean, I can use the terminal, I'm just not that experienced with all the ne

[2016-07-23 09:48] spoorun opened #632 "Show Description field in quick-add event creation"
Behaviour from most users is to regularly use the Description field when quickly entering event details.
(For example notes about what to wear, who's coming, or cutting and pasting details from an email address for later consideration).
At present, the Description field does not show and the event has to be opened in full to enter the details. This significantly increase the time and effort involv

[2016-07-23 09:55] Ascendor opened #633 "davclient/client.js fails on IDN domain"
Hey dear owncloud calendar developers. The in-browser calendar fails when using an IDN domain, so a domain with special chars. That is pretty clearly down to a regular expression in the JS client only allowing certain standard characters.
Here's the report: (I've left out irrelevant information about the server, this is clearly a client issue)
### Steps to reproduce
1. Use an international domain

[2016-07-23 09:57] Ascendor commented on #633
Oh, I just saw that I created a duplicate. Continuing on #483

[2016-07-23 09:57] #633 closed, assigned to nobody

[2016-07-23 09:58] Ascendor commented on #483
I have the same issue with an IDN domain. Is there a ETA for a fix already?

[2016-07-23 18:39] georgehrke commented on #483
@PVince81 Do you do smth special in the files app to prevent this?

[2016-07-23 19:56] #632 closed, assigned to nobody

[2016-07-23 19:57] georgehrke commented on #632
see https://github.com/owncloud/calendar/pull/579

[2016-07-24 09:45] spoorun opened #634 "Add additional repeating options"
The following are very common options for repeating events:

Fortnight
4 weeks
Quarter

To preserve the simplicity, they could be placed below the existing options.
So a User would scroll down to see them, if required. If not required, they would not have any impact on the visual or practical simplicity of the App. So we would only gain by adding them.

[2016-07-24 09:46] #634 closed, assigned to nobody

[2016-07-24 09:46] georgehrke commented on #634
closing in favor of https://github.com/owncloud/calendar/issues/223

[2016-07-24 13:12] tutnixzursache opened #635 "Option to filter out alarms of shared calendars"
I would appreciate an option to filter out reminders of shared calendars.

Example: Every user has multiple calendars (work, private, etc.). User A has read-only access to user B's calendars, in order to schedule shared events if needed. However, user A does not want to be reminded of every event of user B (e.g. through Thunderbird or Android Calendar).

Solution: Add a checkbox to shared calendar

[2016-07-24 14:13] georgehrke commented on #635
@tutnixzursache please raise a similar issue in the ownCloud core repo

[2016-07-24 14:20] #590 closed, assigned to nobody

[2016-07-24 14:35] raimund-schluessler opened #636 "Shared label overlaps calendar name, is not aligned, calendar 1.3"
### Steps to reproduce
1. Share a calendar with a long name with another user
2. Have a look at the shared label
### Expected behaviour

Shared label should not overlap the calendar name, should be vertically aligned with the calendar name
### Actual behaviour

It overlaps and is not aligned, see attached screenshot

![sidebar](https://cloud.githubusercontent.com/assets/2496460/17084389/6a1d9718-5

[2016-07-24 15:07] tutnixzursache commented on #635
Done: https://github.com/owncloud/core/issues/25591

[2016-07-24 15:19] MariusBluem opened #637 "Calendar does not load after upgrade to 1.3"
### Actual behavior

The Calendar does not load after the update to 1.3. It shows only some basic UI elements. Neither the calendars nor any other components are loaded.
![issue_cal_edit](https://cloud.githubusercontent.com/assets/19711361/17084549/def6d30c-51c0-11e6-8900-e3faa8c03430.png)
### Server configuration

**Operating system**:
Ubuntu 14.04 LTS
**Web server:**
Apache
**Database:**
MySQL
*

[2016-07-24 15:21] georgehrke commented on #637
Please provide js error logs, works just fine for me on your demo instance

[2016-07-24 15:22] georgehrke commented on #637
GRMPF.
FUCKING SAFARI
It's really the new IE.

[2016-07-24 15:23] georgehrke commented on #637
It's crying about the `const` keyword.
IT'S FUCKING 2016 APPLE

[2016-07-24 15:24] MariusBluem commented on #637
The Requested JS Log output .. With Warnings and Errors: 😜

`[Warning] Unexpected CSS token: : (fixes.css, line 108)
[Warning] Unexpected CSS token: : (style.css, line 91)
[Warning] Invalid CSS property declaration at: ; (styles.css, line 19)
[Error] SyntaxError: Unexpected keyword 'const'. Const declarations are not supported in strict mode.
    (anonyme Funktion) (app.js:393)
[Error] Error: [$in

[2016-07-24 15:25] georgehrke commented on #637
Any chance you can use a different browser?
I'm close to dropping support for this fucking piece of crap

[2016-07-24 15:26] MariusBluem commented on #637
Supporting Safari is a must! ...Not because of my MacBook, but I think i am not the only apple fanboy using Safari also on iPad and iPhone ...where it is also not working 😁

[2016-07-24 15:28] georgehrke commented on #637
meh, okay.
But I will drop support for this shit in the first release after macOS sierra and iOS 10.

(Edit: Shit = Safari 9, Safari 10 has fine ES6 support)

[2016-07-24 15:29] MariusBluem commented on #637
Mhmm.. Why are you waiting until Sierra and iOS 10? Do you hope it will be better then, or ...?

[2016-07-24 15:30] georgehrke commented on #637
Cause Sierra and iOS 10 will come with Safari 10
https://kangax.github.io/compat-table/es6/

[2016-07-24 15:33] MariusBluem commented on #637
Nice 👍 Totally agree with you. I think supporting only the latest Firefox, Chrome and Safari is current practice anyway. Safari 10 will be also out for El Capitan, so users with an older Mac will not stay in the rain ☔

[2016-07-24 15:33] MariusBluem commented on #637
Any plan how to fix this 😁

[2016-07-24 15:34] georgehrke commented on #637
Yes, I'm on it.
Expect 1.3.1 within the next two hours

[2016-07-24 15:35] MariusBluem commented on #637
You're great 💪

[2016-07-24 15:56] georgehrke commented on #637
https://github.com/owncloud/calendar/pull/638

[2016-07-24 16:08] #637 closed, assigned to nobody

[2016-07-24 16:09] MariusBluem commented on #637
Fix is merged with d729852

[2016-07-24 16:10] tcitworld commented on #411
Since babel is now used to support Safari, can we now start to use ES6 ?

[2016-07-24 16:13] georgehrke commented on #637
1.3.1 is out and live on the App Store

[2016-07-24 16:13] georgehrke commented on #411
Yes, I think that should be fine :)

[2016-07-24 16:18] georgehrke commented on #637
@mar1u5 Don't forget to delete the demo account 😉

[2016-07-24 16:37] MariusBluem commented on #637
Already done :stuck_out_tongue_winking_eye:

[2016-07-25 08:58] j-ed opened #639 "OC9.0.4 - calendar 1.3.1.0 - not all occurencies of repeated events are shown"
## Expected behavior

All occurrences of repeating events should be shown when using the calendar app.
## Current behavior

Some of the occurrences of repeating events are not shown in the calendar app, although they are correctly shown in Thunderbird-Lightning, on an Android phone or on an iPhone.

In my specific case I was able to pin-down the effect to the following calendar entry, which is not

[2016-07-25 10:16] tcitworld commented on #411
Also, why do we keep the public/app.js in git ? It brings an awful lot of issues when rebasing a branch on another.

People that install the app from git should know that they have to execute grunt to build the file.

[2016-07-25 10:17] georgehrke commented on #411
Yes, I thought about yesterday as well.
We should get rid of it.

People shouldn't use git for production anyway ^^

I will prepare a pull request

[2016-07-25 10:20] tcitworld commented on #411
Thanks

Not for production, but to test it for instance. Anyway, maybe add a word about it inside the README.

[2016-07-25 12:58] georgehrke commented on #49
Let's discuss this with upstream first though.
When they won't to include it long term maintainability will be much easier

[2016-07-25 15:31] tcitworld opened #641 "Canceling calendar editing doesn't keep it's color and name"
### Steps to reproduce
1. Toggle calendar edition in the sidebar.
2. Cancel edition
### Expected behaviour

Calendar color and name should stay as they were before
### Actual behaviour

Calendar color and calendar name are gone in the side bar. The calendar events stay displayed, but they all turn blue (default color I guess).
### Server configuration

**Operating system**: GNU/Linux Debian

**Web

[2016-07-25 18:37] dampfklon opened #642 "Reminders/Alarms can not be deleted"
### Steps to reproduce
1. add entry
2. add reminder and update entry
3. refresh page to show reminder see #613
4. delete reminder and update entry
### Expected behaviour

reminder is deleted
### Actual behaviour

reminder stays the same
### Server configuration

**Operating system**: CentOS 6.8 x64

**Web server:** Apache 2.2.15

**Database:** mysql 5.1.73

**PHP version:** 5.6.21

**ownCloud vers

[2016-07-25 18:44] dampfklon commented on #493
I just opened a ticket regarding updating alarms #642

[2016-07-26 07:14] georgehrke commented on #49
There is indeed an upstream issue: https://github.com/fullcalendar/fullcalendar/issues/2276

[2016-07-27 15:05] tcitworld opened #645 "Deleting calendar doesn't refresh calendarview to hide events"
### Steps to reproduce
1. Add events to a calendar
2. Delete the calendar while events are on that view
### Expected behaviour

Events from that calendar should be gone
### Actual behaviour

Events stayed on the calendar view, until I refreshed the page

[...]
### Logs
#### ownCloud log (data/owncloud.log)

Nothing relevant
#### Browser log

No errors.

[2016-07-27 15:41] georgehrke opened #646 "Move some caldav calls into Calendar Model"
Whats about moving some of the caldav calls into the `Calendar` model itself.
The `CalendarService` would keep `get`, `getAll` and `create`.
but:
`calendar.update()` instead of `CalendarService.update(calendar)`
`calendar.delete()` instead of `CalendarService.delete(calendar)`
`calendar.share(...)` instead of `CalendarService.share(calendar, ...)`
`calendar.unshare(...)` instead of `CalendarServic

[2016-07-27 15:41] georgehrke commented on #646
@tcitworld @DeepDiver1975 your opinion?

[2016-07-27 15:46] georgehrke commented on #646
also `calendar.publish()` and `calendar.unpublish()` for public sharing

[2016-07-27 15:52] tcitworld commented on #646
I don't see why not except that the Calendar model is going to be quite huge. Also, only the Calendar model (and subscriptions at some point) would make use of the remaining methods inside CalendarService, so that doesn't changes much.

[2016-07-27 16:02] tcitworld commented on #641
That's because first the `ng-click="item.cancelEditor()"` is called (which sets name and color to ''), then the `ng-submit="performUpdate(item)"` happens and saves those values.

[2016-07-27 18:03] #641 closed, assigned to nobody

[2016-07-27 18:57] onny commented on #552
Looks like this bug is fixed with version 1.2.2. Thanks a lot!

[2016-07-27 18:57] #552 closed, assigned to raghunayyar

[2016-07-27 18:58] georgehrke commented on #552
Okay 🤔

[2016-07-27 19:24] onny commented on #395
So you mean this styling issue, right?
![right_menue](https://cloud.githubusercontent.com/assets/757752/17189039/0a4eab20-5440-11e6-9928-0410a5f54d48.png)

[2016-07-27 19:33] georgehrke commented on #395
exactly

[2016-07-27 19:34] onny commented on #542
Is this bug fixed in 1.3.1? I cannot reproduce it anymore. But please verify first

[2016-07-27 19:36] georgehrke commented on #542
I changed nothing in this regard, so this was not fixed as far as i can tell.

[2016-07-27 19:41] onny commented on #542
Hm @jgutjahr should check it. For me its okay. It just takes a while until the events appear ...

[2016-07-28 08:05] tcitworld commented on #645
@georgehrke Do you know if that ever did work ?

[2016-07-28 08:33] tcitworld commented on #645
For some reason `$scope.$watchCollection` inside CalController doesn't get triggered.

[2016-07-28 09:13] tcitworld commented on #597
If there's multiple configuration items like this one, maybe we can use `settings#getConfig` and `settings#setConfig` (with key and value parameters) instead of a route for each configuration item we have.

[2016-07-29 10:04] tcitworld commented on #597
Made it at https://github.com/owncloud/calendar/pull/652

[2016-07-29 13:09] #636 closed, assigned to nobody

[2016-07-31 14:20] fossxplorer opened #654 "Could not find resource calendar/js/public/app.js"
Installed oC stable9, but i managed to install the old calendar app, but later replaced it with the current. Now i got issues.
From browser dev console:
Error: [$injector:modulerr] Failed to instantiate module Calendar due to:
[$injector:nomod] Module 'Calendar' is not available! You either misspelled the module name or forgot to load it. If registering a module ensure that you specify the depende

[2016-07-31 14:27] georgehrke commented on #654
don't use git
it's not meant for production

[2016-07-31 14:27] #654 closed, assigned to nobody

[2016-08-01 11:42] georgehrke commented on #645
Yes, it did

[2016-08-01 12:40] tcitworld opened #656 "Hiding a calendar needs a refresh after creation to work"
### Steps to reproduce
1. Create a calendar or use an existing calendar
2. Create an event for this calendar
3. Toggle (hide) the calendar visibility
### Expected behaviour

Events should be hidden
### Actual behaviour

Events are not hidden.

When the calendar is shown again, the same event is added again.
![oc_calendar_duplication_bug](https://cloud.githubusercontent.com/assets/2197836/17294226/

[2016-08-01 14:47] renatofilho opened #657 "CREATED, DTSTAMP, LAST-MODIFIED not stored as UTC"
Steps to reproduce

Create a new event
Save the calendar in a file
Open the file and check LAST-MODIFIED field
Expected behaviour

LAST-MODIFIED field should contains the tz information something like: 20060102T150405Z

Actual behaviour

LAST-MODIFIED is stored without tz information something like: 20060102T150405

Server configuration

Operating system:
Ubuntu 16.04

Web server:
apache

Database

[2016-08-01 14:47] renatofilho commented on #657
LAST-MODIFIED  is not getting updated after edit an event.

[2016-08-01 15:34] renatofilho commented on #657
It works nice on OwnDrive 8.2.2 (stable). Looks like it was a regression on vr 9.0

[2016-08-01 21:59] MariusBluem commented on #395
Thats what we've spoken about @jospoortvliet @jancborchardt :wink:

[2016-08-02 08:04] georgehrke commented on #657
Okay, this issue should be splitted into two issues.
The first is the wrong format, which looks a lot like an upstream issue
The second is the missing update of the Last modified property

[2016-08-02 08:05] georgehrke opened #659 "LAST-MODIFIED not updated correctly"
see https://github.com/owncloud/calendar/issues/657

[2016-08-02 08:10] georgehrke commented on #659
I know 100% that we had this one in an earlier release of the new calendar, but apparently it was removed by accident when refactoring some code

[2016-08-02 11:55] #421 closed, assigned to nobody

[2016-08-02 11:57] georgehrke commented on #130
ping @raghunayyar

[2016-08-02 22:43] wrexroad opened #664 "Timezone "None" doesn't work"
### Steps to reproduce
1. Create a new event by clicking a date on the calendar.
2. Click the "More" option.
3. Select global timezone "None".
### Expected behaviour

Who knows? "None" is pretty ambiguous for a timezone.
### Actual behaviour

TimezoneService tries to get the listing for the "FLOATING" timezone:

[code]

The 404 response is the processed as a timezone and subsequent selections of "

[2016-08-02 23:32] wrexroad opened #666 "Global timezones are broken"
### Steps to reproduce
1. Create a new event by clicking a date on the calendar.
2. Click the "More" option.
3. Select UTC, GMT, or Z timezone.
4. Click "Create" (or "Update" for an existing event).
### Expected behaviour

A new event with a global timezone should be created.
### Actual behaviour

The creating the event fails silently and the sidebar does not close.
### Server configuration

**Ope

[2016-08-03 00:08] wrexroad opened #668 "Remove TZID when making event all-Day"
### Steps to reproduce
1. Create a new event by clicking a date on the calendar.
2. Click the "More" option.
3. Try to change timezone without unchecking "All day Event"
### Expected behaviour

Allow the user to set the timezone for their all day event rather than being forced to use the local timezone.
### Actual behaviour

Have to uncheck "All day Event", change timezone, recheck "All day Event"

[2016-08-03 05:54] georgehrke commented on #668
Why would you have a TZ in a DATE? It doesn't make any difference 🤔

[2016-08-03 10:21] giovi321 opened #669 "Online calendar app does not load any calendar"
After upgrading to oc9.1, the online calendar app does not load any calendar and I cannot create a new one (I see the gray loading circle spinning). However, through caldav i can add events to the existing calendars.

[2016-08-03 10:39] nielsha commented on #669
I have the same issue. When trying to add an event, I get the message "Please create a calendar first."

[2016-08-03 10:53] georgehrke commented on #669
please use the [issue template](https://raw.githubusercontent.com/owncloud/core/master/issue_template.md) as described in our [contributing guidelines](https://github.com/owncloud/core/blob/master/CONTRIBUTING.md)

[2016-08-03 10:59] georgehrke commented on #669
and please provide the javascript browser log!

[2016-08-03 11:05] georgehrke commented on #656
The problem is that we use fullCalendar's `renderEvent` to display the new / updated event.
https://github.com/owncloud/calendar/blob/master/js/app/controllers/calcontroller.js#L68

The event is not associated with the calendar and therefore not hidden, when the calendar is hidden.

[2016-08-03 11:05] georgehrke commented on #656
In the long run I would like to introduce an object store to cache objects and not make fullcalendar send the caldav requests

[2016-08-03 11:07] georgehrke commented on #656
With fullcalendar 2.8 we can actually refresh certain event sources instead of all.
This is probably the way to go for now.
http://fullcalendar.io/docs/event_data/refetchEventSources/

[2016-08-03 11:20] nielsha commented on #669
I just tried to access the calendar using Chrome and I had no problem. Before I was using Internet Explorer 11. In Chrome it seems to Work like a charm :)

[2016-08-03 11:22] georgehrke commented on #669
Internet explorer is not supported

[2016-08-03 11:31] georgehrke commented on #669
closing under the assumption that @giovi321 was trying a non-supported browser as well.
Please speak up if that's not the case and you are using latest firefox, latest safari or latest chromium

[2016-08-03 11:31] #669 closed, assigned to nobody

[2016-08-03 12:19] #645 closed, assigned to georgehrke

[2016-08-03 12:19] #656 closed, assigned to nobody

[2016-08-03 13:33] georgehrke commented on #664
We should probably rename it to floating though

[2016-08-03 17:54] wrexroad commented on #668
OK, I see your point. I was thinking that an all day event was just a midnight to midnight event for a specific date. However, looking at the iCalendar spec it really is just a date...
That being said, the .ics file that is produced still has timezone info for the dates, so maybe that should be removed?

Change

[code]

to

[code]

[2016-08-03 22:25] wrexroad opened #672 "Validate date/time range when creating event?"
I noticed that there is nothing stopping a user from creating an event that ends before it starts. When events are created they are run though a validator which could check for this. Another option would be to watch the of `dtstart.value` and `dtend.value` in `EditorController` and when they are changed, force them to be in order. Is this something worth implementing?

[2016-08-04 06:19] tapete opened #673 "Calendar does not work"
Creating new events in the calendar does not work. Disabling the calendar app does not work.

Owncloud version: 9.x
Ubuntu server
apache, mysql, php newest version.
Fresh install of owncloud

WTF???

[2016-08-04 06:36] georgehrke commented on #673
please use the [issue template](https://raw.githubusercontent.com/owncloud/core/master/issue_template.md) as described in our [contributing guidelines](https://github.com/owncloud/core/blob/master/CONTRIBUTING.md)

[2016-08-04 06:37] georgehrke commented on #672
dup of https://github.com/owncloud/calendar/issues/245

[2016-08-04 06:37] #672 closed, assigned to nobody

[2016-08-04 09:31] georgehrke commented on #625
closing due to missing feedback

[2016-08-04 09:31] #625 closed, assigned to nobody

[2016-08-04 09:32] #664 closed, assigned to nobody

[2016-08-04 09:34] georgehrke opened #674 "Cleanup VTimezones when editing events"
When a user changes an event's timezone the old VTimezone information is not removed

[2016-08-04 09:54] wrexroad opened #675 ""CREATED", "DTSTAMP", and "LAST-MODIFIED" are not in UTC"
According to https://tools.ietf.org/html/rfc5545#section-3.8.7.1 the CREATED property (as well as DTSTAMP and LAST-MODIFIED" must be specified in UTC. However, it appears they are assigned using the users local time with the timezone left floating.

[2016-08-04 09:55] georgehrke commented on #675
let's merge this with https://github.com/owncloud/calendar/issues/657

[2016-08-04 09:55] #675 closed, assigned to nobody

[2016-08-04 09:56] georgehrke commented on #657
also applies to `CREATED` and `DTSTAMP`

[2016-08-04 09:56] georgehrke commented on #657
In my opinion ical.js should take care of storing them as UTC

[2016-08-04 09:57] wrexroad commented on #675
Ah! I searched for duplicates by looking for "CREATED" and "DTSTAMP". Adding LAST-MODIFIED to the issue was an after thought and I forgot to search for it. Sorry!

[2016-08-04 10:10] raghunayyar commented on #472
On this. :)

[2016-08-04 10:26] georgehrke commented on #657
filed a bug upstream: https://github.com/mozilla-comm/ical.js/issues/260

[2016-08-04 10:33] georgehrke commented on #659
Solution:
Add `touch` method to the `VEventModel`

[2016-08-04 17:31] #472 closed, assigned to raghunayyar

[2016-08-04 17:32] georgehrke commented on #290
If the calendar is rather big or the server just slow the calendar can take up to a few seconds (like 10 or even more) to load the events. There has to be some visual feedback in that case

[2016-08-04 17:36] georgehrke commented on #290
One thing OS X does when copying files:
It shows no dialog at first, but after 5 (or 10) seconds past, a dialog with a progress bar pops up

We could do something similar for the calendar:
Show the calendar color and if we are still loading after 5 seconds show the spinner.

[2016-08-05 06:31] tapete commented on #673
I have bugs over and over and it seems to be not realistic to report all these bugs using the template. Is there anyone who successfully installed owncloud without any bugs in the logfile and with a working calendar app?

[2016-08-05 07:00] georgehrke commented on #673
I can not help you without the issue template. Your current bug report is lacking lots of important information

[2016-08-05 09:30] Tealk opened #679 "blank page on NextCloud 10 Beta"
### Expected behaviour

See The Calendar
### Actual behaviour

See a blank page and some strange in the left bar
![kalender](https://cloud.githubusercontent.com/assets/12276250/17432270/ad0464bc-5afe-11e6-94af-122830e8a6dd.jpg)
### Server configuration

**Operating system**:
Debian GNU/Linux 8.5 (jessie)
**Web server:**
Apache2
**Database:**
MySQL
**PHP version:**
7
**ownCloud version:** (see ownC

[2016-08-05 09:31] georgehrke commented on #679
Vivaldi is not supported
Please try Chrome or Firefox

[2016-08-05 09:32] tcitworld commented on #679
And please check browser logs (Ctrl+Maj+K on firefox, Ctrl+Maj+J on Chrome).

[2016-08-05 10:29] Tealk commented on #679
I use Vivaldi now a long Time and it run fine all the time. First the Upgrade to 10 has brake the calendar.
Firefox and Chrome show me exactly the same page like my screenshot

what exactly should I check in the browser log?

[2016-08-05 10:29] georgehrke commented on #679
just paste the browser log here

[2016-08-05 10:30] Tealk commented on #679
[code]

[2016-08-05 10:31] georgehrke commented on #679
Where did you install the calendar from?

[2016-08-05 10:32] Tealk commented on #679
from the apps tab in nextcloud

[2016-08-05 10:44] georgehrke commented on #679
Why is the apps menu in the top in your screenshot?

[2016-08-05 10:45] georgehrke commented on #679
I just setup 10 beta in a Docker container and it works just fine for me:
<img width="1299" alt="calendar - nextcloud chromium today at 12 44 27 pm" src="https://cloud.githubusercontent.com/assets/1250540/17434394/7ace5492-5b0a-11e6-9452-5f8d9fa3a159.png">

[2016-08-05 10:46] Tealk commented on #679
its a app with name direct_menu

[2016-08-05 10:47] georgehrke commented on #679
Apparently it conflicts with another app. Please try to disable the other apps one by one until it finally works and report a bug report at the app that breaks the calendar

[2016-08-05 10:47] #679 closed, assigned to nobody

[2016-08-05 10:48] tcitworld commented on #679
Also, please try uninstalling the app and installing it back.

[2016-08-05 10:51] Tealk commented on #679
i have disable all other apps but i have the same problem

if i disable the all and uninstall it i geht the message that i sould update calender 1.3.1 to 1.3.1 oO
how i uninstall it clearly? Remove the folder from apps folder?

[2016-08-05 10:53] georgehrke commented on #679
remove it from `/var/www/nextcloud/apps` or wherever you installed nextcloud

[2016-08-05 10:54] Tealk commented on #679
![1_3_1](https://cloud.githubusercontent.com/assets/12276250/17434622/bd5f65c0-5b0b-11e6-8554-f09ca213d6aa.jpg)
![apps](https://cloud.githubusercontent.com/assets/12276250/17434625/bff60d2a-5b0b-11e6-91a1-ceaf612d6f2e.jpg)

Im confused

[2016-08-05 10:55] georgehrke commented on #679
Then just click `Aktivieren`

[2016-08-05 10:57] Tealk commented on #679
ok now i have disable and reinstall it but i have the same issue

[2016-08-05 10:59] georgehrke commented on #679
Your browser does not support angular?!
Please list the browsers including the version numbers you tested

We only aim to support the very latest version of Firefox, Safari and Chrome/Chromium

[2016-08-05 11:01] Tealk commented on #679
i have use firefox 48.0 for browser log

[2016-08-05 11:05] georgehrke commented on #679
<img width="1333" alt="calendar - nextcloud firefox today at 1 04 16 pm" src="https://cloud.githubusercontent.com/assets/1250540/17434857/2267bdc2-5b0d-11e6-9ba2-ef3eedf6094b.png">
Works just fine for me

[2016-08-05 11:05] georgehrke commented on #679
also tried both german formal and informal

[2016-08-05 11:06] Tealk commented on #679
I would like if it would work for me, what you mean with formal?

[2016-08-05 11:06] georgehrke commented on #679
formal = Sie
informal = Du

[2016-08-05 11:07] georgehrke commented on #679
can you give me a test account?

[2016-08-05 11:08] Tealk commented on #679
have test it with englisch too, the same problem
acc and pw is test123

[2016-08-05 11:13] georgehrke commented on #679
<img width="1916" alt="kalender - nextcloud chromium today at 1 10 55 pm" src="https://cloud.githubusercontent.com/assets/1250540/17435033/55657cc2-5b0e-11e6-8735-fb3465549379.png">
The `angular.js` in your setup is completely fucked up oO

[2016-08-05 11:14] Tealk commented on #679
and now? upload it manually?

[2016-08-05 11:15] georgehrke commented on #679
I just double checked. The angularJS in the archive on apps.owncloud.com is just fine.

@Tealk144 Do you use some kind of reverse proxy?

[2016-08-05 11:16] Tealk commented on #679
could it be a problem by cloudflare Minify JS?

[2016-08-05 11:16] georgehrke commented on #679
I suspect cloudflare-nginx might be causing this issue

[2016-08-05 11:16] georgehrke commented on #679
yes

[2016-08-05 11:18] georgehrke commented on #679
If you really require minified JS and CSS I'd advice you to use Nextcloud's native minifier
see https://docs.nextcloud.com/server/9/admin_manual/configuration_server/js_css_asset_management_configuration.html?highlight=asset

[2016-08-05 11:20] georgehrke commented on #679
It seems to work now 😉

[2016-08-05 11:20] Tealk commented on #679
i have set up cloudflare recently, as you mentioned javascript i have remember that i have read it on cloudflare

Yes thank you verry much

[2016-08-05 12:22] #164 closed, assigned to raghunayyar

[2016-08-05 12:25] georgehrke opened #681 "replace cancel button with x in top right"
applies to both popover and sidebar

[2016-08-05 12:30] tcitworld commented on #681
On mobile views, a X on top right will take a lot of place vertically, maybe it should stay that grouped with the other buttons in that particular case ? Also, it's next to some input areas so the risk to touch it seems huge to me.
@jancborchardt

![screen shot 2016-08-05 at 14 26 58](https://cloud.githubusercontent.com/assets/2197836/17436632/b638e57a-5b18-11e6-9268-96c2f8c557e6.png)

[2016-08-05 13:20] oparoz commented on #395
It makes it impossible to change the reminders

[2016-08-05 13:21] georgehrke commented on #395
@raghunayyar I'd appreciate if you could take a look at this very soon

[2016-08-05 13:23] georgehrke commented on #399
ping @DeepDiver1975 :)

[2016-08-05 18:42] georgehrke opened #682 "Disable buttons after clicking to prevent double click actions"
- [ ] calendar editor
- [ ] events editor popover
- [ ] events editor sidebar

[2016-08-06 11:01] vacy opened #684 "requesting feature - agenda view in calendar"
Hi guys,

i really would like to see an agenda feature in the calendar app.
I like to utilize it in KDE's kontact and my mobile app "acalendar".
Please take a look at "https://www.drupal.org/project/agenda" to see what the feature means to be.

Thank you.
Florian

[2016-08-06 11:09] georgehrke commented on #684
so basically a list view?
https://github.com/owncloud/calendar/issues/85

[2016-08-07 07:26] raghunayyar commented on #395
Yes, on it.

[2016-08-07 09:00] vacy commented on #684
Oh, well done. Thats it :-)

[2016-08-07 09:00] #684 closed, assigned to nobody

[2016-08-07 09:02] vacy commented on #85
I would like to see a solution like explained here: https://www.drupal.org/project/agenda
Any plans to develope that?

[2016-08-07 11:36] #201 closed, assigned to georgehrke

[2016-08-07 11:36] #514 closed, assigned to nobody

[2016-08-07 18:16] nineff opened #686 "Calendar not displaying after Upgrade to 1.3.2"
### Steps to reproduce

Upgrade owncloud-app-calendar package on ARCH to latest version. I'm however not sure if this is the real cause of the error. However it worked before the update.
I suspect it's due to these missing files (see error log below):
"/owncloud/apps/calendar/css/public/app.css"
"/owncloud/apps/calendar/js/public/app.js"
"/owncloud/apps/calendar/css/public/app.css"
### Expected be

[2016-08-07 21:02] georgehrke commented on #686
Please contact the maintainer, they need to update their build script.

[2016-08-07 21:02] #686 closed, assigned to nobody

[2016-08-08 07:21] PVince81 commented on #483
@georgehrke there is no special logic for this in the files app

[2016-08-08 14:48] georgehrke commented on #659
DTSTAMP needs to be updated as well.

From [Section 3.8.7.2](https://tools.ietf.org/html/rfc5545#section-3.8.7.2)

[code]

[2016-08-08 17:22] raghunayyar commented on #395
Fixed, please check guys. :)

[2016-08-09 10:19] georgehrke commented on #686
@p5n Please use the calendar.tar.gz attached to each release
https://github.com/owncloud/calendar/releases

Also it's AGPL, not GPL 😉

[2016-08-09 10:47] #452 closed, assigned to raghunayyar

[2016-08-09 12:02] raghunayyar commented on #673
I am closing this issue as of now, please elaborate on the exact issue you are making. I will re-open it. Thx.

[2016-08-09 12:02] #673 closed, assigned to nobody

[2016-08-09 12:03] raghunayyar commented on #681
I complete agree, it will take a lot of space and will look dangling. The behaviour will be even more weird on mobile.

[2016-08-09 13:22] p5n commented on #686
owncloud-app-calendar-1:1.3.2-2 should be better, thank you

[2016-08-09 20:49] #587 closed, assigned to nobody

[2016-08-10 11:05] torsten-winkler opened #691 "other user's calendar is listed with my calendars and can be reshared"
### Steps to reproduce
1. create calendar
2. share calendar with other user, check "can edit"
3. log in as other user, go to calendar list
### Expected behaviour

The shared calendar should be listed under "subscriptions". Also, it should not be possible to re-share the calendar if re-sharing is disabled globally in the server prefs.
### Actual behaviour

The shared calendar is listed under the us

[2016-08-10 11:07] georgehrke commented on #691
Subscriptions are read-only calendars, that's why it appears under the ordinary calendar list.
The allow reshare setting in the admin settings has nothing to do with caldav and carddav sharing.

Please raise an issue in Core (https://github.com/owncloud/core/issues) if you dislike this behavior

[2016-08-10 11:07] #691 closed, assigned to nobody

[2016-08-10 11:14] georgehrke commented on #132
From IRC:

[code]

[2016-08-11 10:49] jancborchardt commented on #600
@georgehrke is this back btw? cc @oparoz for info

[2016-08-11 10:50] georgehrke commented on #600
For events: yes

[2016-08-11 16:11] jancborchardt commented on #290
Yeah, good call.

[2016-08-11 16:11] jancborchardt commented on #290
I’d show the spinner after 3 seconds, since that’s already a long time without feedback.

[2016-08-12 07:32] scriptPilot commented on #569
#484

[2016-08-12 07:33] scriptPilot commented on #484
What is the current situation to this feature request?

[2016-08-12 08:59] tcitworld commented on #132
You mean, when adding a new subscription, add it's domain into a config key ?

[2016-08-12 09:00] georgehrke commented on #132
After I solved that issue I went into CORS problems, that we can't solve when keeping everything in js.
That's why I added a proxyController in the feature/webcal branch

[2016-08-12 09:03] georgehrke commented on #484
No progress so far, want to fix this while taking care of https://github.com/owncloud/calendar/issues/223.
We'll hopefully have a concept for this next month

[2016-08-12 09:45] georgehrke commented on #666
fixed with #667

[2016-08-12 16:15] oparoz opened #696 "Full free/busy support"
As a meeting organiser I want to be able to see if the meeting participants are available when I'm defining the time slot.
It should work both in the web interface and on remote clients.

[2016-08-12 16:16] georgehrke commented on #696
The server already provides Free/busy support afaik.
Having a dedicated UI in the calendar app is something far away.
Probably not before `1.x, x > 10`

[2016-08-12 16:21] oparoz commented on #696
Thanks for the quick reply.
Does it require a specific ownCloud version? Is there something special to configure on the server to support it (you can tell me to RTFM ;))?

[2016-08-12 16:22] georgehrke commented on #696
It definitely requires ownCloud 9+ and I think it should work out of the box.

[2016-08-12 16:29] oparoz commented on #696
Doesn't seem to work in Thunderbird. Is there a client you would recommend for testing?

[2016-08-12 16:37] georgehrke commented on #696
Hm, I would have probably tried Thunderbird as well.
According to http://sabre.io/dav/scheduling/ it's part of the Scheduling plugin, which in fact is loaded: https://github.com/owncloud/core/blob/master/apps/dav/lib/Server.php#L103

I guess it's related to core's ridiculously rigorous ACL rules.
Mind raising an issue in core? :)

[2016-08-12 16:40] georgehrke commented on #696
latest master allows listing of users, I think that was different for ownCloud 9

[2016-08-12 16:43] oparoz commented on #696
Ah, so that could be the issue then. It would require ownCloud 9.1.

[2016-08-12 17:12] jancborchardt commented on #696
@georgehrke @raghunayyar we should try to make this workable soon. It’s an often requested feature and needed to achieve parity with other Calendar solutions people are used to. It’s one of the make-or-break features.

[2016-08-12 17:15] georgehrke commented on #696
Okay, but let's not start yet another feature.
We should finish public sharing, webcal and search first

[2016-08-12 17:24] georgehrke commented on #696
We should discuss this at the conf and collaborate on some mockups :)

[2016-08-12 18:37] georgehrke commented on #223
@jancborchardt We also need to talk about this issue on the conf and create some concept/mockups

[2016-08-12 18:56] georgehrke commented on #666
had to revert pr

[2016-08-14 12:11] georgehrke commented on #22
@jancborchardt What are the plans on the nextcloud side to drop jQuery UI?

[2016-08-14 12:14] georgehrke commented on #194
@raghunayyar can you please check? :)

[2016-08-14 12:17] georgehrke commented on #335
@raghunayyar please take a look :)

[2016-08-14 12:24] georgehrke commented on #411
We added babel for backward compatibility to Safari 9.
All new code merged into the calendar should be ES6.
Moving all code will be done over time.

[2016-08-14 12:24] #411 closed, assigned to nobody

[2016-08-14 12:32] georgehrke opened #698 "Add ObjectStore to cache events in the browser"

[2016-08-14 12:33] georgehrke commented on #698
- [ ] ObjectStore should regularly query the server for updates

[2016-08-14 12:33] georgehrke commented on #476
Let's close this in favor of a proper Object store.
https://github.com/owncloud/calendar/issues/698

[2016-08-14 12:33] #476 closed, assigned to nobody

[2016-08-14 12:33] #489 closed, assigned to raimund-schluessler

[2016-08-14 12:34] #493 closed, assigned to nobody

[2016-08-14 12:37] georgehrke commented on #573
Closing because it doesn't fit into the UI concept.

[2016-08-14 12:37] #573 closed, assigned to nobody

[2016-08-15 13:52] georgehrke commented on #585
Can't reproduce on latest master.
As far as I can tell this was fixed with https://github.com/owncloud/calendar/commit/5f0ea35d7b7cefeb9cfc1ebb1b97b01e069a651c

[2016-08-15 13:52] #585 closed, assigned to nobody

[2016-08-16 06:11] aquemy opened #700 "Repeat every 'Work day'"
Hi,

In the previous calendar app, it was possible to specify the repetitions of an event during the work days, i.e. excluding the week-end.
Unless I am blind as a mole, I cannot see this option anymore.

Would it be possible to add it back? It is very useful to define work routine and currently the only way I found is to setup a weekly event 5 times, one for each work day.

Regards,

[2016-08-16 07:04] georgehrke commented on #700
will close in favor of https://github.com/owncloud/calendar/issues/223

[2016-08-16 07:04] #700 closed, assigned to nobody

[2016-08-16 07:09] georgehrke commented on #700
It was indeed not reimplemented yet. We will discuss #223 at the conf next month and we will implement a full-featured editor for the repeating setting shortly afterwords

[2016-08-16 10:20] scroom opened #704 "Calendar not visible after the app gets started"
### Steps to reproduce
1. Click on the Calendar-App-Icon
2. The app opens
### Expected behaviour

I'm expecting that my calendar-entries are shown. But I have to click into the calendar or into the calendar-list to make my calendar-entries visible.
### Actual behaviour

Calendar-entries are not visible until I click into the calendar.
### Server configuration

**Operating system**: Ubuntu 14.04

*

[2016-08-16 10:25] georgehrke commented on #704
I'm not sure I completely understand what you mean.
Can you please be more specific or provide screenshots/a screencast?

Do you mean that you have to enable each calendar first?

[2016-08-16 10:26] scroom opened #705 "Contact birthdays are not shown"
### Steps to reproduce
1. Click on the Calendar-App-Icon
2. The app opens
### Expected behaviour

I'm expecting that my contact birthdays are shown. But instead there is a spinning wheel in front of the contact birthday calendar and the birthdays are not shown.
I already tried a `sudo -u www-data ./occ dav:sync-birthday-calendar` but it didn't solve my issue.
### Actual behaviour

Contact birthday

[2016-08-16 10:27] georgehrke commented on #705
We definitely need the browser log here.

See https://developer.mozilla.org/en-US/docs/Tools/Web_Console?redirectlocale=en-US&redirectslug=Using_the_Web_Console

[2016-08-16 12:30] georgehrke commented on #223
For reference: https://gist.github.com/georgehrke/182bb08b75afc4d5a729e9d552a19316
(previous work on the full-featured recurrence editor)

[2016-08-16 12:41] scroom commented on #705
Here are my browser logs:

[code]

[2016-08-16 12:43] scroom commented on #704
No I don't have to enable the calendars first (they are already enabled). But the calendar seems to be empty first but when I click into the calendar (at a specific date) all the calendar entries are shown.
Here are my browser logs. Maybe they provide some information needed:

[code]

[2016-08-16 15:42] georgehrke commented on #705
This line is relevant:

[code]

[2016-08-16 15:46] georgehrke commented on #705
That's corresponding to this line: https://github.com/owncloud/calendar/blob/v1.3.2/js/app/models/calendarmodel.js#L38

Please check in Firefox's network console, what the request to a url ending with contacts_birthdays returns.

[2016-08-17 08:02] juristi opened #706 "Calendar entries created in the application should contain VERSION element"
### Steps to reproduce
1. Create a new event on the calendar web page
2. Open the created event and export it as .ics
3. Run the .ics file through [icalendar validator](http://icalendar.org/validator.html)
4. The file is missing the mandatory ([RFC5545 3.7.4](https://tools.ietf.org/html/rfc5545#section-3.7.4)) VERSION element.
### Expected behaviour

The calendar should create valid icalendar entr

[2016-08-17 08:31] georgehrke commented on #706
let's add a calscale as well

[2016-08-17 08:53] #597 closed, assigned to georgehrke

[2016-08-17 09:10] georgehrke commented on #706
@juristi Do you mind testing https://github.com/owncloud/calendar/pull/707 ? :)

[2016-08-17 09:42] juristi commented on #706
Not a problem. Will try it out this evening.

I guess replacing the ICalFactory in the already built app.js with the fixed version is good enough?

[2016-08-17 09:42] georgehrke commented on #706
yes :)
thx!

[2016-08-17 10:33] tcitworld commented on #364
What would be used as encryption key if we were to encrypt the local storage saved calendars ?

[2016-08-17 10:34] aquemy opened #708 "Events as tasks and vice versa"
Hello,

Two (not that) small proposals for killing features. I think it involves also the Tasks app but as it seems to me that it requires more work from the Calendar app, I create the ticket here.
### 1. Events as tasks

I think having the possibility to mark an event as a task would be very useful. The main use case I see is the following:
1. the user inserts events on some calendars, and marks

[2016-08-17 10:37] georgehrke commented on #708
There is already a feature request for the second one: https://github.com/owncloud/calendar/issues/499

regarding the first one:
You can set a due date on tasks, so why would you add something like "buy more coffee" as an event?

[2016-08-17 10:45] aquemy commented on #708
The example of "buy more coffee" is probably not the best.
What was in my mind is simply the possibility to create the Tasks of a given List in the Calendar app instead of having to use the Tasks app.

Combined with the second proposal it gives a mapping between a List and a Calendar (almost, since you would still be able to have events that do not appear in the List).

It is less important than t

[2016-08-17 18:06] juristi commented on #706
"Success! No errors found."

Working fine with #707 :)

[2016-08-17 19:06] #706 closed, assigned to georgehrke

[2016-08-17 19:06] georgehrke commented on #706
thx for testing! :)

[2016-08-18 07:51] mikelupe opened #711 "Calendar doesn't load on older Mozilla engine browser (Pale Moon)"
### Steps to reproduce
1. Manually upgrade OC 9.0.2 to NC 9.0.53 (successful)
2. Activate calendar app (successful)
3. Use Pale Moon 26.3.3 browser (older Mozilla engine for Mozilla Sync service), go to calendar app
### Expected behaviour

Default Calendar and entries should show up. In Pale Moon it doesn't. With newer mozilla engine e.g. FF >= 47.x it's ok.
### Actual behaviour

With PaleMoon 26.

[2016-08-18 07:59] tcitworld commented on #711
Can you give us your browser logs please ?

[2016-08-18 08:06] mikelupe commented on #711
Sure - log of calendar app trigger in webui attached.
Is that enough?

[CalendarAppOlderMozillaEngine.txt](https://github.com/owncloud/calendar/files/424395/CalendarAppOlderMozillaEngine.txt)

[2016-08-18 09:25] georgehrke commented on #711
We only support the latest version of Firefox, Safari and Chrome/Chromium.

Is there something like a dedicated console for Javascript errors in Pale Moon?
The last request in your logs is:
`[10:00:56.957] PROPFIND https://dom.domain.tld/remote.php/dav/calendars/mihnea/ [HTTP/1.1 207 Multi-Status 69ms]`

There are supposed to be a bunch of other requests after that one. I guess there is some JS er

[2016-08-18 09:53] tcitworld opened #712 "Personal calendar doesn't have a color"
### Steps to reproduce
1. Create a new account
2. Go to the calendar app
### Expected behaviour

Calendar automatically created "Personal" should have a color (next to it in the list)
### Actual behaviour

Doesn't have a color

Events created do have a color though.

[2016-08-18 11:22] mikelupe commented on #711
QupZilla-Version: 1.8.9 / WebKit-Version: 538.1 same issue.

I didn't have that before. So that basically would mean, I must give up using my own MozzillaSync service?

I will attach some other loginfos later, when I got more time.

[2016-08-18 11:59] mikelupe commented on #711
New log (net, css, js, security & logging). Don't think I can pull out more.

I had a similar problem on PaleMoon with an ovirt virtualization Webui, after an update it worked again. So possibly there's a kind of workaround. I could ask the ovirt guys. Who knows, perhaps it tangents the same issue.

[NewFullLog_CalendarAppOlderMozillaEngine.txt](https://github.com/owncloud/calendar/files/424802/Ne

[2016-08-18 12:09] tcitworld commented on #711
Still nothing much relevant inside the logs, sorry.

Just saying, it is still possible to install the Mozilla Sync Service yourself.

[2016-08-18 12:15] mikelupe commented on #711
Well, I have the OC MozillaSync app, which worked fine for the last couple of months. It's basically a SyncServer. PaleMoon simply connects to that one. Firefox is a hassle concerning MozillaSync, last time I researched, it wasn't possible, or only with much troubles.

If this means I have to find another solution, I'll have to stick with it (grr). But mentioning new compatibility dependencies sho

[2016-08-18 12:17] tcitworld commented on #711
Well it's mentioned on the front page :

[2016-08-18 12:19] mikelupe commented on #711
Ok, my bad sorry. Still a bummer.

Edge.... oookayy ;)

[2016-08-18 12:20] #711 closed, assigned to nobody

[2016-08-18 20:32] lukas-buergi opened #713 "Day/week view optimization suggestion"
Currently events are placed on a linear vertical time axis in those views. I think this is not optimal. There are some subtle and less subtle ways this could be improved.

The goal is always to get a better overview of the events in the selected day/week with as little scrolling as possible.

The first three ideas are probably relatively simple for both users and developers, while the 4. and last

[2016-08-18 20:49] georgehrke commented on #713
please report this upstream at fullcalendar :)

http://fullcalendar.io/wiki/Contributing/

[2016-08-18 20:49] #713 closed, assigned to nobody

[2016-08-19 09:04] scroom commented on #705
Status is 404. The answer is the following:

[code]

[2016-08-19 09:08] lukas-buergi commented on #713
Oh, thanks, hadn't actually looked into it enough to notice there was an upstream, sorry.

[2016-08-19 09:25] scroom commented on #704
To clarify what I mean. When I'm opening the calendar app the calendar entries are not visible:
![bildschirmfoto vom 2016-08-19 11-06-19](https://cloud.githubusercontent.com/assets/5347731/17805356/7fe24f10-65ff-11e6-8a25-01575d3faeca.png)

I have to click into the calendar to make the entries visible:

![bildschirmfoto vom 2016-08-19 11-08-01](https://cloud.githubusercontent.com/assets/5347731/17

[2016-08-19 09:30] georgehrke commented on #705
@DeepDiver1975 This looks like a really weird server issue, right?

[2016-08-19 19:27] georgehrke commented on #712
[code]

calendar-color is set but doesn't have any value

[2016-08-19 19:32] georgehrke commented on #712
Therefore `simple.color` is just an empty string
https://github.com/owncloud/calendar/blob/master/js/app/service/calendarservice.js#L481

[2016-08-19 19:43] tcitworld commented on #712
This could be corrected in _core_ too. Should it provide default color `#1d2d44` ?

[2016-08-19 19:46] georgehrke commented on #712
Hm, maybe.
But the calendar should be able to handle the empty property anyway.

[2016-08-19 19:48] tcitworld commented on #712
Will handle empty string here too then.

[2016-08-20 09:36] #712 closed, assigned to nobody

[2016-08-22 09:02] DeepDiver1975 commented on #705
I suspect issues in the area of ldap where the user id and the login name are different and some lookup somewhere is using a wrong name ......

@scroom what is the login name of the user and what is the username?

You also might want to enable debug mode (setting debug to true in config.php) and open the webdav url in your browser and navigate into the users calendar home to see how this all looks

[2016-08-23 13:52] escoand opened #715 "Reminder for contact birthdays"
### Expected behaviour

It would be nice to have the possibility to set reminders for birthday events in general and also for only specific birthday events.
### Actual behaviour

There is no way to add a reminder for one specific birthday nor for the events in general.
### Server configuration

**Server version:** 9.0.53
**Calendar version:** 1.3.2

[2016-08-23 14:11] escoand commented on #715
Maybe belongs to #119

[2016-08-23 14:45] scroom commented on #705
I would say that both are the same in our case. (uid is set to sn)

I will try the rest you've mentioned the next days and post my results.

[2016-08-23 14:53] scroom commented on #341
On our school where we are using Owncloud (ca. 900 users) many are asking for an ability of the OC calendar to copy events from one calendar to another (some are shared with groups, some not, some are public, some are not ....) or to a different day.

[2016-08-23 17:23] tcitworld opened #716 "php l10n themes strings are not fetched by the app"
When trying to extend the existing translations from this app with a custom theme [1], it seems the .json files are not fetched.
I did a `var_dump()` inside [`core`](https://github.com/owncloud/core/blob/master/lib/private/L10N/Factory.php#L300) to see what translation files are fetched when loading the app and there were only :
- lib
- core
- apps/files
- apps/federatedfilesharing
- apps/contacts

[2016-08-24 09:57] tcitworld commented on #716
What I did to try to translate the app through a new theme.
- Create a new theme folder and add it to `config/config.php`
- Create `<themename>/calendar/l10n/fr.json` and  `<themename>/calendar/l10n/fr.js`

`fr.json` content :

[code]

Can someone confirm this ?

[2016-08-24 12:22] herrdeh commented on #696
me2!

[2016-08-24 12:24] georgehrke commented on #696
@herrdeh Please use [GitHub Reactions](https://github.com/blog/2119-add-reactions-to-pull-requests-issues-and-comments) and don't spam issues with "+1", "me too", "mimimi implement it already" or something like this, thx 😉

[2016-08-24 13:18] jancborchardt commented on #22
Let’s see where we still use it:
- LDAP settings: we can move away from the tab-based layout now that the settings are split into individual pages. cc @blizzz
- The modal for the filepicker. Maybe we can just use that part.
- The modal for accepting remote shares: Moved to the notifications area. cc @nickvergessen @schiessle
- The Calendar app here.

Anything else I forgot? I would say we should g

[2016-08-24 13:20] jancborchardt commented on #223
@georgehrke yeah, let’s talk about it at the conf! :) Did you already submit a talk about the developments on the Calendar app? https://conf.nextcloud.com/conference/NextcloudConference2016/program/proposal/new

[2016-08-24 15:04] nickvergessen commented on #22
It's still used as a fallback, when notifications app is not enabled.

[2016-08-25 08:23] jancborchardt commented on #22
Instead of that as fallback, could we use the notification up top? @nickvergessen

[2016-08-25 11:27] crackytsi opened #717 "Order of Postnumber is no longer country localized"
### Expected behaviour

Postnumber / ZIP-Code is in germany in the order:
<zipcode> <city>
### Actual behaviour

Using the latest Owncloud version together with latest DAVDroid the order is:
<city><zipcode>
### Server configuration

**Operating system**:

**Web server:**
Apache

**Database:**
MySQL

**PHP version:**
7

**Server version:**
9.0.53

**Calendar version:**
1.3.3

**Updated from an olde

[2016-08-25 11:36] #717 closed, assigned to nobody

[2016-08-25 15:49] Akhenaton opened #718 "Issue when opening calendar via IPv6 ip-address"
Hi,

Running fully in IPV6 mode here, the calendar app is actually not compatible.
(Running IPV4 everything is well)

The IPV6 url is malformed.

a) The javascript console log :

Should be :  **https://[::1]** instead

Cheers,

[2016-08-25 16:16] MariusBluem commented on #718
Ref: https://help.nextcloud.com/t/calendar-1-3-3-not-compatible-ipv6-was-with-nextcloud/

cc @georgehrke

[2016-08-25 16:29] georgehrke commented on #718
@Akhenaton please use the entire [issue template](https://raw.githubusercontent.com/owncloud/core/master/issue_template.md) as described in our [contributing guidelines](https://github.com/owncloud/core/blob/master/CONTRIBUTING.md)

[2016-08-25 16:37] georgehrke commented on #718
btw, please try to enable the debug mode and tell us if there is more in the javascript console log.
and don't forget to disable the debug mode afterwords 😉

[2016-08-26 14:14] jadesoturi commented on #336
The British English selection is further down in the list, between Eesti and Español(Mexico). Solved the problem for me at least..

[2016-08-26 21:35] blizzz commented on #22
We can talk about whether and how to change the layout. If it requires heavier changes, it's likely that it would slip to Nc 12. Anyway, the calendar repo is not the best place to track this…

[2016-08-26 22:06] jancborchardt commented on #22
@blizzz see https://github.com/nextcloud/server/issues/1090 for the server issue

[2016-08-27 12:39] lwinch2006 opened #719 "Cannot create event in Calendar app"
### Steps to reproduce
1. Navigate to owncloud URL.
2. Choose Calendar app from the menu
3. Double click with the mouse on some date to try to create new event.
### Expected behaviour

Form for creation of new event should appear.
### Actual behaviour

Nothing happens.
### Server configuration

Debian GNU/Linux 8.5 (jessie)

**Web server:**
Apache/2.4.10 (Debian)

**Database:**
mysql  Ver 14.14 Di

[2016-08-27 13:08] georgehrke commented on #718
@freddii please use the issue template ;)

[2016-08-28 09:39] Akhenaton commented on #718
Complementary notes.

Being behind (on) the machine.

When i call my Nextcloud server as "localhost" => IPV6 ::1 => https://[::1]/ Calendar does'nt work.
(and only calendar app). Everything else is O.K.

BUT if i call it with my pblic WAN FQDN complete address  (as my router have the "Loopback" feature) it does work !

So it's not that important as my users (WAN) can anyway work.

-->

### Steps t

[2016-08-28 09:44] tcitworld commented on #718
This regex is to blame : https://github.com/owncloud/calendar/blob/master/js/vendor/davclient.js/lib/client.js#L364

[2016-08-28 09:46] tcitworld commented on #718
This might be a solution. https://gist.github.com/jlong/2428561

[2016-08-28 12:34] Akhenaton commented on #718
It matters only for users that don't have a "loopback" feature on their router and, consequently, call directly the "localhost" address while on their machine.

[2016-08-28 13:58] spoorun opened #721 "Deleted items folder"
Calendar app should have a deleted items folder, working in the same way as the Files app, with a 'Deleted items' link displaying in the left-hand bar, above the Settings link.

Deletion would become a two step process, deleted items would move to that folder, and then be permanently removed if the folder was emptied, or an individual items was deleted from within the folder.

Items could also be

[2016-08-28 14:00] georgehrke commented on #721
Deleted items is very uncommon for calendar applications. Honestly have never seen it.
We are planning to introduce an undo action instead.
https://github.com/owncloud/calendar/issues/253

[2016-08-28 14:00] #721 closed, assigned to nobody

[2016-08-29 10:23] georgehrke commented on #719
Can you please provide the config.php?
(You can obviously mask private information :))

[2016-08-29 10:24] georgehrke commented on #719
Do you use the asset pipeline feature?

[2016-08-29 15:59] stepansantalov opened #722 "LDAP users: UUID instead of displayName on Calendar app"
### Steps to reproduce
1. Enable LDAP auth
2. Share calendar, begin to type username to share with, see the UUIDs instead of displayName.
   Btw the search is made by displayName.
   Click share.
3. See the UUIDs in properties of calendar.
### Expected behaviour

displayNames from LDAP catalog should be displayed .
### Actual behaviour

The UUIDs are displayed.
### Server configuration

I believe

[2016-08-29 15:59] #722 closed, assigned to nobody

[2016-08-29 15:59] georgehrke commented on #722
known issue, please use the search first ;)

[2016-08-29 16:01] stepansantalov commented on #722
I did, but no solution found. Please show me, if if there is one.

[2016-08-29 16:02] georgehrke commented on #722
<img width="1039" alt="search results safari technology preview today at 6 02 32 pm" src="https://cloud.githubusercontent.com/assets/1250540/18058028/c7a9748e-6e12-11e6-8a84-ac7d4bbaf481.png">
😉

[2016-08-29 16:19] stepansantalov commented on #722
I've seen this one. Was thinking i've missed something. Thank you.

[2016-08-30 09:51] georgehrke commented on #716
I'm not even sure if extending the translations via themes is supported.

Is this documented somewhere?

[2016-08-30 09:52] tcitworld commented on #716
Here : https://doc.owncloud.org/server/9.0/developer_manual/core/theming.html

[2016-08-30 10:36] scroom opened #723 "Better readability of calendar entries"
### Steps to reproduce
1. Use the calendar app and use the weekly view
2. Add an entry with a quite long title which lasts some hours
### Expected behaviour

The title of the calendar entry should be visible and if necessary a wordwrap should be used.
### Actual behaviour

Just the part of the title of the calendar entry which fits into one row is visible. Here comes a screenshot to clarify what I

[2016-08-30 16:00] scroom commented on #704
@georgehrke Can I provide more informations to help you to solve this issue?

[2016-08-30 16:53] escoand opened #724 "Disable reminders on shares calendars"
Expected behaviour

It would be nice to have the possibility to en-/disable reminders on shared calendars.
I switched all my calendar data to nextcloud but now my wife is complaining about getting Al's the notification from my calendar. The other way around is also annoying.

Actual behaviour

There is no way to disabled the reminders of shared calendars.

Server configuration

Server version: 9.0

[2016-08-30 21:03] georgehrke commented on #724
dup of https://github.com/owncloud/calendar/issues/635

[2016-08-30 21:03] #724 closed, assigned to nobody

[2016-08-30 21:03] georgehrke commented on #723
- ~~[ ] has to be reported upstream~~

[2016-08-31 10:01] yannlossouarn opened #725 "Page not redirected properly on Calendar 1.3.3"
### Steps to reproduce
1. Use Owncloud with Nginx
2. Upgrade Calendar to 1.3.3
3. Click on the Agenda item in Owncloud main menu
### Expected behaviour

Calendar app should display
### Actual behaviour

After a few seconds, the browser shows an error message telling the page is not properly redirected. Nginx logs show a sequence of 303 Redirect like a  ping-pong:
GET /apps/calendar/
GET /login?red

[2016-08-31 10:06] georgehrke commented on #725
That's either a bug in your nginx conf or in the ownCloud server.
Please report a bug in http://github.com/owncloud/core/issues

[2016-08-31 10:06] #725 closed, assigned to nobody

[2016-08-31 20:25] rapid01 opened #726 "it can not be seen the create/change/edit checkbox"
### Steps to reproduce
1. go to Calendar
2. click share button
3. select: can edit
4. you can`t see  create/change/edit checkbox
### Expected behaviour

![image](https://cloud.githubusercontent.com/assets/21352245/18142350/c4cdcece-6f82-11e6-8332-dc549e1b1b84.png)
### Actual behaviour

I can see the  create/change/edit  checkbox
### Server configuration

CentOS7

**Web server:**
Apache
**Database:

[2016-09-01 07:12] georgehrke commented on #726
these three options were removed in favor of a simple can edit

[2016-09-01 07:12] #726 closed, assigned to nobody

[2016-09-01 07:14] georgehrke commented on #726
The implementation of ownCloud 9 and above relies on the official caldav sharing standard. That standard does not support can create and can delete

[2016-09-01 07:47] #531 closed, assigned to nobody

[2016-09-02 00:20] matlag opened #728 "Easy national holidays calendar subscription"
There is currently no "easy" way to add national holidays for lambda users. One has to find a calendar online and then import it.

It would be nice if that was just the matter of ticking a box to get the local national holidays.
### Expected behaviour

A simple tick box adds or removes the national holidays calendar matching the user's local zone.
### Actual behaviour

Users have to download and m

[2016-09-02 00:56] rapid01 commented on #726
Thanks for your fast answer.

El 9/1/2016 a las 2:14 AM, Georg Ehrke escribió:

[2016-09-02 05:44] MariusBluem commented on #728
Thank you for your report. I think it is a good idea to do this, but it is definitely not an issue over here (the calendar-frontend app) ... It is an issue in the CalDAV Server (which holds the calendars) ... Can I ask you for opening an issue in the core/server?

https://github.com/nextcloud/server
https://github.com/owncloud/core

Thanks! Please research for existing issues there. I am currently

[2016-09-02 09:54] alexara opened #729 "The supplied iCalendar datetime value is incorrect"
### Steps to reproduce
1. Download ics file:

More example calendars can be found here:

1. Remove the txt postfix
2. Import it to an existing calendar of your OC/NC
### Expected behaviour

Import without any issues as Thunderbird Lightning 47.0 does it and display the appointments correctly.
### Actual behaviour

A warning (!)  occurs beside the upload button which says:
"The file contains object

[2016-09-02 14:12] vedranmiletic opened #730 "Month name is shown as "undefined""
### Steps to reproduce
1. Open the Calendar app.
2. Use the Month view.
### Expected behaviour

Month name should be displayed correctly, e.g. "September 2016".
### Actual behaviour

Month name is shown as "undefined 2016".
### Server configuration

**Operating system:**
Fedora 25

**Web server:**
Apache 2.4.23

**Database:**
PostgreSQL 9.5.4

**PHP version:**
7.0.10

**Server version:** (see your

[2016-09-02 14:30] laspic commented on #135
Hello. I'm following this issue with a lot of interest. I'm also annoyed by the lack of available colors, so I'm very impatient to be able to add one with a specific color code.
Meanwhile, may I ask something ? Why here elioqoshi says that "owncloud calendar app currently offers 33 colors to assign to calendars" ? Personally, I can only choose between 9 colors. Have I misunderstood something ?
(OC

[2016-09-03 07:09] tcitworld commented on #135
There's now a random color button. https://github.com/owncloud/calendar/pull/701

[2016-09-03 07:11] tcitworld commented on #730
Is the user's language correctly set to English ?

[2016-09-03 07:37] laspic commented on #135
I've seen that. Nice improvement, even if it doesn't match with my needs (in particularly, I've never managed with it to get a gray and, from what i can see, the "random" always choose a new color in the same pastel palette). So, it's still easier for me to personalize color agenda via PhpMyAdmin.
What about these 33 colors ?

[2016-09-03 08:45] GH16 opened #731 "Owbcloud/Nextcloud and contacts (iOS 5.1.1)"
I have an iPad1 with the last iOS version (5.1.1) installed.

I am not able to add my Owncloud/Nextcloud (https connection) contacts (Contacts 1.3.1.0) with the iOS contact App.

The issue is known for Owncloud and Nextcloud versions.

I know that there could be an workaround (use HTTP instead of HTTPS and use the port 443) but I don't trust the workaround and I want to have a HTTPS connection.

I

[2016-09-03 08:51] georgehrke commented on #731
wrong repo :wink:

[2016-09-03 08:51] #731 closed, assigned to nobody

[2016-09-03 08:52] georgehrke commented on #731
and please use the issue template when reporting this in the contacts repo

[2016-09-03 08:53] georgehrke commented on #731
Actually, this is an issue in the carddav server. Please report it in https://github.com/owncloud/core

[2016-09-03 09:41] #728 closed, assigned to nobody

[2016-09-03 13:40] vedranmiletic commented on #730
No, it's set to Croatian. Names of the days of the week are translated correctly.

Is translation missing? Shouldn't the English string be shown if the translation is missing?

[2016-09-03 13:45] tcitworld commented on #730
It should indeed be shown. Can you change the user's language to see if English (or an other language) works properly ?

[2016-09-03 17:06] vedranmiletic commented on #730
After switching to English, the correct month name is shown.

[2016-09-04 11:32] georgehrke commented on #729
I'm almost certainly sure that it's related to the empty `EXDATE`: `EXDATE;TZID=Europe/Berlin:` ...
I don't think that's valid.

[2016-09-04 11:55] lwinch2006 commented on #719
- Hi. I updated issue description and added config. Hope this helps.
- And I suppose I don't use any asset pipeline feature since have not enabled it in my config as I searched the Google this key `asset-pipeline.enabled` should be in `config.php`.

[2016-09-04 12:00] lwinch2006 commented on #719
- Also I can mention that this Javascript exception is raised each time man double clicks on some date in the Calendar UI (as you can see on the attached picture).

![003](https://cloud.githubusercontent.com/assets/6912915/18230842/0df94616-7297-11e6-80a2-1980e7427456.jpg)

[2016-09-04 12:01] georgehrke commented on #719
have you tried clicking just once?

[2016-09-04 12:04] lwinch2006 commented on #719
- I tried now. Actually this js exception raises on each click and I suppose it is raised twice on double click.

[2016-09-04 12:08] lwinch2006 commented on #719
- Some more info. If I click on events that already exists in Calendar like birthdays so "event info/edit dialog" appears as it should, no exceptions. They happen just when I try to create new event.

[2016-09-04 18:53] cerisara opened #732 "Calendar keeps on "searchin" on android web view"
When accessing the calendar on any android browser, it's never shown, because the browser kees on "looking for" calendars, and seems like it never finds any.
Otherwise, everything works fine on ubuntu, through caldav...

### Steps to reproduce
1. Fresh install of owncloud 9.1 on ubuntu 14 server
2. Create a calendar for user X on the server
3. On Android, login as the same user and browse to the c

[2016-09-04 18:56] tcitworld commented on #732
Can you test through Firefox on android to check if it's a browser issue ?

[2016-09-04 19:00] cerisara commented on #732
I don't know for firefox, but I've tested on a third phoen with android 5.1: in that case, the stock browser did not even connect at all (CSRV error or something, don't remember), but the chrome browser just worked, even for the calendar !

For the record, the two previous tested phones were running android 4.4.2. I'll try on one of these phones to install firefox and test.

Thanks !

[2016-09-04 19:07] georgehrke commented on #732
Right now we only support the latest version of Chrome/Chromium, Firefox and Safari.
The stock android browser is kind of not supported ...
I don't even have an Android device I could use for testing and QA

Android 4.4 doesn't even have support for Promises ...
http://caniuse.com/#search=Promise
Supporting it would be a nightmare :/

[2016-09-04 19:08] tcitworld commented on #732
@georgehrke OP tested on Chrome Android Browser though.

[2016-09-04 19:09] georgehrke commented on #732
He said that chrome worked in his last comment though:

[2016-09-04 19:10] cerisara commented on #732
yes, chrome worked on android 5.1 but not on android 4.2.2

[2016-09-04 19:11] tcitworld commented on #732
Yup, we need the Chrome version on android 4.2.

[2016-09-04 19:12] cerisara commented on #732
on android 4.4, chrome is v 34.0.1847.114

[2016-09-04 19:18] georgehrke commented on #732
Okay, I guess we can try looking into chrome 34 to see what causes the error.
generally speaking I would just recommend to use the DavDroid app in combination with the stock android calendar.
The calendar app has not been optimized for mobile usage yet.

[2016-09-04 19:21] cerisara commented on #732
OK, the caldav sync is fine for me !
Thanks for the nice calendar app !

[2016-09-04 19:32] nhoening commented on #719
I also struggle with this behaviour, but I don't see any error in the console (happens in Chrome and IE for me), in the beginning also in FF but it works there now.
Edit: Sorry, update to 1.3.3 fixed it.

[2016-09-04 19:45] cerisara commented on #732
Finally, I also tried with Firefox on Android 4.2.2, and the calendar app seems to work fine but... that's the general owncloud web view that has issues, e.g., the File pop-down menu does not work, so it's actually very hard to access the calendar. All in all, web access to owncloud looks like very problematic on Android 4.2.2, and I now think it's probably not worth the effort: may be better to t

[2016-09-04 21:38] #732 closed, assigned to nobody

[2016-09-05 10:35] martingabelmann commented on #719
Same issue here for quite a long time in Qutebrowser (i can remember that it worked there for some time but since they are doing a lot of changes in their backend i waited for a request).
Now I also get the TypeError in Firefox 48.0.2 and Chromium 52.0.2743.11 on Archlinux (calendar 1.3.3):

[code]

last time i used windows (~5days) with firefox it worked.

[2016-09-05 10:37] georgehrke commented on #719
Did you install the calendar app from the app store or via the arch package?

[2016-09-05 10:38] georgehrke commented on #719
I'm not able to reproduce this issue and the thing you all have in common is using arch.

[2016-09-05 10:38] georgehrke commented on #719
I'm assuming some issue in the arch package of the calendar

[2016-09-05 10:41] martingabelmann commented on #719
Sorry if i wasnt clear enough: my client is on archlinux.
The server is on Alpine installed with the webinstaller.

edit: calendar app is installed via app store

[2016-09-05 10:51] martingabelmann commented on #719
Also: @lwinch2006 is using debian on the server side and  arch on the client side. So, it seems to be a client thingy?

[2016-09-05 11:00] georgehrke commented on #719
Ah, I think I have a clue.
Can you please open the javascript developer console, type `jstz.determine().name();` and post the output.

[2016-09-05 11:07] martingabelmann commented on #719
output is `Etc/UTC`.

btw. i recognized that the event times have a shift of -2 hours to my system time but the red line in the calendar is sync with my system time.

[2016-09-05 11:09] georgehrke commented on #719
I kind of expected that answer 🙈

Well, if all your events are in Europe/Berlin, that's the correct behavior.
I honestly never get why people set their desktops timezone to UTC 🙊

[2016-09-05 11:42] martingabelmann commented on #719
Argh :sob:
Setting the system time to Europe/Berline fixed it for me :clap:
(btw. UTC is Archs system default and i think also on Ubuntu if you used the alternate installation)

[2016-09-05 11:44] martingabelmann commented on #719
for clearness: it fixed both, the timeshift (of course) and the _create event_ issue

[2016-09-05 11:51] georgehrke commented on #719
Good :)

But anyway, there might be a legitimate use case for using UTC as your systems timezone (on a desktop), so this should definitely be fixed

[2016-09-05 11:54] georgehrke commented on #719
duplicate of https://github.com/owncloud/calendar/issues/666

i know that issue 666 already includes opening the events editor, but it comes down to the same issue.

[2016-09-05 11:54] #719 closed, assigned to nobody

[2016-09-05 11:58] georgehrke commented on #730
@vedranmiletic Does this apply to all month names when the language is set to Croatian or only september?

[2016-09-05 13:54] vedranmiletic commented on #730
All months.

[2016-09-06 10:16] bentalexanderhaase opened #733 "All day event only on working days [Improvement]"
### Expected behaviour

When adding a new "all day event" over a greater timespan (e.g. four weeks) one should be able to select the weekdays in which this even occurs. (e.g. only Monday - Friday // Monday - Saturday etc.). This is especially important when this app is used for business.
### Actual behaviour

All day events are added over the whole time span, no option to specify the days.
### Ser

[2016-09-06 10:18] #733 closed, assigned to nobody

[2016-09-06 10:18] georgehrke commented on #733
closing in favor of https://github.com/owncloud/calendar/issues/223

[2016-09-06 19:41] georgehrke commented on #718
reported upstream: https://github.com/evert/davclient.js/issues/23

[2016-09-06 19:58] georgehrke commented on #723
<img width="744" alt="fullcalendar - javascript event calendar jquery plugin safari technology preview today at 9 56 57 pm" src="https://cloud.githubusercontent.com/assets/1250540/18288717/e3e73256-747c-11e6-9dcf-93fee19d5015.png">

Apparently this issue is not reproducible on the latest full calendar version.
Either we are overwriting some CSS rule or this has been fixed with fullcalendar 3.
We a

[2016-09-06 21:30] georgehrke commented on #85
Fullcalendar 3 implements a new list view. :)
https://fullcalendar.io/blog/2016/09/feature-packed-releases/

So the list view will probably be part of Calendar 1.4

[2016-09-06 22:08] georgehrke commented on #723
<img width="169" alt="calendar - nextcloud chromium today at 12 07 27 am" src="https://cloud.githubusercontent.com/assets/1250540/18292752/25de5ee8-748f-11e6-8d4f-82307a81d11c.png">
It has nothing to do with fullcalendar 3, it's related to the `white-space:no-wrap` in core's style.css

[2016-09-07 09:25] georgehrke opened #735 "get a better makefile"
https://github.com/owncloud/contacts/blob/master/Makefile

[2016-09-08 08:01] scriptPilot commented on #223
Hey, what is the current situation to this topic?

To set "until" dates (#484) my workflow so far is:

1) Export ownCloud Calendar
2) Import in Google Calendar
3) Apply changes
4) Export Google Calendar
5) Delete ownCloud Calendar
6) Import Google Calendar to ownCloud

[2016-09-12 18:21] georgehrke commented on #642
fixed with https://github.com/owncloud/calendar/pull/687

[2016-09-12 18:21] #642 closed, assigned to nobody

[2016-09-13 10:15] georgehrke commented on #85
The current list view in fullcalendar seems to be a bit buggy. Some days are not summarized correctly, it's not chronological and it doesn't have continuous scrolling. :/

[2016-09-13 10:16] tcitworld commented on #85
In FullCalendar or in this app with the new fullcalendar version ?

[2016-09-13 10:18] georgehrke commented on #85
With the new fullcalendar version in the calendar app.
I added the listMonth view to the button area and observed the issues mentioned above
https://fullcalendar.io/docs/list_view/intro/

[2016-09-13 13:43] scroom commented on #705
Sorry for responding so late. I've changed the log level to debug and opened the webdav-url and navigated into the calendar app. Here comes the log:

[code]

[2016-09-13 13:47] scroom commented on #704
Seems to be resolved by the last release.

[2016-09-13 13:48] georgehrke commented on #704
okay

[2016-09-13 13:48] #704 closed, assigned to nobody

[2016-09-13 16:00] #723 closed, assigned to nobody

[2016-09-13 16:08] georgehrke commented on #730
Reproducible.
For the record: the language is called "hrvatski"

[2016-09-13 17:05] georgehrke commented on #730
I deem this an issue in moment.js
Reported upstream: https://github.com/moment/moment/issues/3434

[2016-09-14 11:19] georgehrke commented on #730
This is an issue in Nextcloud. The used version of moment.js needs to be updated.
I will take care. :)

[2016-09-14 11:19] #730 closed, assigned to nobody

[2016-09-14 11:25] georgehrke commented on #730
I created a pull request in the nextcloud server to fix this issue: https://github.com/nextcloud/server/pull/1405

[2016-09-14 12:36] #735 closed, assigned to nobody

[2016-09-14 12:53] vedranmiletic commented on #730
Thanks!

[2016-09-14 21:32] georgehrke commented on #716
Hm, I have really no clue.
Anyway, I don't think this is an issue in the calendar.
Can you please reopen in core? :)

[2016-09-14 21:32] #716 closed, assigned to nobody

[2016-09-14 21:35] georgehrke commented on #715
The birthday calendar is generated by the server.
Please raise the issue in the core repo.

[2016-09-14 21:35] #715 closed, assigned to nobody

[2016-09-14 21:44] georgehrke opened #742 "add web-based protocol handlers for webcal"

[2016-09-14 21:44] georgehrke opened #743 "Update webcal url stored in caldav when it is a 301"

[2016-09-15 03:56] pork94 opened #744 "Calendar Default Timezone Selection"
### Steps to reproduce
1. Create a new event by clicking a date on the calendar.
2. Click the Timezone selection button.
### Expected behaviour

Default selection should be Singapore.
### Actual behaviour

Default selection is Shanghai.
### Server configuration

**Operating system**:
Ubuntu 16.04
**Web server:**
Apache2
**Database:**
MySQL
**PHP version:**
7.0.8
**Server version:** (see your admin

[2016-09-15 13:46] georgehrke commented on #132
implemented in https://github.com/owncloud/calendar/pull/694

[2016-09-15 13:46] #132 closed, assigned to nobody

[2016-09-15 14:43] jancborchardt commented on #223
@scriptPilot as said above, @georgehrke and I will chat about this at the [Nextcloud conference](https://conf.nextcloud.com). :)

[2016-09-15 17:04] georgehrke commented on #744
What timezone does this website show?
http://pellepim.bitbucket.org/jstz/

[2016-09-16 05:23] pork94 commented on #744
On my client, it shows Asia/Shanghai. But i have another client that shows Asia/Singapore. But the calendar still shows the same Shanghai as default

[2016-09-16 07:36] steckerhalter commented on #395
@raghunayyar Seems like the overflow is hidden and there is no scrollbar in Calendar v1.3.3:

![](https://cloud.githubusercontent.com/assets/3024024/18578494/8d43d136-7bf0-11e6-9d09-415774ea493f.png)

So calendars below are not visible at all.

[2016-09-16 07:58] #395 closed, assigned to raghunayyar

[2016-09-16 07:59] georgehrke commented on #395
The sidebar is referring to the advanced events editor.
Please report a dedicated issue

[2016-09-16 08:17] steckerhalter opened #747 "Some calendars not visible in the app-navigation with many calendars"
This is with Calendar v1.3.3 and has been tested on various browsers:

![](https://cloud.githubusercontent.com/assets/3024024/18578494/8d43d136-7bf0-11e6-9d09-415774ea493f.png)

So calendars below are not visible at all and there is no way to scroll down.

[2016-09-16 11:30] steckerhalter opened #748 "Feature request: ability to hide calendars"
Currently calendars are fixed in order and we are dealing with many shared calendars which makes the handling a bit awkward. So I have these feature requests:
- Ability to hide individual calendars from the app-navigation

I also find it a bit confusing that read-only calendars are listed under "Subscriptions" and once they are read-write they move to the top list. Maybe this could be solved via s

[2016-09-16 11:49] phsc84 commented on #748
Rearrange calendars is already addressed in #133.

[2016-09-16 11:51] georgehrke commented on #748
and you can already hide calendars. just click them.

[2016-09-16 11:51] #748 closed, assigned to nobody

[2016-09-16 11:52] steckerhalter commented on #748
@georgehrke That's not what I meant though. i meant hiding them from the app-navigation, not from the calendar view.

[2016-09-16 11:53] steckerhalter commented on #748
@phsc thanks, I changed the title/description

[2016-09-16 11:54] georgehrke commented on #748
Why would you want to hide them from the calendar list? If you want to unshare them you can simply delete them.

[2016-09-16 14:58] steckerhalter commented on #748
@georgehrke We are working with groups. So our people share their calendars with our group so we can all see them. Some of these calendars I will possibly not need for quite some time but I don't want to unshare them as well since then the person that shared it would have to share it again (and that maybe for many people over and over which is not practical).

Thinking about it again, the feature

[2016-09-19 13:39] funkytraffic opened #749 "Deleting the whole Calendar"
The actual implementation of the Calendar app has only a "can edit" option.

By this the shared calendar can be completly deleted by users who have this permission.

It is a very common use case to share a calendar where many (100+) users should be allowed to add, edit or delete calendar items, but should not be able to delete the calendar as a whole.

The actual configuration is not suitable for

[2016-09-20 08:45] grafenhofer opened #750 "webcal: support authentication"
Allow subscribing to calendars with username/password protection.

[2016-09-20 08:50] menerond opened #751 "Subscribed ical-feed is not synced to other devices"
### Steps to reproduce
1. Subscribe to ical-feed
2. Verify new calendar entries are shown in web interface (which they are).
3. Sync Clients via webdav
### Expected behaviour

Via ical-feed imported calendar entries are also synced to other clients and are listed with other calendars to sync.
### Actual behaviour

Via ical-feed imported calendar entries are not synced to other clients (KOrganizer

[2016-09-20 08:51] tcitworld commented on #751
If it's supposed to work, that's more a server issue.

[2016-09-20 08:56] tcitworld commented on #749
When an user with whom a calendar has been shared deletes the calendar, it only deletes the share, the original owner of the calendar keeps it.

[2016-09-20 11:34] funkytraffic commented on #749
Thanks for quick response.

The described behaviour was tested on 1.3.3, but on 1.4 the behaviour is as you described.

Though it is an undesired effect, if I share a calendar with a group and somebody unshares it, this action cannot be undone.

[2016-09-22 08:09] scroom commented on #705
@georgehrke @DeepDiver1975 Could you maybe have a look on this again? As well an update to the last calendar (1.4) didn't solve the issue.

[2016-09-22 08:48] Pazu commented on #132
Pardon me, but is there a separate issue open for exposing these subscribed calendars via CalDAV?

[2016-09-22 08:49] tcitworld commented on #132
That would be a core issue.

[2016-09-22 09:05] robin13 opened #752 "Multiple entries in the "Contact Birthdays" calendar"
### Steps to reproduce
1. Using Contacts 1.4.0.0 and Calendar 1.4.0
2. Add contacts, delete contacts, add (same) contacts again
3. For every time added there is an entry in the Contacts Birthdays calendar
### Expected behaviour

When a contact is deleted, its entry in the Contacts Birthdays calendar should be removed.
### Actual behaviour

Every time a contact is added, an additional birthday is a

[2016-09-23 07:32] grafenhofer commented on #132
@Pazu @tcitworld I have filed respective bugreports for owncloud and nextcloud (see references above).

[2016-09-23 08:24] robin13 commented on #752
Some more info: it seems when you delete an individual contact, the entry gets removed from the calendar, but if you delete a whole addressbook the entries are not removed.  I was in the process of deleting / importing full address books.

[2016-09-23 08:28] tcitworld commented on #752
Thanks for reporting. This is a server issue, can you report it to the core repo ?

[2016-09-23 09:28] ghost commented on #751
Ref: https://github.com/owncloud/core/issues/26193

[2016-09-23 09:38] robin13 commented on #752
Closing because core bug - reported here: https://github.com/owncloud/core/issues/26197

[2016-09-23 09:38] #752 closed, assigned to nobody

[2016-09-27 16:20] Ascendor commented on #483
Any chance of this getting fixed?

[2016-09-29 04:40] steckerhalter commented on #747
@raghunayyar I have seen that there is a `calendar` repo on the nextcloud account. Should this issue get migrated or be left here?

[2016-10-01 21:02] jflamman opened #754 "Feature request: extend night time hours for music industry"
An issue that many DJs, artist, booking agencies, venues encounter when syncing agendas with online calendars is that, for a DJ/Artist a gig on Saturday from 01:00 - 03:00 is in fact Sunday morning in calendar lingo.

When you have multiple gigs in one night, our customized agenda would show (example):

Saturday _(some date)_
21:00 - 23:00 first gig
01:00 - 03:00 second gig

In calendars above exa

[2016-10-04 14:11] scroom opened #755 "Can't delete single date in repeated calendar entry"
### Steps to reproduce
1. Delete a single date in repeated calendar entry
### Expected behaviour

I should be asked whether I want to delete this single event or all the repeated calendar entries.
### Actual behaviour

All repeated calendar entries get deleted.
### Server configuration

**Operating system**: Ubuntu 14.04

**Web server:** Apache

**Database:** mySQL

**PHP version:** PHP 5.5.9-1ubu

[2016-10-05 08:51] PartisanEntity opened #756 "Feature Request: Week view that starts on Monday"
Current condition:

Open the calendar and you will see that weeks start on a Sunday.

Expected behavior:

Please can we have a week view that starts on a Monday?

OwnCloud version: 9.1.0

[2016-10-05 10:06] tcitworld commented on #756
This depends on your language.

[2016-10-05 11:45] PartisanEntity commented on #756
There should be a global option to allow the user to set it as they wish, I believe this used to be in at least version 7.0 of OC.

[2016-10-05 20:48] Gruenbaer opened #757 "Long event titles not readable"
### Steps to reproduce
1. Create an event with a long title
### Expected behaviour

On hover or mouse over a popup info box should appear where I can see all the relevant information.
### Actual behaviour

Nothing happens on hover.
The title is cut off and cannot be read completely.
Even when opening the event, the title can not be read completely.
You can only read the whole event title by clicki

[2016-10-07 14:07] #629 closed

[2016-10-08 14:24] scroom commented on #705
Imported the addressbook to a test instance of Nextcloud where the contacts calendar works perfectly. In owncloud we still can't use the contacts calendar.

[2016-10-10 17:22] piggz commented on #751
I'd personally find this very useful, as I can export a calendar from outlook as an ical file, and subscribe to it in own/nextcloud, I just need the final step of having it accessible via caldav to get the original calendar on my mobile client (sailfish)

[2016-10-15 09:06] d-tamm commented on #135
For me, the random button just goes through the preselected standard colors, it does not add more colors. I think the 33 colors refer to an earlier version of owncloud. In the current version 9.0.5, I get 8 (not 9) colors in the color picker. Btw, great workaround to go in via phpMyAdmin and adjust colors there :)

[2016-10-23 17:14] kiv57 commented on #466
I have the same issue : with an ics file generated from ownCloud web UI, every DTEND properties are written for example :
`DTEND;VALUE=:20131119T110000Z`
Whereas a right syntax should be :
`DTEND:20131119T110000Z`

If I replace every instance in the file according to this rule, I can import the calendar file in thunderbird without error. But of course I would appreciate to have working backups of

[2016-10-27 18:22] omnitec opened #760 "Is Agenda/List view on the horizon at all?"
### Steps to reproduce

1.
2.
3.
### Expected behaviour

An option for calendar interaction other than Day/WeekMonth.
### Actual behaviour

Missing.
### Server configuration

**Operating system**:

**Web server:**

**Database:**

**PHP version:**

**Server version:** (see your admin page)

**Calendar version:** (see the apps page)

**Updated from an older installed version or fresh install:**

**S

[2016-10-27 19:00] tcitworld commented on #760
Yes, with FullCalendar 3.

[2016-10-27 19:00] #760 closed, assigned to nobody

[2016-10-31 15:53] thigg opened #761 "Add 2-week reoccurence cycle"
It should be possible to create an event which reoccurs every 2 weeks.

[2016-10-31 15:55] thigg opened #762 "Add ability do add default reminders and to change the predefined reminders"
When creating a reminder only very intervals before the event are shown.
When reuglarly needing a reminder a day before, the gui is very clumsy.

[2016-11-02 09:57] #119 closed, assigned to nobody

[2016-11-03 14:06] Pazu commented on #751
This actually appears already to work but only via some clients.

On my Android 4.0.4 device which uses CalDAV-Sync v0.4.27, subscribed calendars _are_ offered via CalDAV from my ownCloud 9.0.5 installation.

On my Mac OS X 10.11 machine running Apple's Calendar v8.0 (2092.3), however, subscribed calendars _are not_ offered via CalDAV.

[2016-11-04 22:50] piggz commented on #751
So, can we get a clear steer as to whether or not this is a client or server issue?  If they are exported, then they must be exported _differently_ ? Can they be made the same so as not to require client changes?

[2016-11-04 23:14] tcitworld commented on #751
Depends if we want to stick to the CalDAV standard : do we want to expose subscriptions as calendars ?

[2016-11-04 23:18] piggz commented on #751
well, i'd like to have read-only access to a subscription if possible.  Still doesnt answer the different client problems though

[2016-11-05 12:49] Pazu commented on #751
I just tested emClient 7, and that also does not get the subscribed calendar. Thus far, then, only CalDAV-Sync does this somehow.

[2016-11-05 12:51] tcitworld commented on #751
This is an issue that you need to bring on the clients that you use.

[2016-11-06 20:25] menerond commented on #751
I just found this [https://github.com/nextcloud/calendar/issues/63](url) and I am assuming that owncloud and nextcloud are still not that far apart regarding the actual code:
1. Clients that are sticking to the caldav standard don't see the subscribed calenders, as stated in the thread linked above, it is an extension to the caldav standard by apple
2. It would need major changes to the owncloud c

[2016-11-07 09:01] schachtnerth-zz opened #763 ""Import Scheduled" shown when importing to a new calendar and a calendar with the same name is already existing or there is no calendar name given in the ICS"
### Steps to reproduce 1
1. Get an ICS file of a calendar (including a calendar name)
2. Import that into OC Calendar and choose to create a new calendar
3. Import that file into OC Calendar again and choose to create a new calendar, again.

### Expected behaviour 1
Either, a new calendar (basically a copy of the previously created one) should be created with some unique name, different to the one

[2016-11-09 11:50] Pazu opened #765 "No default calendar for new ownCloud 9.1.1 user"
If I create a new user on ownCloud 9.1.1, then enable the Contacts app for that user, the user appears to have no default contacts list; at least, none is visible under settings, and trying to access it by CardDAV via 'https://example.com/remote.php/dav/addressbooks/users/foo/default/' fails.

Is that expected behavior, or a bug? Should the user then create a contacts list named 'default' or is th

[2016-11-09 15:50] Pazu commented on #765
I did a little more experimenting, and observed the following.
1. If I create a user, normally a contacts list called "Contacts" is created for the user, and is available via CalDAV as "https://example.com/remote.php/dav/addressbooks/users/foo/contacts/".
2. If I create a user who can see a shared contacts list (for example, at time of account creation is added to a group with which a calendar was

[2016-11-10 15:15] DeepDiver1975 commented on #765
this should all go into the contacts repo - anyway - looks like a core issue to me

[2016-11-11 15:24] Mannshoch opened #767 "[Feature Request] Table view with basic Excel like controls"
![excel](https://cloud.githubusercontent.com/assets/7795891/20219785/40633606-a82b-11e6-8a65-23c4ffdc1588.png)

[2016-11-16 11:56] darknight7 commented on #423
I've been solicited by users to find a solution as it is very important that some events show their creator, for organization, accounting, etc.
Is this property even stored in the database? I coulnd't find a way to trace back an event to its creator looking at the tables, but I may be wrong as owncloud may store its data in a way that is not immediately recognizable. Is it possible to retreive it

[2016-11-17 11:14] under-score opened #768 "breaks sync"
### Steps to reproduce

1. Fresh install of nextcloud 10.0 + calendar 1.4.0
2. Export all *.ics from owncloud 8.2.4 / calendar 0.8.2 using web-frontend
3. re-import all *.ics using web-frontend
4. looks perfect at web-frontend

### Expected behaviour
should sync calendars with client

### Actual behaviour
one calendar is breaking the sync process
removing it cures the problem
no issue with earlier

[2016-11-18 09:02] DeepDiver1975 commented on #768
Issue to be fixed in core

[2016-11-24 13:36] jknockaert opened #769 "Invalid certificate"
When updating to 1.4.1 I get an invalid certificate warning. The integrity scan says:

[code]

[2016-11-24 15:01] ghost commented on #769
@jknockaert This is an issue of the nextcloud calendar app reported here: https://github.com/nextcloud/calendar/issues/196

[2016-11-24 15:02] jknockaert commented on #769
Nop, am not using Nextcloud nowhere.

[2016-11-24 15:05] ghost commented on #769
You're still using the nextcloud app here. The previous maintainer of https://github.com/owncloud/calendar just have published the app from https://github.com/nextcloud/calendar to ownCloud users. This will change again in the next time as discussed here: https://github.com/owncloud/calendar/pull/759#issuecomment-258811198

[2016-11-24 15:07] jknockaert commented on #769
OK, pls stop this BS. I'll simply close this one.

[2016-11-24 15:07] #769 closed, assigned to nobody

[2016-11-24 15:17] DeepDiver1975 commented on #769
Do I understand correctly that the used certificate is causing issues for all owncloud instances?

[2016-11-24 15:20] ghost commented on #769
@DeepDiver1975 Yes, see also e.g. the comments on https://apps.owncloud.com/content/show.php/Calendar?content=168707

[2016-11-24 15:33] georgehrke commented on #769
@RealRancor I tried to fix the cert issue.
Can you validate that calendar2.tar.gz works?

https://github.com/nextcloud/calendar/releases/tag/v1.4.1

[2016-11-24 15:34] ghost commented on #769
@georgehrke Just commented a few seconds in https://github.com/nextcloud/calendar/issues/196#issuecomment-262801971

Works now as expected, thanks for the quick fix.

[2016-11-24 15:36] georgehrke commented on #769
Can ownCloud handle the name `<appname>2.tar.gz` or will that cause issues itself?

[2016-11-24 15:37] DeepDiver1975 commented on #769
As far as I can tell this should work ...... let's test ...

[2016-11-24 15:37] ghost commented on #769
From my experience the download name doesn't  matter, just the app name in the archive which needs to match the appid.

[2016-11-24 15:37] georgehrke commented on #769
Okay, I will link apps.owncloud.com to the `calendar2.tar.gz`

[2016-11-24 15:39] georgehrke commented on #769
Someone of you has to change the links, apparently I can't edit the calendar app anymore ...

[2016-11-24 15:39] DeepDiver1975 commented on #769
let me have a look ...

[2016-11-24 15:41] georgehrke commented on #769
9.1 is fixed, 9.0 still points to calendar.tar.gz

[2016-11-24 15:42] DeepDiver1975 commented on #769
fixed as well

[2016-11-24 15:49] DeepDiver1975 commented on #769
@jknockaert @RealRancor can you verify that this has been solved for you?

@georgehrke thanks a lot for the fix and the fast response :heart:

[2016-11-24 15:53] cdamken commented on #769
@DeepDiver1975 I updated the app, and the developers are not shown:
Calendar 1.4.1
by [object Object],[object Object],[object Object] (AGPL-licensed)

I'm using version 9.1.2

[2016-11-24 15:55] DeepDiver1975 commented on #769
Something we need to have a look at within our app management page to properly behave on multiple author tags in info.xml

[2016-11-24 16:01] cdamken commented on #769
Thanks

[2016-11-26 13:40] cyphar opened #770 "add multi-day per-week repetition"
Currently, Calendar only supports having quite simple repetitions. You can repeat an event every X days, weeks, months or years. However, you can't do what Google Calendar does, which is to repeat an event on certain days every X weeks (for example, every second monday and tuesday). You can have events that occur every second week, but not every second week **on multiple days**.

This is quite imp

[2016-11-27 00:32] targezed opened #771 "Calendar not showing at all [datepickerFilter]"
Just did a "bulk" owncloud upgrade and ended with calendar not showing.
Datepicker is working fine for example in contacts.
Nothing in the webserver logs
No access to the database logged by postgres
Nothing in the JS console to help either
Trying to create a calendar also fails.
However sync seems fine with Android CallDav Sync, so looks like a JS problem...

### Steps to reproduce
1. Upgrade 8.2.

[2016-11-30 10:15] parszab commented on #771
Same issue for me, new install, 9.1.2 - added a new calendar, removed "contact birthdays", don't remember doing anything else -> bamm...

[2016-11-30 14:49] HansRoberto commented on #771
I am also having this problem. Just did the update and it stoped working.

[2016-11-30 15:28] pietervk commented on #771
I also had this exact problem after upgrading to 9.1.2.
Don't know if it has something to do with it but the calendar worked again after disabling my AdBlock.

[2016-12-01 08:04] alpha197 commented on #771
Same problem here after upgrading to Owncloud 9.1.2 with newest Calendar and after migration to latest Nextcloud. AdBlock is not installed here.

Same problem is described here: https://github.com/nextcloud/calendar/issues/205
The workaround (re-enabling the sharing option inside Admin) didn´t help on my installation.

[2016-12-02 23:00] protist commented on #135
There used to be a workaround a few versions ago. Users could edit `/var/www/owncloud/apps/calendar/lib/calendar.php` manually, but this file seems to have disappeared. Does anyone know where this file is now? I still have leftover custom colours, but I can't find them anywhere.

[2016-12-04 17:17] landryb commented on #771
re-enabling the sharing app fixed the same issue for me.

[2016-12-09 10:14] scroom commented on #705
The bug is still present in OC 9.1. Can I do something to help you to solve the issue?

[2016-12-10 11:32] flolerchi opened #773 "synchronisation of my shared calendar and tasks not functional any more"
I have recognized, that the synchronisation of my shared calendar and my shared tasks over my android devices are not working anymore. My own parts of my shared calendar and tasks are synchronized, but not the updates of the user I have shared with.

Could someone support me on this?

### Steps to reproduce
1. Android calendar and task sync from calendar of the owners mobil device is functional
2.

[2016-12-10 12:13] ghost commented on #773
@flolerchi This is still the wrong place. Please use https://central.owncloud.org/ as advised for getting support with such broken environments.

[2016-12-10 13:09] flolerchi commented on #773
https://central.owncloud.org/t/synchronisation-of-my-shared-calendar-and-tasks-not-functional-any-more/4470?u=flolerchi

[2016-12-10 13:09] #773 closed, assigned to nobody

[2016-12-11 17:00] EtlamGit commented on #135
You have to put them to `./apps/calendar/js/public/app.js` somewhere around line 5875.
About half a year ago it was also possible to do this via a theme. But it seems to be not supported anymore.

Also here the random button just jumps randomly in these 8 colors. So quite useless in my point of view.

Defining more colors like in PullRequest #60 was not accepted, so it would be very nice to have s

[2016-12-12 09:53] protist commented on #135
Thanks @EtlamGit. I found the line, and modified it as below
[code]
However, after restarting `apache2`, and even restarting for good measure, the colour picker looked the same as before.

I also agree that a arbitrary colour picker would be very useful.

[2016-12-12 15:31] EtlamGit commented on #135
I always fall into that trap also... This is caused by the fact, that scripts (*.js) and style (*.css) are cached in your browser, but the content (*.html, *.php) not. Just press **CTRL-F5** to force a complete reload.
Restarting apache is not necessary. You could also change this code while being logged into your cloud.

[2016-12-12 20:21] protist commented on #135
In the past I've held Shift and clicked the refresh button. However, I tried both of these, and the colour picker still didn't change. Searching the [web](https://support.mozilla.org/en-US/questions/1103414#answer-828770) suggested that both of these should do the same thing.

[2016-12-17 11:21] EtlamGit commented on #135
Yes, you are right. My solution is working only with the 9.**0**.x branch. The latest 9.**1**.x branch is using HSL defined default colors. So you have to do a two-step to get 'your' colors:
 * a little above the line I mentioned earlier is the declaration `var hashValues [...]`. Remove all colors there (and revert your previous changes 6 lines below also.)
 * insert your colors near line 5743 whe

[2016-12-29 20:27] sushidave opened #774 "Missing author names on apps overview"
Just upgraded to version 1.4.1 and the author's names are missing in the apps overview. Instead, it shows this:

Calendar 1.4.1
von [object Object],[object Object],[object Object] (AGPL-lizensiert)

### Steps to reproduce
1. Open the apps page -> activated apps are listed
2. Klick the upgrade button of the calendar app and wait until finished
3. Read what it says beneath the calendar app title.

#

[2016-12-29 22:28] mat-man opened #775 "Missing starting event on weird recurrences"
To whomever it may concern:

While testing an ics-parser with all kinds of recurrences I noticed that for certain cases of weird recurrences the calendar-application will ommit the setted starting event:

=====================================

BEGIN:VEVENT
CREATED:20161229T202620Z
LAST-MODIFIED:20161229T202648Z
DTSTAMP:20161229T202648Z
UID:d3b9fe8a-3674-46aa-ad1a-008f913d0fdb
SUMMARY:Wiederholunge

[2017-01-03 11:17] HalisCz commented on #600
Is there any estimation when this will be ready?

[2017-01-04 10:32] protist commented on #135
@EtlamGit Apologies for the delay in replying. Hope you had a good holiday too! 😁 Thank you very much for your response; it works perfectly for me. Cheers.

[2017-01-06 14:30] JackTyson commented on #771
By enabling the 'Allow apps to access the share API' option from the admin page, the date selector started working again for me too.

[2017-01-09 10:54] IwishIcanFLighT commented on #771
I'm still having this issue. Enabling the 'Allow apps to access the share API' option from the admin page didn't work.

[2017-01-09 15:48] Delor3an91 commented on #755
Hi,

A single event in a repeated calendar entry may be deleted in iOS native calendar app and it works great. Why such a function can't be implemented in Owncloud calendar app ?

Same problem if I want to modify a repeated event from attempt to confirmed, it will modify all the occurences...

Best Regards

[2017-01-11 18:40] raretrack commented on #755
I would also support this enhancement to the calendar. It is the one thing that is preventing me from migrating from Gmail's Calendar to ownCloud.

[2017-01-11 20:47] linuxpete opened #776 "Updates on events in calender will not be sent to invitees"
### Steps to reproduce
1. Make an event and add attendees
2. Owncloud sends e-mail to attendees
3. Change same event and press "accept"
4 Owncloud does not send e-mail to attendees

### Expected behaviour
When changes to event are being made attendees receive an update

### Actual behaviour
No update is being send
### Serve
r configuration
**Operating system**:
Raspbian

**Web server:**
Nginx

**D

[2017-01-17 10:52] STonEDSTonE opened #777 "Default calendar loading indefinitly after upgrade to NC 11"
### Steps to reproduce
1. upgrade to NC11
2. open calendar app

### Expected behaviour
default calendar should show up

### Actual behaviour
the wheel next to the default calendar on the left spins indefinitly, none of the actual entrys show up.
If i try to download the default calendar, it shows
Internal Server Error
Technische Details
    Remote-Adresse: IP Adress
    Anfrage-ID: iAvWmGSJj83KNEE

[2017-01-17 10:54] #777 closed, assigned to nobody

[2017-01-17 10:54] STonEDSTonE commented on #777
Wrong github, needs to go on nextcloud, sorry

[2017-01-18 00:25] benyanke opened #778 "ICAL Output?"
I know I can use an ICAL feed as an input for the calendar, but I can't find anywhere to output a calendar as an ICAL link.

Is this possible? If not, that's a major loss for someone who wants to share a single calendar without logins to a large group of people.

I'd propose adding it.

[2017-01-18 09:27] tcitworld commented on #778
You can get the iCal link (also named WebCal) if the calendar is publicly shared on it's public page (the public calendar sharing feature is coming in ownCloud 9.2).
Otherwise, you can get the link url from the calendar item menu and then add `?export` at the end. You'll need to go through http auth before : something like `https://user:password@mylink?export`

[2017-01-18 09:37] josbuero opened #779 "No Cal Invitations since update 9.1.2 stable"
![bildschirmfoto 2017-01-18 um 10 32 28](https://cloud.githubusercontent.com/assets/16100381/22058726/4b60808a-dd6a-11e6-925b-d8d7eec8f0e6.png)
Hello, since yesterday we were able to invite people via e-mail to our appointments out of thunderbird/lightning. It didn't mattereven if they were using ical/outlook/thunderbird/android etc.

yesterday we did the serverupdate of owncloud to version 9.1.2

[2017-01-18 18:15] benyanke commented on #778
Is there any way a direct ical link (no auth, other than perhaps a unique URL) and no forced download could be added? At this point, google calendar still won't accept the link you provided...
Something like this would be most useful.

Perhaps down the road, but I'd like to propose this as a feature request.

[2017-01-19 09:42] tcitworld commented on #778
As I said, the public calendar feature will allow to do that, but it will come only with ownCloud 9.2.

[2017-01-20 12:19] lfontaine35 opened #780 "oC 9.1. - Thunderbird lightning 4.7.4 - bad notification and multiple event with local participant"
Hi,
sorry for my poor english

### Steps to reproduce
I've the following configuration:
owncloud's server has a configuration to send mail, and possed this mail: ocserver@company.com

Users, mail.
toto, toto@company.com
titi, titi@company.com
tata, tata@company.com

each user share his calendar with others, and has the 3 webdav calendar's in his thunderbird.

1- toto create event with titi and tat

[2017-01-26 08:45] lfontaine35 commented on #780
Hi,
can you think anyone can look for my problem?

[2017-01-26 12:07] DarkSteve commented on #780
Sorry you haven't had a reply, but I'm not sure I understand your setup.

My system doesn't appear to be as complex as yours, but I've never had that error. What apps do you have installed? It's possible one of your apps are causing the issue.

[2017-01-26 13:27] lfontaine35 commented on #780
The problem is that since vers 9.1, owncloud create the event for internal users without they need to perform an action.
The good comportement was before, when users receive notification and choice to add or not the event on their calendar

The event is not created for the participant if his mail is not specified on his profile... But if we delete the mail information, the users don't receive the

[2017-01-27 13:12] 466 opened #781 "restore calendar (mysql - sqlite)"
Using mysql database for owncloud, where does this app save the contacts to?

I had to reinstall everything from scratch, choosing sqlite3 over mysql results in quite an empty calendar .... .
As i do have my database directory (/var/lib/mysql) from my previous installation, is there an easy way, getting my calendar back?

[2017-01-27 14:59] DeepDiver1975 commented on #781
same as in https://github.com/owncloud/contacts/issues/571 - but in the table oc_calendar_objects

[2017-01-27 14:59] #781 closed, assigned to nobody

[2017-02-03 10:06] heidlma commented on #771
Enabling the Share-API brought the calendar back to live. Thanks for the hint.

[2017-02-04 14:48] rschmidm commented on #120
Yes, the easiest should be to simply support event categories in the Owncloud web frontend / calendar app. The database already supports it, as I just found out:
I created an event in Outlook, assigned a category "Testproject" to it, then synced to Owncloud using cfos OutlookDAV. When I downloaded the ICS file from Owncloud, it had the Category "Testproject" in, see below. Syncing to another PC wi

[2017-02-14 22:23] cdaecke commented on #774
I can confirm the exact same behaviour with ownCloud 9.1.3 (stable).

[2017-02-15 20:47] staehler commented on #50
Hi,
is there any progress on this issue? My outlook calendar is full of recurring events, with exeptions (moved or deleted events). A synchronisation with my owncloud calendar results in duplicated events (because the moved outlook event is created new) or a deleted outlook event stays in owncloud.
I hope this issue would fix that.

[2017-02-16 17:22] ghost commented on #771
@IwishIcanFLighT
The plugin named "Share Files" also needs to be enabled, along with the mentioned option.

[2017-02-18 20:03] staehler commented on #223
Hi,
not sure if you talk about the same problem, I have. I synchronize my outlook calendar (Outlook CalDav Synchronizer) with owncloud 9.1.3 and my recurring events mess up in owncloud. Deleted items in outlook remain in owncloud and moved events in outlook duplicate the entries in owncloud (the old event remains and a new one is created).
When I check the recurrency rule on such an event I get th

[2017-02-21 05:26] strugee commented on #223
@staehler not sure, but it's not a bug in this repo. The underlying CalDAV support is in oC/NC core.

[2017-02-22 15:45] brianjmurrell commented on #751
I have CalDAV Sync Adapter 1.8.1 on Android and it is not seeing subscribed calendars.

Neither is Evolution.

[2017-02-27 14:45] Quantentunnel commented on #771
@gregnau
Thank you! That was the solution! My installation did also an update of "Share Files".

[2017-03-10 11:44] dennishilla opened #782 "Calendar not showing events in monthly view (OC 9.1)"
### Steps to reproduce
1. Owncloud 9.1.4 with calendars migrated from OC 7.0
2. Calendar 1.4.1
3. Create Event in (shared) calendar and save. Isn't showing in monthly view.

### Expected behaviour
The newly created event should be visible as soon as it was created in the owncloud-calendar.

### Actual behaviour
After creation and clicking "safe", the event seems to be gone. When the Calendar-App i

[2017-03-16 04:13] landmine opened #783 "Unable to create new event on Android phones"
### Steps to reproduce
1.  Open Calendar on Android phone
2.  On Month, Week or Day view, tap any open area.

### Expected behaviour
New event editor modal should open.

### Actual behaviour
Nothing.

Event editor opens correctly when an existing event is tapped, but there appears to be no way to create a new event on an Android phone (tested on LG G3 and Moto X Pure)

### Server configuration
**O

[2017-03-16 13:53] landmine commented on #783
I tested on an iPod Touch running iOS 10, and got the same results: tapping an open time slot fails to open a new event interface.  Thank you!

[2017-03-18 09:11] tflidd commented on #771
Nextcloud has a fix for that: https://github.com/nextcloud/calendar/pull/215

Someone wants to try and backport it?

[2017-03-18 10:16] ghost commented on #779
@josbuero The issue template you had filled out currently shows:

https://github.com/owncloud/core/issues

The calendar app here is just a CalDAV client like Thunderbird and similar tools. Issues like this belongs to the core repo like explained above.

Not quite sure but it might be possible that this is also a duplicate of: https://github.com/owncloud/core/issues/23600

[2017-03-18 10:33] ghost commented on #778
Which is now ownCloud 10 released at the end of March:

https://github.com/owncloud/core/wiki/Maintenance-and-Release-Schedule
https://github.com/owncloud/core/wiki/ownCloud-10.0-Features

[2017-03-21 19:24] fireraiserDE commented on #263
@jancborchardt Do you really believe this useful function is a "fun addition"?
It seems you doesn't work frequently with the calendar. The Import function up to version 8.2.x is indispensable!

Furthermore, in the current import function (9.1.x) it is not possible to delete all existing appointments in a calendar.
So, if you'll import an updated .ics file all existing appointments are created as d

[2017-03-29 06:55] scroom opened #784 "Improve logging of the calendar app"
### Steps to reproduce
1. Set Loglevel to debug

### Expected behaviour
I've expected that all events are logged. Instead it is not logged if a new appointment is created or deleted (I've got reports from users who are complaining about deleted appointments - I wanted to find out what is happening).

### Actual behaviour
The calendar app doesn't write events and actions to the log.

### Server con

[2017-03-29 17:08] thigg commented on #762
Bump

[2017-03-31 08:44] PVince81 opened #785 "Failing tests on master with PHP 7"
https://travis-ci.org/owncloud/calendar/jobs/215744412

[code]

@DeepDiver1975

[2017-03-31 10:31] DeepDiver1975 commented on #785
yes - phpunit 6 afaik

[2017-04-04 03:23] fernandosjp commented on #774
Just update to owncloud 9 and the same thing happened. Anyone found the solution?

[2017-04-05 13:03] skriesch opened #787 "event from iPhone won't be synced to ownCloud Calendar"
ownCloud 9.1.4 with Calendar

### Steps to reproduce
1. Add a Calendar to ownCloud
2. Give somebody write access to this Calendar
3. This person (with write access) syncs the Calendar to the iPhone.
4. This person wants to add an event to the Calendar via iPhone.
5. Data won't be synced to the ownCloud.
6. This person has got only write access via Web GUI.

### Expected behaviour
The person with w

[2017-04-13 10:10] attisan commented on #50
any progress yet? not being able to define exceptions is a real show killer.

[2017-04-17 09:41] Arcticold opened #788 "Clock times in chinese"
### Steps to reproduce
1. Set language under "Personal" to Estonian (Eesti).
2. Check calendar in day/week format.

### Expected behaviour
Clock times in proper 24hr format just like with British English for example.

### Actual behaviour
![screenshot from 2017-04-17 10-51-33](https://cloud.githubusercontent.com/assets/5424359/25083201/5ced59e2-235e-11e7-9e66-73ba88ded07b.png)

### Server configur

[2017-04-20 12:20] Ascendor commented on #483
How about using https://github.com/bestiejs/punycode.js to convert the url before processing?

[2017-04-20 16:46] c-holtermann opened #789 "If in multiple groups with different permissions (read, write) read has higher priority than write"
### Steps to reproduce
1. Have a group A with read permission on a calendar
2. Have a group B with write permission on the same calendar

### Expected behaviour
The users of the group should be allowed to write to the calendar as group B would

### Actual behaviour
The user is only allowed to read the calendar as group A would. The calendar is shown
as "Abonnement" (german) and not as own calendar

[2017-04-26 08:11] necarnot commented on #132
Hello Georg,

I installed OwnCloud then NextCloud mostly only hoping I could find there a caldav client I could plug in my existing remote DaviCal server. At present (V11), I can only plug in a remote .ics, which is pointless to me.
I'm writing here to ask if there is further dev on this subject?

Best regards,

[2017-04-27 11:34] mika opened #790 "calendars not available: Column not found: 1054 Unknown column 'publicuri' in 'field list'"
### Steps to reproduce
1. Upgrade from owncloud v9.1.5-1.1 to v10.0.0-1.1
2. Upgrade calendar market app to latest market version v1.4.2
3. Visit calendar page of any user

### Expected behaviour
Calendars being available :)

### Actual behaviour
No calendars shown, instead owncloud log contains the following error message:

[code]

### Server configuration
**Operating system**: Debian/jessie 8.7

[2017-04-27 12:18] dennisbaaten commented on #790
I've got the same problem within similar environment.

[2017-04-27 13:05] maxppc commented on #790
Same enviroment just using Chrome 57.0.2987.133 as browser.
The select points to **oc_dav_shares** table which have **principaluri** as meaningful column as far as I can see.

[2017-04-27 13:15] synapticvoid commented on #790
Same here!

[2017-04-27 13:23] Niduroki commented on #790
Also have this problem. Looks like something went wrong with the migrations for the DAV app here:
https://github.com/owncloud/core/blob/master/apps/dav/appinfo/Migrations/Version20170116150538.php#L510

@VicDeo you know something about this?

[2017-04-27 13:57] DeepDiver1975 commented on #790
core issue https://github.com/owncloud/core/issues/27754

[2017-04-27 13:57] #790 closed, assigned to nobody

[2017-04-27 14:19] VicDeo commented on #790
@Kondou-ger Nice to meet you :)
Is it for a clean install or migration from 9.1.x?
This table is created if it doesn't exist:
[code]

[2017-04-27 14:28] Niduroki commented on #790
@VicDeo It's a migration from 9.1.0 for me, so the table does exist before, without the `publicuri` column by the looks of it.

[2017-04-27 15:43] VicDeo commented on #790
Please test https://github.com/owncloud/core/pull/27756

[2017-04-27 19:21] keassol opened #791 "Calendar Broken After Upgrade 9.1 -> 10.0"
### Steps to reproduce
1. Upgrade Owncloud fron 9.1 to 10.0
2. Enable/Upgrade Calendar App=
3. Browse to Calendar

### Expected behaviour
Calendar to load

### Actual behaviour
Calendar page loads but no calendars or event load, stays on spinner

### Server configuration
**Operating system**:
Ubuntu 14.04

**Web server:**
Apache/2.4.7 (Ubuntu)

**Database:**
MariaDB 10.1.22

**PHP version:**
PHP 5

[2017-04-27 19:43] keassol commented on #791
Additional Note: Error log I saw Unknown column 'publicuri' in 'field list'

Looking the the table oc_dav_shares there is a column named "principaluri" but no column named "publicuri"

[2017-04-27 20:31] cploeger commented on #791
I have the same issue running Ubuntu 16.04.2 on a Raspberry Pi 3

This is the list of apps I have installed:
Enabled:
  - activity: 2.3.3
  - calendar: true
  - comments: 0.3.0
  - configreport: 0.1.1
  - contacts: true
  - dav: 0.2.8
  - federatedfilesharing: 0.3.0
  - federation: 0.1.0
  - files: 1.5.1
  - files_antivirus: 0.10.0.0
  - files_external: 0.7.0
  - files_pdfviewer: 0.8.1
  - files_s

[2017-04-27 21:18] cploeger commented on #791
I just did an additional test by creating a new appointment on my mobile. I was able to sync it to my Owncloud server and after syncing my tablet, the appointment appeared at it too.

So it looks as if the calendars and CalDav sync are working and only displaying the calendars in the app fails.

[2017-04-27 22:52] binarykitchen commented on #791
having the same problem here `Column not found: 1054 Unknown column 'publicuri' in 'field list'` - just were upgrading to v10 too

[2017-04-27 22:54] binarykitchen commented on #791
guess it is related to https://github.com/owncloud/core/issues/27754

[2017-04-27 23:01] binarykitchen commented on #791
workaround `ALTER TABLE oc_dav_shares ADD publicuri VARCHAR(255) NOT NULL AFTER principaluri;` does it for me

[2017-04-28 06:32] law commented on #791
Same here - calendars do not load in the GUI, etc.

[2017-04-28 07:19] jdpipe commented on #791
same for me. i have to revert to now owncloud 9.1 to get back online.
i think that owncloud 10 should not have been pushed to 'stable' until this issue had been checked. calendar is not 'core' though, so perhaps I have to be more careful about assuming that 'apt upgrade' is going to be safe in general.

[2017-04-28 09:24] DeepDiver1975 commented on #791
duplicate - please look here https://github.com/owncloud/core/issues/27754

[2017-04-28 09:24] #791 closed, assigned to nobody

[2017-04-28 11:41] thejabok opened #792 "Calendars not loading after upgrade to OC X"
### Steps to reproduce
1. Upgrade from OC 9.1.5 to OC 10.0.0
2. Upgrade and activate calendar app
3. Open calendar app

### Expected behaviour
Calendars should load and events should show up.

### Actual behaviour
Loading wheel keeps spinning, neither calendars nor events appear. No error message is displayed.

### Server configuration
**Operating system:** Debian

**Web server:** Apache 2.4.10

*

[2017-04-28 11:49] RolandSM commented on #792
Hello,

i can confirm, same here. Calendar on Owncloud only shows the spinner.
Thunderbird also wont connect.

[2017-04-28 11:49] DeepDiver1975 commented on #792
Duplicate. See core repo. Thx

[2017-04-28 11:49] #792 closed, assigned to nobody

[2017-04-28 20:45] lemmy04 opened #793 "calendar 1.4.2 FOR owncloud X does not work ON owncloud X"
### Steps to reproduce
1. Update to owncloud X
2. Update calendar to 1.4 2 with the zipfile from https://marketplace.owncloud.com/apps/calendar
3. Try to use the calendar
### Expected behaviour

The calendar should work, i.e. calendar entries should show, caldav should work, etc etc

### Actual behaviour
 "nothing works". Akonadi does not see any calendars via caldav, the web calendar does not sho

[2017-04-28 22:07] ccheveaux commented on #793
Same issues here
But i'm on Ubuntu 14.04 and i have same version of php.

[2017-04-29 00:28] cpunk commented on #793
same issue here, debian jessie, calendar 1.4.2

[2017-04-29 06:35] DeepDiver1975 commented on #793
https://github.com/owncloud/core/pull/27756

[2017-04-29 06:35] #793 closed, assigned to nobody

[2017-04-29 11:07] lemmy04 commented on #793
that link does not tell me anything that would warrant a "closed" on this bug...

[2017-04-29 14:44] DeepDiver1975 commented on #793
this is the fix for your problem

[2017-04-30 12:18] hatzlhoffer opened #794 "Calendar sharing does not work since upgrade to 10.0"
### Steps to reproduce
1. Choose a Calendar from User A
2. Click on "share calendar"
3. type in Username of User B

### Expected behaviour
The calendar is shared from User A with User B

### Actual behaviour
The calendar is not shared

### Server configuration
**Operating system**:
Ubuntu 16.04.2 LTS

**Web server:**
Server version: Apache/2.4.18 (Ubuntu)
Server built:   2016-07-14T12:32:26
Server

[2017-04-30 14:38] shunju commented on #794
Somewhat different story here, but probably related since I didn’t upgrade. This is my first bug report, so I hope I didn’t miss anything crucial. If so, I’ll gladly provide the missing information.

Steps to reproduce:
- Install ownCloud 10.0, set up, activate Calendar app
- Create a new user
- Create a calendar, create an event
- Share that calendar with the new user and allow editing
- Login in

[2017-04-30 17:27] ghost commented on #793
To make it more clear there is still open bugreport at the "core" issue tracker: https://github.com/owncloud/core/issues/27754. As this issue exists in "core" and not in the calendar app the issue here can be closed.

[2017-04-30 17:28] ghost commented on #792
Ref: https://github.com/owncloud/core/issues/27754

[2017-05-01 09:53] law commented on #794
Same here.

[2017-05-02 15:38] quenenni opened #795 "Calendar not working after update to owncloud 10"
After owncloud update, the calendar app (and contact too) weren't available in my owncloud menu.
Via the 'Market' page (horrible page compared to what it exists before, where the F|@#| do you disable / enable an app?!), the install button for these apps just don't do  anything.
The error in the owncloud.log:
[code]

So, I had to download it manually, placed it in the app folder.
Next time on my ow

[2017-05-02 16:10] hatzlhoffer commented on #794
probably you should open a new issue - i think this one is different...

[2017-05-02 16:13] quenenni commented on #795
I found this ticket from Core that resolves the publicuri problem: https://github.com/owncloud/core/issues/27754

The other problem, the old remote.php/caldav/... address, that should work even if it's /dav/ now), just doesn't work (error 404)
But that's an old bug that I already resolved by closing thunderbird and executing a small script that changes the /caldav/ to /dav/ in the TB settings.js.

[2017-05-03 06:25] DeepDiver1975 commented on #795
will be fixed in owncloud/core#27754

[2017-05-03 06:25] #795 closed, assigned to nobody

[2017-05-03 06:27] DeepDiver1975 commented on #794
there is an issue in core related to caldav - owncloud/core#27754 - this is most likely the reason for all issues which have been observed after the oc10 release: owncloud/core#27754

[2017-05-03 07:55] FKBOX commented on #793
The title is so true!

[2017-05-03 08:36] hatzlhoffer commented on #794
thanks for the hint - but: these issues doesnt solve my problem!

Why do you close the issue?
At owncloud/core#27754 no problem is described with sharing the calendar...

I added the field in table dav_shares manually.
Then i was able to see my calendars - but: i still can not share my calendars!

can you please reopen this issue?

[2017-05-03 09:07] hatzlhoffer commented on #794
ok....now i got a little time to test.

i tried the fix:
[code]

and this seems to work (for sharing calendars).

Within the issue owncloud/core#27754 it was not mentioned that the index has to be rebuild.
I am sure, that i did this anyway (because of another hint) but at the first time this didn't work for me.

With the above fix i now can share my calendars.
Thanks so far.

...but:
Now i can not

[2017-05-03 13:05] DeepDiver1975 commented on #794
lets continue in here with the issue around sharing ...

Do you experience errors in owncloud.log and/or the browser console? @hatzlhoffer THX

[2017-05-03 13:18] hatzlhoffer commented on #794
indeed there is an error in owncloud.log:

`<IP-Address secured>` -> my IP-Address replaced...:

`{"reqId":"EXKvdRASrDcd7xUa8EVk","level":3,"time":"2017-05-03T13:11:56+00:00","remoteAddr":"<IP-Address secured>","user":"michael","app":"remote","method":"PUT","url":"\/owncloud\/remote.php\/dav\/calendars\/michael\/defaultcalendar_shared_by_nina\/27c89b9a-e2db-425d-81b5-1f50c4d0fd6f.1493205381528.ics

[2017-05-03 13:26] hatzlhoffer commented on #794
same error if i want to update a task on a shared calendar via thunderbird...

[2017-05-03 14:34] DeepDiver1975 commented on #794
yes - absolutly ... fix is coming ...

[2017-05-03 14:36] DeepDiver1975 commented on #794
the fix is contained in here as well - https://github.com/owncloud/core/pull/27792

[2017-05-03 14:54] hatzlhoffer commented on #794
thanks for the solution!

Does it make sense to give it a try on my actual system (i have only a productive system running) or should i wait until 10.0.1 is released?

If there would not be a problem with other changes that were needed i could try to change the 4 files from your commit [https://github.com/owncloud/core/pull/27792/commits/dcb92b84cf53d10b2d4be3109fad1a002be18225](https://github.com

[2017-05-03 21:19] DeepDiver1975 commented on #794
TBH: if everybody waits until the final release we are stuck in this mess ... this is actually why 10.0.0 has issues like this. Weeks ahead we did release betas and release candidates but nobody tests them.
Once release all start crying: why is this broken!

If a service like DropBox or facebook or box.net or google or ... are buggy you are allowed to scream (to some extend) at them. ownCloud is a

[2017-05-04 07:34] hatzlhoffer commented on #794
well....i really wanted to test this fix.

...but just a few words:
I have 4 open source projects on my servers (yes, there are several of them) that i work intensively with.
From 2 of these projects i have testservers and i am testing new beta releases from time to time.

If i would set up testservers for all different open source software that i have installed i would not be able to go to work a

[2017-05-04 08:38] DeepDiver1975 commented on #794
Don't take my comment as personal insult ;-)

Applying these 4 files should be enough - yes

Thanks for you support!

[2017-05-04 10:12] hatzlhoffer commented on #794
no problem - i know the comments from other people:
everything is bad, nothing works but nobody wants to test it...

but - back to topic :-)

i tested your change and it worked on my system!
I only changed the 4 files from your change manually and that worked for all Systems:
- WebApp
- Thunderbird
- Android (via CalDav Sync Adapter)

Thanks for your help - i think we now can close the bug. 👍

[2017-05-04 10:20] #794 closed, assigned to nobody

[2017-05-04 10:27] DrFAlbrecht commented on #794
Mister hatzlhoffer,

I dont understand which changes I have do. Please give me a possibility
to repair my System.

opensuse 42.2 64-bit

oc 10.0

apache2 2.4.23-8.3.1.

php 5.6.30-368.12

sincerly yours

  Fred Albrecht

  ************************ S e n d e r ***************************
  *                                                              *
  *  Dr. sc. nat. Fred Albrecht          Tel

[2017-05-04 10:31] DeepDiver1975 commented on #794
@DrFAlbrecht please get the 4 files as references in this commit https://github.com/owncloud/core/pull/27792/commits/dcb92b84cf53d10b2d4be3109fad1a002be18225 and put them to your system

[2017-05-04 10:33] hatzlhoffer commented on #794
to repair the update of tasks in shared calendars you only have to change the 4 files mentioned in the above linked fix: [https://github.com/owncloud/core/pull/27792/commits/dcb92b84cf53d10b2d4be3109fad1a002be18225](https://github.com/owncloud/core/pull/27792/commits/dcb92b84cf53d10b2d4be3109fad1a002be18225)

You will have to change these files on your webserver manually via ssh or ftp or somethin

[2017-05-04 13:19] DrFAlbrecht commented on #794
Dear Thomas Müller,

I put these files to my system. But wenn I start "Kalender" i get only
rotating load icon under "Neuer Kalender" and under "neues Abonnement".
Please tell me what I have to do.

Am 04.05.2017 um 12:31 schrieb Thomas Müller:

--
  Mit freundlichen Grüßen

  Fred Albrecht

  ************************ S e n d e r ***************************
  *

[2017-05-04 13:30] DeepDiver1975 commented on #794
look for errors in the browser console

[2017-05-04 14:03] DrFAlbrecht commented on #794
Dear Thomas,

I got the follwing output:

theosolid:/srv/www/htdocs/owncloud # sudo -u wwwrun php console.php
app:check-code dav
Analysing /srv/www/htdocs/owncloud/apps/dav/lib/AppInfo/PluginManager.php
 1 errors
    line  106: OC_App - Static method of private class must not be called
Analysing
/srv/www/htdocs/owncloud/apps/dav/lib/Connector/Sabre/Directory.php
 2 errors
    line  246: == - is di

[2017-05-04 14:19] DeepDiver1975 commented on #794
this is not what I was asking for - browser error console is what I need

[2017-05-04 14:33] DrFAlbrecht commented on #794
excuse me.

Am 04.05.2017 um 16:19 schrieb Thomas Müller:

--
  Mit freundlichen Grüßen

  Fred Albrecht

  ************************ S e n d e r ***************************
  *                                                              *
  *  Dr. sc. nat. Fred Albrecht          Tel : +49-331/977-1287  *
  *  Quanteninformation                                          *
  *  Institut für Physik

[2017-05-04 14:46] DeepDiver1975 commented on #794
no problem

[2017-05-04 16:18] hatzlhoffer commented on #794
Hi,

i think this fix could help you.

If you got the problem with these rotating icons for example under "Neuer Kalender" then the field publicuri is missing in the database table dav_shares.

This request: [https://github.com/owncloud/core/pull/27756](https://github.com/owncloud/core/pull/27756) should help you.

For me this fix worked - as described some comments above... on 03.05. 11:07 MESZ (

[2017-05-05 12:33] DrFAlbrecht commented on #794
Dear hatzlhoffer,

the script apps/dav/appinfo/Migrations/Version20170427182800.php
<https://github.com/owncloud/core/pull/27756/files/9587ef77df2523e3b5709065496376353c193060#diff-d1a7e7c28b005999f1e8e0d713b6d9b5>

doesn't exist in my installation.

Am 04.05.2017 um 18:18 schrieb hatzlhoffer:

--
  Mit freundlichen Grüßen

  Fred Albrecht

  ************************ S e n d e r ******************

[2017-05-05 12:47] hatzlhoffer commented on #794
as discribed in the request 27756 (link above) you first have to download these two files for example to your home directory:

[code]

then you will have to copy these 2 files as root (sudo su) or with sudo per cp command to the respective directory:
[code]
here you have to replace "/path/to/my/oc" with the real path to your installation (for example: "/var/www/owncloud").

After this you just hav

[2017-05-05 13:02] DrFAlbrecht commented on #794
After update I got

    Updating to 10.0.0

An error occurred.

Detailed logs
Preparing update
Set log level to debug
Turned on maintenance mode
Updating database schema
Updated database
An error occurred.
Please reload the page. <https://theosolid.physik.uni-potsdam.de/owncloud/>
Am 05.05.2017 um 14:47 schrieb hatzlhoffer:

--
  Mit freundlichen Grüßen

  Fred Albrecht

  ************************

[2017-05-05 13:28] DrFAlbrecht commented on #794
with occ upgrade within console oc works, but not calendar,

Es gab Probleme mit dem Code - Integritätsprüfung. Mehr Informationen…

all files yesterday changed

Am 05.05.2017 um 14:47 schrieb hatzlhoffer:

--
  Mit freundlichen Grüßen

  Fred Albrecht

  ************************ S e n d e r ***************************
  *                                                              *
  *  Dr. sc.

[2017-05-05 13:38] b3niup commented on #755
+1

[2017-05-05 13:44] hatzlhoffer commented on #794
...sorry - no idea...

can you check if you now have the field publicuri in table oc_dav_shares?
Which kind of database do you use?
mysql?

[2017-05-05 13:46] hatzlhoffer commented on #794
what does "calendar doesn't work" mean?
Are there still these rotating icons?

[2017-05-05 20:15] DrFAlbrecht commented on #794
MySQL (MariaDB)

Am 05.05.2017 um 15:46 schrieb hatzlhoffer:

rotating loadicon, but syncing with android and thunderbird lighthning
works propper

--
  Mit freundlichen Grüßen

  Fred Albrecht

  ************************ S e n d e r ***************************
  *                                                              *
  *  Dr. sc. nat. Fred Albrecht          Tel : +49-331/977-1287  *
  *

[2017-05-07 17:13] hatzlhoffer commented on #794
I'm afraid - then i'm out...

the fix with the new Column in oc_dav_shares helped me with these rotating icons.
After the Update my calendars worked fine...

Unfortunately i have no further idea... :-/

[2017-05-09 14:31] q16marvin commented on #779
when i comment out this 2 plugins in /var/www/owncloud/apps/dav/appinfo/v1/caldav.php:

it works again, but i think its only a workaround?!?!

[2017-05-11 14:22] Geisterfahrer commented on #779
Hello Marvin,
I also have been using my updated Owncloud 9.1.5 (coming from 8.x) in connection with Lightning @ Thunderbird for 3 days now.
Today morning the issue arose that I could not sent invitations (haven't used that features for weeks now) and through google I found this thread.
What exactly did you do _after_ commenting out those two lines?
I restarted Thunderbird but it still doesn't work

[2017-05-15 16:08] gjholtslander opened #796 "notice for overlapping event on same calendar"
### Steps to reproduce
1. create an event that overlaps with exisitng event already on the calendar
2.a new event is created.  Calendar displays 2 events with overlapping times
3.

### Expected behaviour
A notification that the new event overlapps with existing event

### Actual behaviour
Two events with overlapping time are created.

### Server configuration
debian 8
apache2
mysql

**PHP version:

[2017-05-20 19:47] Sequential-circuits commented on #474
I fixed the problem installing posix support with the command yum install  php70w-process, deleting the calendar folder, and installing the calendar again. Hope this helped

[2017-05-23 04:35] deisi commented on #474
any idea how this is called under debian/ubuntu

[2017-05-26 19:06] cangeeq opened #798 "Problems with events with RRULE:BYYEARDAY in oC 10"
### Steps to reproduce
1. Try to import the following ics into oC 10, OR
2. Import into oC 9 and upgrade to oC 10

BEGIN:VCALENDAR
VERSION:2.0
CALSCALE:GREGORIAN
PRODID:-//SabreDAV//SabreDAV//EN
BEGIN:VEVENT
LAST-MODIFIED;VALUE=DATE-TIME:20130919T114408Z
SEQUENCE:0
STATUS:CONFIRMED
TRANSP:OPAQUE
SUMMARY:Failed Event
CREATED:20110925T174221Z
RRULE:FREQ=YEARLY;BYYEARDAY=118;INTERVAL=1
DTSTAMP;VALUE=

[2017-05-26 19:57] cangeeq opened #799 "Unusable calendar after update to oC 10"
### Steps to reproduce
1. Unclear; suspect there is something bad in the calendar that the new version doesn't like

### Expected behaviour
Normal use of a calendar that was working in oC 9

### Actual behaviour
After upgrade to oC 10, one of my calendars never displays. Attempting to download it causes an error, so unfortunately I am unable to narrow down the cause:

[code]
### Server configurati

[2017-05-27 05:50] DeepDiver1975 commented on #799
Looks like there is invalid data in that specific calendar. Let me think about this if there is a way to heal the data.

[2017-05-27 14:50] cangeeq commented on #799
I'm not a SQL expert but if you have suggestions about what to look for in the database I can poke around.

[2017-06-01 08:11] ghost opened #800 "Re-release calendar 1.4.1 on apps.owncloud.com with a valid signature"
After https://github.com/owncloud/core/pull/27946 was included in oC 9.1.6 ``a Certificate has been revoked`` integrity warning is triggered on oC 9.1.6 with the calendar app published by the "ownCloud" account at https://apps.owncloud.com/content/show.php/Calendar?content=168707

[2017-06-01 09:47] PVince81 commented on #800
@DeepDiver1975 can you take care ?

[2017-06-01 09:57] DeepDiver1975 commented on #800
As discussed/advertise on central.owncloud.org - we will support owncloud 9.1 with the new marketplace.
Let me explain how this *experimental* approach will work:
- add this to config.php:
[code]
- open the apps menu and the categories and apps as available on the marketplace will show up - calendar 1.4.2 as well
![bildschirmfoto von 2017-06-01 11-57-01](https://cloud.githubusercontent.com/assets/

[2017-06-01 16:07] michaelof commented on #800
Hi DeepDiver1975 ,

I've got the same "Certificate has been revoked" msg after upgrading OC to 9.1.6 on OpenSuse Leap 42.2, official rpms from  http://download.owncloud.org/download/repositories/stable/openSUSE_Leap_42.2

Followed your suggestion by adding  'appstoreurl' => 'https://marketplace.owncloud.com/api/v0', to config.php and can see now Calendar 1.4.2 below Apps/Productivity.

BUT if I tr

[2017-06-01 16:43] mufasa1976 commented on #800
After adding ``'appstoreurl' => 'https://marketplace.owncloud.com/api/v0',`` to ``config.php``
no apps are available under Apps/Productivity.

First I had to remove the File ``/path/to/owncloud/data/htaccesstest.txt`` because of error-messages within the webserver log file.

But still no Apps are showing. What have I done wrong? What Information do you need?

[2017-06-03 08:57] mikaeldo commented on #800
@michaelof - I ran into exactly the same problem:

1. I upgraded oC to 9.1.6.
2. Calendar app's "certificate has been revoked error" appeared.
3. I followed instructions provided by @DeepDiver1975 - I added a line mentioned above in config.php
4. I could not enable Calendar 1.4.2, because of "directory already exists" error

I did a backup, uninstalled Calendar 1.4.1, and that allowed me to instal

[2017-06-05 13:29] priittoobla commented on #788
I can confirm this issue still exists, I have also selected Estonian (Eesti - et_EE) as my language in personal settings and clock times are in 12h format with hieroglyphs instead of the 24h format

Owncloud version 9.1.6, Calendar app 1.4.1

[2017-06-05 22:16] localguru commented on #800
Hi, this problem seems to hit a lot people:

https://apps.owncloud.com/content/show.php?content=168707&forumpage=8

And see

https://github.com/nextcloud/calendar/issues/498#issuecomment-306320970

[2017-06-06 06:59] priittoobla commented on #788
Just to let you know, that calendar app 1.4.1 fullcalendar component is missing estonian locale.
As a temporary solution you can download fullcalendar package from here: https://fullcalendar.io/download/ ( https://github.com/arshaw/fullcalendar/releases/download/v3.4.0/fullcalendar-3.4.0.zip )
and extract locale-all.js from demos/php/locale-all.js and copy it to your owncloud installation apps/cal