[2016-03-20 20:42] georgehrke commented on #350
caldav issue -> please report in https://github.com/owncloud/core/issues

[2016-03-20 20:42] #350 closed, assigned to nobody

[2016-03-21 06:53] gvde commented on #340
The language and the 12h clock settings of a OS are two very separate things in all OS I know. Thus, set your OS to 24h clock and all times in all your applications should be 24h clock.

Setting your OS to 12h clock and then hoping that all your applications allow you to override the OS setting to 24h is... optimistic at least. I don't see the point of that.

[2016-03-21 07:42] j-ed commented on #344
I like the idea of having more colorful and high-contrast default colors too. I cannot understand why a user should be limited to low-contrast default colors only. Many people cannot differenciate colors correctly or need to wear glasses so that it is essential for them to select colors based on their requirements. Unfortunately this is ignored by many developers because they didn't know or due to

[2016-03-21 07:49] j-ed opened #351 "OC9 - unable to select and contantly activate subscribed calendars"
## Expected behavior

It should be possible to select and activate all subscribed calendars under the
subscription section and keep them activated until a different descision is felt.
## Current behavior

Only some of the subribed calendars under the subsription section are displayed,
but all of them are inactive. It is not possible to scroll down to show all available
calendars, except you reduce

[2016-03-21 07:51] MetallianFR68 commented on #101
+1 for the search functionality which is a must-have

[2016-03-21 08:04] j-ed opened #352 "OC9 - calendar authentication credentials need to be re-entered because the calendar naming has changed"
## Expected behavior

After upgrading from OC8.2.2 to OC9.0 it should be possible to access and use all
CalDAV calendars without re-entering the authentication credentials.
## Current behavior

The authentication credentials for all subscribed calendars need to be re-entered
in e.g. Thunderbird/Lightning because the calendar naming has slightly been changed.

Example:
OC 8.x: https://your-server-u

[2016-03-21 08:52] aspdye commented on #101
Please dont post +1 or something. There is a milestone assigned - so it WILL come :wink:
The Priority of this was already discussed above.

[2016-03-21 09:27] Noo75 opened #353 "OC9 Unable to change the color of a calendar"
WIth Owncloud, it was easy to change the color of a calendar: https://doc.owncloud.org/server/8.0/user_manual/pim/calendar.html

Now with the new Calendar app, the "settings wheel" doesn't show up.

![oc_calendar_9](https://cloud.githubusercontent.com/assets/17979180/13914554/564e297a-ef4f-11e5-9585-e61d85205f25.png)

Is it still possible to change the color of the calendar?

[2016-03-21 09:58] raimund-schluessler commented on #353
That's a bug, see https://github.com/owncloud/calendar/issues/347#issuecomment-198939569. It will be fixed with version 1.1.

[2016-03-21 09:58] #353 closed, assigned to nobody

[2016-03-21 10:02] georgehrke commented on #352
caldav issue -> please report in https://github.com/owncloud/core/issues

[2016-03-21 10:02] #352 closed, assigned to nobody

[2016-03-21 10:04] georgehrke commented on #351
dup of https://github.com/owncloud/calendar/issues/299

That's a server related issue that will be fixed with ownCloud 9.1.
Not related to the calendar app.

[2016-03-21 10:04] #351 closed, assigned to nobody

[2016-03-21 10:11] mape2k opened #354 "CLASS-Settings (rfc5545, section 3.8.1.3) are not editable via owncloud-GUI nor will be respected on sharing"
In 2012/2013 i added support for CLASS-Settings to owncloud calender which are editable on Web-GUI and respected on sharing calendar with others (e.g. did not show or just show busy).

After upgrade to 9.0 (also latest daily!) this feature is gone and all events (also private!) are exported on sharing. The entries will also be fully exported if you're using a DAV-Client like Thunderbird.

**This i

[2016-03-21 10:13] georgehrke commented on #354
Well, it's already in the code, but I had to comment it out in the GUI, because the new CalDAV server doesn't support it anymore.
https://github.com/owncloud/core/issues/22914

[2016-03-21 10:13] #354 closed, assigned to nobody

[2016-03-21 10:20] mape2k commented on #354
There's no warning on update or in calender, so you just want to ignore this major privacy issue in also Changelog?

[2016-03-21 11:03] JKawohl opened #355 "calendar changes linked to the activity log"
Hey Folks,

someone came up with this at the cebit.

It would be great to have changes in the calendar also in the activity stream of the specific users.... .

Cheers

[2016-03-21 11:07] #355 closed, assigned to nobody

[2016-03-21 11:07] georgehrke commented on #355
reopened in the activity repo:
https://github.com/owncloud/activity/issues/492

[2016-03-21 11:34] brrrrrrrt opened #356 "CalDAV Link for each Calendar missing"
just another regression:

E.g. with Thunderbird SoGo Connector **we need the full CalDAV URL for each calendar**. The "primary CalDAV URL" is not usable with it.

Users must enter the full URL to get a working calendar with the sogo connector, which is a real PITA: You must read it from the calendar's tooltip, when hovering over the calendar name in the web app and then type it in by hand in the s

[2016-03-21 11:35] georgehrke commented on #356
you can find the entire caldav link when hovering over the calendar name

[2016-03-21 11:36] georgehrke commented on #356
we are thinking about bringing back the caldav link input field, that's why I will keep this issue open for now

[2016-03-21 11:46] brrrrrrrt commented on #356
thanks for looking into the issue!
would be really great to have that feature back, as it is not very easy to copy a url from a tooltip.

[2016-03-21 13:23] fluancefg commented on #1020
I had a similar issue with calendar component. I upgraded OC from 8.2.1 to 8.2.3 and then updated the calendar from 0.8.1 to 0.8.2. Then I was not able to activate the calendar anymore due to this error message

[2016-03-21 14:46] eesko commented on #344
Custom color selection would be useful. I have a number of calendars that are color coded across all different programs/devices that I use. The limited color choices in the ownCloud calendar app make it impossible to use the colors I use across all other programs/devices. Also if I happen to have more than eight calendars I must currently assign same color for more than one calendar.

I also think

[2016-03-21 15:25] timreeves commented on #356
I agree with @brrrrrrrt , it would be helpful for TB users to have this back.

[2016-03-21 15:29] robertwenner commented on #340
Isn't this a per-user setting anyway?
Or should it be?
Shouldn't I be able  set my time format to 24h, and allow other users to use am/pm if they prefer?

[2016-03-21 15:31] georgehrke commented on #340
There is a discussion about adding a dedicated region format in core.
We won't re-add time format and first day of week in the calendar though!

https://github.com/owncloud/core/issues/376

[2016-03-21 15:38] schiessle opened #357 "Integrate Federated Sharing into the Calendar App"
Since ownCloud 8.1 we have the concept of federated sharing for files. You can share a file with any user on any server by sharing it with `<user>@<ownCloudServer>`. We can even auto-complete this user IDs from the contacts app and from system wide address books synced between ownClouds.

I wonder if this wouldn't be a nice feature for the calendar app? Imagine if I could share a calender with any

[2016-03-21 15:40] georgehrke commented on #357
Please reopen in https://github.com/owncloud/core/issues :)
This is definitely related to the CalDAV server, which is in core, and to the GUI.

AFAIK CalDAV sharing has it's own mechanism for sharing among different CalDAV servers.

[2016-03-21 15:41] georgehrke commented on #356
It would be even more helpful if TB would finally implement an automatic discovery of calendars :wink:

[2016-03-21 15:43] schiessle commented on #357
@georgehrke my idea was that for sharing we would use the CalDAV sharing, as suggested by you. But the calendar app would need at lest the possibility to enter such federated cloud ids to the share dialog. Maybe you are right that this is already enough and handing over the federated share id to core would already be enough to create a share by CalDAV. But I think at least some logic is needed in

[2016-03-21 15:45] georgehrke commented on #357
Yes, it will definitely take some GUI code, but please open an issue in core anyway. That's where most of the work has to be done :)

[2016-03-21 15:45] schiessle commented on #357
@georgehrke sure, I will also open a issue in core and link it together with this issue. Thanks for re-open it!

[2016-03-21 16:00] raoel commented on #340
@gvde My OS is set to "English US" and then I changed the date-format to 24h.
Owncloud calendar sticks to am/pm though.

I looked through my Chromium-settings and only thing I can change is the language-settings, nothing on dates. I think Chromium is telling Owncloud I have set EN-US and therefore the default setting is am/pm.

[2016-03-21 16:01] gvde commented on #340
Yes. Your OS allows multiple users and each user can set it's own language, region, locale settings. Your browser usually uses these settings which the user has defined in the OS.

[2016-03-21 16:01] georgehrke commented on #340
:+1:

[2016-03-21 16:39] robertwenner commented on #340
I thought this was an owncloud **server** setting, not a browser or client OS setting.

Could you point me to the correct settings?
I have my client set to 24 hour format (clock in XFCE, date shell command, LC_DATE), and still owncloud uses am/pm.
In Firefox, when I go to Preferences > Content > Languages and make German / Germany the top item and reload the owncloud calendar page, I still get am/

[2016-03-21 16:42] robertwenner commented on #340
Well, I am not familiar with the technical details, and if there is an owncloud-wide setting for time format and start of the week which the calendar honors, that certainly works for me.

[2016-03-21 18:01] gjedeer commented on #356
I just came here to open the same bug: not only with ownCloud 9 the calendar URLs have changed, it's now very hard to find the correct calendar link when setting up Thunderbird.

If possible, either bring it back or make the old links work again.

[2016-03-21 18:24] gvde commented on #340
No, generally, language and formatting is an issue of the frontend, thus it's related to the locale settings on the computer. That defines how a date/time is converted into a string.

Of course, things get more complicated once you start using browser or other settings to modify that. The browser language settings determine which language(s) are requested from the server when the server has multip

[2016-03-21 21:24] cthil opened #358 "Cut off alpha value from #RRGGBBAA"
I have set custom colors for different calendars using iCal. While they were shown with the old calendar (so they are saved in the database), the new Web UI displays all 'custom' colors as blue and also does not show the color indicator in the list view on the left (the square is always white, independent of the calendar visibility state).

Stock colors:
![stock colors](https://cloud.githubusercon

[2016-03-21 21:25] georgehrke commented on #358
Could you please check the `oc_calendars` table and tell me what the `calendarcolor` field for the corresponding rows looks like?

[2016-03-21 21:36] cthil commented on #358
Ah! It seems that iCal uses RGBA colors. At least all custom colors have an additional FF at the end, like #44A703FF.

[2016-03-21 21:40] georgehrke commented on #358
Wow ... and Safari doesn't like this format. It's unable to parse `44A703FF`. :see_no_evil:

<img width="323" alt="custom calendar colors break colors-indicators on web ui issue 358 owncloud-calendar safari today at 10 38 54 pm" src="https://cloud.githubusercontent.com/assets/1250540/13935077/c08d3b3a-efb5-11e5-9534-d08534163c4b.png">

Well done Apple!

Anyway, we are able to check the colors leng

[2016-03-21 21:50] cthil commented on #358
Actually I discovered the bug with Chromium at work, so probably you should strip the alpha in general before writing the color to the DB.
Thanks for fixing this!

[2016-03-22 10:23] georgehrke commented on #135
Still no support for input color in safari 9.1 :disappointed:

[2016-03-22 15:17] stonie08 opened #359 "Exported calendar filename has no file extension"
When exporting an owncloud calendar the filename is always "calendarname" (without file extension) while the import dialogue automatically filters for files with "*.ics". Therefore the exported filename should end with a .ics file extenson.
### Steps to reproduce
1. Create calendar
2. export created calendar
### Expected behaviour

Calendars should be exported with a name that is expected when imp

[2016-03-22 16:17] georgehrke commented on #359
server issue -> please report in http://github.com/owncloud/core/issues

[2016-03-22 16:17] #359 closed, assigned to nobody

[2016-03-22 19:19] aspdye opened #360 "Enhancement: iOS / OS X Autoconfig-Profiles"

[2016-03-22 19:19] #360 closed, assigned to nobody

[2016-03-22 19:19] georgehrke commented on #360
duplicate, let me search for the original issue

[2016-03-22 19:20] georgehrke commented on #360
https://github.com/owncloud/calendar/issues/269

[2016-03-22 21:24] robertwenner commented on #340
I've been thinking about this a bit now.

First, I think using the user's settings to pick defaults is a good idea. You probably get it right in most cases. However, I'd still like to configure this and override the defaults, and here is why.

There are enough reasons the locale does not necessarily reflect the preferred time format; see for example https://www.w3.org/International/questions/qa-ac

[2016-03-22 21:28] georgehrke commented on #340
That's not necessary. There is a language option in ownCloud's personal settings. If you configure a language in your personal ownCloud settings, ownCloud will ignore your browser's accept-language.

[2016-03-22 21:32] robertwenner commented on #340
Awesome! That was not clear to me. I can live with this solution.

Just one thing: please make sure that goes in the manual or even better in the settings page. I'd never have guessed that setting the language to German would get me 24h time format.

[2016-03-22 22:39] Bullnados opened #361 "Clarify repeating settings"
Dialog "Every day" to "Every n day"
after selecting
Repeat every .. n -->days,weeks etc<--
Ending after... x times. Would be also nice if u can set a end date

[2016-03-22 22:42] MTRichards commented on #361
Thinking about it, probably should be "Every n days"

[2016-03-22 22:47] georgehrke commented on #361
@Bullnados Can you please elaborate a bit more?

I'm not sure I can follow your few notes.

[2016-03-22 23:00] Bullnados commented on #361
Normaly u can choose none, every day, every week etc.
In this first step it isnt clear, that u can choose personal reapting times.
Solution: Change to Every n day(s) or Every x week(s)
After selecting f.e. Every day u can choose how often u want repeat the meeting
For claryfication i wouldn't wrote
Repeat every... 3
but
Repeat every 3 days, weeks etc.

End repeat(I would also take capital letter f

[2016-03-23 06:34] gvde commented on #269
Of course, this also applies to the contacts app...

[2016-03-23 09:48] JanMiddelkoop opened #362 "Samsung Galaxy Note 1 doesn't show appointments in Calendar via web interface"
With a customer's phone (Samsung Galaxy Note 1) the calendar appears completely empty while viewing via the web interface with Chrome Mobile.  I can reproduce it on their phone.  I've tried to reproduce this on my OnePlus X with Android 5 and Chrome and there it appears empty for a few seconds, then suddenly all appointments appear.  The calendar works normally on the desktop version of Chrome.

I

[2016-03-23 10:02] georgehrke commented on #362
I'm afraid I have no idea how to debug websites on android. I don't even own an android device.

[2016-03-23 10:18] DeepDiver1975 commented on #269
For a non-apple fan boy: what are you talking about? :wink:

[2016-03-23 10:20] georgehrke commented on #269
A config file you can download to automatically setup calendar (and contacts) sync.

[2016-03-23 10:22] gvde commented on #269
See also https://developer.apple.com/library/ios/featuredarticles/iPhoneConfigurationProfileRef/Introduction/Introduction.html

[2016-03-23 10:28] georgehrke commented on #269
Maybe this should actually go into the dav app.
The firstrunwizard could also display it.

[2016-03-23 10:56] DeepDiver1975 commented on #269
I prefer to put it in there.

Is there a way to add this to our ios app as well?
It would really be great if the ios app could setup caldav and carddav right away.

https://github.com/owncloud/ios/issues/555

[2016-03-23 11:04] georgehrke commented on #269
I am a bit skeptical about only providing it in the firstrunwizard.
Users might want to access it to setup new OS X or iOS devices.

I'm pretty sure that most users aren't even aware of the fact, that you can display the first launch wizard more than once.

Implementing it twice, in the first run wizard and the calendar app, would be bad too. That's why I suggested the dav app.

[2016-03-23 11:11] georgehrke commented on #269
Although providing it in the calendar app only for now would be fine with me too.

[2016-03-23 11:15] georgehrke commented on #362
Maybe ask in #owncloud-dev on freenode if people know how to debug this.

[2016-03-23 11:46] georgehrke commented on #361
Ah ok :)

We are already working on a more advanced repeating events editor in https://github.com/owncloud/calendar/pull/197

You will have the simple options you already have (every day, week, ...), but without the additional input.
Additionally there will be 'Custom' option, where you have various input fields.

[2016-03-23 11:46] georgehrke commented on #361
I will close this issue in favor of https://github.com/owncloud/calendar/pull/197

[2016-03-23 11:46] #361 closed, assigned to nobody

[2016-03-23 12:00] WTRipper opened #1044 "DAVdroid does not sync, Undefined index: userid"
### Steps to reproduce
1. Use DAVdroid to sync your calendars from owncloud.
2. Edit a calendar in aCalendar.

### Expected behaviour
DAVdroid should upload the events.

### Actual behaviour
DAVdroid does not sync and gives an error message (see below).

### Server configuration
**Operating system**:
 Raspbian
**Web server:**
Apache 2.4.10
**Database:**

**PHP version:**
5.6.17
**ownCloud version:

[2016-03-23 12:48] rfc2822 opened #363 "[CalDAV] Calendar returns non-existing calendar-homeset for group principals"
### Steps to reproduce
1. Query an admin user principal (e.g. /principals/users/test/) for `group-membership`. It returns `/principals/groups/admin/` as a group membership (as expected).
2. Query this admin principal for calendar-home-sets. It returns `/dav/calendars/admin/`.
3. Query the returned homeset. → It does not exist.
### Expected behaviour

The home set should only be returned if there's

[2016-03-23 12:49] #363 closed, assigned to nobody

[2016-03-23 12:49] georgehrke commented on #363
caldav issue -> please report in http://github.com/owncloud/core/issues

[2016-03-23 13:52] DeepDiver1975 commented on #269
agree

[2016-03-23 14:34] gvde commented on #1044
The birthday calendar is automatically generated from your contacts. You cannot edit anything in that calendar. It's read only. To make changes you have to change the contact.

[2016-03-23 22:27] georgehrke opened #364 "Cache webcal calendars in browser's local storage"
in addition to: https://github.com/owncloud/calendar/issues/132

cache (not password protected) webcal subscriptions using HTML5 Browser Storage.

needs discussion about security:
- users with the same browser profile might be able to read the locale storage. Potentially dangerous when webcal subscription contains private data. (e.g. Facebook provides a webcal (url contains hash) with the events y

[2016-03-23 22:27] georgehrke commented on #364
cc @LukasReschke

[2016-03-23 22:31] binarykitchen commented on #289
probably off topic, but i d like to be able to delete it

at the moment, when i click on the trash can next to it, it disappears fine but on page reload, it comes back.

[2016-03-23 22:31] binarykitchen commented on #289
cc @georgehrke

[2016-03-23 22:53] georgehrke commented on #289
Actually being able to delete it (also for other caldav clients) would be an issue for core. cc @DeepDiver1975

Why is hiding it not enough?

[2016-03-23 22:54] binarykitchen commented on #289
@georgehrke why hide when i do not need it at all? also think of performance ...

[2016-03-23 22:56] georgehrke commented on #289
One additional entry in the XML the server sends in it's response is really not a big performance issue.

[2016-03-23 22:59] binarykitchen commented on #289
@georgehrke i just tend to slack down things, less is better. and what if you have really lots, lots of contacts?

[2016-03-23 23:01] georgehrke commented on #289
That doesn't matter. The birthday calendar is generated with a cron or when you create/edit a contact.
If a calendar is hidden your browser won't load its events from the server. The very same applies to the birthday calendar.
Concerning the initial CalDAV requests: It's just an additional row being read from the database. That's it.

[2016-03-23 23:03] binarykitchen commented on #289
understand, thanks for explaining @georgehrke

but the thought that the cron is computing the birthday calendar every 15 mins on my server unnecessaryily scares me. because it is already slow and increases server load.

[2016-03-23 23:06] georgehrke commented on #289
If this really concerns you file a bug report in https://github.com/owncloud/core/issues please.
Beginning with ownCloud 9 the CalDAV server became part of ownCloud's core and the calendar app is just a CalDAV client running in your browser. If you dislike the birthday calendar being created automatically core is the place to go :)

[2016-03-23 23:11] binarykitchen commented on #289
done, thanks for the suggestion @georgehrke

[2016-03-24 09:55] PVince81 opened #365 "Do not try and create events in birthday calendar"
### Steps
1. Setup OC core master (ea07a428f463a866b2c5e44e243a33d8980c8850)
2. Install calendar app master (c08e01dfc18aa2ea19bd5d01af71eb59b489ea2c)
3. Install contacts app master (3da8d4b3a480b7be699cd830864947d81e80f847)
4. Open the calendar app's web UI
5. Directly create an event and do not touch the calendar selection dropdown in the dialog
### Expected

Should not be able to create an even

[2016-03-24 12:43] WTRipper commented on #1044
Ah thx! Wow that it's a simple answer :D

[2016-03-24 12:43] #1044 closed

[2016-03-24 13:00] georgehrke commented on #365
I think this is a server issue:

PROPFIND http://owncloud.dev/remote.php/dav/calendars/admin/

[code]

It contains a write permission, although it's not supposed to

[2016-03-24 13:00] georgehrke commented on #365
cc @DeepDiver1975

[2016-03-24 13:18] DeepDiver1975 commented on #364
this way any webcal is only available in the web app - I'd expect them in any connected caldav client as well. can subscription help us with this respect?

[2016-03-24 13:20] DeepDiver1975 commented on #365
yes

@PVince81 is the birthday calendar displayed in the calendar app as regular calendar or as subscription? Mind pasting a screenshot? THX

[2016-03-24 13:38] PVince81 commented on #365
![calendar-bday](https://cloud.githubusercontent.com/assets/277525/14018435/12f8eee0-f1ce-11e5-9fdf-2aad9f1d90a7.png)

The dropdown is empty and if I click "Create" it fires the invalid request as above.

[2016-03-24 13:39] DeepDiver1975 commented on #365
@georgehrke the birthday calendar is readonly - basically the issue is that there is no calendar at all where the event can be written to

[2016-03-24 13:51] PVince81 commented on #365
Weird thing. I refreshed master and the submodule (did I really miss that one twice in a row ?!) and now after resetting ownCloud several times it looks fine:
![calendar-bday2](https://cloud.githubusercontent.com/assets/277525/14018804/db94aa78-f1cf-11e5-8011-e878ac31c8ba.png)

Or could there be a race condition between activating calendar/contact apps ?

[2016-03-24 13:52] PVince81 commented on #365
Can't seem to reproduce it now, even when omitting the submodule when switching from stable9 to master... Weird stuff

[2016-03-24 13:55] DeepDiver1975 commented on #365
I suspect this is causing the different behavior: https://github.com/owncloud/core/blob/master/apps/dav/lib/caldav/calendar.php#L34-L36

[2016-03-24 13:56] DeepDiver1975 commented on #365
This is the changing commit: https://github.com/owncloud/core/commit/85521879cd573e66139eb3256c37cf13a4a80599

[2016-03-24 13:56] danielbierstedt opened #366 "Subscribed Calendars inactive"
Everytime I enter the Calendar overview, I see my own calendars. Subscribed calendars are available, but inactive. I have to activate them every time I enter the Calendar tab (not even every login).

Steps to reproduce:
- enter Calendars, activate subscribed calendars
- switch to files, contacts, whatever
- switch back to calendars, subscribed are inactive

Owncloud version: 9.0.0.0 (updated from

[2016-03-24 14:37] georgehrke commented on #366
@DeepDiver1975 is setting custom properties supposed to work for shared calendars?

[2016-03-24 16:51] josh4trunks commented on #340
I'm trying to change my language to German in my Personal Settings but it's not saving. Other changes save just fine but every time I reload the personal Settings page the language is reset to English.

I prefer to use 24h format, and start my week on Mondays. @georgehrke Any ideas why it's being reset and do you have any suggestions? Thanks

[2016-03-24 17:05] georgehrke commented on #340
That's obviously not a bug in the calendar. please report in https://github.com/owncloud/core/issues

[2016-03-24 17:10] josh4trunks commented on #340
makes sense.

assuming I don't change my language is the calendar app reading LC_TIME for my operating system? I'm wondering if that's the best solution in my case.

[2016-03-24 17:35] georgehrke commented on #340
If you don't select a language in your personal settings,  ownCloud will fallback to  your browser's language.

[2016-03-24 17:40] josh4trunks commented on #340
OK, so owncloud language is the prefered way to set this. thanks

[2016-03-24 17:48] georgehrke commented on #364
As far as I understood CalDAV subscriptions its only meant to store the actual link and not the objects itself. Is this wrong?

[2016-03-24 17:53] gvde commented on #340
If that's the case then there seems to be no way in the settings to unset the selection, i.e. fall back to the browser's preferred language...

[2016-03-24 17:54] georgehrke commented on #340
@gvde again, calendar is not the right place :wink:
Please report a bug in core :)

[2016-03-24 19:21] jknockaert commented on #205
@georgehrke Not sure why this one is closed. #268 is a workaround rather than a solution to the issue reported here. After an upstream fix is made available the corresponding code in OC should be updated and #268 should be reversed. Until then this ticket should be kept open imo.

[2016-03-24 19:24] georgehrke commented on #205
The fix was to not make it break silently. Don't see a need to keep it open.

[2016-03-24 20:36] crazy-max opened #369 "[Thunderbird] Mail for calendar is not the one choosen when i create / accept an event"
Hi!
### Steps to reproduce
1. Create a new calendar on Owncloud 9
2. Copy the caldav link on Thunderbird 38.7.0 (latest) to create a new calendar
3. Click on properties for the calendar created on Thunderbird and link an email address
4. Create an event
### Expected behaviour

The mail choosen on Thunderbird calendar when i create or accept an event for this calendar must be the one selected in Th

[2016-03-24 20:42] georgehrke commented on #369
inside thunderbird?

[2016-03-24 21:00] crazy-max commented on #369
Yes inside thunderbird!

[2016-03-24 21:00] georgehrke commented on #369
Beginning with ownCloud 9 the CalDAV server became part of ownCloud's core and the calendar app is just a CalDAV client running in your browser.
Please report issues related to the CalDAV server in ownCloud’s core repo: https://github.com/owncloud/core/issues

[2016-03-24 21:00] #369 closed, assigned to nobody

[2016-03-24 21:02] crazy-max commented on #369
Ok thanks

[2016-03-24 21:33] DeepDiver1975 commented on #364
I was hoping you already know more about this :sob: :wink:

[2016-03-24 23:30] godfuture commented on #356
Typing from tooltip...Really? You do surprise me. Why u forgot about us TB users? :(

[2016-03-24 23:56] georgehrke commented on #364
it's already pretty hard to find some documentation about it.
Can you link me to the standard?

[2016-03-25 00:30] brrrrrrrt commented on #356
i also think that a calendar discovery from the primary URL in TB would be a much better solution:  https://bugzilla.mozilla.org/show_bug.cgi?id=1259300

but until this happens we still need to use the full URL.

[2016-03-25 00:43] georgehrke commented on #356
https://bugzilla.mozilla.org/show_bug.cgi?id=306495

Please excuse my brevity and typos.
Sent from my mobile

[2016-03-25 09:27] brrrrrrrt commented on #356
@georgehrke oh i see, that bug exists since 2005, with 8 duplicate bugs :(

quite unlikely that there will be progress soon.

[2016-03-25 23:12] georgehrke commented on #364
According to [this sabre file](https://github.com/fruux/sabre-dav/blob/master/lib/CalDAV/Subscriptions/Plugin.php#L13) it's only a list.

Searching the web for `CalDAV managed subscriptions` or `"{http://apple.com/ns/ical/}refresh rate"` didn't turn up anything useful :confused:

I begin to question this standard's existence :sob:

[2016-03-25 23:25] georgehrke commented on #364
https://github.com/fruux/sabre-dav/blob/master/tests/Sabre/CalDAV/Subscriptions/CreateSubscriptionTest.php#L19L39

Although this still doesn't explain whether or not the server is supposed to cache the objects or if it's really just a list of subscriptions

[2016-03-26 07:41] josh4trunks commented on #205
I wonder if this solution works? =0
https://github.com/tchwork/jsqueeze/pull/41

[2016-03-26 15:28] aspdye opened #370 "Sidebar as default view for events that are already existing"

[2016-03-26 15:35] georgehrke commented on #370
why?

[2016-03-26 15:35] georgehrke commented on #370
(we will have the sidebar as default on smaller screens, but I don't see a need to get rid of the popover at all)

[2016-03-26 17:03] copos77 opened #371 "can't make new calendar"
### Steps to reproduce
1. Install OC 9.0.0
2. activate Calendar
3. click on the +New Calendar tab
4. Fiel the Name on the field
5. click on the tab make it
### Expected behavior

I can't create new calendar, only in the mysql database, the calendar opened in the database works fine.
### Server configuration

**Operating system**:

**Web server:**
Cyon.ch
**Database:**
mysql
**PHP version:**
7.0
**

[2016-03-26 17:22] georgehrke commented on #371
Is there some reverse proxy or load balancer in place?

Do you see MKCALENDAR requests in your access log? If you can't access it, please contact Cyon.ch's support and ask them if MKCALENDAR requests are allowed.

[2016-03-26 17:25] copos77 commented on #371
in the OC Version 8.2.3 this function was enabled and i make new calendars

Liebe Grüsse

Christian Marty
christian@s-martys.ch

Am 26.03.2016 um 18:22 schrieb Georg Ehrke notifications@github.com:

Is there some reverse proxy or load balancer in place?

Do you see MKCALENDAR requests in your access log? If you can't access it, please contact Cyon.ch's support and ask them if MKCALENDAR requests a

[2016-03-26 17:26] georgehrke commented on #371
That might be the case, but we rewrote the entire calendar app.

[2016-03-26 18:01] georgehrke commented on #307
If anything, please create dedicated issues and don't just comment on other issues with your feature requests. Additionally starting with ownCloud 9 the calendar app is just a GUI. Everything related to the server belongs in core.

Won't work with 9.0+

[2016-03-26 21:42] thorsten19 opened #372 "Enhancement: Add month and year drop down for date picker"
**Expected behaviour**
Date picker should include a drop down to easily select a different month and year for new calendar entries.
This could be done similar to how it was included in the contacts app (for selecting birthdays) in Owncloud v.8.2 (see screenshot).

The date picker should ideally also be used so on the left top you can easily navigate to a different month/year.

**Actual behaviour**

[2016-03-26 21:52] thorsten19 opened #373 "Time picker does not display header in local user language"
### Steps to reproduce
1. Set OC9 language for a user to a language different than English (e.g. German or Dutch)
2. Login with the user account and select the Calendar app.
3. Create a new calendar entry and select the from and to time.
### Expected behaviour

Time picker should display the header in the local language (i.e. for German 'Stunde' and 'Minute' instead of 'Hour' and 'Minute')
### Act

[2016-03-26 22:15] thorsten19 opened #374 "Repeat section for new calendar entries not displayed in language selected by user"
### Steps to reproduce
1. Set OC9 language for a user to a language different than English (e.g. German or Dutch)
2. Login with the user account and select the Calendar app.
3. Create a new calendar entry and select the More... button to access the Repeating settings.
### Expected behaviour

Repeating section should be displayed in the language selected for the user (in OC9)
### Actual behaviour

[2016-03-26 22:16] #374 closed, assigned to nobody

[2016-03-26 22:16] georgehrke commented on #374
already translatable, see https://github.com/owncloud/calendar/blob/master/js/app/controllers/recurrencecontroller.js#L29

[2016-03-26 22:17] georgehrke commented on #374
Please check ownCloud at transifex if these elements are translated and contribute if not.
New translations will be added with the next release.

[2016-03-26 22:46] thorsten19 commented on #374
Thank you @georgehrke
Thought it was a bug as the other settings are in local languages displayed. Great to see it is no bug.
Checked transifex and found the elements for "repeating" to be translated in German and Dutch. Requested to be added to help in future translations.

[2016-03-27 07:24] callmemagnus commented on #205
I patched my owncloud to revert the added error page and also patched the jsqueeze. I'm able to see my calendars without any js error.

[2016-03-27 13:09] georgehrke commented on #205
@callmemagnus Thx a lot for testing and the actual fix at jsqueeze. Highly appreciated!

[2016-03-27 13:11] georgehrke commented on #372
Hm, i think the date picker in contacts and in calendar have different use cases. To set a birthday you almost always need to go back before the year 2000.
Going back before 01.01.2000 is something you very rarely do in the calendar app.

[2016-03-27 13:12] georgehrke commented on #372
also cc @jancborchardt

[2016-03-27 13:13] georgehrke commented on #372
concerning the sidebar:
The problem is, that the top bar of the date picker triggers its visibility. Not sure where to selects to select month and year.

[2016-03-27 13:15] c-holtermann commented on #341
I'd like to be able to copy an event then maybe move it to another day or change some details. I like to handle similar or recurring events in that way manually.

[2016-03-27 13:17] georgehrke opened #375 "show import calendar button below new calendar button if no writable calendars exist"

[2016-03-27 13:19] georgehrke opened #376 "show warning when selecting date and no writable calendar exist"
... and don't open editor

[2016-03-27 13:40] c-holtermann opened #377 "Option to show/unfold all events in month view as in calendar <9"
### Steps to reproduce
1. Have more than 4 events per day
2. Use month view
### Expected behaviour

I want to see all events on that day as it had been the case in calendar <9
### Actual behaviour

Three events are being shown and the note that there are more events (+4 events for example)
### Server configuration

**ownCloud version:** 9.0

**Calendar version:** 1.0

**Updated from an older ownCl

[2016-03-27 13:42] georgehrke commented on #377
that's a feature, otherwise the month view would beginn to scroll.

[2016-03-27 16:39] thorsten19 commented on #372
Agree that the use case is different and going back in the calendar does not require more than couple of years.
Had a look at at the software I use at work (see screenshot) and the date picker in the calendar allows to go back and forward couple of months (sliding 1 year time window). In addition you can go back and forward couple of years.
It would already be great if there is a smart way to quic

[2016-03-27 16:59] lukas-buergi commented on #302
That problem still exists. It seems the original poster added some of the infos the issue template asks for. Is that enough or should I submit more information?

Also I can't click on that button, it's not just in the wrong position: when clicking on it the dialog for creating a new event appears instead (which is the right behaviour for a click in that location).

Edit: Oh, right, when I click at

[2016-03-27 17:04] Croydon commented on #205
Since it is now fixed, how fast can we expect an update? :)

[2016-03-27 17:08] georgehrke commented on #377
Why is this bad in your opinion?

[2016-03-27 17:08] josh4trunks commented on #205
Since this is in core we'd need 9.0.X to update the dependency version.
https://github.com/tchwork/jsqueeze/releases/tag/v2.0.4

Hopefully by OC9.0.1?

[2016-03-27 17:10] georgehrke commented on #205
Requested an update of JSqueeze in core: https://github.com/owncloud/core/issues/23605

[2016-03-27 17:12] georgehrke commented on #205
Depends on whether this fix makes it into 9.0.1 or 9.0.2.
The error page will be removed with the very first version of calendar after the fix was released in core.

[2016-03-27 20:31] c-holtermann commented on #377
I need the overview. I have a lot of events and the view is about useless for my purpose the way it is now. I have about a dozen calendars for different institutions and I need to be able to see with one glance if there is an important event one day. Scrolling is no problem. I desperately wish to be able to get back the old behaviour. Just now I think I won't update from 8.2 to 9 on my production

[2016-03-27 20:32] georgehrke commented on #377
And the week view is not suitable?

Please keep in mind that the old calendar is completely unmaintained by now.

[2016-03-27 23:32] lwinch2006 opened #378 "No calendar could not be activated/enabled when using in Firefox browser on Linux system."
### Steps to reproduce
1. Enable "Calendar" in Apps section of Owncloud.
2. Go to "Calendar" app
3. Try to enable (show events) on default or contact_birthdays calendars.
### Expected behaviour

The square near to the name of the calendar (on the left panel) should be filled with color and all events from this calendar should be shown on the right panel.
### Actual behaviour

The actual behaviour

[2016-03-28 16:12] georgehrke commented on #378
dup of https://github.com/owncloud/calendar/issues/303

[2016-03-28 16:12] #378 closed, assigned to nobody

[2016-03-28 19:10] lwinch2006 commented on #303
Is it something we can do (without changing timezone) on OC9 systems with Calendar 1.0 or we need just to wait until 1.1 version released?

[2016-03-28 19:12] georgehrke commented on #303
This isn't triggered by the server's timezone but by the user's timezone.
If you don't won't to change the user's timezone you'll have to wait for 1.1 (scheduled for April 12th)

[2016-03-28 19:20] lwinch2006 commented on #303
Yepp. I just thought that it is possible somehow to "add alias from Etc/UTC to UTC" in Linux distribs so that Calendar 1.0 would not be confused by different names but after googling understood that it is not possible. So will wait until next release. Thx for information about the problem.

[2016-03-28 19:21] georgehrke commented on #303
Nothing you can do in your distro but rather something we need to fix in the calendar code

[2016-03-29 07:05] georgehrke commented on #205
Can you see different calendar colors?
All calendars fall back to the default ownCloud blue for me.

[2016-03-29 08:15] georgehrke commented on #372
I can totally see your need for such a feature, using a right-click action is not something we generally do in ownCloud.
I could imagine adding a button for something like "Go to ...". Probably in the settings as this is used very rarely. cc @jancborchardt

<img width="551" alt="calendar - owncloud chromium today at 10 09 47 am" src="https://cloud.githubusercontent.com/assets/1250540/14101701/6b9f

[2016-03-29 08:20] georgehrke commented on #302
Yes, it's enough. But it's only reproducible with Firefox on Windows. Firefox on Linux and OS X works just fine and no one of the developers uses Windows as their main operating system, that's why it's not happened to be fixed yet. Pull requests welcome :wink:

yes, please :)

[2016-03-29 13:01] mmattel commented on #205
JSqueeze fix is here: https://github.com/owncloud/3rdparty/pull/266

[2016-03-29 17:26] callmemagnus commented on #205
@georgehrke right, the calendars are all black for me too.

I don't know if it works differently when assets are not pipelined.

I can have a look at that on Friday if nobody's available before.

For me, the most important thing was to be able to see my calendars on the web interface.

[2016-03-29 19:40] minneyar commented on #356
While it would be great if TB could auto-discover calendars, there's no indication that it will ever be implemented.

In the meantime, having the URL in a tooltip is completely useless if I can't copy/paste from it.

[2016-03-29 20:00] minneyar opened #379 "When sharing a calendar, LDAP users show up as UUIDs"
### Steps to reproduce
1. Use LDAP for user authentication.
2. Go to the Calendar app in OwnCloud.
3. Click the button to share a calendar with other users
4. Begin typing a user name in the field.
5. Observe that instead of users names, UUIDs appear.

Internally, OwnCloud creates UUIDs for LDAP users that it uses as their username.  There is a separate display name that is used whenever the user'

[2016-03-29 21:25] georgehrke commented on #379
cc @tomneedham

[2016-03-29 21:31] copos77 opened #380 "Enabled all Calendars allways wenn Login"
How to enabled the Calendars and shared Caledars by default?

I want see all the events by starting the Calendar.

It is possibel?

Thanks for help

**ownCloud version:** 9.0.0

**Calendar version:** 1.0

**Updated from an older ownCloud or fresh install:**
fresh

[2016-03-30 05:45] bohni commented on #302
I use FF 45.0.1 on Windows 7 and Windows 10 and the Button is shown ok.
![calendar-button](https://cloud.githubusercontent.com/assets/1252254/14132961/5d9797fe-f64b-11e5-92b0-115680c65112.png)

[2016-03-30 07:41] nickvergessen opened #381 "Sharing options overlap"
### Steps to reproduce
1. Create a calendar
2. Type in a search string into the share field
### Expected behaviour

Beautiful list :heart_eyes:
### Actual behaviour

![bildschirmfoto vom 2016-03-30 09 36 16](https://cloud.githubusercontent.com/assets/213943/14135027/2846aa4e-f65b-11e5-87ec-9ac533a1c72e.png)
### Server configuration

**Operating system**: Linux Mint 17.3

**Web server:** Apache2

*

[2016-03-30 07:41] georgehrke commented on #381
@raghunayyar

[2016-03-30 07:52] jancborchardt opened #382 "Pressing enter in new calendar input doesn’t create calendar"
You need to manually click the button, which is quite annoying. Pressing enter after having put in a calendar name should also work.

(Observed when I watched @nickvergessen use the the Calendar app ;)

[2016-03-30 08:29] georgehrke commented on #382
@jancborchardt Should the dialog disappear after hitting enter? (or generally after creating a calendar)

[2016-03-30 08:30] georgehrke commented on #382
I doesn't hide neither at the moment

[2016-03-30 08:32] nickvergessen commented on #382
PS: enter works, dont know what you looked at

[2016-03-30 08:33] jancborchardt commented on #382
Yes, it should. :)

[2016-03-30 08:47] aspdye opened #383 "Link with anchor to event or day"
e.g. needed for https://github.com/owncloud/contacts/issues/316 :wink:

cc @DeepDiver1975 @skjnldsv

[2016-03-30 08:50] georgehrke commented on #382
pr: https://github.com/owncloud/calendar/pull/384

[2016-03-30 08:52] georgehrke commented on #380
dup of https://github.com/owncloud/calendar/issues/291 and https://github.com/owncloud/calendar/issues/366

[2016-03-30 08:52] #380 closed, assigned to nobody

[2016-03-30 08:52] georgehrke commented on #380
and please use the entire issue template next time

[2016-03-30 10:18] godfuture opened #385 "Special characters in german language (umlauts) are ignored in calendar names"
### Steps to reproduce
1. Create new calendar
2. Name it with german umlauts
3. Move mouse cursor over calendar and check Dav Link for missing umlaut in name
### Expected behaviour

The umlaut is visible in dav link or at least gets escaped
### Actual behaviour

Umlauts are ignored and therefore simply missing
### Server configuration

**Operating system:** Ubuntu Server 15.10 x64
**Web server:**

[2016-03-30 10:20] georgehrke commented on #385
That's the intended behaviors, because most clients have issues with umlauts and other special characters.

[2016-03-30 10:20] #385 closed, assigned to nobody

[2016-03-30 10:21] godfuture commented on #385
Escaping?

[2016-03-30 10:25] georgehrke commented on #385
makes the url really ugly and as far as I recall there has been issues with escaping the names as well.

[2016-03-30 10:27] georgehrke commented on #365
Will close in favor of: https://github.com/owncloud/calendar/issues/376

With that one and the fix in core this issue should be resolved.

[2016-03-30 10:27] #365 closed, assigned to nobody

[2016-03-30 11:06] georgehrke commented on #302
@TT44bb What Firefox version do you use?
Maybe this is an issue with Firefox 42 that was fixed with Firefox 45.

[2016-03-30 11:21] DeepDiver1975 commented on #383
and maybe back as well - as in open the contacts app from the birthday event in the calendar

[2016-03-30 11:48] jancborchardt opened #389 "Calendar import doesn’t show calendar directly"
Importing a calendar from an ICS file, I get the calendar title and the spinner in place of the color. That’s fine.

But then nothing really happens.

Out of curiosity I tried clicking on the calendar name, then clicked it again and the spinner was gone then and the events appeared. Really strange that it doesn’t do that automatically.

[2016-03-30 11:51] jancborchardt opened #390 "Imported calendars have same color"
I just imported two calendars from .ics files and both have the same dark blue color.

For any new calendar or imported calendar, the color should automatically be set to the first unused color.
Also, we should not have this dark blue, still dark blue and the dark grey … they are much too dark and not distinguishable either. For example, we don’t have any green color at all.

[2016-03-30 12:16] georgehrke commented on #390
@jancborchardt What if all colors are used?

Do you know a JS lib to generate new colors based on an existing set of colors? The new one should be 'as different' as possible.

[2016-03-30 12:17] georgehrke commented on #389
1.0 or master?

[2016-03-30 12:23] #344 closed, assigned to nobody

[2016-03-30 12:35] lukas-buergi commented on #302
I was probably using Iceweasel (Firefox) 38.7.1 when reporting it (i.e. whatever gets installed by default on a Debian stable system), and that's the one I'm also using now, and getting lots of problems with.
I checked on Firefox 45 on Windows 10 and there is no problem there.
Don't know why I didn't note earlier that the issue depends on which browser I use. Chromium/Debian works fine too.

So...

[2016-03-30 12:40] georgehrke commented on #302
We only support the very latest version of Firefox, Safari and Chrome/Chromium

[2016-03-30 12:44] georgehrke commented on #302
Yep, I just booted my gaming machine, updated Firefox and now I can't reproduce it anymore.

@scheisserchen65 Please update your Firefox, especially on Windows there is no reason to use an outdated firefox.

[2016-03-30 12:44] #302 closed, assigned to nobody

[2016-03-30 12:44] jancborchardt opened #394 "Sorting of calendars"
Currently calendars are sorted alphabetically (right?). This results in my »Events« calendar being sorted before by more important »Personal« calendar. Also, it is used as the default calendar in the new event dropdown which is not correct.

How about changing this to sorting the calendar by usage, that is amount of events in it? Would be a bit of guessing, but might fit better for many cases than

[2016-03-30 12:47] jancborchardt commented on #390
I think that’s what the core color placeholder.js library might be good for. It’s being improved by @skjnldsv, please take a look at https://github.com/owncloud/core/pull/23638

[2016-03-30 12:47] jancborchardt commented on #389
master

[2016-03-30 12:50] georgehrke commented on #302
@TT44bb I'm not sure if we want to support Iceweasel. The one in Jessie is quite outdated and there is no ice weasel in jessie back ports (yet) :confused:

[2016-03-30 12:51] skjnldsv commented on #383
Agreed! :+1:

[2016-03-30 12:53] aspdye commented on #383
:point_up_2: There you go :wink: (https://github.com/owncloud/contacts/issues/318)

[2016-03-30 12:54] skjnldsv commented on #390
This is exactly why I wrote this code, there is infinite possibilities (as far as web colors go).
We could get some very subtle tone variations, but overall we should get a good colors randomisation.

[2016-03-30 13:02] georgehrke commented on #394
I would still prefer to just make the calendar list sortable. I don't think it should be too complex to implement this and it fulfills all needs.
iCloud calendar does this as well.

Both usage and amount of events would increase the number of requests to the caldav server dramatically.

[2016-03-30 13:43] georgehrke opened #395 "scrolling in sidebar broken"
not possible to see everything

[2016-03-30 14:18] jancborchardt commented on #390
Yeah, if there’s 30+ calendars of course then it’s subtle. :) But if the spread for the first 7 or so is reasonably nice, it’s great!

Awesome to have you @skjnldsv! :) It’s these details which make ownCloud great, and we need to always make sure our stuff is standardized among apps.

[2016-03-30 14:40] skjnldsv commented on #390
Glad to hear that! :)
Actually you will need more than 30 items to have very subtle tones. ;)
But this is some statistics after all, you could end up with two exact colors, what are the odds!

[2016-03-30 14:47] jancborchardt commented on #301
I was also confused by this and would strongly prefer 17:00 over 17

[2016-03-30 14:48] jancborchardt commented on #301
(Sure we don’t have much space there, but well … the time shouldn’t be bold, because it’s less important than the event text itself. Rather, the time should be at a smaller font size.)

[2016-03-30 14:49] georgehrke commented on #301
@jancborchardt Can you take care of the CSS magic? I will make sure we never drop ':00'

[2016-03-30 15:31] j-ed commented on #394
Wouldn't it be possible to allow users to individually sort calendars similar as it has been possible in the tasks app in the past? I don't like automated sorting because every users may have a different way how he works and how he wants to get the calendars displayed.

[2016-03-30 15:33] georgehrke commented on #394
@j-ed That's exactly what I mean with 'make the calendar list sortable' :wink:

[2016-03-30 16:02] jancborchardt opened #396 "»Import planned« feedback on import"
This was quite confusing … what do I do now?
![capture du 2016-03-30 18-02-42](https://cloud.githubusercontent.com/assets/925062/14148843/9ca8dd80-f6a1-11e5-83ab-c3951e84ac91.png)

[2016-03-30 16:04] jancborchardt opened #397 "Empty first dropdown value on ics import"
@georgehrke check this out:
![capture du 2016-03-30 18-03-38](https://cloud.githubusercontent.com/assets/925062/14148867/c5a8ff6c-f6a1-11e5-99d8-928a09a6a2d9.png)

[2016-03-30 16:05] jancborchardt opened #398 "use MKCOL instead of MKCALENDAR"
JS issue:

[code]

@georgehrke any idea?

[2016-03-30 16:06] jancborchardt commented on #396
Some log errors:

[code]

[2016-03-30 16:10] jancborchardt opened #399 "Contact birthdays calendar issue"
Getting this in the console:

[code]

cc @georgehrke @DeepDiver1975

[2016-03-30 16:21] georgehrke commented on #398
Server config issue

[2016-03-30 16:21] georgehrke commented on #398
MKCALENDAR is a standardized method

[2016-03-30 16:22] georgehrke commented on #397
There probably was a contacts_birthday at that time already, right?

[2016-03-30 16:44] jancborchardt commented on #397
Yeah

[2016-03-30 16:45] jancborchardt commented on #397
But that shouldn’t be shown in the event import dropdown :)

[2016-03-30 16:45] jancborchardt commented on #398
Really? I didn’t have this issue before at all

[2016-03-30 16:46] georgehrke commented on #398
yes :)

http://icalendar.org/CalDAV-Access-RFC-4791/5-3-1-mkcalendar-method.html

But we should switch to MKCOL, because it basically does the same and it seems to be better supported ...

[2016-03-30 16:47] georgehrke commented on #397
obviously, but I think it's related to a read-only calendar existing. :)

[2016-03-30 19:56] jancborchardt commented on #397
Kk

[2016-03-30 20:14] georgehrke commented on #396
dup of https://github.com/owncloud/calendar/issues/398

[2016-03-30 20:14] #396 closed, assigned to nobody

[2016-03-30 20:25] georgehrke commented on #371
We switched from MKCALENDAR to MKCOL

[2016-03-30 20:25] #371 closed, assigned to nobody

[2016-03-30 20:51] jancborchardt commented on #301
Check https://github.com/owncloud/calendar/pull/403

[2016-03-31 11:26] dirkpape opened #404 "Calendar cannot be shared to a group"
### Steps to reproduce
1. login as user1 and share a calendar to a group of users containing user2, but not to the user2 himself
2. subscribe to the caldav service as the user2
3. see what calendars you can use
### Expected behaviour

calendar should be visible for user2
### Actual behaviour

calendar is not visible for user2.
But it is visible if shared directly (not via group) with user2.
### Se

[2016-03-31 11:34] lukas-buergi commented on #302
_Everything_ in Jessie is quite outdated, that's the main point of the Debian interpretation of "stable". :-D

I can understand that you might not want to support it. It kind of reduces the Debian stable vision to absurdity, though, that developers do this (understandable thing).

[2016-03-31 11:34] #398 closed, assigned to nobody

[2016-03-31 11:40] georgehrke commented on #404
Beginning with ownCloud 9 the CalDAV server became part of ownCloud's core and the calendar app is just a CalDAV client running in your browser.
Please report issues related to the CalDAV server in ownCloud’s core repo: https://github.com/owncloud/core/issues

[2016-03-31 11:40] #404 closed, assigned to nobody

[2016-03-31 13:47] jancborchardt commented on #326
Um … just delete the calendar before? ;)

[2016-03-31 18:44] randy-jr-olive opened #406 "Calendar App seems missing features after filesystem hardening suggestions applied"
After running the suggestion file system hardening steps listed here: [https://doc.owncloud.org/server/9.0/admin_manual/installation/installation_wizard.html#strong-perms-label](url) section: Setting Strong Directory Permissions I can no longer edit or import calendars. This may have been purely coincidental, as reversing the file system changes has not re-enabled the features.

Specifically: all

[2016-03-31 20:01] callmemagnus commented on #205
Ok, there is still an issue with the resulting minified files.

As I can guess, in the file `calendar/js/public/app.js` we have:

[code]

This sadly gets minified like this:

[code]

I must check if there is a way to avoid "mangling" of "color" as it is not a variable in this context.

I need to create a test case to validate this with jsqueeze.

[2016-03-31 22:24] enoch85 commented on #406
@randy-jr-olive Is this on the ownCloud Snappy image?

[2016-03-31 23:10] law opened #407 "ownCloud Calendar Sharing not working - group users not able to create/edit events in shared calendar"
### Steps to reproduce
1. Create group
2. Create user other than yourself, add to group
3. Create calendar, share calendar to group, check "<group> can edit"
4. Create events (as initial user) in shared calendar
5. Log in as newly-created user, go to Calendars, try and either edit the pre-existing event or add a new event to the shared calendar
### Expected behaviour

The other users in the group

[2016-04-01 00:22] randy-jr-olive commented on #406
This is running on plain-vanilla Ubuntu 15.10 server. As a side note, it is running in a VM on a proxmox server. The features had been working before in the VM before I made those changes to the file system permissions

[2016-04-01 05:23] ghost commented on #407
@law Probably a duplicate of https://github.com/owncloud/core/issues/23699. There have been some fixes for group sharing in https://github.com/owncloud/core/pull/23342 / https://github.com/owncloud/core/pull/23552 which gets shipped with oC 9.0.1.

For further issues please note that CalDAV and CardDAV issues now belongs to core like stated in the issue  template:

See also https://github.com/ownc

[2016-04-01 05:27] law commented on #407
These look shockingly similar, thank you for clarifying that for me.  When is 9.0.1 expected to ship, and/or is there a way I can pull down an RC with the patches before then?  I've got quite a few people relying on this shared calendar functionality, I'm bordering on desperate to get this sorted for them.

[2016-04-01 05:30] law commented on #407
re: "When is 9.0.1 expected to ship", it's amazing what I can find when I Google instead of just asking dumb questions :-)

https://github.com/owncloud/core/wiki/Maintenance-and-Release-Schedule

[2016-04-01 05:30] ghost commented on #407
Have a look at https://owncloud.org/install/#instructions-server -> "Find development packages for testing here." where you find testing packages (9.0.1 RC currently). But i think those fixes are not included in this RC yet.

The release schedule is available here: https://github.com/owncloud/core/wiki/Maintenance-and-Release-Schedule

[2016-04-01 08:41] #407 closed, assigned to nobody

[2016-04-01 08:42] georgehrke commented on #406
Not sure if this is really a bug in the calendar if you mess with file permissions and stuff breaks :confused:

[2016-04-01 08:43] georgehrke commented on #406
please provide a web browser log first of all

[2016-04-01 09:01] georgehrke commented on #193
blocked by https://github.com/owncloud/calendar/issues/317

[2016-04-01 09:01] georgehrke commented on #233
Issue was resolved in core

[2016-04-01 09:01] #233 closed, assigned to nobody

[2016-04-01 09:02] georgehrke commented on #287
blocked by https://github.com/owncloud/calendar/issues/317

[2016-04-01 09:23] georgehrke commented on #50
blocked by https://github.com/owncloud/calendar/issues/317

[2016-04-01 09:25] georgehrke commented on #137
blocked by https://github.com/owncloud/calendar/pull/345

[2016-04-01 09:28] georgehrke opened #409 "initially show spinner in app navigation"
The calendar list just appears once ready to be rendered.
There should be a spinner to show that the data is still loading

[2016-04-01 09:34] georgehrke commented on #356
blocked by https://github.com/owncloud/calendar/pull/400

[2016-04-01 12:01] randy-jr-olive commented on #406
Not sure if you really read the first line of my original report? Is following the official ownCloud installation steps (of which, Setting Strong Directory Permissions, is a recommended one) considered "messing" with file permissions?

[2016-04-01 12:03] georgehrke commented on #406
please provide the web browser log ...
If you can't import calendars there are probably errors

[2016-04-01 13:20] randy-jr-olive commented on #406
browser log
`Content Security Policy: The page's settings blocked the loading of a resource at self ("script-src https://<my ip address> 'unsafe-eval'"). calendar:1:0

Using //@ to indicate sourceMappingURL pragmas is deprecated. Use //# instead jquery.min.js:1:0

Content Security Policy: The page's settings blocked the loading of a resource at self ("script-src https://<my ip address> 'unsafe-eva

[2016-04-01 13:29] raimund-schluessler commented on #406
The edit button problem is described here https://github.com/owncloud/calendar/issues/314 and should be resolved with https://github.com/owncloud/calendar/pull/319. Please check if this works for you.

[2016-04-01 13:37] randy-jr-olive commented on #406
This does look like the same problem, and similar setup to mine. Is there a way I can test that fix, or has it been merged into the official release yet?

[2016-04-01 13:42] raimund-schluessler commented on #406
You can test the latest Calendar master or wait for Calendar 1.1 to be released.

[2016-04-01 13:49] randy-jr-olive commented on #406
I checked out the Calendar master and installed it on the server, the fix is working. Excellent work, thanks.

[2016-04-01 14:52] #406 closed, assigned to nobody

[2016-04-01 15:41] c-holtermann commented on #377
No, week view ist not really suitable. I don't need to know the time of the events. I need to get the overview if there is an event on that day. And I can't see the whole day in week view. I need to scroll. The overview of the day in the first row is the same as in month view. It hides the events from the 4th on. Even if week view would show a complete overview of the week with one glance (which i

[2016-04-01 15:41] c-holtermann commented on #377
And because the old calendar is unmaintained I even more plea for mercy ;-)

[2016-04-01 15:47] callmemagnus commented on #205
logged issue upstream: https://github.com/tchwork/jsqueeze/issues/43.

[2016-04-01 16:27] georgehrke commented on #377
cc @jancborchardt

[2016-04-01 17:21] georgehrke commented on #364
Maybe @evert can enlighten us :laughing:

[2016-04-01 17:32] c-holtermann commented on #377
Thank you for listening to my question !

[2016-04-01 17:36] evert commented on #364
It's just a list of subscriptions. Although a server-side cache might be cool =)

I don't think a spec exists. I believe I just reverse-engineered it.

[2016-04-01 17:45] c-holtermann opened #410 "Adding new event on days with more events than directly visible (folded events) fails in month view"
### Steps to reproduce
1. Have more than 4 events per day
2. Use month view (or week view, upper row)
3. Click on empty space to add a new event
### Expected behaviour

I would expect to see the dialog opening to edit new events data as it happens if I click on any white space on days without folded events
### Actual behaviour

No dialog opens. When unfolding the new events I can see an event call

[2016-04-01 17:58] georgehrke commented on #364
Haha, that explains a lot :see_no_evil:

Thx a lot :)

[2016-04-01 18:01] georgehrke commented on #364
@DeepDiver1975 For now I'll implement webcal in the client only as planned for 1.1.

If anything caching webcal and propagating them to clients as ordinary calendars would go into ownCloud 9.1.

[2016-04-01 18:53] jancborchardt commented on #377
How about hovering a day »expands« the current day to show the rest of the events below?

[2016-04-01 18:59] georgehrke commented on #377
I think that the '+ n more' is the best solution right now, as we don't want the month view to begin scrolling, but when we have continuous scrolling, we could also show all events, right?

[2016-04-01 19:53] jancborchardt commented on #377
Even with continuous scrolling, I would first say that the height should stay consistent. We could expand it  a bit, but when there’s a day with 10 events that should not cause the whole week to go crazy in height.

[2016-04-01 21:43] c-holtermann commented on #377
I now understand that it is a design decision to not scroll. And that the height should stay the same.
I don't understand the reasoning behind these decisions though. At least for my simple mind I was better with scrolling and weeks with different heights and I could see everything.
I like the suggestion by jancborchardt with hovering better then the way it is now.
I don't understand "continous sc

[2016-04-02 15:35] #206 closed, assigned to georgehrke

[2016-04-02 15:35] #207 closed, assigned to georgehrke

[2016-04-02 16:01] #382 closed, assigned to nobody

[2016-04-02 16:03] #292 closed, assigned to georgehrke

[2016-04-02 16:05] #303 closed, assigned to nobody

[2016-04-02 17:38] #329 closed, assigned to nobody

[2016-04-02 17:38] #358 closed, assigned to georgehrke

[2016-04-02 22:40] callmemagnus commented on #205
Wow... to investigate I disabled JSqueeze on my install but kept the aggregation. The resulting file is _huge_ (3MB for the calendar page).
In addition to this squeeze issue, I strongly think owncloud starts to be a little obese on the js side.

[2016-04-03 07:23] georgehrke opened #411 "ES6 all the things"
currently blocked by lacking support in Safari
https://kangax.github.io/compat-table/es6/#safari9

[2016-04-03 10:12] georgehrke opened #414 "Add clipboard button to caldav link"
currently blocked by lacking support in Safari

[2016-04-03 10:29] #356 closed, assigned to nobody

[2016-04-03 12:15] georgehrke commented on #334
- [ ] report upstream bug
- [ ] stop calendar from silently failing

[2016-04-03 12:17] georgehrke commented on #370
ping @aspdye

Please explain why :)

cc @jancborchardt

[2016-04-03 14:11] jancborchardt commented on #370
Yeah, this should not be the case. Especially not on mobile actually. The default should always be the popup with only the essential info (title, time and calendar).

[2016-04-03 14:11] #370 closed, assigned to nobody

[2016-04-03 14:46] georgehrke commented on #370
@jancborchardt so no https://github.com/owncloud/calendar/issues/193?

The popover is really not useful in mobile right now. You can't reach all buttons.

[2016-04-04 11:16] jancborchardt commented on #370
Well, we simply need to make the popover work on mobile. The sidebar has too much info for quick mobile input, no?

[2016-04-04 11:48] archont00 commented on #341
Yes, that would be great.

I use this funtionality for meetings, which are not typically "recurring" in terms of predictability. E.g. language classes in different times of a week, always agreed upon with the teacher shortly beforehand.

In MS Outlook, I liked that it worked similarly like in a file manager: start draging the event by mouse (this works) and press the CTRL key before dropping the e

[2016-04-04 11:53] skuegler commented on #983
The issue has been fixed in OC9. Issue closed.

[2016-04-04 11:53] #983 closed

[2016-04-04 12:01] georgehrke commented on #341
I'm thinking about a completely different approach.
Just create an event as usual and as you type the name of the event a list based on existing events will appear. Selecting an item will copy all properties like location, attendees, alarms, etc ...

[2016-04-04 12:02] archont00 commented on #342
Interesting. Will the suggestions be simply based on the most recent "similar" existing event or rather talk to Google or some other data collector? ( https://www.google.co.uk/#q=what+time+is+dinner ) I hope for the former ;-)

[2016-04-04 12:04] georgehrke commented on #342
It'll probably have hard-coded values in the first version. We can still refine it later on.

[2016-04-04 15:46] raimund-schluessler commented on #341
@georgehrke This could be an option too, but the benefit of the Ctrl+Drag approach is that it is faster and you can directly change the date and time. Just cloning an event one-to-one to be totally identical seems an rather unlikely wish.

[2016-04-04 15:48] georgehrke commented on #341
I think that Ctrl+Drag is pretty unintuitive. It's not easy to discover and it won't work on mobile. That's why we generally try to avoid these kinds of interaction in ownCloud.

[2016-04-04 15:48] enoch85 commented on #341
Just drag the event to another day... Works in current version.

[2016-04-04 16:20] archont00 commented on #341
@raimund-schuessler: I really do one-to-one cloning. Some time later, I may edit the event so it eventually becomes non-identical.

@enoch85: yes, drag & drop works, but only for moving and not for copying.

@georgerhke: yes, drag + CTRL + drop might be a bit hidden feature, but really fast to use. BTW, I tested Evolution mail client, and it cannot even move events by dragging :-(
Google's Calende

[2016-04-04 16:24] enoch85 commented on #341
@milankni Ah ok, I misunderstood.

[2016-04-04 17:01] georgehrke commented on #341
We are aware of this issue.
See https://github.com/owncloud/calendar/issues/193

[2016-04-04 17:06] georgehrke commented on #370
To me the popover looks just strange on a mobile device.
Also as both take up almost the entire screen it's hard for the user to distinguish if they are in the popover or the sidebar. Having two different dialogs that look very similar but have a different set of inputs is bad in my opinion.

[2016-04-04 18:59] aspdye opened #416 "Show Full Name instead of username for shared calendars"

[2016-04-05 05:28] nullquery opened #417 "Indication of current time"
Hi,

In the previous version of the calendar you were able to see a red line for the current time in the day/week view.

This feature seems to have been **removed** in this supposedly _newer_ version.

Can someone re-add this feature?

Another thing I'm missing is the ability to save an event by pressing Enter, but I saw this was handled in a separate issue -- it does beg the question why the cale

[2016-04-05 07:40] georgehrke commented on #416
- [x] check if there is a way to get the display name for any user in JS
  - [ ] if not ask core to add display name to dav responses

[2016-04-05 08:01] jancborchardt commented on #370
@georgehrke hmm, ok. Makes sense since the footer with the buttons is sticky.

But then the »Cancel« and »Save« button in the sidebar have to be next to each other to avoid misclicks. Also, the extra text field in the small popover should then go away and we should make it more compact to have it really be a very quick means of input.

[2016-04-05 09:50] ionum opened #418 "Updated calendar-shares loosing edit-rights"
### Steps to reproduce
1. Update existing db with calendar-shares (with edit-right) from owncloud 8.2.x
### Expected behaviour

former-edit-rights-shares should be edit-rights-shares
### Actual behaviour

former-edit-rights-shares loosing edit-right
### Server configuration

mysql 5.5
owncloud 9.0.0
calendar 1.0

[2016-04-05 09:53] ionum opened #419 "Implement editing vcal-status described in rfc 2445 and display options for different status"

[2016-04-05 09:53] georgehrke commented on #419
please add an bit more elaborated description

[2016-04-05 09:55] georgehrke commented on #418
Beginning with ownCloud 9 the CalDAV server became part of ownCloud's core and the calendar app is just a CalDAV client running in your browser.
Please report issues related to the CalDAV server in ownCloud’s core repo: https://github.com/owncloud/core/issues

[2016-04-05 09:55] #418 closed, assigned to nobody

[2016-04-05 09:58] ionum commented on #419
VCAL has an option STATUS for indicating if the event is confirmed, tentative or canceled like this:
BEGIN:VCALENDAR
VERSION:1.0
BEGIN:VEVENT
STATUS:TENTATIVE
DTSTART:19960401T033000Z
DTEND:19960401T043000Z
SUMMARY:Your Proposal Review
END:VEVENT
END:VCALENDAR

This should be editable (simple dropdown) as well as displayed differently in the calendar

[2016-04-05 10:02] ionum commented on #418
Done.

https://github.com/owncloud/core/issues/23796

[2016-04-05 12:22] wiswedel opened #420 "prevent accidental removal of events"
When editing an existing event, the event is being deleted when I hit the enter key.
The default button should be "Update" in order to prevent accidental removals.

[2016-04-05 12:29] georgehrke commented on #420
- [x] add ng-submit to editors

[2016-04-05 12:54] archont00 opened #421 "In event preview/edit preview, show also "Description""
### Steps to reproduce
1. Have some events in calendar
2. Click on any event
3. A preview is shown, but the "Description is missing".
### Expected behaviour

It should be easier to preview the "Description" field together with other basic info.
### Actual behaviour

The user has to click "More" button to see the even description.

So, I propose that either the event description is shown in the pre

[2016-04-05 13:08] archont00 commented on #342
Yet another idea as described by the GNOME project:

https://wiki.gnome.org/Apps/California/HowToUseQuickAdd

[2016-04-05 13:10] georgehrke commented on #342
OS X calendar and Fantastical do this as well, but it's really hard especially when you support multiple languages. Even more when the translations are contributed by volunteers.

[2016-04-05 13:20] javesin opened #422 "Create event in shared calendar created by other user doesn't send emails to attendees"
### Steps to reproduce
1. Log into ownCloud as user1 using LDAP account
2. create new calendar, setup share for other user2 with edit permition
3. create new event, add user1 (me) and user2 as attendees
4. mail invitation to user2 is sent
5. logout
6. login as user2 using LDAP
7. in shared calendar create new event, add user1 and user2 as attendees
8. no mail sent
### Expected behaviour

Even I cr

[2016-04-05 13:31] javesin opened #423 "In web user interface I can't find creator of the event"
In the web client (oC) doesn't show creator info. When I add ownCloud calendar into Thunderbird+Lightning I'm able to see all details including creator.
### Steps to reproduce
1. Log into ownCloud calendar (web client)
2. create event (my own or other shared calendar)
3. go to event details
### Expected behaviour

Not only settings but also creator should be displayed
### Actual behaviour

No info

[2016-04-05 13:34] georgehrke commented on #423
Really? All the time or only if the events contains attendees?

[2016-04-05 13:43] georgehrke commented on #423
- [ ] show value of organizer property when editing event

[2016-04-05 14:01] javesin opened #424 "Creating new event in more detail forgets selected calendar"
### Steps to reproduce
1. Log into ownCloud
2. create more than one calendar ie named "cal1" and "cal2" so cal1 is listed on the first place, cal2 on second position
3. create new event by clicking into calendar
4. New event form is opened
5. cal1 is pre-set calendar in this form (because it is first in the list)
6. select cal2 in the listbox
7. click "More..." button in this form before Create ac

[2016-04-05 14:07] georgehrke commented on #424
dup of https://github.com/owncloud/calendar/issues/343

[2016-04-05 14:07] #424 closed, assigned to nobody

[2016-04-05 20:29] sedrubal opened #425 "Selected calendar resets when clicking on more while creating new event"
### Steps to reproduce
1. Click in Calendar to create a new event
2. Chose one calendar
3. Click on more
### Expected behaviour

The selected calendar should also be selected in the "More" sidebar.
### Actual behaviour

The first calendar in the calendar drop down is selected. This happens only when creating a new event, not while modifying an event.
### Server configuration

**Operating system**:

[2016-04-05 20:39] georgehrke commented on #425
duplicate

[2016-04-05 20:39] #425 closed, assigned to nobody

[2016-04-05 20:40] georgehrke commented on #425
https://github.com/owncloud/calendar/issues/343

[2016-04-06 14:38] DeepDiver1975 commented on #399
You cannot modify the birthday calendar - it's read only - no idea why the calendar code base tries to PROPPATCH

[2016-04-06 14:49] georgehrke commented on #399
Ok, will check later today

[2016-04-06 14:53] georgehrke commented on #399
latest master, fresh generated birthday calendar:

[code]

Server propagates it as writable (again?)

[2016-04-06 14:56] georgehrke commented on #399
Setting `{*NS-OWNCLOUD*}calendar-enabled` also requires a PROPPATCH. Is this prohibited now as well?

[2016-04-06 15:08] DeepDiver1975 commented on #399
@georgehrke is this core master branch?

[2016-04-06 15:12] georgehrke commented on #399
I think so, yes

Please excuse my brevity and typos.
Sent from my mobile

[2016-04-07 06:07] javesin commented on #423
You are right - in Thunderbird+Lightning I don't see creator when no attendee defined. But I think I should be able to know who's the creator of event in shared calendar also in case no attendee added.

[2016-04-07 15:35] bohni commented on #302
@georgehrke

As a developer I understand the pain of supporting multiple versions of browsers.

But you should at least also support the LTS versions, because business users often use these LTS version to minimize the necessary updates of their client machines.

[2016-04-07 15:37] georgehrke commented on #302
Business users also have money to pay someone to add support for the LTS versions :wink:

[2016-04-07 17:00] bohni commented on #302
@georgehrke you're right :wink:

[2016-04-07 18:35] wiswedel commented on #416
Not really a bug, more a CR, isn't it?

[2016-04-07 19:03] georgehrke commented on #416
@wiswedel: Well, the LDAP backend has random strings as user Ids, that's why we should use the display name instead :wink:

[2016-04-07 19:18] wiswedel commented on #416
Ah ok, in that case I understand.

[2016-04-08 22:10] georgehrke opened #426 "use debounce for window resize"

[2016-04-08 22:12] georgehrke commented on #423
Hm, Do you want that also for events sharees create in clients other than this calendar app?

Then we should create a ticket in another repo

[2016-04-09 10:27] georgehrke commented on #137
moving to 1.2

[2016-04-09 10:27] georgehrke commented on #194
snap.js related

cc @jancborchardt

[2016-04-09 10:30] georgehrke opened #427 "make calendar visible when selecting it in editor"

[2016-04-09 10:30] georgehrke commented on #427
any opinions @jancborchardt @raghunayyar?

[2016-04-09 14:52] tobiasKaminsky opened #429 "remove valarms from objects in read-only shared calendars"
@georgehrke
Back in the old calendar app there was an open pull request made by you that removed the alarm from events in read-only  sharedy calendars.
You postponed this PR due the calendar on OC9 uses another caldav implementation.

Is something like that already possible in OC9 or is it planned?

[2016-04-09 15:50] georgehrke commented on #429
No, please raise an issue in http://github.com/owncloud/core/issues

[2016-04-09 15:50] #429 closed, assigned to nobody

[2016-04-09 15:50] georgehrke commented on #429
(core because it's related to the caldav server, which is part of core beginning with ownCloud 9)

[2016-04-09 19:44] georgehrke commented on #416
https://github.com/owncloud/core/issues/23877#issuecomment-207833512

[2016-04-09 19:49] jc97 opened #430 "Resharing is possible"
### Steps to reproduce
1. Share an calendar with an user or group and gain write access.
2. Disable "resharing" on the admin page
3. Login as another user and open the calendar app
4. Try to edit the share-configuration of the shared calendar
### Expected behaviour

The user should not be able to edit the share-configuration
### Actual behaviour

The user is able to share the calender or delete sh

[2016-04-09 19:50] georgehrke commented on #430
@jc97 Please report the same issue in https://github.com/owncloud/core/issues (and keep this one open)

[2016-04-09 19:56] jc97 commented on #430
Done.

Thank you for your response.

[2016-04-09 20:04] georgehrke commented on #362
@JanMiddelkoop Any luck to gather debug data?

[2016-04-09 20:08] georgehrke opened #431 "add proper indication if a calendar was shared"
change the opacity to something higher and add `Shared` label

[2016-04-09 20:11] georgehrke commented on #235
@tomneedham Any update?

[2016-04-10 11:51] georgehrke opened #432 "improve tab index in editor"
see https://github.com/owncloud/calendar/pull/368

[2016-04-10 11:52] georgehrke commented on #432
- [ ] make directive read attributes and assign them as tabindex

[2016-04-10 12:03] jancborchardt commented on #427
Yes, would be a good automatism.

[2016-04-10 12:06] #193 closed, assigned to georgehrke

[2016-04-10 12:06] #287 closed, assigned to nobody

[2016-04-10 12:06] #317 closed, assigned to nobody

[2016-04-10 12:06] #333 closed, assigned to georgehrke

[2016-04-10 12:06] #343 closed, assigned to nobody

[2016-04-10 12:06] #376 closed, assigned to nobody

[2016-04-10 17:34] georgehrke opened #441 "test keyboard navigation"
Make sure keyboard navigation works properly in calendar app.

Let's collection different scenarios to test here:

[2016-04-10 18:06] wiswedel commented on #441
Do you want suggestions for keystrokes here?

[2016-04-10 18:07] georgehrke commented on #441
sure, everything keyboard related.
Navigation with tabs
being able to submit all forms with enter

[2016-04-10 18:12] wiswedel commented on #441
_Suggestions_

Next day/week/month: N or cursor right
Previous day/week/month: P or cursor left
Today: T
Day view: D
Week view: W
Month view: M

[2016-04-10 18:58] aspdye commented on #313
I think we can close this in #441 :grin:

[2016-04-10 18:58] #313 closed, assigned to nobody

[2016-04-10 19:53] rahliak opened #442 "Missing calendar options after upgrade"
### Steps to reproduce
1. Open the calendar app in ownCloud
2. Go to the settings or
3. go to the calendar
### Expected behaviour

After opening the settings of the calendar app, I expected the settings as described in the user manual (https://doc.owncloud.org/server/9.0/user_manual/pim/calendar.html)
### Actual behaviour

The settings are very different as described in the manual.
- When creating

[2016-04-10 20:14] aspdye commented on #442
The documentations for the new calendar and contacts - apps are outdated :grin:
https://github.com/owncloud/documentation/issues/2278

[2016-04-10 20:15] georgehrke commented on #442
Manual is outdated

These settings were removed on purpose and are not determined by the language

will be reintroduced with 1.1

Bug, will be fixed with 1.1

[2016-04-10 20:15] #442 closed, assigned to nobody

[2016-04-10 23:14] georgehrke commented on #313
@aspdye I think this one will already be fixed with 1.1

[2016-04-11 08:18] javesin commented on #423
In my opinion it makes sense to store/see creator and don't differentiate which client-app creates the event. So if you approve it then please create appropriate new ticket or let me know I'll do it.

[2016-04-11 09:21] #214 closed, assigned to georgehrke

[2016-04-11 12:14] georgehrke commented on #132
I'm afraid we will have to move this to 1.2.

[2016-04-11 13:58] georgehrke commented on #416
duplicate of https://github.com/owncloud/calendar/issues/379

[2016-04-11 13:58] #416 closed, assigned to nobody

[2016-04-11 13:58] georgehrke commented on #135
Putting on hold till Safari supports input color

[2016-04-11 13:58] georgehrke commented on #441
also related to https://github.com/owncloud/calendar/issues/432

[2016-04-11 15:09] georgehrke commented on #389
can't always reproduce, needs some more investigation, moving to 1.2

[2016-04-11 17:30] georgehrke commented on #334
the issue itself is fixed with the latest ical.js version: https://github.com/owncloud/calendar/pull/446

we still need to make sure we always catch the errors, will create a dedicated issue.

[2016-04-11 17:30] georgehrke opened #447 "always catch errors when reading ical strings"

[2016-04-11 17:31] georgehrke commented on #334
issue about catching the errors: https://github.com/owncloud/calendar/issues/447

[2016-04-11 18:32] vxq9e7bx commented on #334
@georgehrke #447 does not fix for me, or does that only count for newly created events?
edit: thought this was included in 9.0.1...

[2016-04-11 18:33] georgehrke commented on #334
@wetsixteen (I assume you mean #446). Please post the exact error message you see in the browser log.

[2016-04-11 21:59] origontec opened #449 "Add printing styles"
### Steps to reproduce
1. print (ctrl +p)
### Expected behaviour

all formatting should be printed as the screen viiew, (see screen 1)
### Actual behaviour

 The printed page does not preserve the screen formatting. (see screen 2)
### Server configuration

**Operating system**:
![screen 2](https://cloud.githubusercontent.com/assets/13749612/14443657/fa9a69ee-0016-11e6-96fe-ebe3ca9755b0.png)

![scr

[2016-04-12 08:50] georgehrke commented on #395
@raghunayyar Do you have time to look into this? :)
If the window's height is not big enough the buttons overlay the content which is not scrollable

[2016-04-12 08:51] georgehrke commented on #449
There are no dedicated print styles yet

[2016-04-12 08:51] georgehrke commented on #449
Very low priority for now though

[2016-04-12 09:56] jknockaert commented on #205
Provided that the original issue is fixed (https://github.com/owncloud/3rdparty/pull/266#issuecomment-208824525), we should now reverse https://github.com/owncloud/calendar/pull/268.

[2016-04-12 12:54] callmemagnus commented on #205
The calendar color issue remains.

[2016-04-12 12:58] jknockaert commented on #205
Do we wait for reversing #268 till the calendar issue is fixed? In that case https://github.com/owncloud/3rdparty/pull/266 doesn't serve any purpose.

[2016-04-12 13:07] georgehrke commented on #205
Yes, the calendar color issue still remains, anyway I would like to remove the check once owncloud/3rdparty#266 is in ownCloud 9. (probably 9.0.2)

Having the color issue is still not as bad as not being able to use asset pipeline at all.

[2016-04-12 13:31] georgehrke opened #450 "remove asset pipeline check once JSqueeze update is in stable9"

[2016-04-12 13:32] georgehrke commented on #450
actually not remove it, but only show it for ownCloud 9 < 9.0.2 (or whatever version the update will be shipped with)

[2016-04-12 13:33] georgehrke opened #451 "All calendars have same color when asset pipeline is enabled"
tracked upstream: https://github.com/tchwork/jsqueeze/issues/43

[2016-04-12 13:34] georgehrke commented on #205
Issue about removing the check again: https://github.com/owncloud/calendar/issues/450
Issue about the color problem: https://github.com/owncloud/calendar/issues/451

[2016-04-12 19:01] #328 closed, assigned to nobody

[2016-04-12 19:04] georgehrke opened #452 "more sharing dialog css fixes needed"
https://github.com/owncloud/calendar/pull/412#issuecomment-204920448

Update:-
- [x] when typing a username the input field "jumps down" a few pixels until the results are loaded
- [x] There is some annoying whitespace in the bottom of the dialog.

[2016-04-12 19:05] #397 closed, assigned to nobody

[2016-04-12 19:06] #301 closed, assigned to nobody

[2016-04-12 19:07] #216 closed, assigned to nobody

[2016-04-12 19:07] #307 closed, assigned to nobody

[2016-04-12 19:08] #420 closed, assigned to nobody

[2016-04-12 19:14] #334 closed, assigned to nobody

[2016-04-12 19:14] #381 closed, assigned to raghunayyar

[2016-04-12 19:16] ansorg commented on #309
@georgehrke please reconsider the wontfix

I had a look at the calendar thing (app.js) and what got my attention immediately was the usage of `XMLElement.outerHTML`. How is an XML Element supposed to have this? Ok, some browsers are stupid enough to support this but it seems wrong. Is that what you call 'bleeding edge'? ;-)
Anyways ... the solution is quite simple: `XMLSerializer` as in `new XMLSe

[2016-04-12 19:17] georgehrke commented on #309
@ansorg: Would you mind sending a pull request? (sorry, didn't finish reading your comment first)

[2016-04-12 19:18] georgehrke commented on #309
Is XMLSerializer supported in all browsers?

[2016-04-12 19:19] LukasReschke commented on #309
@georgehrke http://caniuse.com/#feat=xml-serializer :wink:

[2016-04-12 19:20] georgehrke commented on #309
Okay, then that's something we can definitely do. Although we won't add support for IE or Edge!

[2016-04-12 19:21] georgehrke opened #453 "use XMLSerializer instead of outerHTML prop"
see https://github.com/owncloud/calendar/issues/309#issuecomment-209060529

[2016-04-12 19:21] georgehrke commented on #309
created a dedicated issue: https://github.com/owncloud/calendar/issues/453

[2016-04-12 19:34] ansorg commented on #309
pull requested. my first one ever, please be kind :-)

[2016-04-12 19:43] raghunayyar commented on #453
:+1:

[2016-04-12 20:24] #453 closed, assigned to nobody

[2016-04-12 20:57] ghost opened #458 "Add issue tracker link to appstore"
https://apps.owncloud.com/content/show.php/Calendar?content=168707

currently don't has the link to the issue tracker like the contacts app for example:

https://apps.owncloud.com/content/show.php/Contacts?content=168708

Adding such a link hopefully prevents some users from posting issues within the comments of the app

[2016-04-12 21:00] georgehrke commented on #458
done :)

[2016-04-12 21:00] #458 closed, assigned to nobody

[2016-04-12 21:02] georgehrke commented on #458
You are very optimistic :laughing:

[2016-04-12 22:12] enoch85 opened #459 "Opacity is too much"
### Steps to reproduce

Open the calendar in webUI
### Expected behaviour

Opacity should be less
### Actual behaviour

Opacity is to much and makes the dates and time almost invisible

![deepinscreenshot20160413000757](https://cloud.githubusercontent.com/assets/4511254/14477072/f1c0ed98-010b-11e6-9519-5a79515a3c5d.png)
### Server configuration

**Operating system**:
Ubuntu Server 14.04
**Web serv

[2016-04-13 05:07] ghost commented on #458
Nah, not that optimistic. But there is still some hope that one might notice the link there :-)

[2016-04-13 05:53] jancborchardt commented on #459
That is for the dates of the previous month though. It's an indicator for that.

[2016-04-13 05:54] jancborchardt opened #460 "Style past events differently"
To be able to quickly tell apart past events (and find today), we should give a slightly different style to them. For example a bit of transparency or grey them out a bit.

[2016-04-13 06:52] nickvergessen commented on #381
works, thanks :+1:

[2016-04-13 07:36] ghost opened #461 "Fix "Primary CalDAV address" URL"
### Steps to reproduce
1. Open calendar app
2. Open settings (cogwheel bottom left)
### Expected behaviour

The "Primary CalDAV address" should point to `http://example.com/remote.php/dav/calendars/USERNAME/`
### Actual behaviour

The "Primary CalDAV address" is pointing to `http://example.com/remote.php/dav/`
### Server configuration

**ownCloud version:** 9.0.1

**Calendar version:** 1.1

[2016-04-13 07:45] ghost commented on #461
Hi,

the question is also if this address can be used at all? AFAIK Thunderbird can't discover calendars there.

How are other clients (e.g. DAVDroid) handling this?

[2016-04-13 07:46] georgehrke commented on #461
AFAIK KOrganizer, Evolution and DavDroid use this URL. Not entirely sure though.
For Thunderbird we reintroduced the caldav link for each calendar with 1.1 :)

[2016-04-13 07:49] ghost commented on #461
I'm really not familiar with that stuff. Core for example is also only pointing to:

`http://example.com/remote.php/dav/`

in its .htaccess: https://github.com/owncloud/core/blob/v9.0.1/.htaccess#L56-L57

[2016-04-13 07:51] georgehrke commented on #461
we should probably check if the current url is just fine for KOrganizer and co.

[2016-04-13 07:51] georgehrke commented on #269
@DeepDiver1975: Is this something you would backport to 9.0 or will this be added with 9.1 at the earliest?

[2016-04-13 07:58] georgehrke commented on #49
The biggest priority imo is continuous scrolling in the month view. Continuous scrolling in the day and week view can be added with later versions.

[2016-04-13 07:58] tagru opened #463 "Events cannot be marked as private"
### Steps to reproduce
1. Create event
2. Open details
3. No possibility to mark event as private
### Expected behaviour

Before 9.0 an event could be marked as private, so these marked events would not be seen if the calendar is shared
### Actual behaviour

No field for privacy
### Server configuration

**ownCloud version:9.0.1

**Calendar version:1.1

[2016-04-13 07:58] #463 closed, assigned to nobody

[2016-04-13 07:58] georgehrke commented on #463
see the FAQ

[2016-04-13 07:59] georgehrke commented on #463
actually it's not in the FAQ right now, sorry, anyway, this is a bug in core

[2016-04-13 08:00] georgehrke commented on #463
https://github.com/owncloud/core/issues/22914

[2016-04-13 09:06] koenlek opened #464 "Feature request: set default calendar?"
Is there a way to set your default calendar?
I use owncloud 9.0.1 with calendar app v1.1 and I am creating appointments form the webinterface.

Since the owncloud 9, my new appointments are by default created in my "contact birthdays" calendar (which is strange on its own, as I don't have the contacts app enabled in owncloud, so it is bound to be empty by default unless I manually fill it?). Could

[2016-04-13 09:08] georgehrke commented on #464
The contacts_calendar being writable is a known bug in https://github.com/owncloud/core
it's supposed to read-only.

closing as dup of https://github.com/owncloud/calendar/issues/133

[2016-04-13 09:08] #464 closed, assigned to nobody

[2016-04-13 09:14] koenlek opened #465 "Feature request: exceptions for recurring events"
It is currently impossible to add exceptions to recurring events from the calendar app's webinterface. If I shift the time, it shifts all events in that recurring series. And much worse: if I want to delete 1 occurrence of a recurring event, it deletes the whole series without an extra warning! So trying to skip one meeting for example for some holiday, can easily result in accidentally deleting t

[2016-04-13 09:15] #465 closed, assigned to nobody

[2016-04-13 09:15] georgehrke commented on #465
please search for existing issues before creating new ones ...

[2016-04-13 09:15] georgehrke commented on #465
https://github.com/owncloud/calendar/issues/50

[2016-04-13 09:23] koenlek commented on #464
Thanks for the fast response!

[2016-04-13 09:26] koenlek commented on #465
Thanks for fast response. Apologies for not searching well enough.  I searched for "recurring"... The issue you refer to uses "repeating".

[2016-04-13 09:27] enoch85 commented on #459
@jancborchardt Let me disagree on that. Take a look here:
![deepinscreenshot20160413112533](https://cloud.githubusercontent.com/assets/4511254/14488879/91b04ff2-016a-11e6-97af-02abc5cd1b33.png)

Do you see any difference between 12 and let's say 19? This is April btw.

[2016-04-13 09:36] koenlek commented on #344
I agree with @eesko, a custom color picker would be great, 8 colors is not enough for me...

[2016-04-13 09:38] raghunayyar commented on #344
@koenlek @eesko Contributions are welcome. :)

[2016-04-13 09:49] georgehrke commented on #344
As mentioned in this issues description: There is an issue for a rich color picker: https://github.com/owncloud/calendar/issues/135

[2016-04-13 10:28] brot commented on #326
Deleting the calendar before is no option.
I use CalDav on my phone. Deleting the calendar before and creating a new one with the imported data means, that I have to reconfigure my phone. But I'm using a shared calendar, so everyone using this shared calendar on the phone needs to configure the new created calendar.

So the easiest way to resolve this issue is to bring back the option on import to

[2016-04-13 10:59] ghost commented on #461
Ok, i think we could close this one. Just checked remote.php/dav/ and remote.php/caldav and both have the same structure:

[code]

[code]

So this was working fine in the past and should also work now.

[2016-04-13 10:59] #461 closed, assigned to nobody

[2016-04-13 11:00] aspdye commented on #326
Why is the reconfiguration needed? The new calendar will have the same name, the same CalDAV URLs and credintals :wink: you only need to reconfigure the shares, or am i wrong :grin:

[2016-04-13 11:03] jancborchardt commented on #326
Exactly, there is no re-configuration needed when the name stays the same.

[2016-04-13 11:04] jancborchardt commented on #344
@eesko @koenlek can you elaborate on why this is not enough? How many Calendars do you have?

cc @skjnldsv by the way – it would be good to generate the calendar colors with the core script. Currently they are hard coded.

[2016-04-13 11:08] brot commented on #326
Maybe, but reconfiguring somethin is wrong and useless. What If you add a typo when creating the new calendar? And reconfiguring the shares?! This would be an extra step for every import.
With the old version of the calendar app this wasn't necessary.

I have to import an external calendar every few weeks. And therefore I need to delete all the entries of the calendar before importing the new even

[2016-04-13 11:09] jancborchardt commented on #459
No, there is no difference as far as I can see. Should there be one?

But the times on the events are wayyy too transparent, that’s true. You want to submit a quick pull request for that?

[2016-04-13 11:09] georgehrke commented on #326
Maybe the webcal feature is what you are waiting for?
https://github.com/owncloud/calendar/issues/132

[2016-04-13 11:10] georgehrke commented on #326
It clutters the user interface and it leaves us with more code to maintain.

[2016-04-13 11:12] ghost opened #466 "Import ICS problem after Owncloud-Update 9.0.1"
### Steps to reproduce
1. Import .ics Data
### Expected behaviour

Import ICS file to import into Calendar APP

Import  Error
### Actual behaviour

geburtstag.ics
Teilweise importiert , 304 Fehler
### Server configuration

**Operating system**:
Ubuntu 14.04
**Web server:**
nginx 1.4.6
**Database:**
mysql 5.5.47
**PHP version:**
php5-fpm 5.6.2
**ownCloud version:** (see ownCloud admin page)
ownClou

[2016-04-13 11:13] georgehrke commented on #466
...

Very helpful ......

[2016-04-13 11:13] ghost commented on #466
BEGIN:VCALENDAR
VERSION:2.0
PRODID:-//SabreDAV//SabreDAV//EN
CALSCALE:GREGORIAN
X-WR-CALNAME:Geburtstag
X-APPLE-CALENDAR-COLOR:#ff0000
BEGIN:VEVENT
DTSTART;VALUE=DATE:20160208
SUMMARY:Geburtstag Mama
RRULE:FREQ=YEARLY;WKST=MO
TRANSP:TRANSPARENT
STATUS:CONFIRMED
DURATION:P1D
LAST-MODIFIED:20160209T053755Z
DTSTAMP:20160209T053755Z
CREATED:20160209T053755Z
UID:13cfb9d5-5a6a-47d3-ac56-33e46d74c60a.145

[2016-04-13 11:14] skjnldsv commented on #344
It's possible! Do you want me to open a pr? :)

[2016-04-13 11:14] brot commented on #326
I'm not sure at the moment. I think the university only provides the ics file as a download. So this wouldn't work

This would be one more ui element and one cleanup routine before importing the calendar

[2016-04-13 11:17] georgehrke commented on #326
ICS files on the web is essentially what webcal is

But it's used by very very very few users and if we start implementing every little feature that would benefit 0.0001% of our users the calendar would become a real usability pain.

[2016-04-13 11:18] georgehrke commented on #466
please fill out the entire issue template ...

[2016-04-13 11:26] brot commented on #326
Hard to tell how much user would use this feature. At the moment there is @eesko who created this issue and me who would like to see this feature back in the calendar too.
And maybe a lot more out there who are still using the old calendar version or don't know anything about issues on github.
But yes, in the end it's the decision of the ownCloud maintainers.

[2016-04-13 11:31] brot commented on #326
Yes, let me guess. Configuring webcal behind user login would also be too much to maintain.
That's the feature I would need to use webcal, because I have to login before I can see/download the ICS file.
Sadly there is not much information on #132, so I can't see if this feature would be included

[2016-04-13 11:35] georgehrke commented on #326
Well, if you can access the the ics file by sending http basic auth headers it will definitely work

[2016-04-13 12:00] ghost commented on #466
Update Template!

[2016-04-13 13:04] georgehrke opened #467 "Does the top left date picker update at 12AM?"

[2016-04-13 13:08] jancborchardt commented on #344
@skjnldsv that would be pretty damn cool! :) Cause the calendar colors are something I overlooked on the list of where we want to stay consistent on colors.

[2016-04-13 13:42] enoch85 commented on #459
@jancborchardt

Idk, should there? :)

Sure I could, but I didn't find any opacity setting in the css files?

[2016-04-13 14:18] jancborchardt commented on #459
@enoch85 the previous month being the previous full month. 12 and 19 are in the same month.

[2016-04-13 14:29] jancborchardt commented on #459
@enoch85 the previous month being the previous full month. 12 and 19 are in the same month.

[2016-04-13 14:43] ege1 commented on #326
I'm also missing the "clear calendar" feature. While it wasn't really intuitive before (uploading the ICS file first, to import), it was convenient as I was able to just drag and drop the ICS file and import it, replacing the whole calendar.
It is also OK for me to delete the calendar first, but less convenient....

[2016-04-13 14:46] georgehrke commented on #326
@ege1 What do you use it for? Deleting all objects in a calendar and starting all over again on a regular basis doesn't make sense in my opinion.

[2016-04-13 14:50] georgehrke opened #468 "Drag&Drop import"
When dragging a calendar file from the desktop to the calendar app
- [ ] everything but the calendar list should get a grey overlay
- [ ] a temporary `Import into new calendar` calendar item should appear
- [ ] user should be able to drop ics files onto any writable calendar or the `Import into new calendar` calendar item

[2016-04-13 14:51] georgehrke commented on #326
That's indeed missing, i created an issue for it: https://github.com/owncloud/calendar/issues/468

[2016-04-13 14:53] georgehrke commented on #468
- [ ] What to do when a user drags multiple ics files into the calendar?
  Options when dropping onto the  `Import into new calendar` item:
- import all ics files into one new calendar
- import each ics files into a new dedicated calendar
- show two temporary calendar items instead:
  -  `Import into one new calendar`
  -  `Import into {n} new calendars`

[2016-04-13 14:53] georgehrke commented on #468
cc @jancborchardt

[2016-04-13 15:21] enoch85 commented on #459
@jancborchardt Yes, that's right. You just gave an idea of a new enhancement. :)

Anyway, could you point me to what setting that should be changed and I can make a PR out of it?

[2016-04-13 16:08] enoch85 opened #469 "Make current dates more visible and past dates less visible"
Just as the current design when the past months date aren't as visible as the current month - it would be nice to do the same for dates in the same month.

The current deisgn just makes the past month more "transparent" but I think this should happen for the past days in a month as well.

cc @jancborchardt https://github.com/owncloud/calendar/issues/459#issuecomment-209468953

[2016-04-13 18:00] TecJon opened #470 "'more' menu is not fully shown in low resolutions"
Resolution: 1366*768
The 'ends' part of the repeating event is behind the 'cancel' button.

![untitled](https://cloud.githubusercontent.com/assets/11375752/14503806/edc1cb58-01b1-11e6-9c1f-2f3acb969020.png)

[2016-04-13 18:19] TecJon opened #471 "'Invalid Date' prevents calendar from loading"
'invalid' dates of events in a birthday calendar are preventing the oc UI to show any calendars events.

Browser error:

[code]

Beginning of exported *.ics calendar:

[code]

[2016-04-13 18:31] TecJon opened #472 "Week/day selection is overlapping with calendar"
As it can be seen on the right.
![2](https://cloud.githubusercontent.com/assets/11375752/14504679/0ea375a2-01b6-11e6-8779-2eaffaa94885.png)

PS: Awesome improvements in v1.1! The left panel has greatly improved. Love the circular display of the calendar color. :smiley:

[2016-04-13 19:27] ege1 commented on #326
@georgehrke Yes, it sounds a bit weird. I'm periodically syncing my personal calendar at my employers system (by exporting ICS file) to my private owncloud calendar, to be able to see business schedules on my private phone.

[2016-04-14 07:09] georgehrke commented on #470
dup of https://github.com/owncloud/calendar/issues/395

[2016-04-14 07:09] #470 closed, assigned to nobody

[2016-04-14 07:10] georgehrke commented on #472
Interesting. can you please use the issue template?
It works just fine for me. Probably something browser/os specific

[2016-04-14 07:11] georgehrke commented on #471
closing as dup of https://github.com/owncloud/calendar/issues/447

[2016-04-14 07:11] #471 closed, assigned to nobody

[2016-04-14 12:06] georgehrke commented on #422
This is an issue in the CalDAV server, closing in favor of https://github.com/owncloud/core/issues/23946

[2016-04-14 12:06] #422 closed, assigned to nobody

[2016-04-14 13:37] falco22 opened #474 "Shared calendar not displaying in Owncloud 9.0.1 after upgrading from 9.0"
Hello,

I've upgrade this morning Owncloud from 9.0 to 9.0.1. In my account I use 3 calendar : personal, family, and contact's birthday.
Personal and birthday displaying fine. "family" is shared (by me) and never display in the month view (the same in day or week view) : on the color case (left to "family") I have just a "progress icon" that's never ended".
If I create a new appointment, and chose

[2016-04-14 13:41] georgehrke commented on #474
please provide the javascript console log ...

[2016-04-14 14:10] falco22 commented on #474
I've edited to paste JS console.

Thanks

[2016-04-14 15:10] ghost opened #475 "Open_basedir warning for multiselect.css"
Only have the (from my PoV) relevant stuff filled out.
### Steps to reproduce
1. Having calendar 1.1 installed
2. Open calendar app (main view)
3. See open_basedir messages in owncloud.og
   -> Also seen here: https://github.com/owncloud/calendar/issues/323
### Expected behaviour

No open_basedir message should be shown in logfile
### Actual behaviour

open_basedir message are shown in logfile
###

[2016-04-14 15:14] ghost commented on #475
Just also have inspected the calendar main page and noticed that the multiselect.css from core is included twice.

[code]

and

[code]

[2016-04-14 15:14] schiessle opened #476 "load the previous and next calendar page in the background to speed up navigation"
I have multiple calendars with many events so that it always takes some seconds if I navigate forward/backward in the months view.

Therefore I had this idea, don't know if it is feasible: Couldn't the calendar load the previous and the next page in the background so that navigating becomes smoother?

[2016-04-14 15:31] ghost commented on #475
Matching report in core: https://github.com/owncloud/core/issues/23587

[2016-04-14 15:40] georgehrke commented on #475
it's included here: https://github.com/owncloud/calendar/blob/master/templates/main.php#L27

[2016-04-14 15:43] ghost commented on #475
Yes, but the path should be still fine or am i wrong?

Somehow the calendar app thinks it is located in:

/var/www/owncloud/calendar

instead of:

/var/www/owncloud/apps/calendar

which is causing this wrong include. The man question is what is causing that? The app or core?

[2016-04-14 16:30] georgehrke commented on #476
That's definitely something to consider for the future :)
Also actually caching the events in the browser is something to think about in the future.

[2016-04-14 21:47] alpaclea opened #477 "calendar 1.1 Can't create new calendar or new event, nor delete default"
Hello, this is from a fresh install of OC 9.0.1 using oc debian packages on debian 8 server.
As said in title, clicking the + in calendar app opens a dialog where one can choose a name and a color for the new agenda. But clicking on create produces nothing. Same for new event : all seems ok until clicking create, then the event edition window closes and nothing is added to the calendar.
It's also

[2016-04-15 04:57] georgehrke commented on #477
please provide javascript log

[2016-04-15 04:59] georgehrke commented on #101
Please suggest properties that should be searchable:
- [ ] title
- [ ] description
- [ ] location
- [ ] Attendee name
- [ ] attendee email

anything else?

[2016-04-15 05:22] georgehrke commented on #101
- [ ] Categories / tags once we integrate with ownCloud's tagging mechanism

[2016-04-15 05:23] georgehrke opened #478 "integrate with ownCloud's new tagging mechanism"

[2016-04-15 05:31] georgehrke commented on #423
I'll propose it in core and we'll put this ticket on hold till then.

[2016-04-15 05:32] phsc84 commented on #101
Sounds sufficient to me. 👍

[2016-04-15 05:36] georgehrke commented on #423
Issue in core: https://github.com/owncloud/core/issues/24012

[2016-04-15 06:10] alpaclea commented on #477
Good morning !
Below the firefox js console output collected while logging in owncloud, opening the calendar, and trying to use the calendar. I also attach a screen capture to show that the display of the "add", "share" and "more" buttons is somehow garbled.

![oc_cal-clea](https://cloud.githubusercontent.com/assets/18471425/14552803/86a9a950-02e1-11e6-9373-144cc36865cf.png)

`L'utilisation de « g

[2016-04-15 06:42] aspdye commented on #101
- [ ] Maybe also the date of an event 😕 (I don't know whether this is needed, because you can already go to an date by clicking around in the calendar - but maybe typing "31/12/2016" into the search-field would be nice. What do you think?)

[2016-04-15 06:53] aspdye commented on #478
Do you simply want to adapt this for the calendar, or do you want to integrate it, so that searching for tags in Files will also show events?

Are there any possibility to push the tags via CalDAV to the clients? I don't think so 😁

[2016-04-15 07:17] georgehrke commented on #478
My plan is to "sync" the tags with the categories field in an event.

[2016-04-15 07:18] raimund-schluessler commented on #478
"Tags" are called "Categories" in CalDAV: https://tools.ietf.org/html/rfc5545#section-3.8.1.2

So setting a tag in owncloud should probably set the category for the event and vice versa. This would require work in core, but probably made it easier for the Calendar as it would only have to perform a CalDAV request and core handles the category/tag setting. This would also allow other CalDAV clients

[2016-04-15 07:18] georgehrke commented on #101
Searching thru the date of an event seems weird to me, you can just go there. but maybe we can show an `Go to 31/12/2016` search result, to jump to this date.

@jancborchardt What do you think? ^

[2016-04-15 07:22] georgehrke commented on #101
This would come also very handy when you want to browse to a distant date. If you want to go to 2013, you'd have to click at least 24 times the prev button in the month view right now.

[2016-04-15 07:27] aspdye commented on #478
Good call. I think this would work with some work in core (dav) but this can be first integrated with 9.1 (no back port 😁) - So I think 1.3-next as a milestone is a bit to optimistic 😅

[2016-04-15 07:30] wiswedel commented on #101
I suggest to discuss the "jump to date" feature under a separate issue since it doesn't really fit the "search" topic.

[2016-04-15 07:35] georgehrke commented on #101
ref https://github.com/owncloud/calendar/issues/372

[2016-04-15 08:50] TecJon commented on #472
### Steps to reproduce
1. Click on Week 15

### Server configuration

**Operating system**: Ubuntu 14.04

**Web server:** nginx

**Database:** MySQL

**PHP version:** PHP 5.5.9-1ubuntu4.14 (fpm-fcgi) (built: Oct 28 2015 01:38:24)

**ownCloud version:** 9.0.1

**Calendar version:** 1.1

**Updated from an older ownCloud or fresh install:** update

**Signing status (ownCloud 9.0 and above):**
Long li

[2016-04-15 08:59] georgehrke commented on #472
seems to be firefox specific.

@jancborchardt @raghunayyar Can you check please? :)

[2016-04-15 09:21] hitam4450 opened #479 "White page at start up"
Dear All,
whenever I select the calendar, first it shows a blank white page, with all my individuals calendars enabled (Showing the calendar color). Refreshing the page does not change anything. If I click on one of my calendars (disabling it), all of a sudden all entries show up. Enabling the prior disabled calendar all entries are still on display. If i move to the next month...it still starts w

[2016-04-15 09:29] georgehrke commented on #479
please provide the browser log, that's really important ...

[2016-04-15 11:09] hitam4450 commented on #479
Hi,

sorry I use FF 45.0.1 and I do not know how to recover the browsers log!

[2016-04-15 12:20] bohni opened #480 "Recurrent events in some months not visible"
### Steps to reproduce
1. Create an recurrent event on 9 Nov 2014
2. Set Repeating weekly, every 4 weeks, never ending
### Expected behaviour

The event should be shown every 4th week.
### Actual behaviour

The event is shown every 4th week, but some month the event isn't shown:
Missing in
- 2015: April, May
- 2016: February, March, April, May
- 2017: February, March, April
### Remarks

Tested wit

[2016-04-15 13:36] eesko commented on #326
There are some issues with just deleteng and recreating a calendar with the same name. See: #325

[2016-04-15 13:49] georgehrke commented on #326
Instead of reimplementing an old crappy feature you used to solve your problem we should think about different, more comfortable, more intuitive ways to solve your problem.

[2016-04-15 13:54] jancborchardt commented on #326
Yeah, isn’t this exactly what subscribing to remote calendars would be for?

[2016-04-15 13:58] georgehrke commented on #326
If it's a plain ics file on the web (maybe behind basic auth) yes,
If it's a different CalDAV/Exchange server, then no.

[2016-04-15 13:59] ege1 commented on #326
@georgehrke: I'm with you. It is surely not a normal use-case that I'm using here and if I would really rely on it, I would be searching for a proper/automated solution.
But I wasn't aware that the old feature was crappy. For me it worked flawless.

[2016-04-15 14:13] jancborchardt commented on #469
I would say that the dates should be per-month. As said in the other issue, to differentiate past from present+future, we could desaturate the events or make them a bit transparent.

[2016-04-15 14:15] jancborchardt commented on #101
Yeah, the search parameters mentioned above seem sufficient. The extra date stuff is a whole different beast.

[2016-04-15 17:01] alpaclea commented on #477
Hello again,
I hope it can be usefull, i made another test with javascript and network messages enables in firefox console. Maybe it can help to have the javascript in context

[2016-04-15 17:04] enoch85 commented on #372
What, is there a datepicker in 1.1? :open_mouth:

**Edit** Aah, now I see, you have to click it. Not there by default. Expected @jancborchardt ?

[2016-04-15 17:53] alpaclea commented on #477
Hi again,
I can confirm this is a browser compat issue, as i made a test with chromium and the calendar works fine !
But then, the calendar i created with chromium won't load in firefox.

[2016-04-16 08:52] PeterPablo commented on #474
I just updated from 8.2 to 9.0.1 and my personal calendar is not displayed in Chromium 49 (Mac OS):

[code]

Apache logs and owncloud.log don't show anything meaningful. Sync over DAV works fine.

**edit:** So this [line](https://github.com/owncloud/calendar/blob/775165240fc90d13ad13bd03014061fc2b3703e8/js/public/app.js#L3037) seems to cause the error.

[2016-04-16 09:00] PeterPablo commented on #474
According to [this](http://mozilla-comm.github.io/ical.js/api/ICAL.Time.html#convertToZone) I can't see anything being wrong with the statement. May be the shipped ical.js is outdated and does not provide that function?

[2016-04-16 09:15] PeterPablo commented on #474
This patch makes the app functional again, though disables the timezone conversion:

[code]

@georgehrke, hopefully this helpfs.

[2016-04-16 09:59] may-bee commented on #966
relates to owncloud/core#22724.

[2016-04-16 10:04] RealRancor commented on #966
@may-bee Yes, and fixed with the upcoming 9.0.2 which includes an updated SabreDAV fixing this issue: https://github.com/owncloud/core/pull/23839

[2016-04-17 14:04] jancborchardt commented on #372
Yeah, you have to click the date. No reason to show it all the time.

[2016-04-17 17:08] falco22 commented on #474
This patch works for me too

Thanks

[2016-04-18 09:15] benedetto opened #481 "Enhancement: add whole group as participants"
Currently, if I create a new event on the web interface, I can add participants to this event either by their email address or by their owncloud user name (the latter is already a bit hidden, since the input line at least in German localization only mentions the email address). Since the app is obviously already able to contact information from an owncloud user, it would be nice if that would also

[2016-04-19 10:47] miko007 opened #482 "better rights management"
in the current version of the calendar, the right `delete` on shared calendars does affect both, the events in the calendar and the calendar itself.

It would be nice, if those rights were seperate, so one can delete events, but not the whole calendar.

[2016-04-20 12:50] jancborchardt commented on #472
Indeed, happens with Firefox only. @raghunayyar any idea there? I tried specifying `box-sizing: border-box;` but that didn’t work.

[2016-04-20 13:35] EriqJB opened #483 "Problem with Firefox and PunyCode/IDN domain names (with, e.g., ä/ö/ü)"
### Steps to reproduce
1. Install OwnCloud 9.0.1 under an URL with non-ASCII characters (e.g., an IDN domain with German umlauts such as ä,ö,ü)
2. Use Mozilla Firefox 45.0.2
3. Create a calendar or activate existing calendar in the browser frontend
### Expected behaviour

Calendar should be created when pressing "create"
Existing calendar should be displayed (coloured dot left of the name should a

[2016-04-20 14:44] skjnldsv commented on #344
@jancborchardt damn I almost forgot about this issue! :)
Should we use the same colors from owncloud/mail#1434 ?

Or should we add a color wheel?
And the ability to choose a random color from the generator?

[2016-04-20 16:16] jancborchardt commented on #344
Use the same colors as in Mail I'd say. Not a wheel or generator, just the grid of 8 colors as we do now. Since there's 9 in mail, just cut the turqoise right next to green – not that easy to distinguish anyway.

[2016-04-20 16:21] hlinden opened #484 "events can only be repeated "times" not until "date" anymore"
### Steps to reproduce
1. Add or edit an event.
2. Set "Repeat"
3. ...end repeat only shows "n-times", not "until date" anymore.
### Expected behaviour

"Repeat" should offer the option "until date" again.
### Actual behaviour

It's not there.
### Server configuration

**Operating system**:
Gentoo Linux

**Web server:**
Apache 2.4

**Database:**
Postgresql 9.3

**PHP version:**
5.6

**ownCloud ver

[2016-04-20 16:26] skjnldsv commented on #344
That's a shame I can't choose my own color though! :/

[2016-04-20 17:49] jancborchardt commented on #344
Well, first comes the proper color adjustment. Custom colors is a separate thing and has way lower priority. ;)

[2016-04-20 17:50] jancborchardt commented on #344
(Way lower priority than some other Calendar issues, that is. :)

[2016-04-20 17:53] skjnldsv commented on #344
:p

[2016-04-20 18:32] alpaclea commented on #483
Hello,
Very interesting diagnostic ! I have the same behavior (cf issue #477) and OC is indeed installed under a IDN domain. And if this issue is related to IDN, this explains why it hasn't been reported by more people.
Well done.

[2016-04-20 19:56] ghost commented on #474
I have the same issue.
How can I apply  the patch? I changed the two lines and deleted my browser cache but Owncloud seems to have cached the old js file. Also I de- and activated the app again from the administrator backend.

[2016-04-21 08:25] areteichi commented on #466
I think I'm having the same issue.

I recently fresh installed ownCloud 9.0.1 and imported my calender data from ownCloud 8.2.3 (by exporting/importing them as ICS file). I've discovered that I can see all the events March 2016 onwards, but all the events prior to February 2016 seem not to be accessible.

The color icon on the left panel just keeps on spinning and the calender does not load when I

[2016-04-21 08:32] areteichi commented on #389
As I wrote in the other thread, this happens to me on ownCloud 9.0.1 and Calender 1.1 as well.

[2016-04-21 12:30] mcorteel opened #485 "Improvement: parse time in event title prompt"
Hello!

Great work on the new calendar, it's awesome. One time-saving feature I really like in Google calendar is the ability to set the time for an event on creation by typing it before the event title.
For example "14:00 Dentist" will be an event that starts at 14:00, with a default duration (for example 1 hour) with the title "Dentist".

What do you think?

[2016-04-22 06:41] brot commented on #326
So, at the moment the feature to delete all events from a calendar is missing. Also the webcal support (#132) is missing, but is the preferred solution to solve this issue.
When should we be able to install a version from the Calendar app (1.2?) which includes this feature? At the moment I have to weekly delete an calendar, import the new ics file and reassign all the shared users.

[2016-04-22 09:26] hitam4450 opened #487 "Import Calendar items - Twice and more"
I try to update an existing calendar by importing a calendar including the updated schedules.
In the Old version ( <1.1) there was a choice, to delete the existing calendar items prior to import. This option does not exist anymore, therefore after importing the calendar. all existing schedules appear twice!

The new calendar app is at least two steps backward in usability !  :frowning: :thumbsdown

[2016-04-22 09:29] hitam4450 commented on #466
Same problem with me, except only for 2 of my 12 calendars! Reason unknown, since in OC 8.2.3 all calendars import and display without any problems and without any constraints!
Calendar 1.1 :thumbsdown: :thumbsdown: :thumbsdown:
regards, hitam4450

[2016-04-22 09:41] hitam4450 opened #488 "Color Table - too small, too little"
Currently there are only 8 colors for calendars available  :thumbsdown:, I thing that is not enough at all. :thumbsdown: Currently i maintain 12 different Calendars and one of my clients want to use it for scheduling his personnel (about 20 people) with OC, which i think is impossible with the very limited numbers of colors available in OC 9.0.1!

regards, hitam4450

### Steps to reproduce

1.
2.

[2016-04-22 09:45] hitam4450 commented on #326
I certainly agree, that the current version 1.1 of the calendar app in OC 9.0.1 is far away from  being usable properly!  :thumbsdown: :thumbsdown: :thumbsdown:

[2016-04-22 13:59] aspdye commented on #487
The new calendar app is rewritten completely and uses the newest standards **and** the new DAV-implementation in core which is trendsetting for the whole ownCloud ecosystem 😉 You are right, that not all functions and features are implemented yet ... but these features will come with coming versions. If you want to help, you are welcome to fix some issues here. It's Opensource - Contribute - THX 😉

[2016-04-22 14:13] aspdye opened #489 "Should the 3-dot menu only show icons or also some text?"
ownCloud Calendar:
<img width="283" alt="repro1" src="https://cloud.githubusercontent.com/assets/12893462/14744003/fb1dad72-08a4-11e6-9894-c58ceb2e2671.png">

ownCloud Core (Files App):
<img width="311" alt="repro2" src="https://cloud.githubusercontent.com/assets/12893462/14744011/05270642-08a5-11e6-91d1-206305363ad3.png">

What would you say? I think we should use the way the core-guys are doing.

[2016-04-22 15:43] jancborchardt commented on #489
Yes, it should definitely be like the menu in core. @georgehrke @raghunayyar can you change that?

[2016-04-22 20:08] areteichi commented on #336
@georgehrke
I use my ownCloud in German but I want the week to begin with Sunday...

[2016-04-23 06:40] jancborchardt commented on #336
Please see this core issue: https://github.com/owncloud/core/issues/376 (global region format) – any contribution is welcome! :)

[2016-04-23 10:38] fireba11 opened #490 "contact_birthdays shows only year, not the age"
### Steps to reproduce
1. add a birthday to a contact
2. look at calendar
### Expected behaviour

calendar shows the age of the person celebrating their birthday (it did so in 8.2)
showing age(year) or something might be a good idea too, maybe make it configurable?
### Actual behaviour

calendar shows the birth year
### Server configuration

**Operating system**:
debian 8.3
**Web server:**
apache

[2016-04-23 11:40] aspdye commented on #490
Good Call :+1: I think this is something for the core-guys :grin:

cc @DeepDiver1975

[2016-04-23 17:18] skyYaga opened #491 "TypeError: dtend.subtractDate is not a function"
### Steps to reproduce
1. open calendar application in browser
### Expected behaviour

Calendar Events being loaded
### Actual behaviour

No caledar events are loaded. There is just the empty calendar and the "loading" spinner next to my Personal calendar List item.
It looks like this is not happening to other users.
### Server configuration

**Operating system**:
FreeBSD 10.1-RELEASE-p24

**Web s

[2016-04-24 07:01] XuRuHang commented on #326
I do fully agree on this point. Since the upgrade to OC 9 I really miss two features. I export my professional Lotus Notes agenda by generating a .ics file. Then I import it into my OC calendar because I have there other personal events. In return, my OC calendar is synchronized with my Android devices.
The 2 features I miss since OC 9 :
1) delete all events from calendar before importing ics file

[2016-04-24 07:22] georgehrke commented on #490
This one is rather difficult to implement for various reasons:
- instead of one recurring event we would have to create a lot of single events, one for each birthday
- the title of the event is not translatable at the moment

anyway, please raise an issue in https://github.com/owncloud/core/issues

[2016-04-24 07:22] #490 closed, assigned to nobody

[2016-04-24 07:22] georgehrke commented on #326
We never had this feature.

[2016-04-24 07:25] #488 closed, assigned to nobody

[2016-04-24 07:26] georgehrke commented on #488
https://github.com/owncloud/calendar/issues/135

[2016-04-24 07:26] georgehrke commented on #487
If I import the very same event twice, I also expect it to appear twice.

cc @jancborchardt

[2016-04-24 07:32] georgehrke commented on #485
Hm, the same feature is also in OS X calendar and Fantastical, but I never use it there. In Fantastical it actually annoys me a bit, because it's in the title. (whereas OS X calendar has a dedicated button / input for it).

This is also very difficult, because we would have to adapt different locals. Users will expect it to work with their locale time format.

Also selecting a start time is three

[2016-04-24 07:37] georgehrke commented on #481
Hm, I see a few problems here:
- [ ] at the moment, an e-mail address is not mandatory for an ownCloud account. What to do about users in the group that didn't setup their email in ownCloud?
- [ ] there is some privacy / security concern here. You could very easily get the email addresses of all users in a group. (cc @LukasReschke)
- [ ] What to do if a user is added to / removed from a group? Add

[2016-04-24 07:39] georgehrke commented on #482
I'm pretty sure you are referring to the calendar prior to ownCloud 9. (please always use the issue template, so I don't have to guess 😉, there is a reason why it's prefilled when you file an issue)

The calendar app < 1.0 is not supported anymore.

[2016-04-24 07:39] #482 closed, assigned to nobody

[2016-04-24 07:40] georgehrke commented on #483
@EriqJB Does the files app work just fine?

[2016-04-24 07:40] georgehrke commented on #477
closing in favor of #483

[2016-04-24 07:40] #477 closed, assigned to nobody

[2016-04-24 07:49] georgehrke commented on #479
https://lmddgtfy.net/?q=firefox%2045%20access%20error%20console

[2016-04-24 08:01] XuRuHang commented on #326
@georgehrke ooops yes that's correct. I was using your cl-calendarimport https://github.com/georgehrke/cl-calendarimport but now it is not working on OC 9 ("won't fix") :-(

[2016-04-24 08:14] ghost commented on #490
Sorry, had pointed the user from core here at the calendar issue tracker: https://github.com/owncloud/core/issues/24217

But is this really a CalDAV backend issue? Thunderbird for example is also just calculation the year on its own so the calendar app could do the same on "client" side?

[2016-04-24 09:57] georgehrke commented on #490
The contact_birthdays calendar is generated on the server. For the client it's simply yet another calendar.
No birthday logic in the calendar app whatsoever :)

Please excuse my brevity and typos.
Sent from my mobile

[2016-04-24 09:59] georgehrke commented on #490
And don't be sorry :)
You couldn't know and your help in the bug tracker is highly appreciated!

Please excuse my brevity and typos.
Sent from my mobile

[2016-04-24 10:32] jancborchardt commented on #487
This basically seems to be a duplicate of https://github.com/owncloud/calendar/issues/326 ?

[2016-04-24 10:34] jancborchardt commented on #485
Yeah, I would also say it’s low-prio since it’s _a lot_ of work. And when we implement it, people will expect to work it in all kinds of different scenarios and writing styles, otherwise it’s not proper. And since it’s such a fringe feature, there’s a ton of other things which are more important.

@mcorteel contributions are always welcome though of course! :) So if you want to get your feet wet i

[2016-04-24 10:43] georgehrke commented on #487
Hm, not a real dup, but very closely related

Please excuse my brevity and typos.
Sent from my mobile

[2016-04-24 10:57] hitam4450 commented on #487
Well, if I import twice WITHOUT DELETING Existing schedules, of course they appear twice! ! :laughing:
However, that was not what i was talking about!

There is no option "**DELETE EXISTING** Schedule" **BEFORE IMPORTING**!
Regards, hitam4450

[2016-04-24 11:01] mcorteel commented on #485
I am interested and I have considered helping with the development of such a feature. Maybe someday!
I actually met some of you in Berlin two years ago, but I didn't have the time or knowledge to help much. I'm getting there though :)
@georgehrke the number of clicks is exactly my problem. Moving from keyboard to mouse is tiring for a lazy guy like me... But I know that most users don't care!

[2016-04-24 13:08] jancborchardt commented on #485
@mcorteel if you are still in Berlin, check out the monthly Berlin meetup: http://meetup.com/owncloud-berlin
Or the upcoming contributor conference! https://owncloud.org/conf

[2016-04-24 13:25] mcorteel commented on #485
It would have been great, but I live in Ludwigshafen now!

[2016-04-24 13:36] jknockaert opened #492 "Use bigint instead of int for epoch fields"
Epoch fields like firstoccurence and lastoccurence in the oc_calendarobjects table are defined as int datatype (at least in postgres). That doesn't allow dates beyond 2038. Such dates commonly occur for recurring items without end date, which by some clients are implicitly defined to happen 400 times. So I suggest to use bigint for these fields rather than int.

[2016-04-24 14:05] georgehrke commented on #492
Beginning with ownCloud 9 the CalDAV server became part of ownCloud's core and the calendar app is just a CalDAV client running in your browser.
Please report issues related to the CalDAV server in ownCloud’s core repo: https://github.com/owncloud/core/issues

[2016-04-24 14:05] #492 closed, assigned to nobody

[2016-04-25 08:20] georgehrke commented on #474
Well, breaking timezone conversion is not really a solution 🙈

[2016-04-25 08:23] skjnldsv commented on #344
@jancborchardt Hum, I've been thinking, and I don't think we can use the core generator. The calendar app is using a defined color code, and it's not using a string or a hash to generate a color. Aside from using the idea of associating a hash to a calendar and use it for the color generator, I can't use the color function to generate a set of valid color for the user to choose.

I don't see if i'

[2016-04-25 08:30] georgehrke commented on #474
We updated the library we use for parsing in the 1.1 update of the calendar. That's probably causing this issue.

I don't think this is really caused by the fact, that the calendar is shared, but simply by some calendar-data in it. I don't know how much sensitive data these calendars contain, but it would tremendously help if one of you could send me the ics file. [developer@georgehrke.com](mailto

[2016-04-25 08:55] ghost commented on #474
You are right. Since you have mentioned it, I found that the setting to change the timezone has gone.
<image removed>

In my case the "Share calendar"-button is missing for all of my six calenders. None of my calendars have been shared yet. I experience the same  issue when I create a new calendar within Owncloud 9.0.1 and the Calendar 1.1 app. That's why I think it has nothing to do with the cale

[2016-04-25 09:01] georgehrke commented on #474
@petmue I think we are talking about completely different issues here. The original issue @falco22 and @PeterPablo talk about is that the events are not even rendered.

The events seemed to be rendered in your case. The missing sharing button is most certainly related to some ad blocking browser extension.

[2016-04-25 09:15] ghost commented on #474
Oh, indeed, you were right!!! I am sorry for hijacking this issue.

[2016-04-25 10:47] PeterPablo commented on #474
@georgehrke, I certainly wouldn't want to share my whole ics. Could you supply me with a patch that would print out some information to the console/log so I could identify the problematic entry? I would the send you a stripped down ics-file.

[2016-04-25 12:04] PartisanEntity opened #493 "Calendar: updating event, update button has no effect"
### Steps to reproduce
1. Login to the web version of your owncloud instance
2. Load your calendar
3. Go to an existing caleandar entry that was created under an older version of owncloud using an imported .ics file (version 8.2.3)
4. Click on the entry and change the date and time
5. click on the update button
6. as a test: creating a completely new event works
### Expected behaviour

After click

[2016-04-25 12:21] georgehrke commented on #493
Can't reproduce on my setup

Can you please enable the debug mode in your ownCloud and check for the browser log again.

[2016-04-25 12:25] PartisanEntity commented on #493
Sure will do.

p.s. I had accidentally posted this in core and this was confirmed by another user: https://github.com/owncloud/core/issues/24239#issuecomment-214268321

[2016-04-25 12:26] georgehrke commented on #493
cc @zanglerecke

[2016-04-25 12:42] hitam4450 opened #494 "Export of calendar without proper .ics extension"
The exported calendar file  name is missing the .ics extension

Please report only issues corresponding to the calendar for ownCloud 9 or later.
The old calendar, which is compatible with ownCloud 8.2 or earlier, is discontinued!

Migration and CalDAV issues belong in the core repo!
https://github.com/owncloud/core/issues
-->
### Steps to reproduce
1. Select calendar
2. export calendar
   3.
### E

[2016-04-25 12:43] georgehrke commented on #494
Beginning with ownCloud 9 the CalDAV server became part of ownCloud's core and the calendar app is just a CalDAV client running in your browser.
Please report issues related to the CalDAV server in ownCloud’s core repo: https://github.com/owncloud/core/issues

[2016-04-25 12:43] #494 closed, assigned to nobody

[2016-04-25 12:48] georgehrke opened #495 "Consider dropping support for Safari"
Safari leaks support for quite a few things I would like to use:
- [ ] http://caniuse.com/#feat=download - Needed to have a better file name single event export, currently the uri is used
- [ ] http://caniuse.com/#feat=input-color - Needed for custom color picker, don't want to use js based color picker
- [ ] https://kangax.github.io/compat-table/es6/ generally a very bad ES 6 support

[2016-04-25 14:02] georgehrke commented on #495
for the input color issue we could check if the browser supports it and don't show the input if it doesn't.

[2016-04-25 14:04] georgehrke commented on #495
the download attribute will simply be ignored by Safari and all other browsers will have a fancy file name

ES6 support can actually wait a bit.

[2016-04-25 14:04] #495 closed, assigned to nobody

[2016-04-25 16:31] callmemagnus commented on #451
Fixed upstream in 2.0.5.

[2016-04-25 16:36] georgehrke commented on #451
will prepare pull requests in core

[2016-04-26 09:19] falco22 commented on #474
hello

No problem to send you my ics file but not to post it on github, evenif
it's just sport activites of my childrens :)

Thanks
Fabrice

Le 25/04/2016 10:30, Georg Ehrke a écrit :

[2016-04-27 14:51] albatros69 opened #496 "Calendar doesn't show after upgrade to OC 9.0"
After upgrade to OC9.0 from 8.2.3 (using debian packages from owncloud.org), one of my calendar has a strange behaviour: some events don't show and the icon near the calendar name keeps spinning. I can't find an error anywhere. It affects some particular events I think, as I can navigate in the past or the future and some months or weeks do show.

The same issue is reported in #389 and #466.
### S

[2016-04-27 15:37] hitam4450 commented on #496
Same problem with me - 2 of my 12 different calendars are always spinning, unless I disable them!!

Regards, hitam4450

[2016-04-27 18:32] georgehrke commented on #496
@albatros69 please provide logs, especially the browser log.

[2016-04-27 19:07] albatros69 commented on #496
Console logs are attached (Firefox). I didn't find a way to extract properly the network logs...
[console.txt](https://github.com/owncloud/calendar/files/239227/console.txt)

[2016-04-27 19:08] georgehrke commented on #496
dup of https://github.com/owncloud/calendar/issues/474

[2016-04-27 19:08] #496 closed, assigned to nobody

[2016-04-28 19:59] areteichi commented on #466
I just gave ownCloud 9.0.2 RC1 a try, but the problem still persists. I couldn't find a relevant message in `owncloud.log`, however.

Can this be fixed before the 9.0.2 release? I would like to migrate to ownCloud 9 but this is really preventing me from doing so.

[2016-04-28 21:10] areteichi commented on #466
By trial and error, I was able to determine that #345 (https://github.com/owncloud/calendar/commit/f96517e90e973f9659bcb7ecfd85e109706c4c53) is triggering this issue. A possible regression.

[2016-04-29 08:15] toxic-tonic opened #497 "eMail-reminder in calender seems to be broken"
Hi,

unfortunatelly the eMail-Reminder function seems to be broken. As I understand it, the calender send an email on the configured time befor an appointment. When i set up an appointment with severel attendees the initial apointment-mail is being send, but no reminder on the configured time.

Thanks in advance

Tobias
### Steps to reproduce
1. configure cron as scheduler
2. add appointment with

[2016-04-29 08:34] suamikim opened #498 "Calendar loading indefinitely after upgrade"
Hi,

I've just updated from 8.2.3 to 9.0.1 and mostly it seems to be running just fine so far.

I had to activate all of my calendars manually one by one by clicking on the calendar name in the list at the left. This worked for all except one. The one in question indefinitely shows the loading icon.

![capture](https://cloud.githubusercontent.com/assets/2870365/14911366/38a8ab24-0df5-11e6-8c2f-450

[2016-04-29 11:09] georgehrke commented on #497
https://github.com/owncloud/core/issues/22734

[2016-04-29 11:09] #497 closed, assigned to nobody

[2016-04-29 11:09] georgehrke commented on #498
please use the [issue template](https://raw.githubusercontent.com/owncloud/core/master/issue_template.md) as described in our [contributing guidelines](https://github.com/owncloud/core/blob/master/CONTRIBUTING.md)

[2016-04-29 11:19] albatros69 commented on #498
I've been bitten by the same issue (described in #496).
By the way, even for the period that sometimes works, the events are shifted one day in the past.

[2016-04-29 11:30] georgehrke commented on #498
Without logs I can't tell if its the same issue @albatros69 has ;)

[2016-04-29 12:56] suamikim commented on #498
### Steps to reproduce

Don't know...

### Expected behaviour

All calendars should show the colored icon in the list at the right after their activation.

### Actual behaviour

One calendar shows a loading icon which doesn't disappear and the calendars entries are not shown at all:
![38a8ab24-0df5-11e6-8c2f-450fbf6de06e](https://cloud.githubusercontent.com/assets/2870365/14914700/e50b143a-0e0c-11

[2016-04-29 13:01] georgehrke commented on #498
So there seems to be one event with a certain recurrence rule that kills our calendar data parser.
I'll prepare a patch so you can easily extract that certain event.

[2016-04-30 01:09] zeugmatis commented on #394
Currently they are listed in order added.  I would _really_ like to see a simple alphabetical sort if possible - this way, we can have multiple calendars which are named by e.g. usernames, real names, or company names etc. and we have an intuitive way for anyone to quickly look them up.  If you want to make sure a calendar is listed at the top, just hack the calendar name.  A bit ugly but far less

[2016-04-30 10:40] georgehrke opened #499 "Show tasks with DUE date in calendar"
- [ ] per-user config option to enable this feature
- [ ] only available when tasks app is enabled
- [ ] tasks have a checkbox in front of them, clicking this checkbox will mark the task as done.
- [ ] clicking the task itself should take the user to the task app
  - [ ] when going back to the calendar: get back to the same time-range?

[2016-05-01 06:09] skjnldsv commented on #344
@jancborchardt bump

[2016-05-01 08:33] hitam4450 commented on #394
I agree on that issue, an would like to see something like that - maybe in the next release already!

regards, hitam4450

[2016-05-01 11:02] zeugmatis commented on #394
Can someone here please let us know where the SQL for this is, so one of us can add the "ASC" to the query.  I think that we should all agree on this and get it into the source, I am not interested in a "one-off" approach and we should all share the code.  Greetings from California.

[2016-05-01 11:33] georgehrke commented on #394
@zeugmatis in core, please ask on free node in owncloud-dev

[2016-05-01 11:38] georgehrke commented on #394
WTF?
Check your privileges! You are not in a position to make any demands.
This is free software. If you want a feature, implement it.

And as this is not the first issue:
- If you like a feature request, don't leave useless comments, use reactions: https://github.com/blog/2119-add-reactions-to-pull-requests-issues-and-comments
- If you want a feature to be implemented earlier, then implement it,

[2016-05-01 11:40] georgehrke commented on #479
needed info not provided, closing ticket.

[2016-05-01 11:40] #479 closed, assigned to nobody

[2016-05-01 11:48] zeugmatis commented on #394
I feel sad for your your mother, who probably would always expect better from you.

Anyway, my point was only a suggestion that people could be human and help each other, thus entertain the thought of having something better.  Why are are you acting like such a goddam asshole?  Is it because you don't know how to fix it?

[2016-05-01 11:52] zeugmatis commented on #394
Hollly shit I just got it.  hahaaaa you got me!  :-D

[2016-05-01 11:53] zeugmatis commented on #394
Games on you now.  That was awesome.  :-D

[2016-05-01 12:07] georgehrke commented on #394
hehe, @zeugmatis that comment wasn't meant for you :wink:

It's currently ordered by the calendar order property.
see https://github.com/owncloud/core/blob/master/apps/dav/lib/caldav/caldavbackend.php#L155

[2016-05-01 12:14] zeugmatis commented on #394
Thanks mate.  This helps a lot.

Push it in, thanks again -

Mark

—
Syminet Internetworking Solutions
https://secure.syminet.com/
1-949-379-8472 ext. 8049
GPG: 2048R/966057BB

[2016-05-01 14:17] georgehrke commented on #394
@zeugmatis I just remembered that we sort it in the calendar again.
See https://github.com/owncloud/calendar/blob/master/templates/part.calendarlist.php#L27

Replacing `order` with `displayname` would sort the calendars alphabetically, but I would still prefer to just make the calendar list sortable.

[2016-05-01 14:22] georgehrke commented on #394
There is also an issue about making the calendar list sortable: https://github.com/owncloud/calendar/issues/133

@jancborchardt What's your call on this?
I would prefer to just make it sortable. It's intuitiv, it fulfills all needs, it's reflected everywhere the user sees a list of calendars. We could add some CSS `cursor` on the list items to improve discoverability.

[2016-05-01 14:26] georgehrke commented on #487
ok, then it's a dup of #326

[2016-05-01 14:26] #487 closed, assigned to nobody

[2016-05-01 15:33] menaceone commented on #498
Same problem here.
One of my calendars loads infinitely since upgrade to latest calendar 1.1.

Browser log **without** broken calendar:
![console_without_borken_calendar](https://cloud.githubusercontent.com/assets/7307507/14942618/6d272bb8-0fc2-11e6-87c5-26af144b89b3.png)

Browser log **with** broken calendar:
![console_with_borken_calendar](https://cloud.githubusercontent.com/assets/7307507/14942

[2016-05-01 16:11] zeugmatis commented on #394
Agreed.  The reason I’m here is because people need ~200 calendars, we should be able to at least list them sorted alphabetically on the left side..,

Wanting to sell ownclud, basic things like this make a huge difference - cannot sell it without reliability and some basic things like this!  :-)

Mark

[2016-05-01 16:20] zeugmatis commented on #394
LOL it’s totally fine with “privileges”, I actually laughed a lot at that!

Sorry but I too find the following regarding the US President election to be
utterly HILARIOUS:

https://www.reddit.com/r/the_donald

LOL, if we have to put up with it… may as well have fun with it!

Anyway thank you, I’ll look at the code - I think all we need is a “sort ASC”
in the query?  Or however the best way we shou

[2016-05-01 16:35] areteichi commented on #466
Here is an error message from the browser log in Firefox (46.0):
`TypeError: dtend.subtractDate is not a function app.js:3055:18`

I think this bug is also related to #498, though not strictly a duplicate.

UPDATE:
The same issue is being reported here: #491

[2016-05-02 08:05] jancborchardt commented on #344
@skjnldsv right – what we can do easiest at the moment is to simply get 8 colors out of the algorithm across the color spectrum and replace the hardcoded list in calendar with those. That way calendar will use the same color spectrum as the rest. Ok?

[2016-05-02 11:16] enoch85 opened #500 "Release >Latest< instead of >version number<"
It would be convinient for users (me ;) ) that download the calendar to be able to get the latest version instead of tracking the version number. Would this be easy to implement?

[2016-05-02 11:26] georgehrke commented on #500
https://help.github.com/articles/linking-to-releases/ 😉

[2016-05-02 11:26] #500 closed, assigned to nobody

[2016-05-02 11:29] georgehrke commented on #500
`curl -s https://api.github.com/repos/owncloud/calendar/releases | grep browser_download_url | head -n 1 | cut -d '"' -f 4`

[2016-05-02 12:07] enoch85 commented on #500
@georgehrke Thanks!

[2016-05-02 15:01] skjnldsv commented on #344
Ok, will work on it this week! :)

[2016-05-03 18:34] brot commented on #132
Will this issue be in the next calendar release 1.2? If yes, when can we expect this new calendar version? I ask because this issue should be the solution for my problem (#326).

[2016-05-04 06:21] DeepDiver1975 commented on #326
Instead of crying for features and telling us how badly this is needed: contribute!

You know: this is open source!

[2016-05-04 07:02] e-alfred commented on #309
Well, there are a lot of companies where IE/Edge is the only option. These users are locked out now from using Calendar/Tasks apps on Owncloud 9. These are the only official apps that don't work with IE/Edge on Owncloud 9, but calendars and tasks are definitely essential for them. I don't think it is that great if they decide against Owncloud because of one (essential) component that even became a

[2016-05-04 07:13] BernhardPosselt commented on #309
@e-alfred sorry for the pesky answer :): Those companies then artificially restrict this stuff. Talk to your IT department or simply use the app from your smartphone.

Chances are that if the company uses ownCloud, they will install a different browser. If the company does not use ownCloud, you are using your private calendar for your private interestests during work time. Depending on where you l

[2016-05-04 14:07] archont00 opened #501 "Redundant time zone info displayed for Event"
### Steps to reproduce
1. In Evolution calendar client, create a new event.
2. Check the event in OwnCloud Calendar app.
### Expected behaviour

The time zone info should be suppressed to something meaningfull: e.g. to show only Europe/Berlin or CEST.
### Actual behaviour

OwnCloud Calendar app shows: freeassociation.sourceforge.net - Europe - Berlin ()

Apart from displaying redundant info, the t

[2016-05-04 14:11] archont00 commented on #501
If this is purely an Evolution client error (any standard?) and Sabredav/Calendar just shows whatever non-understood text was there and takes the time as local time (which happens to be the same in my case), let me know, I will report to GNOME guys.

[2016-05-04 17:21] XuRuHang commented on #326
Sorry but everyone here knows that's open source. Thanks. In my opinion, it's good there are feedback from users, even if in this point some complained because of a kind of regression in a feature they liked, because it points out a feature that is needed by your **precious** users.
Most of us are not coders (or good coders in the language of the application which is my case).
But anyway if I can

[2016-05-04 17:23] e-alfred commented on #309
@BernhardPosselt I think you underestimate the number of use cases out there a bit. Companies relying on IE for compatibility reasons/user training and so on who do not really want another browser because their PIM/Calendar does not work with one browser. Also, it could be the case that workers have to log in on a different workstation to look up sth. in their calendar (which isn't all that uncomm

[2016-05-04 17:34] georgehrke commented on #309
The calendar is only approved, it's not an official app.

As I stated above already: I'm not going to waste my leisure time because Microsoft is not willing to invest enough money into building a proper browser.
Companies using the calendar don't give me anything for using my software. They can pay some developer to fix it and contribute the fixes back. It's as easy as that. Period.

[2016-05-04 18:36] Luticus opened #502 "After adding event, must refresh page before I can delete it"
### Steps to reproduce

1.Add event
2.Click event
3.observer, no delete button
4.Refresh page, click event, delete button is there
### Expected behaviour

Tell us what should happen
After adding an event I should be able to delete it without refreshing the page.
### Actual behaviour

Tell us what happens instead
Page must be refreshed before I can delete the event
### Server configuration

**Opera

[2016-05-05 10:20] georgehrke commented on #394
Now I'm curious. What's the use case here?
I'd guess that the average user has not more than 5 calendars. Power users might have up to 30 (including shared ones), but 200?

[2016-05-06 01:01] zeugmatis commented on #394
Sure.  Say I am the "appointments secretary" at a large law firm with 50 attorneys, and their case load is ~4 cases each with a calendar for each case.  The attorneys are busy, and only want readonly access to their calendars via their native phone/tablet apps.  They do not care about any other aspect of how it works.

I create each calendar named in the form of "$attorney_name - $client_name" and

[2016-05-06 07:32] Mannshoch opened #504 "Year - List all Date Item the next year"
Please add a Year list.

In my Mokup the Category Item could be the Category I'm able to add in Thunderbird (Private, Busines, event) or the Calendars I have created on the left. This kind of list could be used for Printouts.

![jahreskalender](https://cloud.githubusercontent.com/assets/7795891/15067034/d2a5b816-136d-11e6-928b-18ac3faa773e.png)

[2016-05-06 08:41] georgehrke commented on #504
cc @jancborchardt @raghunayyar

[2016-05-06 09:13] Mannshoch commented on #478
Maybe a future public sharing from the Calendar could also base on tagging like with a "Public" Tag:
https://github.com/owncloud/core/issues/22735

[2016-05-06 11:24] georgehrke commented on #504
related to https://github.com/owncloud/calendar/issues/85

[2016-05-07 01:23] chenein opened #505 "Calendar missing from user after upgrade but still visible to those it was shared to"
### Steps to reproduce

Have not tried to reproduce (don't have a spare server) but what I did was
1. Had a working OwnCloud 8 installation with calendar app installed
2. Had 2 users: A and B with 1 calendar each
3. Shared these calendars between the users (i.e. A->B, B->A) as read-only
4. Upgrade to OwnCloud 9.0.0
(Have since upgraded to 9.0.1 and problem remains unchanged.)
### Expected behaviou

[2016-05-07 01:29] chenein commented on #505
World according to User A
<img width="546" alt="usera" src="https://cloud.githubusercontent.com/assets/16447128/15089463/97e7d7e0-13d1-11e6-9f39-0e9b4e1f5979.png">

[2016-05-07 01:29] chenein commented on #505
World according to user B
<img width="247" alt="userb" src="https://cloud.githubusercontent.com/assets/16447128/15089470/a26a1b9c-13d1-11e6-84bd-d4e8058b1f3e.png">

[2016-05-07 04:01] georgehrke commented on #505
Hm, do you see all calendars in a CalDAV client?

[2016-05-07 13:55] georgehrke commented on #501
Well, that's because the timezone id is `/freeassociation.sourceforge.net/Europe/Berlin`.

Offering CET and CEST is too confusing imo. Why would you want an event to be CEST?

One thing we could do in the future:
- [ ] Check if there is an X-LIC-LOCATION and display that one instead

has a low priority for now though.

[2016-05-07 13:59] georgehrke commented on #502
Can't reproduce, works just fine for me.
(tested with firefox and chromium on OS X)

[2016-05-07 13:59] georgehrke commented on #502
Can you please re-check and make sure you didn't forget to mention some important reproduction steps.

[2016-05-07 14:19] #162 closed, assigned to nobody

[2016-05-07 16:22] 2edff206 opened #507 "Wrong sharing url"
### Steps to reproduce
1. Select a calendar
2. Click on the share icon
3.
### Expected behaviour

To get a working sharing url.
### Actual behaviour

You get a wrong sharing url, that does not work. It's shaped like this : "https://IP/owncloud/remote.php/dave.php/dav/calendars/USER/CALNAME/
If I go check that url in my browser I get this message : " App not installed: "

I fixed the problem by usi

[2016-05-07 16:23] #507 closed, assigned to nobody

[2016-05-07 16:24] georgehrke commented on #507
known issue, will be fixed with https://github.com/owncloud/calendar/pull/486

[2016-05-07 16:24] georgehrke commented on #507
(Please note that this url is not intended for sharing, it will only work for you)

[2016-05-07 19:02] archont00 commented on #501
CET: UTC +01:00 vs CEST: UTC+02:00
These two time zone abbreviations are mutually exclusive at any single point of time (as far as I am aware), so using CET in summer is most probably perceived as CEST actually. Using the particular country/city is definitely better. If any of the European countries decide to stop changing time twice a year (which I doubt), then CET or CEST would make a difference

[2016-05-07 19:06] georgehrke commented on #501
I know the difference between CET and CEST 😉

But my point is:
- if it's a non recurring event: CET and CEST have no benefit over Europe/Berlin
- If it's recurring: Are there really a lot of use-cases where you want to change the event's time after the standard time / daylight saving time switch and vice versa?

[2016-05-07 19:27] archont00 commented on #501
Sorry for writing the obvious ;-)

I do not use recurring entries, but you are right, the user expects the same local time, no matter what if DST or regular. So use of CET/CEST should be avoided.

[2016-05-08 18:29] mr-gosh opened #508 "user deleted birthday calendar by mistake - no recreation available"
1. open calendar view
2. delete birthday calendar
3. try to create birthday calendar...
### Expected behaviour

if the birthday calendar is deletable - there should be a way to re-create it
### Actual behaviour

deleted birthday calendars are gone
### Server configuration

**Operating system**:
ubuntu 14.04 64bit

**Web server:**
apache 2.4

**Database:**
mysql

**PHP version:**
php7

**ownCloud v

[2016-05-08 18:58] DeepDiver1975 commented on #508
There is an occ command to recreate the birthday calendar

[2016-05-08 19:14] aspdye commented on #508
Are they not recreated automaticly :confused:

[2016-05-08 23:41] zeugmatis commented on #394
Another example.  What if you're a nurse who's paid to help old people.  There is a person at the office who takes appointments via phone (and old people use the phone).  As the "checker-person" you need to be there at a certain time.

Again, we have a case with ~200 calendars for the "administrator".

This is real-world use of technology and I think people should listen.

[2016-05-09 07:35] mr-gosh commented on #508
the only thing i found in here
https://doc.owncloud.org/server/9.0/admin_manual/configuration_server/occ_command.html#dav-label
was the

`dav:sync-birthday-calendar    Synchronizes the birthday calendar`

but this doesn't sound like the (re)creation of a that calendar would happen?!?

[2016-05-09 11:03] georgehrke commented on #132
@LukasReschke I'm currently working on webcal, when I try to access the ics file directly i get an CSP error. My new approach would be to create an PHP end point in the calendar app the JS could access. This end point would make the actual request to the ics file. The problem is, that the url to the ics file is completely user-controlled, doesn't necessarily need to be an ics file and can have any

[2016-05-09 11:05] LukasReschke commented on #132
@georgehrke So webcal means the ICS basically lives on "google.com" instead of "mycloud.com", is that correct?

Can you also show how you access the ICS file? – This should be pretty easy to resolve using a slightly adjusted CSP in the view controller.

[2016-05-09 13:08] Luticus commented on #502
When I click the calendar and attempt to add an event (default settings are fine, I only name it), I then click that event and observe that the red delete button is missing from the popup.  I'm using Chrome on the latest Mac OSX at the moment.  I can try it on firefox using Debian once I get home later today, but I'm pretty sure the issues is the same.  I have also recently updated to Owncloud 9.0

[2016-05-09 13:13] Luticus commented on #502
Oh, one more update, It happens regardless of the status of my adblocker/ghostry/etc I've whitelisted my own site on all of them, and have even completely disabled them and the issue still occurs.  Maybe later on I can take some screen shots or even make a small screen capture to demonstrate the problem if I need to.

[2016-05-09 16:18] georgehrke commented on #132
Exactly

My current approach (with the CSP error) is this one:
https://github.com/owncloud/calendar/pull/443/files#diff-76e5b6d488dfa593c2c71732da4c0532R56

[2016-05-09 16:47] georgehrke commented on #472
ping @raghunayyar

[2016-05-09 19:00] caTenschert commented on #498
same probleme after upgrading to 9.0.1.
calender 1.1.
error message in browser
#####
app.js?v=3a9d458…:3037 Uncaught (in promise) TypeError: dt.convertToZone is not a function(…)convertTimezoneIfNecessary @ app.js?v=3a9d458…:3037getTime @ app.js?v=3a9d458…:3097(anonymous function) @ app.js?v=3a9d458…:3178forEach @ angular.js?v=3a9d458…:321VEvent.getFcEvent @ app.js?v=3a9d458…:3167(anonymous functi

[2016-05-10 08:07] jospoortvliet opened #510 "ownCloud Calendar isn't artsy enough"
You know these nice looking, leather-backed organizers? You can sticker the heck out of 'em, make them look all nice and personal. Why can't we have that for the Calendar app? @jancborchardt will hate it but I want my flowers and super hero stickers...

[2016-05-10 09:55] georgehrke commented on #510
@jospoortvliet You are a bit late for april fools 😉

But please, no ugly skeuomorphisms

[2016-05-10 09:58] georgehrke commented on #510
We could definitely make it more colorful, but generally I'm quite happy with the design.

[2016-05-10 10:10] shtrom opened #511 "“More” sidebar missing scrollbar on small resolutions"
On small-ish resolutions, it is impossible to reach the Attendees/Reminders/Repeating zone as they are obscured by the buttons, with no scrollbar allowing to access them.
### Steps to reproduce
1. Set 1366x768 resolution
2. Go to oC calendar with Firefox under Gnone
3. Create an event, click More
### Expected behaviour

A scrollbar is enabled to access the overflowing area containing the Attendees

[2016-05-10 13:00] georgehrke commented on #22
Moving to 1.4, which will probably be our release to support 9.1

[2016-05-10 13:02] georgehrke commented on #504
actually it's a dup of #85

[2016-05-10 13:02] #504 closed, assigned to nobody

[2016-05-10 13:04] georgehrke commented on #135
Let's just check if input color is supported and only show the advanced input otherwise.

[2016-05-10 13:05] #215 closed, assigned to nobody

[2016-05-10 13:07] #362 closed, assigned to nobody

[2016-05-10 13:07] georgehrke commented on #362
closing due to inactivity

[2016-05-10 13:12] georgehrke commented on #377
@c-holtermann Is maybe a list-view (https://github.com/owncloud/calendar/issues/85) something that fits your needs?

[2016-05-10 13:39] DocSniper commented on #508
@mr-gosh
Me too, deleted the automatically created birthday calendar. This command did help:
sudo -u [http-user] [path-to]/php [path-to]/occ dav:sync-birthday-calendar

[2016-05-10 13:41] georgehrke commented on #508
@aspdye AFAIK that's supposed to happen when you edit an contact. Though it will only add the edited contact.

[2016-05-10 13:41] #508 closed, assigned to nobody

[2016-05-10 14:14] jospoortvliet commented on #510
well it was as much a joke as it was serious... We have theme support so that can be had easily. Skeumorphisms suck, with you on that one. So not sure if there's any room here.

[2016-05-10 15:40] Mikrobit commented on #474
Hello,
I had this same problem and figured a way to pinpoint the problematic event; attached below is a calendar with one such event.
The `EXDATE:20140516` line seems to be the culprit. It's clearly a malformed line that blocks the calendar from being displayed by ical.js . The line should be `EXDATE;VALUE=DATE:20140516` afaict.

I'm pretty sure I didn't create the event using owncloud (maybe it w

[2016-05-10 18:18] Luticus commented on #502
I can also confirm that this occurs in the mobile interface in firefox on android.

[2016-05-11 02:38] chenein commented on #505
Further information. The issue appears to be a browser issue. It is reproducible on Safari 8.0.5 on Mac OS X 10.10.3. Using a different browser seems to solve the issue.

We experienced an unrelated problem with the iCal client, but this appeared to be an authentication issue and was resolved.

Not sure why it doesn't work on Safari 8.0.5.

[2016-05-11 07:43] Mannshoch commented on #85
How easy could such a Listview be themable.

I need something like:
![jahreskalender](https://cloud.githubusercontent.com/assets/7795891/15067034/d2a5b816-136d-11e6-928b-18ac3faa773e.png)

[2016-05-11 07:44] yeKcim commented on #485
"14:00 Dentist" with default hour setting is great
"14:00-16:00 Dentist" is really great

This feature is why I continue to use google calendar :'-(

[2016-05-11 08:29] deisi commented on #474
Are there more examples needed to fix this?

[2016-05-11 08:44] ghost opened #512 "no entry in "Contact birthdays""
Hello....

I missed Entry in my calendars "Contact birthdays" after Upgrade. My OC Upgrade Path: 8.2.3 > 9.0.0 > 9.0.1.3 > 9.0.2 . My Contacts (App: Contacts 1.2.0.0) have got Birthday entry but i don`t see it on my calendar.

**What i have do it before that i create this post:**
1. www-data@raspi:~/owncloud$ ./occ dav:sync-birthday-calendar
..Start birthday calendar sync for ll ussers ...
4 [====

[2016-05-11 08:45] georgehrke commented on #512
Beginning with ownCloud 9 the CalDAV server became part of ownCloud's core and the calendar app is just a CalDAV client running in your browser.
Please report issues related to the CalDAV server in ownCloud’s core repo: https://github.com/owncloud/core/issues

[2016-05-11 08:45] #512 closed, assigned to nobody

[2016-05-11 08:47] ghost commented on #512
Thank you for your Info

[2016-05-11 10:04] georgehrke opened #514 "get rid of angular-ui-calendar"
- we can write our own directive
- angular-ui-calendar has old dependencies

[2016-05-11 10:05] georgehrke opened #515 "automate bower updates"

[2016-05-11 10:06] georgehrke commented on #514
we also have some dead properties inside `CalController` just for angular-ui-calendar

[2016-05-11 13:34] georgehrke commented on #56
done

[2016-05-11 13:34] #56 closed, assigned to nobody

[2016-05-12 05:23] shtrom opened #516 "Add event description input in the small event creation dialog"
### Steps to reproduce
1. Use ownCloud calendar 9
2. Click anywhere on the schedule
3. The small event creation dialog appears
### Expected behaviour

In this dialog, I would expect to be able to input a description, in addition to (or instead of) the location. The location box should perhaps only be a single line input box, while the description would be a multiline textarea.
### Actual behaviour

[2016-05-12 07:40] mr-gosh commented on #508
@sniperle thx - that really worked!

[2016-05-12 07:54] aspdye commented on #508
We should make it undeleteable :wink: @georgehrke @DeepDiver1975

[2016-05-12 07:55] georgehrke commented on #508
We had a lot of complains in the old calendar that the birthday calendar was not deletable

[2016-05-12 08:16] georgehrke commented on #468
also cc @raghunayyar

[2016-05-12 08:18] georgehrke commented on #395
@raghunayyar Mind taking a look?

[2016-05-12 08:18] georgehrke commented on #511
dup of https://github.com/owncloud/calendar/issues/395

[2016-05-12 08:18] #511 closed, assigned to nobody

[2016-05-12 09:30] georgehrke commented on #132
ping @LukasReschke :)

[2016-05-12 09:35] georgehrke commented on #137
@raghunayyar Can you declare the css classes necessary? I think we can just use `::after` Selector.

[2016-05-12 11:40] raoulblinblin opened #521 "unknown timezone (Europe/Berlin) back to UTC, due to a missing slash"
### Steps to reproduce
1. open the  calendar with  this address .../index.php/apps/calendar (notice the missing slash at the end)
### Expected behaviour

It should load the same way as .../index.php/apps/calendar/ (with an ending slash)
### Actual behaviour

It loads seemingly fine, but a message says "bad or unknown timezone, back to UTC". and my calendars are GMT+2. It took me some luck to find

[2016-05-12 12:51] albatros69 opened #522 "Automated calendar import in OC9"
I was a user of the script to automate ICS import into a calendar (https://github.com/georgehrke/cl-calendarimport), and this is not compatible with OC9.

Is there a similar feature foreseen in OC9?
If not, what could be the effort to update this script for OC9? (To know if I can try to give a hand)

[2016-05-12 12:52] georgehrke commented on #522
What did you use it for? ics files from the web?

[2016-05-12 12:55] albatros69 commented on #522
Indeed, yes: I was downloading ics files from the web (like school holidays or events) and importing them into calendars

[2016-05-12 12:55] georgehrke commented on #522
Ok, then I'll close this issue in favor of https://github.com/owncloud/calendar/issues/132

[2016-05-12 12:55] #522 closed, assigned to nobody

[2016-05-12 13:27] georgehrke commented on #335
@raghunayyar Mind taking a look?

[2016-05-12 14:30] aspdye commented on #510
It should be based on the design of core. It does so - and therefore I like the current design 👍

[2016-05-12 14:39] georgehrke commented on #323
btw, please don't use the git version. Rather use one of our proper releases https://github.com/owncloud/calendar/releases

[2016-05-12 16:16] jancborchardt commented on #510
Well, isn’t using emojis that. ;)

[2016-05-12 19:08] georgehrke commented on #480
probably an upstream issue, need to check

[2016-05-12 19:09] georgehrke commented on #466
dup of #491

[2016-05-12 19:11] georgehrke commented on #466
nvm, @zirydy has a different issue

[2016-05-12 19:23] georgehrke commented on #290
@jancborchardt please comment.
I think this spinner is really useful to show that a certain calendar is still being rendered. I'm also currently preparing a pull request that makes all calendars render individually to improve performance.

[2016-05-12 19:24] georgehrke commented on #290
Also if the events are not displayed yet displaying the color is kinda useless.

[2016-05-12 19:34] georgehrke commented on #399
ping @DeepDiver1975

[2016-05-12 19:46] georgehrke commented on #366
- [ ] check if this is actually a core bug and report a bug if necessary

[2016-05-12 19:47] georgehrke commented on #394
closing in favor of https://github.com/owncloud/calendar/issues/133

[2016-05-12 19:47] #394 closed, assigned to nobody

[2016-05-12 19:48] georgehrke commented on #516
dup of https://github.com/owncloud/calendar/issues/421

[2016-05-12 19:48] #516 closed, assigned to nobody

[2016-05-12 19:50] georgehrke commented on #414
https://clipboardjs.com

[2016-05-12 19:52] georgehrke commented on #430
closing, see reasoning in https://github.com/owncloud/core/issues/23882

[2016-05-12 19:52] #430 closed, assigned to nobody

[2016-05-12 19:55] georgehrke commented on #451
issue in core, closing in favor of https://github.com/owncloud/3rdparty/pull/275

[2016-05-12 19:55] #451 closed, assigned to nobody

[2016-05-12 19:56] georgehrke commented on #502
I'm still not able to reproduce this issue 😕

[2016-05-12 19:57] georgehrke commented on #483
ping @EriqJB
What's about the Files and the Contacts app? :)

[2016-05-12 19:58] georgehrke commented on #483
also @alpaclea ^

[2016-05-12 20:07] georgehrke commented on #326
@XuRuHang And you can't sync your Lotus Notes agenda directly with your android?
Apparently you don't share it with other users. What's the benefit of piping it thru ownCloud?

[2016-05-12 20:53] alpaclea commented on #483
Hello,
The files app works ok. I don't use the contacts app. I can test though.
Still, the bug with non-ascii characters is confirmed for me. and   substituting [A-zÀ-ÿ] to [A-z] in the file
`/var/www/owncloud/apps/calendar/js/vendor/davclient.js/lib/client.js` works for me .
There must be better ways, sure !
`var parts = url.match(/^(?:([A-zÀ-ÿ]+):)?(\/{0,3})([0-9.\-A-zÀ-ÿ]+)(?::(\d+))?(?:\/([^?#

[2016-05-14 18:29] davleema opened #523 "CalDAV url is still wrong in OC 9.0.2"
Looks like the generated CalDAV url is(are) still wrong in OC 9.0.2
- For my personal calendar, I get someting that contains ../dav/dav/...  When trying anyway, Thunderbird refuses to enable this calendar entry (it stays inactive).
  The url looks like this:
  "http://myserver.com/oc9/remote.php/dav/dav/calendars/myusername/personal/"
  Take note of the "/dav/dav/" part.
- The primary caldav addre

[2016-05-14 18:30] #523 closed, assigned to nobody

[2016-05-14 18:30] georgehrke commented on #523
Calendar app is updated independently from ownCloud.
Fix will be released on Tuesday

[2016-05-14 18:36] davleema commented on #523
Let's hope so, this is keeping me from using OC 9 in production.

[2016-05-15 12:57] georgehrke opened #525 "create ColorService"
- [x] all the global functions inside https://github.com/owncloud/calendar/blob/63ccc7b39753f8c0a4bf7fe0b009811e82917ca8/js/app/directives/colorpickerDirective.js should be moved into a ColorService
- [x] use 🇺🇸 spelling

[2016-05-15 13:03] georgehrke commented on #493
not reproducible, moving to 1.3

[2016-05-15 13:05] georgehrke commented on #201
not a priority -> 1.3

[2016-05-15 14:13] #475 closed, assigned to nobody

[2016-05-15 14:13] #294 closed, assigned to georgehrke

[2016-05-15 14:13] #447 closed, assigned to nobody

[2016-05-15 14:13] #491 closed, assigned to nobody

[2016-05-15 14:13] #498 closed, assigned to nobody

[2016-05-15 14:15] #459 closed, assigned to nobody

[2016-05-15 15:01] enoch85 commented on #459
Thanks @raghunayyar

[2016-05-15 17:36] leegarrett commented on #521
I can confirm that this exact error happens for me, too. I am confident that this is a recent error.

Adding a trailing slash to /owncloud/apps/calendar works around the problem.

[2016-05-16 00:29] sirratty opened #529 "British English language settings shows only some events on Mondays"
### Steps to reproduce
1. *All events imported into calendars by admin user, language "English" - all calendars are shared under different office admin user
2. User with language "British English" sees only some events on Monday (no consistency that I can see - no calendar shows all events, no calendar shows no events, except for one Monday that has NO events)
3. Events display fine for my user an

[2016-05-17 10:36] DeepDiver1975 commented on #399
please ping me again in 2 weeks ... thx

[2016-05-17 12:22] #474 closed, assigned to nobody

[2016-05-17 12:22] georgehrke commented on #474
should be fixed with #524

[2016-05-17 12:25] #409 closed, assigned to nobody

[2016-05-17 12:25] #417 closed, assigned to nobody

[2016-05-17 12:26] #293 closed, assigned to georgehrke

[2016-05-17 19:35] georgehrke opened #531 "show random color button for ownCloud 9.1+"
With 5bae6a108e2fb5937539d0d45bf8569bbec57b01 I hid the random color picker.
It doesn't work with ownCloud 9. We should only display it for ownCloud 9.1+

[2016-05-17 20:12] areteichi opened #532 "[Calendar 1.2] Importing ICS as new calendar no longer works"
### Steps to reproduce
1. Install Calendar 1.2 on ownCloud 9.0.2
2. Import an ICS file (from Calendar 0.8.2)
3. Select "New Calendar"
### Expected behaviour

It should be possible to import ICS data as a new calendar.
### Actual behaviour

The import process hangs at "Import scheduled"
### Server configuration

**Operating system**:
Debian 6

**Web server:**
Shared Hosting

**Database:**
MySQL 5.5

[2016-05-17 20:14] georgehrke commented on #532
Can't reproduce, please use the **entire** issue template and also provide logs.

[2016-05-17 20:18] areteichi commented on #466
I now see `/core/img/actions/error.svg` next to the title of my calendar with Calendar 1.2 when I go back to the month (February 2016) I was having a problem. How can I fix this issue?

[2016-05-17 20:19] georgehrke commented on #466
Enable debug mode in ownCloud, go back to calendar, check browser console to see which event causes this error

[2016-05-17 20:22] georgehrke commented on #532
related to https://github.com/owncloud/calendar/pull/526

[2016-05-17 20:23] georgehrke commented on #390
we have to revert https://github.com/owncloud/calendar/pull/526 and fix this later

[2016-05-17 20:28] georgehrke commented on #532
just released 1.2.1 which should solve this issue

[2016-05-17 20:28] #532 closed, assigned to nobody

[2016-05-17 20:41] georgehrke opened #534 "add stable9 to travis config"
and generally improve test coverage 🙈

see https://github.com/owncloud/calendar/issues/532

[2016-05-18 02:22] harrisondkurtz opened #535 "1.2.1 update error: Module 'Calendar' is not available!"
#### Browser log

[code]

[2016-05-18 02:27] areteichi commented on #466
Could you help me with the troubleshooting...? I found the following error message in the browser console:

[2016-05-18 05:31] skjnldsv commented on #531
see #536

[2016-05-18 05:34] skjnldsv opened #537 "Can't change contact_birthdays calendar colors"
Repdroduce: change calendar colour for the contact_birthdays cal.

[code]

[2016-05-18 06:50] georgehrke commented on #535
please use the **entire** issue template ...

[2016-05-18 07:19] aspdye commented on #537
I think the bday-calendar should have an Color used in no other calendar.

[2016-05-18 12:41] Luticus opened #538 "1.2.1 calendar doesn't show up after upgrade"
### Actual behaviour

Tell us what happens instead
The calendar app shows no calendars, and almost no interface.  everything is basically broken.
### Server configuration

**Operating system**:
debian 8
**Web server:**
apache
**Database:**
mysql
**PHP version:**
5.5
**ownCloud version:** (see ownCloud admin page)
9.0.2
**Calendar version:** (see ownCloud apps page)
1.2.1
**Updated from an older ow

[2016-05-18 12:44] georgehrke commented on #538
Please use the entire issue template ...

[2016-05-18 12:59] aspdye commented on #538
You can fetch old releases here: https://github.com/owncloud/calendar/releases

Have you updated via AppStore or have you downloaded it from GitHub :grin:

[2016-05-18 13:03] Luticus commented on #538
I tested this on chrome, with mac os initially.  Haven't had a chance to test it on anything else.

I am unable to get all of the information at the moment as I'm not physically in front of the server, but I'll attempt to give you what extra stuff I can.

For reproduction all I did was upgrade the app, click calendar, and observe that everything was broken, absent, not functional.  As in the scree

[2016-05-18 13:04] Luticus commented on #538
Thanks, aspdye.  I'll save that link :)

[2016-05-18 13:18] georgehrke commented on #538
Works just fine for me with Chromium 52 on OS X
more infos would be appreciated 😉

[2016-05-18 13:39] hitam4450 commented on #538
Upgrade Version 1.2.1 from Version 1.2 works fine on OC 9.0.2 and access by
FF 46 on UBUNTU 12.04 & 14.04
Regards, hitam4450

[2016-05-18 13:58] Luticus commented on #538
Is there a requirement to come from v1.2?  I was upgrading from 1.1.

[2016-05-18 13:58] georgehrke commented on #538
No, there is no requirement.

[2016-05-18 14:00] Luticus commented on #538
Ok, I attempted the upgrade again through the oc interface (same as before) and it works now.  Maybe it was just a bad update attempt for some reason.  Thank you for the troubleshooting!  :)

[2016-05-18 14:04] georgehrke commented on #538
Hm, maybe just some caching issue 😕
Anyway, issue solved (itself), will close it.

[2016-05-18 14:12] Luticus commented on #502
This still happens on version 1.2.1.  Not sure what's going on with it or why the issue can't be reproduced.  For me it happens even on the mobile firefox on android.  Maybe there's an app conflict or something like that.  I'll post the list of active apps I have soon.

[2016-05-18 14:24] Luticus commented on #502
Here's a list of the apps i have installed and their versions:

announcement center 1.2
collaborative tags 0.2
comments 0.2
deleted files 0.8.0
external sites 1.2
external storage support 0.5.2
gallery 14.5.0
mail template editor 0.1
notifications 0.2.3
pdf viewer 0.8.1
provisioning api 0.4.1
share files 0.9.1
text editor 2.1
update notification 0.1.0
versions 1.2.0
bookmarks 0.7
calendar 1.2.1
co

[2016-05-18 14:24] georgehrke commented on #502
and all of them are enabled? 🙈

[2016-05-18 14:27] Luticus commented on #538
Turns out it's still an issue.  when i rolled back the calendar app, it had the wrong permissions so the update button in the interface could not update properly (it was stuck at 1.1).  Once I fixed the permissions and rolled it forward it broke again.

I tried removing the app entirely, and then installing 1.2.1 fresh, still broke.

Here's a list of apps i have enabled and their versions, if it h

[2016-05-18 14:31] georgehrke commented on #538
Wow, that's quite a big list.
I'm wondering why you were even able to enable "extra security". According to apps.ownCloud.com it's maximum version is ownCloud 8

[2016-05-18 14:36] Luticus commented on #538
I forced it by tweaking the file that checks that.  I liked the feature of being able to join users to a disabled group rather than out right deleting their accounts.  Kinda hoping that features makes it into oc at some point so i can get rid of the app, seeing as development on it seems to have stopped.  It hasn't given me any issues so far.

And yea, my app list is big because I want owncloud to

[2016-05-18 14:44] Luticus commented on #538
Actually now that i look at it, i don't think that was one that needed anything special to enable.

[2016-05-18 14:55] georgehrke opened #539 "use latest ical release instead of master"

[2016-05-18 16:39] Luticus commented on #502
They are :).  Turns out this might not be a 1.2.1 issue as I had problems upgrading to 1.2.1. see:  https://github.com/owncloud/calendar/issues/538

Basically I have yet to test this in 1.2.1, even though i thought i was due to a permission issue.

Sorry for the confusion, didn't want people to waste time looking at something that might not even be an issue.  As soon as i can successfully upgrade

[2016-05-18 17:06] Luticus commented on #538
ok so further testing on 1.2.1 shows that the calendar works and draws on firefox mobile on android.  so whatever the issue is it's with chrome _i think_.  Safari doesn't seem to like owncloud, in general, so i can't test with that.

I have tried clearing the cache, opening and closing the browser, etc.  nothing works.  Also i noticed that in FF mobile i can no longer create events.  When i tap an

[2016-05-18 17:15] Luticus commented on #538
Ok, Calendar 1.2.1 DOES work in firefox on mac osx.  I did an update on chrome (though it looks like there wasn't a version change), but chrome still does not show the calendar.

[2016-05-18 20:22] XuRuHang commented on #326
@georgehrke
The main reason is that I manage also personal events on my owncloud calendar and I don't want to enter these events on my professional Notes agenda. My OC agenda handles then all events both professional and personal.
My android device is easy to configure to be synchronized with OC calendars too.

[2016-05-18 20:45] georgehrke opened #540 "Get rid of `this.` in models"
`this.` comes with various issues in JS
there are much better patterns that work better
like: https://gist.github.com/georgehrke/be017eac7689c08a51b1

First of all we should start with transforming the models
and while refactoring we should also finally start writing tests

[2016-05-18 22:53] areteichi commented on #466
I finally managed to pinpoint the cause of the problem and was able to fix it!

The error `TypeError: dtend.subtractDate is not a function app.js:2206:10` was being caused by the way some of the events were saved by Calendar App (presumably in previous versions).

Some events in my calendar had values (in the ICS file) that look something like the following:
`DTSTART;TZID=Europe/Berlin:20160519T01

[2016-05-18 22:57] areteichi commented on #491
As I posted in the other bug report (#466), I managed to fix the problem of the error message `TypeError: dtend.subtractDate is not a function` by modifying the ICS file:

[2016-05-19 06:15] vetienne commented on #538
Same problem here.
After upgrade works in firefox, broken in chrome.
In chrome i have the same error as in #535 so maybe that's only one issue

[2016-05-19 06:43] vetienne commented on #538
quick and dirty workaround

replacing line 1586 of calendar/app.js by

[code]

and line 1644 by
/*
- Convert rgb array to hex string
  */
  var rgbToHex = function(r, g, b) {
      'use strict';
      if(Array.isArray(r)) {
              var red, green, blue;

[code]

  //              [r, g, b] = r;
      }
      return '#' + parseInt(r, 10).toString(16) + parseInt(g, 10).toStri$
  };

make it wo

[2016-05-19 06:57] areteichi commented on #466
As for the content of the [ICS file](https://github.com/owncloud/calendar/issues/466?_pjax=%23js-repo-pjax-container#issuecomment-209371570) posted above by @Iskenof, the problem is caused by these two values:
`DTSTART:20150321`
`DTSTART:20150731`

The problem should go away when they are corrected as follows:
`DTSTART;VALUE=DATE:20150321`
`DTSTART;VALUE=DATE:20150731`

[2016-05-19 08:41] jgutjahr opened #541 "Events starting in one month not visible in the following month"
### Steps to reproduce
1. Create an event on 18.07.2016
2. Set Repeating every day, ending after 37 times
### Expected behaviour

The event should be shown every day.
### Actual behaviour

The event is shown every day in July, but isn't shown in August.
### Server configuration

**Operating system**:

**Web server:**

**Database:**

**PHP version:**

**ownCloud version:** (see ownCloud admin page)

[2016-05-19 09:17] jgutjahr opened #542 "Some events not shown on Monday"
### Steps to reproduce
1. Create an event on 01.08.2016
2. Set Repeating every day, ending after 7 times
### Expected behaviour

The event should be shown every day.
### Actual behaviour

The event isn't shown on 01.08.2016 in August.

The same for the other months:
- 27.06.2016 isn't shown in July
- 30.05.2016 isn't shown in June
- 25.04.2016 isn't shown in May
- ...
### Server configuration

**O

[2016-05-19 09:41] georgehrke commented on #538
@skjnldsv What you mind taking a look? ^

[2016-05-19 16:22] skjnldsv commented on #538
Wut, since when does javascript not allow a direct array assignment?
It work fine on my chrome, this is strange.

[2016-05-19 16:26] georgehrke commented on #535
closing as dup of #538

[2016-05-19 16:26] #535 closed, assigned to nobody

[2016-05-19 16:28] georgehrke commented on #538
@vetienne What OS do you use?

@skjnldsv I'm not even sure if Safari supports that one, it's not a big friend of ES6.

[2016-05-19 16:30] georgehrke commented on #538
(seems to work fine in latest Safari (the stable one))

[2016-05-19 17:02] vetienne commented on #538
At least forme : Works in chrome Version 50.0.2661.94 built on Debian stretch/sid, running on Debian stretch/sid (64-bit)
but doesn,"t with an older version ( 47.0.2526.80-1 on debian also )

[2016-05-19 17:07] skjnldsv commented on #538
Ok, we need to change the assignation! :)

[2016-05-19 17:08] vetienne commented on #538
Having done somme googling it seems that array assignement has been added on version 49 of chrome so not so old

[2016-05-19 18:31] #390 closed, assigned to nobody

[2016-05-19 19:26] georgehrke opened #545 "refactor .travis.yml"
Our `.travis.yml` is quite outdated and npm errors sometimes for unknown reasons.
We should try something similar to: https://github.com/owncloud/mail/blob/master/.travis.yml

There are a few things to discuss previously here:
- [ ] Does it make sense to test different DBs after all? We only use a database thru CalDAV and \OCP\Config but there aint any own sql requests.
- [ ] ...

[2016-05-19 19:26] georgehrke commented on #545
cc @DeepDiver1975

[2016-05-19 19:27] georgehrke commented on #545
- [x] finally include some JS test coverage (ref https://github.com/owncloud/calendar/issues/95)
- [ ] also test different browsers?

[2016-05-19 19:34] georgehrke commented on #538
Ok, so that's how we'll move forward:
- I'll prepare a fix and send a PR
- get 1.2.2 out asap

[2016-05-19 19:54] georgehrke commented on #538
PR is here: https://github.com/owncloud/calendar/pull/547

[2016-05-19 20:15] vetienne commented on #538
Sorry for my false solution,  as an excuse i'm just a C programmer so array destructuring is something like alien code for me. At least it gives ypu some clue for gibing a correct solution

[2016-05-19 23:45] RikuXan opened #548 "Give an option to hide the user's name who the calendar is shared from"
Would it be possible to add an option that changes the calendar's display name in the left sidebar of the calendar overview screen, so that it does not display the calendar's owner for shared calendars?

For somewhat long calendar names, the name display results in the text being cut off by the sidebar which looks sloppy. Alternatively, the display name could also be line wrapped to solve this.

[2016-05-20 03:05] skjnldsv commented on #538
No need to be sorry! :)
Thanks for finding this bug, I didn't know ES6 array was this recent in browsers!

[2016-05-20 08:50] Mannshoch opened #549 "[Question] Howto Filter for category with script"
I use following PHP-Script I found [here](https://statuscode.ch/2015/06/Combining-ownCloud-and-Google-calendar-for-public-room-availability/.)

How could I Filter the calendar to only get Calendar entries with Category "public" ?

[code]

[2016-05-20 09:10] georgehrke commented on #548
Beginning with ownCloud 9 the CalDAV server became part of ownCloud's core and the calendar app is just a CalDAV client running in your browser.
Please report issues related to the CalDAV server in ownCloud’s core repo: https://github.com/owncloud/core/issues

[2016-05-20 09:10] #548 closed, assigned to nobody

[2016-05-20 09:29] georgehrke commented on #549
Check in:

[code]

if `$children->CATEGORIES` contains public.

[2016-05-20 11:08] Mannshoch commented on #549
My knowledge about PHP is really fresh so maybe I have problems I shouldn't have.
Did I understood right, that I have to do it like this?

[code]

It seems to do not work. Maybe `remove` is not the right but i was not able to find the correct way to remove.

[2016-05-20 11:12] georgehrke commented on #549
AFAIK `$children->CATEGORIES` is an array. You should be able to do: `in_array('public', $children->CATEGORIES)`.
http://php.net/manual/en/function.in-array.php

[2016-05-20 12:06] Mannshoch commented on #549
thanks for the hint.

I detected a [Stackoverflow](http://stackoverflow.com/a/26524231) hint to filter and it use in_array, but it seems to do not have any effect on the ICS output.

[code]

The resulting ICS file looks like this, and also contain the second Event which do not contain public as category:

[code]

[2016-05-20 14:17] #538 closed, assigned to nobody

[2016-05-20 14:25] georgehrke commented on #538
I just released 1.2.2, should be resolved now :)

[2016-05-20 14:54] Luticus commented on #538
Awesome, thanks!  Trying it out now.

[2016-05-20 14:58] Luticus commented on #538
Yep. Issue seems fixed to me.  Thanks for all the help!

[2016-05-20 14:58] georgehrke commented on #538
I'm glad it's fixed :)

[2016-05-20 18:17] RikuXan opened #551 "Wrap calendar name in the sidebar"
I [recently suggested the addition](https://github.com/owncloud/calendar/issues/548) of an option to not show the name of a calendar's sharer in the calendar app's sidebar due to it looking ugly when being longer than the available space for the calendar name. This was closed and I was told to re-open it on the owncloud/core repo. One of the developers there suggested that such a fix would be not

[2016-05-20 18:18] georgehrke commented on #551
Please link me to the issue in core

[2016-05-20 18:19] RikuXan commented on #551
[Sure](https://github.com/owncloud/core/issues/24747)

[2016-05-20 18:23] georgehrke commented on #551
dup of https://github.com/owncloud/core/issues/22176

[2016-05-20 18:23] #551 closed, assigned to nobody

[2016-05-21 10:18] onny commented on #542
I'm experiencing a similair bug, might be related in case of repeating events.

### Steps to reproduce
1. Open calendar app and click on the weekly view
2. Create a new all day event and give it a name
3. Set it to repeat every year, then create
4. Event is not displayed in weekly view but its there if you change to monthly or daily view.

This bug is quite annoying for me. In the first place I th

[2016-05-21 11:46] onny commented on #395
There seems to be some styling issues in the sidebar ...
![2016-05-21-125934_swaygrab](https://cloud.githubusercontent.com/assets/757752/15448167/7022fb6a-1f5a-11e6-9dcc-c5532be608d4.png)

[2016-05-21 11:53] georgehrke commented on #395
@onny That's the app-navigation. With sidebar I'm referring to the advanced events editor on the right.
Please report a dedicated bug about the app-navigation issue :)

[2016-05-21 16:55] onny opened #552 "Left navigation bar styling issue"
### Steps to reproduce
1. Open the calendar app
2. Create as many calendars until the vertical space of the left navigation is exceeded
3. Now the last entries on the bottom starts overlapping
### Expected behaviour

Left navigation menu should be scrollable in case there are too many entries or the screen size is too small
### Actual behaviour

There seems to be some styling issues in the sidebar

[2016-05-21 22:22] georgehrke commented on #552
@raghunayyar please take a look :)

[2016-05-23 10:05] #534 closed, assigned to nobody

[2016-05-23 14:14] dohrix opened #554 "Event shift in some clients"
### Steps to reproduce
1. Create an event in calendar
2. Configure client like Android calendar
### Expected behaviour

Same data expected
### Actual behaviour

When i look at events there is a time shift , but when i edit it the time is right.
### Server configuration

Debian

**Web server:**
Nginx

**Database:**
Mysql

**PHP version:**
5.6.17

**ownCloud version:** (see ownCloud admin page)
9

*

[2016-05-23 14:28] georgehrke commented on #554
Please export an example event and post it here

Please excuse my brevity and typos.
Sent from my mobile

[2016-05-23 14:30] jhagerer commented on #521
I can confirm this, too. Kept me busy for some days. I am using the same setup as raoulblinblin.

[2016-05-23 14:44] dohrix commented on #554
no problem ;)

an example of event:

calendardata: BEGIN:VCALENDAR
PRODID:-//ownCloud calendar v1.1
BEGIN:VTIMEZONE
TZID:Europe/Paris
X-LIC-LOCATION:Europe/Paris
BEGIN:DAYLIGHT
TZOFFSETFROM:+0100
TZOFFSETTO:+0200
TZNAME:CEST
DTSTART:19700329T020000
RRULE:FREQ=YEARLY;BYDAY=-1SU;BYMONTH=3
END:DAYLIGHT
BEGIN:STANDARD
TZOFFSETFROM:+0200
TZOFFSETTO:+0100
TZNAME:CET
DTSTART:19701025T030000
RRULE:FREQ=YE

[2016-05-23 14:46] hitam4450 commented on #521
Same here........

regards, hitam4450

[2016-05-24 14:46] hitam4450 opened #555 "Feature request: Subscribe to public calendars"
How about subscribing to public - or private -  available calendars at different intervals e.g. hourly, daily, weekly monthly ??

regards, hitam4450

[2016-05-24 14:52] georgehrke commented on #555
Duplicate .....

[2016-05-24 14:53] georgehrke commented on #555
Seriously, please start searching for existing issues before you create new ones ........

[2016-05-24 14:53] #555 closed, assigned to nobody

[2016-05-24 14:53] georgehrke commented on #555
https://github.com/owncloud/calendar/issues/132

[2016-05-24 18:25] amandabee commented on #104
Use case:

User has a personal OwnCloud instance where she keeps her own calendar, shared household calendars. User also works at an organization that uses Google enterprise and so maintains a Google calendar at work. On an Android device, CalDav sync means she can access all of her calendars in a single calendar interface. At her desk, however, she has to compare tabs to get a full picture of her

[2016-05-25 16:23] czettnersandor commented on #339
What was the solution here?

[2016-05-25 17:07] syntax922 commented on #339
It's in the lower left when you're in the calendar view.

[2016-05-25 21:34] Caralluin commented on #483
Hello,
For anyone else suffering from this problem, there is another workaround beside using some other browser: setting the `network.IDN_show_punycode` configuration value under `about:config` to `true` apparently solves the issues. This comes at the cost of having the somewhat "ugly" punycode (domain names starting with `xn--`) shown in the address bar instead of the "nice" unicode domain name.

[2016-05-28 20:19] piesu opened #556 "Calendars on the list are overlayed by subscription calendars"
### Steps to reproduce

1.Create 11 or more calendars
2.Have any non-modifiable calendar (birthdays, shared without edit permission)
3.Check calendar app
### Expected behaviour

You want to see all calenders correctly and be able to select every
### Actual behaviour

"Standard" calendars and "subscribed" overlay on each other
![problem screnshot](https://314es.pl/j/owncloud_calendars_problem.png)

[2016-05-28 20:20] georgehrke commented on #556
dup of https://github.com/owncloud/calendar/issues/552

[2016-05-28 20:20] #556 closed, assigned to nobody

[2016-05-28 20:23] piesu commented on #556
@georgehrke: removing lines 25-27 from https://github.com/owncloud/calendar/blob/master/css/calendarlist.css solves issue. Is this acceptable solution?

[2016-05-28 20:25] georgehrke commented on #556
Yes, I have no idea why there is a max-height anyway?! cc @raghunayyar

Would you mind sending a pull request?

[2016-05-29 08:17] mdavis-xyz opened #558 "Filename extension missing when exporting calendars"
### Steps to reproduce
1. Go to Calendar App
2. Download a calendar as a ics/vcs file

![screenshot](https://cloud.githubusercontent.com/assets/7035647/15632023/3a614e90-25c8-11e6-8138-a08201d0f7f4.png)
### Expected behaviour

The default file name for the downloaded file should be `calendarName.ics` or `calendarName.vcs`.
For example, in the above printscreen the file should be `Personal.ics` or

[2016-05-29 08:43] georgehrke commented on #558
Beginning with ownCloud 9 the CalDAV server became part of ownCloud's core and the calendar app is just a CalDAV client running in your browser.
Please report issues related to the CalDAV server in ownCloud’s core repo: https://github.com/owncloud/core/issues

[2016-05-29 08:43] #558 closed, assigned to nobody

[2016-05-29 21:45] bildlich opened #559 "Can't create calendar events + calendar doesn't show up after refresh"
### Steps to reproduce
1. Open calendar app
2. Click New Calendar and create new calendar 'Test'
3. New calendar 'Test' shows up in calendar list
4. Click on a date and create date 'Test date' in calendar 'Test'
5. No visual feedback. JS console says:

6. Reload page
7. Green dot next to 'Test' calendar doesn't show up, instead the spinning wheel persists. JS console says _(I have redacted all URL

[2016-05-29 21:50] bildlich commented on #559
Since the server log lists a lot of redirects and suggests that there may be a configuration error, I am pasting the contents of the .htaccess in the owncloud installation folder below. Only the first few lines were added by me, the rest was created by owncloud.

[code]

[2016-05-29 21:59] bildlich commented on #559
This may or may not be related: When I open the admin panel, the JS console says:

The permissions for the file in question are **644** which means, if I am not mistaken, that it should be publicly readable.